/* line 4, ../../sass/calacademy/alerts.scss */
.alerts {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 430px;
  font-size: 14px;
  line-height: 19px;
}
/* line 9, ../../sass/calacademy/alerts.scss */
#top-level-nav-wrapper #top-level-nav .region-header .alerts {
  padding-top: 8px;
  padding-left: 3px;
}
/* line 21, ../../sass/calacademy/alerts.scss */
.alerts, .alerts * {
  color: #e6e6e7 !important;
}
/* line 25, ../../sass/calacademy/alerts.scss */
.alerts strong, .alerts b, .alerts em, .alerts i {
  font-style: italic;
}
/* line 29, ../../sass/calacademy/alerts.scss */
.alerts strong, .alerts b {
  font-weight: 600;
}
/* line 33, ../../sass/calacademy/alerts.scss */
.alerts a {
  border: none !important;
  text-decoration: underline;
}
/* line 38, ../../sass/calacademy/alerts.scss */
.alerts .flexslider {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 48, ../../sass/calacademy/alerts.scss */
.alerts.clone {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 4, ../../sass/calacademy/alerts.scss */
  .alerts {
    display: none;
    float: none;
    font-size: 16px;
    max-width: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* line 62, ../../sass/calacademy/alerts.scss */
  .alerts ul {
    padding: 12px;
    margin: 0;
    margin-top: 10px;
  }
  /* line 63, ../../sass/calacademy/alerts.scss */
  .alerts ul, .alerts ul * {
    background-color: #666361 !important;
  }
  /* line 71, ../../sass/calacademy/alerts.scss */
  .alerts ul li {
    margin-bottom: 5px;
  }
  /* line 74, ../../sass/calacademy/alerts.scss */
  .alerts ul li:last-child {
    margin-bottom: 0;
  }
  /* line 80, ../../sass/calacademy/alerts.scss */
  .alerts.clone {
    display: block;
  }
}
