/* line 4, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item {
  margin-bottom: 20px;
}
/* line 6, ../../sass/calacademy/clusters-field-collections.scss */
.section-nightlife .field-type-field-collection > .field-items > .field-item {
  margin-bottom: 0;
}
/* line 9, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 9, ../../sass/calacademy/clusters-field-collections.scss */
  .field-type-field-collection > .field-items > .field-item .field {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    word-break: break-word;
  }
}
/* line 18, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field-name-field-subtitle {
  font-weight: 600;
  color: #1a1a1a;
  font-size: 120%;
  margin-bottom: 20px;
}
/* line 25, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field-type-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 25, ../../sass/calacademy/clusters-field-collections.scss */
  .field-type-field-collection > .field-items > .field-item .field-type-image {
    width: 167px;
    height: 167px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 25, ../../sass/calacademy/clusters-field-collections.scss */
  .field-type-field-collection > .field-items > .field-item .field-type-image {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
}
/* line 46, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field-name-field-cta-link,
.field-type-field-collection > .field-items > .field-item .field-type-link-field {
  margin-top: 20px;
}
/* line 49, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item,
.field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item {
  margin-top: 20px;
}
/* line 52, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item:first-child,
.field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item:first-child {
  margin-top: 0;
}
/* line 56, ../../sass/calacademy/clusters-field-collections.scss */
.field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a,
.field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
  font-size: 17px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 530, ../../sass/calacademy/_mixins.scss */
  .field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a,
  .field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 550, ../../sass/calacademy/_mixins.scss */
  .field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a,
  .field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 56, ../../sass/calacademy/clusters-field-collections.scss */
  .field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a,
  .field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 67, ../../sass/calacademy/clusters-field-collections.scss */
.section-nightlife .field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a, .section-nightlife
.field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 530, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a, .section-nightlife
  .field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 550, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .field-type-field-collection > .field-items > .field-item .field-name-field-cta-link .field-item a, .section-nightlife
  .field-type-field-collection > .field-items > .field-item .field-type-link-field .field-item a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}

/* line 78, ../../sass/calacademy/clusters-field-collections.scss */
.column-fields, .column-fields-four-cols, .floated-fields {
  padding-right: 0;
}
/* line 81, ../../sass/calacademy/clusters-field-collections.scss */
.column-fields > .field > .field-items > .field-item, .column-fields-four-cols > .field > .field-items > .field-item, .floated-fields > .field > .field-items > .field-item {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 81, ../../sass/calacademy/clusters-field-collections.scss */
  .column-fields > .field > .field-items > .field-item, .column-fields-four-cols > .field > .field-items > .field-item, .floated-fields > .field > .field-items > .field-item {
    width: 167px;
  }
}
/* line 91, ../../sass/calacademy/clusters-field-collections.scss */
.column-fields > .field > .field-items > .field-item p, .column-fields-four-cols > .field > .field-items > .field-item p, .floated-fields > .field > .field-items > .field-item p {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
}
/* line 100, ../../sass/calacademy/clusters-field-collections.scss */
.column-fields > .field > .field-items > .field-item:nth-child(3n), .column-fields-four-cols > .field > .field-items > .field-item:nth-child(3n), .floated-fields > .field > .field-items > .field-item:nth-child(3n) {
  margin-right: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 81, ../../sass/calacademy/clusters-field-collections.scss */
  .column-fields > .field > .field-items > .field-item, .column-fields-four-cols > .field > .field-items > .field-item, .floated-fields > .field > .field-items > .field-item {
    float: none;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 112, ../../sass/calacademy/clusters-field-collections.scss */
  .column-fields > .field > .field-items > .field-item p, .column-fields-four-cols > .field > .field-items > .field-item p, .floated-fields > .field > .field-items > .field-item p {
    font-size: 18px;
    line-height: 26px;
  }
  /* line 117, ../../sass/calacademy/clusters-field-collections.scss */
  .column-fields > .field > .field-items > .field-item .field-type-image, .column-fields-four-cols > .field > .field-items > .field-item .field-type-image, .floated-fields > .field > .field-items > .field-item .field-type-image {
    float: left;
    width: 30%;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

/* line 131, ../../sass/calacademy/clusters-field-collections.scss */
.column-fields-four-cols > .field > .field-items > .field-item:nth-child(3n) {
  margin-right: 20px;
}
/* line 134, ../../sass/calacademy/clusters-field-collections.scss */
.column-fields-four-cols > .field > .field-items > .field-item:nth-child(4n) {
  margin-right: 0;
}

/* line 143, ../../sass/calacademy/clusters-field-collections.scss */
.floated-fields > .field > .field-items > .field-item {
  width: 100%;
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 143, ../../sass/calacademy/clusters-field-collections.scss */
  .floated-fields > .field > .field-items > .field-item {
    width: 100%;
  }
}
/* line 153, ../../sass/calacademy/clusters-field-collections.scss */
.floated-fields > .field > .field-items > .field-item .field-name-field-subtitle {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 153, ../../sass/calacademy/clusters-field-collections.scss */
  .floated-fields > .field > .field-items > .field-item .field-name-field-subtitle {
    font-size: 28px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 153, ../../sass/calacademy/clusters-field-collections.scss */
  .floated-fields > .field > .field-items > .field-item .field-name-field-subtitle {
    margin-bottom: 12px;
  }
}
/* line 157, ../../sass/calacademy/clusters-field-collections.scss */
.floated-fields > .field > .field-items > .field-item .field-type-image {
  width: 220px;
  margin-right: 20px;
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 157, ../../sass/calacademy/clusters-field-collections.scss */
  .floated-fields > .field > .field-items > .field-item .field-type-image {
    width: 167px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 157, ../../sass/calacademy/clusters-field-collections.scss */
  .floated-fields > .field > .field-items > .field-item .field-type-image {
    width: 30%;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
