/* line 11, ../../sass/calacademy/clusters-views.scss */
.views-row {
  /*
  .views-field-title,
  .views-field-name {
  	margin-top: $padding;
  }
  */
}
/* line 13, ../../sass/calacademy/clusters-views.scss */
.views-row, .views-row .views-field {
  color: #575757;
  font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/clusters-views.scss */
  .views-row, .views-row .views-field {
    font-size: 18px;
  }
}
/* line 22, ../../sass/calacademy/clusters-views.scss */
.views-row h3,
.views-row p,
.views-row .views-field {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 30, ../../sass/calacademy/clusters-views.scss */
.views-row p {
  margin-bottom: 10px;
}
/* line 33, ../../sass/calacademy/clusters-views.scss */
.views-row p:last-child {
  margin-bottom: 0;
}
/* line 38, ../../sass/calacademy/clusters-views.scss */
.views-row h3,
.views-row .views-field-view-user,
.views-row .views-field-field-person-name-last,
.views-row .views-field-field-cta-link,
.views-row .views-field-title,
.views-row .views-field-name,
.views-row .views-field-field-audience {
  font-size: 17px;
  font-weight: 600;
}
/* line 461, ../../sass/calacademy/_mixins.scss */
.views-row h3 a,
.views-row .views-field-view-user a,
.views-row .views-field-field-person-name-last a,
.views-row .views-field-field-cta-link a,
.views-row .views-field-title a,
.views-row .views-field-name a,
.views-row .views-field-field-audience a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 728, ../../sass/calacademy/_mixins.scss */
  .views-row h3 a,
  .views-row .views-field-view-user a,
  .views-row .views-field-field-person-name-last a,
  .views-row .views-field-field-cta-link a,
  .views-row .views-field-title a,
  .views-row .views-field-name a,
  .views-row .views-field-field-audience a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 748, ../../sass/calacademy/_mixins.scss */
  .views-row h3 a,
  .views-row .views-field-view-user a,
  .views-row .views-field-field-person-name-last a,
  .views-row .views-field-field-cta-link a,
  .views-row .views-field-title a,
  .views-row .views-field-name a,
  .views-row .views-field-field-audience a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 38, ../../sass/calacademy/clusters-views.scss */
  .views-row h3,
  .views-row .views-field-view-user,
  .views-row .views-field-field-person-name-last,
  .views-row .views-field-field-cta-link,
  .views-row .views-field-title,
  .views-row .views-field-name,
  .views-row .views-field-field-audience {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 47, ../../sass/calacademy/clusters-views.scss */
.views-row h3 a,
.views-row .views-field-view-user a,
.views-row .views-field-field-person-name-last a,
.views-row .views-field-field-cta-link a,
.views-row .views-field-title a,
.views-row .views-field-name a,
.views-row .views-field-field-audience a {
  position: relative;
}
/* line 52, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-audience {
  color: #1a1a1a;
}
/* line 57, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-edit-node,
.views-row .views-field-edit-term {
  z-index: 10;
  position: absolute;
  width: auto !important;
  overflow: hidden;
  clear: both;
}
/* line 66, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-edit-node a,
.views-row .views-field-edit-term a {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  color: white;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 57, ../../sass/calacademy/clusters-views.scss */
  .views-row .views-field-edit-node,
  .views-row .views-field-edit-term {
    display: none;
  }
}
/* line 78, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1,
.views-row .views-field-field-hero-region {
  margin: 0;
  padding: 0;
}
/* line 84, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1 .field,
.views-row .views-field-field-hero-region .field {
  display: none;
}
/* line 87, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1 .field.field-type-image,
.views-row .views-field-field-hero-region .field.field-type-image {
  display: block;
}
/* line 92, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1 .field-content,
.views-row .views-field-field-hero-region .field-content {
  position: relative;
}
/* line 93, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1 .field-content, .views-row .views-field-field-image-primary-1 .field-content *,
.views-row .views-field-field-hero-region .field-content,
.views-row .views-field-field-hero-region .field-content * {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 236, ../../sass/calacademy/_mixins.scss */
.views-row .views-field-field-image-primary-1 .field-content a.video:before,
.views-row .views-field-field-hero-region .field-content a.video:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center 48%;
  background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 728, ../../sass/calacademy/_mixins.scss */
  .views-row .views-field-field-image-primary-1 .field-content a.video:before,
  .views-row .views-field-field-hero-region .field-content a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 748, ../../sass/calacademy/_mixins.scss */
  .views-row .views-field-field-image-primary-1 .field-content a.video:before,
  .views-row .views-field-field-hero-region .field-content a.video:before {
    -moz-background-size: 40px, 44px;
    -o-background-size: 40px, 44px;
    -webkit-background-size: 40px, 44px;
    background-size: 40px, 44px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 236, ../../sass/calacademy/_mixins.scss */
  .views-row .views-field-field-image-primary-1 .field-content a.video:before,
  .views-row .views-field-field-hero-region .field-content a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button.png");
  }
}
@media only screen and (min-width: 1001px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 1001px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (min-resolution: 192dpi), only screen and (min-width: 1001px) and (min-resolution: 2dppx) {
  /* line 728, ../../sass/calacademy/_mixins.scss */
  .views-row .views-field-field-image-primary-1 .field-content a.video:before,
  .views-row .views-field-field-hero-region .field-content a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button@2x.png");
  }
}
@media only screen and (min-width: 1001px) and (min-width: 0) {
  /* line 748, ../../sass/calacademy/_mixins.scss */
  .views-row .views-field-field-image-primary-1 .field-content a.video:before,
  .views-row .views-field-field-hero-region .field-content a.video:before {
    -moz-background-size: 65px, 72px;
    -o-background-size: 65px, 72px;
    -webkit-background-size: 65px, 72px;
    background-size: 65px, 72px;
  }
}

/* line 102, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1,
.views-row .views-field-field-hero-region,
.views-row .views-field-field-image-primary,
.views-row .views-field-field-inline-image,
.views-row .views-field-field-slideshow-frame-bg-image {
  width: 220px;
  height: 220px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 102, ../../sass/calacademy/clusters-views.scss */
  .views-row .views-field-field-image-primary-1,
  .views-row .views-field-field-hero-region,
  .views-row .views-field-field-image-primary,
  .views-row .views-field-field-inline-image,
  .views-row .views-field-field-slideshow-frame-bg-image {
    width: 167px;
    height: 167px;
  }
}
/* line 117, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1, .views-row .views-field-field-image-primary-1 *,
.views-row .views-field-field-hero-region,
.views-row .views-field-field-hero-region *,
.views-row .views-field-field-image-primary,
.views-row .views-field-field-image-primary *,
.views-row .views-field-field-inline-image,
.views-row .views-field-field-inline-image *,
.views-row .views-field-field-slideshow-frame-bg-image,
.views-row .views-field-field-slideshow-frame-bg-image * {
  line-height: 0;
  font-size: 0;
}
/* line 124, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-image-primary-1 img,
.views-row .views-field-field-hero-region img,
.views-row .views-field-field-image-primary img,
.views-row .views-field-field-inline-image img,
.views-row .views-field-field-slideshow-frame-bg-image img {
  width: 100% !important;
}
/* line 154, ../../sass/calacademy/_mixins.scss */
.views-row .views-field-field-image-primary-1 a, .views-row .views-field-field-image-primary-1 a img,
.views-row .views-field-field-hero-region a,
.views-row .views-field-field-hero-region a img,
.views-row .views-field-field-image-primary a,
.views-row .views-field-field-image-primary a img,
.views-row .views-field-field-inline-image a,
.views-row .views-field-field-inline-image a img,
.views-row .views-field-field-slideshow-frame-bg-image a,
.views-row .views-field-field-slideshow-frame-bg-image a img {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 159, ../../sass/calacademy/_mixins.scss */
.views-row .views-field-field-image-primary-1 a img,
.views-row .views-field-field-hero-region a img,
.views-row .views-field-field-image-primary a img,
.views-row .views-field-field-inline-image a img,
.views-row .views-field-field-slideshow-frame-bg-image a img {
  width: 100% !important;
  z-index: 1;
  -moz-transition: -moz-transform 0.7s ease, opacity 0.6s ease;
  -o-transition: -o-transform 0.7s ease, opacity 0.6s ease;
  -webkit-transition: -webkit-transform 0.7s ease, opacity 0.6s ease;
  transition: transform 0.7s ease, opacity 0.6s ease;
}
/* line 169, ../../sass/calacademy/_mixins.scss */
.zoom .views-row .views-field-field-image-primary-1 a img, .zoom
.views-row .views-field-field-hero-region a img, .zoom
.views-row .views-field-field-image-primary a img, .zoom
.views-row .views-field-field-inline-image a img, .zoom
.views-row .views-field-field-slideshow-frame-bg-image a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 175, ../../sass/calacademy/_mixins.scss */
.views-row .views-field-field-image-primary-1 a img.loaded,
.views-row .views-field-field-hero-region a img.loaded,
.views-row .views-field-field-image-primary a img.loaded,
.views-row .views-field-field-inline-image a img.loaded,
.views-row .views-field-field-slideshow-frame-bg-image a img.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 181, ../../sass/calacademy/_mixins.scss */
.zoom.no-touch .views-row .views-field-field-image-primary-1 a:hover, .zoom.touch .views-row .views-field-field-image-primary-1 a:active, .zoom.no-touch
.views-row .views-field-field-hero-region a:hover, .zoom.touch
.views-row .views-field-field-hero-region a:active, .zoom.no-touch
.views-row .views-field-field-image-primary a:hover, .zoom.touch
.views-row .views-field-field-image-primary a:active, .zoom.no-touch
.views-row .views-field-field-inline-image a:hover, .zoom.touch
.views-row .views-field-field-inline-image a:active, .zoom.no-touch
.views-row .views-field-field-slideshow-frame-bg-image a:hover, .zoom.touch
.views-row .views-field-field-slideshow-frame-bg-image a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 185, ../../sass/calacademy/_mixins.scss */
.zoom.no-touch .views-row .views-field-field-image-primary-1 a:hover img, .zoom.touch .views-row .views-field-field-image-primary-1 a:active img, .zoom.no-touch
.views-row .views-field-field-hero-region a:hover img, .zoom.touch
.views-row .views-field-field-hero-region a:active img, .zoom.no-touch
.views-row .views-field-field-image-primary a:hover img, .zoom.touch
.views-row .views-field-field-image-primary a:active img, .zoom.no-touch
.views-row .views-field-field-inline-image a:hover img, .zoom.touch
.views-row .views-field-field-inline-image a:active img, .zoom.no-touch
.views-row .views-field-field-slideshow-frame-bg-image a:hover img, .zoom.touch
.views-row .views-field-field-slideshow-frame-bg-image a:active img {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 134, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-category, .views-row .views-field-field-category a,
.views-row .views-field-field-expertise,
.views-row .views-field-field-expertise a,
.views-row .views-field-field-tref-subject,
.views-row .views-field-field-tref-subject a {
  color: #1a1a1a;
  font-weight: 600;
}
/* line 148, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-cta-link .field-item {
  margin-top: 10px;
}
/* line 153, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-summary,
.views-row .views-field-body,
.views-row .views-field-description {
  margin-top: 4px;
}
/* line 160, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field:last-child {
  margin-bottom: 25px;
}
/* line 164, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-featured-people,
.views-row .views-field-field-title,
.views-row .views-field-field-subtitle,
.views-row .views-field-field-price,
.views-row .views-field-field-price-float {
  font-style: italic;
}
/* line 172, ../../sass/calacademy/clusters-views.scss */
.views-row .field-name-field-location {
  font-weight: 600;
}
/* line 178, ../../sass/calacademy/clusters-views.scss */
.view-fancy-slideshow .views-row .views-field-field-image-primary-1,
.view-fancy-slideshow .views-row .views-field-field-hero-region,
.view-fancy-slideshow .views-row .views-field-field-image-primary,
.view-fancy-slideshow .views-row .views-field-field-inline-image,
.view-fancy-slideshow .views-row .views-field-field-slideshow-frame-bg-image {
  width: 100%;
  height: auto;
}
/* line 186, ../../sass/calacademy/clusters-views.scss */
.view-fancy-slideshow .views-row .views-field-field-image-primary-1 img,
.view-fancy-slideshow .views-row .views-field-field-hero-region img,
.view-fancy-slideshow .views-row .views-field-field-image-primary img,
.view-fancy-slideshow .views-row .views-field-field-inline-image img,
.view-fancy-slideshow .views-row .views-field-field-slideshow-frame-bg-image img {
  height: auto;
}

/* line 195, ../../sass/calacademy/clusters-views.scss */
.image-top .view, .image-top-two-columns .view, .image-top-three-columns .view, .image-top-four-columns .view, .skewed-tri-grid .view, .tri-col-highlight .view, .skewed-four-col .view, .tri-large .view,
.image-floated .view {
  position: relative;
}
/* line 203, ../../sass/calacademy/clusters-views.scss */
.image-top .view .view-content, .image-top-two-columns .view .view-content, .image-top-three-columns .view .view-content, .image-top-four-columns .view .view-content, .skewed-tri-grid .view .view-content, .tri-col-highlight .view .view-content, .skewed-four-col .view .view-content, .tri-large .view .view-content,
.image-floated .view .view-content {
  font-size: 0;
}

/* line 211, ../../sass/calacademy/clusters-views.scss */
.image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row, .tri-large .views-row {
  float: left;
  margin-right: 20px;
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 211, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row, .tri-large .views-row {
    width: 167px;
  }
}

/* line 225, ../../sass/calacademy/clusters-views.scss */
.image-top-two-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 228, ../../sass/calacademy/clusters-views.scss */
.image-top-two-columns .views-row:nth-child(2n) {
  margin-right: 0;
}

/* line 237, ../../sass/calacademy/clusters-views.scss */
.image-top-three-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 240, ../../sass/calacademy/clusters-views.scss */
.image-top-three-columns .views-row:nth-child(3n) {
  margin-right: 0;
}

/* line 249, ../../sass/calacademy/clusters-views.scss */
.image-top-four-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 252, ../../sass/calacademy/clusters-views.scss */
.image-top-four-columns .views-row:nth-child(4n) {
  margin-right: 0;
}

/* line 260, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row {
  overflow: hidden;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
/* line 267, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row:last-child {
  margin-bottom: 0;
}
/* line 271, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row h3,
.image-floated .views-row .views-field-field-summary,
.image-floated .views-row .views-field-title,
.image-floated .views-row .views-field-name {
  margin-top: 0;
}
/* line 278, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-picture,
.image-floated .views-row .views-field-field-image-primary-1,
.image-floated .views-row .views-field-field-hero-region,
.image-floated .views-row .views-field-field-image-primary,
.image-floated .views-row .views-field-field-inline-image,
.image-floated .views-row .views-field-field-slideshow-frame-bg-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 278, ../../sass/calacademy/clusters-views.scss */
  .image-floated .views-row .views-field-picture,
  .image-floated .views-row .views-field-field-image-primary-1,
  .image-floated .views-row .views-field-field-hero-region,
  .image-floated .views-row .views-field-field-image-primary,
  .image-floated .views-row .views-field-field-inline-image,
  .image-floated .views-row .views-field-field-slideshow-frame-bg-image {
    width: 167px;
  }
}
/* line 296, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-title,
.image-floated .views-row .views-field-field-location,
.image-floated .views-row .views-field-field-date {
  color: #858281;
}
/* line 302, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-summary,
.image-floated .views-row .views-field-body,
.image-floated .views-row .views-field-field-body,
.image-floated .views-row .views-field-description {
  margin-top: 10px;
}
/* line 310, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-title * {
  margin: 0;
}

/* line 324, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 {
  width: 460px;
}
/* line 327, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 .views-field {
  width: 220px;
}
/* line 331, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary-1,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-hero-region,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-inline-image,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
  width: 460px;
  height: 460px;
}
/* line 387, ../../sass/calacademy/_mixins.scss */
.skewed-tri-grid .views-row.views-row-1 h3,
.skewed-tri-grid .views-row.views-row-1 .views-field-title,
.skewed-tri-grid .views-row.views-row-1 .views-field-name {
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 394, ../../sass/calacademy/_mixins.scss */
  .skewed-tri-grid .views-row.views-row-1 h3,
  .skewed-tri-grid .views-row.views-row-1 .views-field-title,
  .skewed-tri-grid .views-row.views-row-1 .views-field-name,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-summary,
  .skewed-tri-grid .views-row.views-row-1 .views-field-body,
  .skewed-tri-grid .views-row.views-row-1 .views-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 324, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 {
    width: 354px;
  }
  /* line 345, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 .views-field {
    width: 167px;
  }
  /* line 349, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary-1,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-hero-region,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-inline-image,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
    width: 354px;
    height: 354px;
  }
}
/* line 360, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-2, .skewed-tri-grid .views-row.views-row-3 {
  position: absolute;
}
/* line 365, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-2 {
  left: 480px;
  top: 350px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 365, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-2 {
    left: 374px;
    top: 270.5px;
  }
}
/* line 375, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-3 {
  left: 240px;
  top: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 375, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-3 {
    left: 187px;
    top: 374px;
  }
}

/* line 391, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row {
  position: relative;
  float: none;
}
/* line 398, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 {
  width: 460px;
}
/* line 401, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 .views-field {
  width: 220px;
}
/* line 405, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary-1,
.tri-col-highlight .views-row.views-row-1 .views-field-field-hero-region,
.tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary,
.tri-col-highlight .views-row.views-row-1 .views-field-field-inline-image,
.tri-col-highlight .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
  width: 460px;
  height: 460px;
}
/* line 387, ../../sass/calacademy/_mixins.scss */
.tri-col-highlight .views-row.views-row-1 h3,
.tri-col-highlight .views-row.views-row-1 .views-field-title,
.tri-col-highlight .views-row.views-row-1 .views-field-name {
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 394, ../../sass/calacademy/_mixins.scss */
  .tri-col-highlight .views-row.views-row-1 h3,
  .tri-col-highlight .views-row.views-row-1 .views-field-title,
  .tri-col-highlight .views-row.views-row-1 .views-field-name,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-summary,
  .tri-col-highlight .views-row.views-row-1 .views-field-body,
  .tri-col-highlight .views-row.views-row-1 .views-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 398, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 {
    width: 354px;
  }
  /* line 419, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 .views-field {
    width: 167px;
  }
  /* line 423, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary-1,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-hero-region,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-inline-image,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
    width: 354px;
    height: 354px;
  }
}
/* line 434, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-4 {
  position: absolute;
  left: 240px;
  top: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 434, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-4 {
    left: 187px;
    top: 374px;
  }
}
/* line 445, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-5, .tri-col-highlight .views-row.views-row-6 {
  left: -240px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 445, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-5, .tri-col-highlight .views-row.views-row-6 {
    left: -187px;
  }
}
/* line 454, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-5 {
  margin-top: -1010px;
}

/* line 466, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-1 {
  margin-top: 73.33333px;
}
/* line 470, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-2 {
  margin-top: 180px;
}
/* line 474, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-4 {
  margin-top: -110px;
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 480, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-1 {
    margin-top: 55.66667px;
  }
  /* line 484, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-2 {
    margin-top: 127px;
  }
  /* line 488, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-4 {
    margin-top: -83.5px;
  }
}

/* line 496, ../../sass/calacademy/clusters-views.scss */
.tri-large {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
}
/* line 503, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: -20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  background-color: #689247;
  font-style: italic;
  padding: 20px;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
}
/* line 518, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment .views-row,
.tri-large .attachment .views-field {
  color: white;
  width: 100%;
  padding: 0 !important;
}
/* line 524, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment .views-row.views-field-body,
.tri-large .attachment .views-field.views-field-body {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
}
/* line 531, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment h2 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
}
/* line 540, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content > .views-row {
  float: left;
}
/* line 544, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content > .views-row .views-field-title-1, .tri-large > .view > .view-content > .views-row .views-field-title-1 a {
  color: #1a1a1a;
  font-weight: 500;
  font-style: italic;
}
/* line 552, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content > .views-row .views-field-title a {
  color: #689247;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 728, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content > .views-row .views-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 748, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content > .views-row .views-field-title a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 562, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child {
  position: relative;
  margin-bottom: 20px;
}
/* line 99, ../../sass/calacademy/_mixins.scss */
.tri-large > .view > .view-content .views-row:first-child > .views-field a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNTQ3MjEiIHkxPSItMC4wMzk2MTQiIHgyPSIwLjQ1Mjc5IiB5Mj0iMS4wMzk2MTQiPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(265deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85));
  background-image: -webkit-linear-gradient(265deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85));
  background-image: linear-gradient(-175deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85));
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* line 574, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 460px;
}
/* line 584, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field:last-child {
  margin-bottom: 0;
}
/* line 590, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title-1, .tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title-1 a {
  color: #689247;
}
/* line 596, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title a {
  color: white;
  font-size: 28px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 728, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 748, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 604, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field-body {
  color: rgba(255, 255, 255, 0.4);
}
/* line 609, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .views-field-field-image-primary-1,
.tri-large > .view > .view-content .views-row:first-child .views-field-field-hero-region {
  z-index: 1;
}
/* line 614, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child,
.tri-large > .view > .view-content .views-row:first-child .views-field-field-image-primary-1,
.tri-large > .view > .view-content .views-row:first-child .views-field-field-hero-region {
  width: 700px;
  height: 700px;
  overflow: hidden;
}
/* line 628, ../../sass/calacademy/clusters-views.scss */
.tri-large:nth-child(2n) .attachment {
  left: inherit;
  right: 0;
}
/* line 633, ../../sass/calacademy/clusters-views.scss */
.tri-large:nth-child(2n) > .view > .view-content > .views-row {
  float: right;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 639, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment {
    left: 0;
    width: 207px;
  }
  /* line 644, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content {
    padding-left: 20px;
  }
  /* line 649, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:first-child .field-container {
    width: 354px;
  }
  /* line 653, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:first-child,
  .tri-large > .view > .view-content .views-row:first-child .views-field-field-image-primary-1,
  .tri-large > .view > .view-content .views-row:first-child .views-field-field-hero-region {
    width: 541px;
    height: 541px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 496, ../../sass/calacademy/clusters-views.scss */
  .tri-large {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
  }
  /* line 669, ../../sass/calacademy/clusters-views.scss */
  .tri-large .view {
    overflow: visible;
  }
  /* line 673, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment {
    left: -12px !important;
    right: inherit !important;
    width: 50%;
    max-height: 200px;
    overflow: hidden;
    padding: 12px;
    top: 12px;
  }
  /* line 680, ../../sass/calacademy/clusters-views.scss */
  .csscalc .tri-large .attachment {
    width: calc(50% + 6px);
  }
  /* line 687, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment .views-row,
  .tri-large .attachment .views-field {
    width: 100% !important;
  }
  /* line 691, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment .views-row.views-field-body,
  .tri-large .attachment .views-field.views-field-body {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }
  /* line 698, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment h2 {
    font-size: 24px;
    line-height: 26px;
  }
  /* line 705, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row {
    float: none !important;
  }
  /* line 708, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row .views-field-field-image-primary-1,
  .tri-large > .view > .view-content .views-row .views-field-field-hero-region {
    margin-bottom: 12px;
  }
  /* line 713, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  /* line 717, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1),
  .tri-large > .view > .view-content .views-row:nth-child(1) .views-field-field-image-primary-1,
  .tri-large > .view > .view-content .views-row:nth-child(1) .views-field-field-hero-region {
    width: 100% !important;
    height: inherit;
  }
  /* line 724, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) .views-field-body {
    display: none;
  }
  /* line 728, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) .field-container {
    padding: 12px;
    bottom: 12px;
    width: 100%;
  }
  /* line 734, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) .field-container .views-field-title a {
    font-size: 24px;
    line-height: 26px;
  }
  /* line 742, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(2n) {
    padding-right: 6px;
    padding-left: 0;
  }
  /* line 747, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 761, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row, .tri-large .views-row,
  .image-top-three-columns .views-row,
  .image-top-four-columns .views-row,
  .image-floated .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative !important;
    width: 50% !important;
    margin: 0 !important;
    padding: 0;
    left: 0 !important;
    top: 0 !important;
    padding-right: 6px;
  }
  /* line 772, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row .views-field, .image-top-two-columns .views-row .views-field, .image-top-three-columns .views-row .views-field, .image-top-four-columns .views-row .views-field, .skewed-tri-grid .views-row .views-field, .tri-col-highlight .views-row .views-field, .skewed-four-col .views-row .views-field, .tri-large .views-row .views-field,
  .image-top-three-columns .views-row .views-field,
  .image-top-four-columns .views-row .views-field,
  .image-floated .views-row .views-field {
    width: 100% !important;
    height: inherit;
  }
  /* line 777, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row .views-field-field-image-primary-1, .image-top-two-columns .views-row .views-field-field-image-primary-1, .image-top-three-columns .views-row .views-field-field-image-primary-1, .image-top-four-columns .views-row .views-field-field-image-primary-1, .skewed-tri-grid .views-row .views-field-field-image-primary-1, .tri-col-highlight .views-row .views-field-field-image-primary-1, .skewed-four-col .views-row .views-field-field-image-primary-1, .tri-large .views-row .views-field-field-image-primary-1,
  .image-top .views-row .views-field-field-hero-region,
  .image-top-two-columns .views-row .views-field-field-hero-region,
  .image-top-three-columns .views-row .views-field-field-hero-region,
  .image-top-four-columns .views-row .views-field-field-hero-region,
  .skewed-tri-grid .views-row .views-field-field-hero-region,
  .tri-col-highlight .views-row .views-field-field-hero-region,
  .skewed-four-col .views-row .views-field-field-hero-region,
  .tri-large .views-row .views-field-field-hero-region,
  .image-top .views-row .views-field-field-image-primary,
  .image-top-two-columns .views-row .views-field-field-image-primary,
  .image-top-three-columns .views-row .views-field-field-image-primary,
  .image-top-four-columns .views-row .views-field-field-image-primary,
  .skewed-tri-grid .views-row .views-field-field-image-primary,
  .tri-col-highlight .views-row .views-field-field-image-primary,
  .skewed-four-col .views-row .views-field-field-image-primary,
  .tri-large .views-row .views-field-field-image-primary,
  .image-top .views-row .views-field-field-inline-image,
  .image-top-two-columns .views-row .views-field-field-inline-image,
  .image-top-three-columns .views-row .views-field-field-inline-image,
  .image-top-four-columns .views-row .views-field-field-inline-image,
  .skewed-tri-grid .views-row .views-field-field-inline-image,
  .tri-col-highlight .views-row .views-field-field-inline-image,
  .skewed-four-col .views-row .views-field-field-inline-image,
  .tri-large .views-row .views-field-field-inline-image,
  .image-top .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-two-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-three-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-four-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .skewed-tri-grid .views-row .views-field-field-slideshow-frame-bg-image,
  .tri-col-highlight .views-row .views-field-field-slideshow-frame-bg-image,
  .skewed-four-col .views-row .views-field-field-slideshow-frame-bg-image,
  .tri-large .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-three-columns .views-row .views-field-field-image-primary-1,
  .image-top-three-columns .views-row .views-field-field-hero-region,
  .image-top-three-columns .views-row .views-field-field-image-primary,
  .image-top-three-columns .views-row .views-field-field-inline-image,
  .image-top-three-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-four-columns .views-row .views-field-field-image-primary-1,
  .image-top-four-columns .views-row .views-field-field-hero-region,
  .image-top-four-columns .views-row .views-field-field-image-primary,
  .image-top-four-columns .views-row .views-field-field-inline-image,
  .image-top-four-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-floated .views-row .views-field-field-image-primary-1,
  .image-floated .views-row .views-field-field-hero-region,
  .image-floated .views-row .views-field-field-image-primary,
  .image-floated .views-row .views-field-field-inline-image,
  .image-floated .views-row .views-field-field-slideshow-frame-bg-image {
    width: 100% !important;
    height: inherit !important;
    margin-bottom: 10px;
  }
  /* line 787, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row:nth-child(2n), .image-top-two-columns .views-row:nth-child(2n), .image-top-three-columns .views-row:nth-child(2n), .image-top-four-columns .views-row:nth-child(2n), .skewed-tri-grid .views-row:nth-child(2n), .tri-col-highlight .views-row:nth-child(2n), .skewed-four-col .views-row:nth-child(2n), .tri-large .views-row:nth-child(2n),
  .image-top-three-columns .views-row:nth-child(2n),
  .image-top-four-columns .views-row:nth-child(2n),
  .image-floated .views-row:nth-child(2n) {
    padding-right: 0;
    padding-left: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 798, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(1) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  /* line 803, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(2n) {
    padding-right: 6px;
    padding-left: 0;
  }
  /* line 807, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 6px;
  }
}
