@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/clusters-views.scss */
  .view {
    overflow: hidden;
  }
}
/* line 11, ../../sass/calacademy/clusters-views.scss */
.views-row {
  /*
  .views-field-title,
  .views-field-name {
  	margin-top: $padding;
  }
  */
}
/* line 13, ../../sass/calacademy/clusters-views.scss */
.views-row, .views-row .views-field {
  color: #7a7a7a;
  font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/clusters-views.scss */
  .views-row, .views-row .views-field {
    font-size: 18px;
  }
}
/* line 24, ../../sass/calacademy/clusters-views.scss */
.views-row h3,
.views-row p,
.views-row .views-field {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 30, ../../sass/calacademy/clusters-views.scss */
.views-row p {
  margin-bottom: 10px;
}
/* line 33, ../../sass/calacademy/clusters-views.scss */
.views-row p:last-child {
  margin-bottom: 0;
}
/* line 41, ../../sass/calacademy/clusters-views.scss */
.views-row h3,
.views-row .views-field-field-cta-link,
.views-row .views-field-title,
.views-row .views-field-name {
  font-size: 17px;
  font-weight: 600;
}
/* line 242, ../../sass/calacademy/_mixins.scss */
.views-row h3 a,
.views-row .views-field-field-cta-link a,
.views-row .views-field-title a,
.views-row .views-field-name a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 501, ../../sass/calacademy/_mixins.scss */
  .views-row h3 a,
  .views-row .views-field-field-cta-link a,
  .views-row .views-field-title a,
  .views-row .views-field-name a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 521, ../../sass/calacademy/_mixins.scss */
  .views-row h3 a,
  .views-row .views-field-field-cta-link a,
  .views-row .views-field-title a,
  .views-row .views-field-name a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 41, ../../sass/calacademy/clusters-views.scss */
  .views-row h3,
  .views-row .views-field-field-cta-link,
  .views-row .views-field-title,
  .views-row .views-field-name {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 47, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-edit-node,
.views-row .views-field-edit-term {
  z-index: 10;
  position: absolute;
  width: auto !important;
  overflow: hidden;
  clear: both;
}
/* line 55, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-edit-node a,
.views-row .views-field-edit-term a {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  color: white;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 47, ../../sass/calacademy/clusters-views.scss */
  .views-row .views-field-edit-node,
  .views-row .views-field-edit-term {
    display: none;
  }
}
/* line 67, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region {
  margin: 0;
  padding: 0;
}
/* line 72, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region .field {
  display: none;
}
/* line 75, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region .field.field-type-image {
  display: block;
}
/* line 81, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region .field-content, .views-row .views-field-field-hero-region .field-content * {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 91, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region,
.views-row .views-field-field-image-primary,
.views-row .views-field-field-inline-image,
.views-row .views-field-field-slideshow-frame-bg-image {
  width: 220px;
  height: 220px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 91, ../../sass/calacademy/clusters-views.scss */
  .views-row .views-field-field-hero-region,
  .views-row .views-field-field-image-primary,
  .views-row .views-field-field-inline-image,
  .views-row .views-field-field-slideshow-frame-bg-image {
    width: 167px;
    height: 167px;
  }
}
/* line 102, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region, .views-row .views-field-field-hero-region *,
.views-row .views-field-field-image-primary,
.views-row .views-field-field-image-primary *,
.views-row .views-field-field-inline-image,
.views-row .views-field-field-inline-image *,
.views-row .views-field-field-slideshow-frame-bg-image,
.views-row .views-field-field-slideshow-frame-bg-image * {
  line-height: 0;
  font-size: 0;
}
/* line 109, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region img,
.views-row .views-field-field-image-primary img,
.views-row .views-field-field-inline-image img,
.views-row .views-field-field-slideshow-frame-bg-image img {
  width: 100% !important;
}
/* line 117, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-grades, .views-row .views-field-field-grades a,
.views-row .views-field-field-category,
.views-row .views-field-field-category a,
.views-row .views-field-field-tref-subject,
.views-row .views-field-field-tref-subject a {
  color: #1a1a1a;
  font-weight: 600;
}
/* line 131, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-cta-link .field-item {
  margin-top: 10px;
}
/* line 138, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-summary,
.views-row .views-field-body,
.views-row .views-field-description {
  margin-top: 15px;
}
/* line 142, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field:last-child {
  margin-bottom: 20px;
}
/* line 148, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-featured-people,
.views-row .views-field-field-price,
.views-row .views-field-field-price-float {
  font-style: italic;
}
/* line 152, ../../sass/calacademy/clusters-views.scss */
.views-row .field-name-field-location {
  font-weight: 600;
}
/* line 161, ../../sass/calacademy/clusters-views.scss */
.view-fancy-slideshow .views-row .views-field-field-hero-region,
.view-fancy-slideshow .views-row .views-field-field-image-primary,
.view-fancy-slideshow .views-row .views-field-field-inline-image,
.view-fancy-slideshow .views-row .views-field-field-slideshow-frame-bg-image {
  width: 100%;
  height: auto;
}
/* line 165, ../../sass/calacademy/clusters-views.scss */
.view-fancy-slideshow .views-row .views-field-field-hero-region img,
.view-fancy-slideshow .views-row .views-field-field-image-primary img,
.view-fancy-slideshow .views-row .views-field-field-inline-image img,
.view-fancy-slideshow .views-row .views-field-field-slideshow-frame-bg-image img {
  height: auto;
}

/* line 174, ../../sass/calacademy/clusters-views.scss */
.image-top .view, .image-top-two-columns .view, .image-top-three-columns .view, .image-top-four-columns .view, .skewed-tri-grid .view, .tri-col-highlight .view, .skewed-four-col .view, .tri-large .view,
.image-floated .view {
  position: relative;
}
/* line 182, ../../sass/calacademy/clusters-views.scss */
.image-top .view .view-content, .image-top-two-columns .view .view-content, .image-top-three-columns .view .view-content, .image-top-four-columns .view .view-content, .skewed-tri-grid .view .view-content, .tri-col-highlight .view .view-content, .skewed-four-col .view .view-content, .tri-large .view .view-content,
.image-floated .view .view-content {
  font-size: 0;
}

/* line 190, ../../sass/calacademy/clusters-views.scss */
.image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row, .tri-large .views-row {
  float: left;
  margin-right: 20px;
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 190, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row, .tri-large .views-row {
    width: 167px;
  }
}

/* line 204, ../../sass/calacademy/clusters-views.scss */
.image-top-two-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 207, ../../sass/calacademy/clusters-views.scss */
.image-top-two-columns .views-row:nth-child(2n) {
  margin-right: 0;
}

/* line 216, ../../sass/calacademy/clusters-views.scss */
.image-top-three-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 219, ../../sass/calacademy/clusters-views.scss */
.image-top-three-columns .views-row:nth-child(3n) {
  margin-right: 0;
}

/* line 228, ../../sass/calacademy/clusters-views.scss */
.image-top-four-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 231, ../../sass/calacademy/clusters-views.scss */
.image-top-four-columns .views-row:nth-child(4n) {
  margin-right: 0;
}

/* line 239, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row {
  overflow: hidden;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
/* line 246, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row:last-child {
  margin-bottom: 0;
}
/* line 253, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row h3,
.image-floated .views-row .views-field-field-summary,
.image-floated .views-row .views-field-title,
.image-floated .views-row .views-field-name {
  margin-top: 0;
}
/* line 260, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-hero-region,
.image-floated .views-row .views-field-field-image-primary,
.image-floated .views-row .views-field-field-inline-image,
.image-floated .views-row .views-field-field-slideshow-frame-bg-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 260, ../../sass/calacademy/clusters-views.scss */
  .image-floated .views-row .views-field-field-hero-region,
  .image-floated .views-row .views-field-field-image-primary,
  .image-floated .views-row .views-field-field-inline-image,
  .image-floated .views-row .views-field-field-slideshow-frame-bg-image {
    width: 167px;
  }
}
/* line 275, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-title,
.image-floated .views-row .views-field-field-location,
.image-floated .views-row .views-field-field-date {
  color: #858281;
}
/* line 281, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-summary,
.image-floated .views-row .views-field-body,
.image-floated .views-row .views-field-description {
  margin-top: 10px;
}
/* line 286, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-title * {
  margin: 0;
}

/* line 300, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 {
  width: 460px;
}
/* line 303, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 .views-field {
  width: 220px;
}
/* line 310, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 .views-field-field-hero-region,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-inline-image,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
  width: 460px;
  height: 460px;
}
/* line 170, ../../sass/calacademy/_mixins.scss */
.skewed-tri-grid .views-row.views-row-1 h3,
.skewed-tri-grid .views-row.views-row-1 .views-field-title,
.skewed-tri-grid .views-row.views-row-1 .views-field-name {
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 180, ../../sass/calacademy/_mixins.scss */
  .skewed-tri-grid .views-row.views-row-1 h3,
  .skewed-tri-grid .views-row.views-row-1 .views-field-title,
  .skewed-tri-grid .views-row.views-row-1 .views-field-name,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-summary,
  .skewed-tri-grid .views-row.views-row-1 .views-field-body,
  .skewed-tri-grid .views-row.views-row-1 .views-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 300, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 {
    width: 354px;
  }
  /* line 320, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 .views-field {
    width: 167px;
  }
  /* line 327, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-hero-region,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-inline-image,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
    width: 354px;
    height: 354px;
  }
}
/* line 335, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-2, .skewed-tri-grid .views-row.views-row-3 {
  position: absolute;
}
/* line 339, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-2 {
  left: 480px;
  top: 350px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 339, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-2 {
    left: 374px;
    top: 270.5px;
  }
}
/* line 349, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-3 {
  left: 240px;
  top: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 349, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-3 {
    left: 187px;
    top: 374px;
  }
}

/* line 365, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row {
  position: relative;
  float: none;
}
/* line 372, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 {
  width: 460px;
}
/* line 375, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 .views-field {
  width: 220px;
}
/* line 382, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 .views-field-field-hero-region,
.tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary,
.tri-col-highlight .views-row.views-row-1 .views-field-field-inline-image,
.tri-col-highlight .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
  width: 460px;
  height: 460px;
}
/* line 170, ../../sass/calacademy/_mixins.scss */
.tri-col-highlight .views-row.views-row-1 h3,
.tri-col-highlight .views-row.views-row-1 .views-field-title,
.tri-col-highlight .views-row.views-row-1 .views-field-name {
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 180, ../../sass/calacademy/_mixins.scss */
  .tri-col-highlight .views-row.views-row-1 h3,
  .tri-col-highlight .views-row.views-row-1 .views-field-title,
  .tri-col-highlight .views-row.views-row-1 .views-field-name,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-summary,
  .tri-col-highlight .views-row.views-row-1 .views-field-body,
  .tri-col-highlight .views-row.views-row-1 .views-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 372, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 {
    width: 354px;
  }
  /* line 392, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 .views-field {
    width: 167px;
  }
  /* line 399, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 .views-field-field-hero-region,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-inline-image,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
    width: 354px;
    height: 354px;
  }
}
/* line 406, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-4 {
  position: absolute;
  left: 240px;
  top: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 406, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-4 {
    left: 187px;
    top: 374px;
  }
}
/* line 418, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-5, .tri-col-highlight .views-row.views-row-6 {
  left: -240px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 418, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-5, .tri-col-highlight .views-row.views-row-6 {
    left: -187px;
  }
}
/* line 426, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-5 {
  margin-top: -1050px;
}

/* line 438, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-1 {
  margin-top: 110px;
}
/* line 442, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-2 {
  margin-top: 240px;
}
/* line 446, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-4 {
  margin-top: -180px;
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 452, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-1 {
    margin-top: 83.5px;
  }
  /* line 456, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-2 {
    margin-top: 187px;
  }
  /* line 460, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-4 {
    margin-top: -127px;
  }
}

/* line 468, ../../sass/calacademy/clusters-views.scss */
.tri-large {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
}
/* line 475, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: -20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  background-color: #689247;
  font-style: italic;
  padding: 20px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
}
/* line 491, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment .views-row,
.tri-large .attachment .views-field {
  color: white;
  width: 100%;
  padding: 0 !important;
}
/* line 496, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment .views-row.views-field-body,
.tri-large .attachment .views-field.views-field-body {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0;
}
/* line 503, ../../sass/calacademy/clusters-views.scss */
.tri-large .attachment h2 {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 34px;
  font-weight: 500;
}
/* line 512, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content > .views-row {
  float: left;
}
/* line 516, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content > .views-row .views-field-title-1, .tri-large > .view > .view-content > .views-row .views-field-title-1 a {
  color: #1a1a1a;
  font-weight: 500;
  font-style: italic;
}
/* line 524, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content > .views-row .views-field-title a {
  color: #689247;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 501, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content > .views-row .views-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 521, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content > .views-row .views-field-title a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 534, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child {
  position: relative;
  margin-bottom: 20px;
}
/* line 539, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 460px;
}
/* line 549, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field:last-child {
  margin-bottom: 0;
}
/* line 555, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title-1, .tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title-1 a {
  color: #689247;
}
/* line 561, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title a {
  color: white;
  font-size: 28px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 501, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 521, ../../sass/calacademy/_mixins.scss */
  .tri-large > .view > .view-content .views-row:first-child .field-container .views-field-title a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 570, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child .views-field-field-hero-region {
  z-index: 1;
}
/* line 574, ../../sass/calacademy/clusters-views.scss */
.tri-large > .view > .view-content .views-row:first-child, .tri-large > .view > .view-content .views-row:first-child .views-field-field-hero-region {
  width: 700px;
  height: 700px;
  overflow: hidden;
}
/* line 586, ../../sass/calacademy/clusters-views.scss */
.tri-large:nth-child(2n) .attachment {
  left: inherit;
  right: 0;
}
/* line 591, ../../sass/calacademy/clusters-views.scss */
.tri-large:nth-child(2n) > .view > .view-content > .views-row {
  float: right;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 597, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment {
    left: 0;
    width: 207px;
  }
  /* line 602, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content {
    padding-left: 20px;
  }
  /* line 607, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:first-child .field-container {
    width: 354px;
  }
  /* line 611, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:first-child, .tri-large > .view > .view-content .views-row:first-child .views-field-field-hero-region {
    width: 541px;
    height: 541px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 468, ../../sass/calacademy/clusters-views.scss */
  .tri-large {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
  }
  /* line 625, ../../sass/calacademy/clusters-views.scss */
  .tri-large .view {
    overflow: visible;
  }
  /* line 629, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment {
    left: -12px !important;
    right: inherit !important;
    width: 50%;
    max-height: 175px;
    overflow: hidden;
    padding: 12px;
    top: 12px;
  }
  /* line 636, ../../sass/calacademy/clusters-views.scss */
  .csscalc .tri-large .attachment {
    width: calc(50% + 6px);
  }
  /* line 644, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment .views-row,
  .tri-large .attachment .views-field {
    width: 100% !important;
  }
  /* line 647, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment .views-row.views-field-body,
  .tri-large .attachment .views-field.views-field-body {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }
  /* line 654, ../../sass/calacademy/clusters-views.scss */
  .tri-large .attachment h2 {
    font-size: 24px;
    line-height: 26px;
  }
  /* line 661, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row {
    float: none !important;
  }
  /* line 664, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row .views-field-field-hero-region {
    margin-bottom: 12px;
  }
  /* line 668, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  /* line 672, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1), .tri-large > .view > .view-content .views-row:nth-child(1) .views-field-field-hero-region {
    width: 100% !important;
    height: inherit;
  }
  /* line 677, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) .views-field-body {
    display: none;
  }
  /* line 681, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) .field-container {
    padding: 12px;
    bottom: 12px;
    width: 100%;
  }
  /* line 687, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(1) .field-container .views-field-title a {
    font-size: 24px;
    line-height: 26px;
  }
  /* line 695, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(2n) {
    padding-right: 6px;
    padding-left: 0;
  }
  /* line 700, ../../sass/calacademy/clusters-views.scss */
  .tri-large > .view > .view-content .views-row:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 714, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row, .tri-large .views-row,
  .image-top-three-columns .views-row,
  .image-top-four-columns .views-row,
  .image-floated .views-row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative !important;
    width: 50% !important;
    margin: 0 !important;
    padding: 0;
    left: 0 !important;
    top: 0 !important;
    padding-right: 6px;
  }
  /* line 725, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row .views-field, .image-top-two-columns .views-row .views-field, .image-top-three-columns .views-row .views-field, .image-top-four-columns .views-row .views-field, .skewed-tri-grid .views-row .views-field, .tri-col-highlight .views-row .views-field, .skewed-four-col .views-row .views-field, .tri-large .views-row .views-field,
  .image-top-three-columns .views-row .views-field,
  .image-top-four-columns .views-row .views-field,
  .image-floated .views-row .views-field {
    width: 100% !important;
    height: inherit;
  }
  /* line 733, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row .views-field-field-hero-region, .image-top-two-columns .views-row .views-field-field-hero-region, .image-top-three-columns .views-row .views-field-field-hero-region, .image-top-four-columns .views-row .views-field-field-hero-region, .skewed-tri-grid .views-row .views-field-field-hero-region, .tri-col-highlight .views-row .views-field-field-hero-region, .skewed-four-col .views-row .views-field-field-hero-region, .tri-large .views-row .views-field-field-hero-region,
  .image-top .views-row .views-field-field-image-primary,
  .image-top-two-columns .views-row .views-field-field-image-primary,
  .image-top-three-columns .views-row .views-field-field-image-primary,
  .image-top-four-columns .views-row .views-field-field-image-primary,
  .skewed-tri-grid .views-row .views-field-field-image-primary,
  .tri-col-highlight .views-row .views-field-field-image-primary,
  .skewed-four-col .views-row .views-field-field-image-primary,
  .tri-large .views-row .views-field-field-image-primary,
  .image-top .views-row .views-field-field-inline-image,
  .image-top-two-columns .views-row .views-field-field-inline-image,
  .image-top-three-columns .views-row .views-field-field-inline-image,
  .image-top-four-columns .views-row .views-field-field-inline-image,
  .skewed-tri-grid .views-row .views-field-field-inline-image,
  .tri-col-highlight .views-row .views-field-field-inline-image,
  .skewed-four-col .views-row .views-field-field-inline-image,
  .tri-large .views-row .views-field-field-inline-image,
  .image-top .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-two-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-three-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-four-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .skewed-tri-grid .views-row .views-field-field-slideshow-frame-bg-image,
  .tri-col-highlight .views-row .views-field-field-slideshow-frame-bg-image,
  .skewed-four-col .views-row .views-field-field-slideshow-frame-bg-image,
  .tri-large .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-three-columns .views-row .views-field-field-hero-region,
  .image-top-three-columns .views-row .views-field-field-image-primary,
  .image-top-three-columns .views-row .views-field-field-inline-image,
  .image-top-three-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-four-columns .views-row .views-field-field-hero-region,
  .image-top-four-columns .views-row .views-field-field-image-primary,
  .image-top-four-columns .views-row .views-field-field-inline-image,
  .image-top-four-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-floated .views-row .views-field-field-hero-region,
  .image-floated .views-row .views-field-field-image-primary,
  .image-floated .views-row .views-field-field-inline-image,
  .image-floated .views-row .views-field-field-slideshow-frame-bg-image {
    width: 100% !important;
    height: inherit !important;
    margin-bottom: 20px;
  }
  /* line 739, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row:nth-child(2n), .image-top-two-columns .views-row:nth-child(2n), .image-top-three-columns .views-row:nth-child(2n), .image-top-four-columns .views-row:nth-child(2n), .skewed-tri-grid .views-row:nth-child(2n), .tri-col-highlight .views-row:nth-child(2n), .skewed-four-col .views-row:nth-child(2n), .tri-large .views-row:nth-child(2n),
  .image-top-three-columns .views-row:nth-child(2n),
  .image-top-four-columns .views-row:nth-child(2n),
  .image-floated .views-row:nth-child(2n) {
    padding-right: 0;
    padding-left: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 750, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(1) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  /* line 755, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(2n) {
    padding-right: 6px;
    padding-left: 0;
  }
  /* line 759, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 6px;
  }
}
