@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/clusters-views.scss */
  .view {
    overflow: hidden;
  }
}
/* line 13, ../../sass/calacademy/clusters-views.scss */
.views-row, .views-row .views-field {
  color: #7a7a7a;
  font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/clusters-views.scss */
  .views-row, .views-row .views-field {
    font-size: 18px;
  }
}
/* line 24, ../../sass/calacademy/clusters-views.scss */
.views-row h3,
.views-row p,
.views-row .views-field {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 32, ../../sass/calacademy/clusters-views.scss */
.views-row h3,
.views-row .views-field-title,
.views-row .views-field-name {
  font-size: 17px;
  font-weight: 600;
}
/* line 36, ../../sass/calacademy/clusters-views.scss */
.views-row h3 a,
.views-row .views-field-title a,
.views-row .views-field-name a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 420, ../../sass/calacademy/_mixins.scss */
  .views-row h3 a,
  .views-row .views-field-title a,
  .views-row .views-field-name a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 440, ../../sass/calacademy/_mixins.scss */
  .views-row h3 a,
  .views-row .views-field-title a,
  .views-row .views-field-name a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 32, ../../sass/calacademy/clusters-views.scss */
  .views-row h3,
  .views-row .views-field-title,
  .views-row .views-field-name {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 47, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region {
  margin: 0;
  padding: 0;
}
/* line 52, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region .field {
  display: none;
}
/* line 55, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region .field.field-type-image {
  display: block;
}
/* line 61, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region .field-content, .views-row .views-field-field-hero-region .field-content * {
  margin: 0;
  padding: 0;
}
/* line 71, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region,
.views-row .views-field-field-image-primary,
.views-row .views-field-field-inline-image,
.views-row .views-field-field-slideshow-frame-bg-image {
  width: 220px;
  height: 220px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 71, ../../sass/calacademy/clusters-views.scss */
  .views-row .views-field-field-hero-region,
  .views-row .views-field-field-image-primary,
  .views-row .views-field-field-inline-image,
  .views-row .views-field-field-slideshow-frame-bg-image {
    width: 167px;
    height: 167px;
  }
}
/* line 82, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region, .views-row .views-field-field-hero-region *,
.views-row .views-field-field-image-primary,
.views-row .views-field-field-image-primary *,
.views-row .views-field-field-inline-image,
.views-row .views-field-field-inline-image *,
.views-row .views-field-field-slideshow-frame-bg-image,
.views-row .views-field-field-slideshow-frame-bg-image * {
  line-height: 0;
  font-size: 0;
}
/* line 89, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-hero-region img,
.views-row .views-field-field-image-primary img,
.views-row .views-field-field-inline-image img,
.views-row .views-field-field-slideshow-frame-bg-image img {
  width: 100% !important;
}
/* line 95, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-title,
.views-row .views-field-name {
  margin-top: 20px;
}
/* line 101, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-summary,
.views-row .views-field-body,
.views-row .views-field-description {
  margin-top: 15px;
}
/* line 109, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field:last-child {
  margin-bottom: 20px;
}
/* line 114, ../../sass/calacademy/clusters-views.scss */
.views-row .views-field-field-featured-people,
.views-row .views-field-field-price {
  font-style: italic;
}
/* line 123, ../../sass/calacademy/clusters-views.scss */
.view-fancy-slideshow .views-row .views-field-field-hero-region,
.view-fancy-slideshow .views-row .views-field-field-image-primary,
.view-fancy-slideshow .views-row .views-field-field-inline-image,
.view-fancy-slideshow .views-row .views-field-field-slideshow-frame-bg-image {
  width: 100%;
  height: auto;
}
/* line 127, ../../sass/calacademy/clusters-views.scss */
.view-fancy-slideshow .views-row .views-field-field-hero-region img,
.view-fancy-slideshow .views-row .views-field-field-image-primary img,
.view-fancy-slideshow .views-row .views-field-field-inline-image img,
.view-fancy-slideshow .views-row .views-field-field-slideshow-frame-bg-image img {
  height: auto;
}

/* line 136, ../../sass/calacademy/clusters-views.scss */
.image-top .view, .image-top-two-columns .view, .image-top-three-columns .view, .image-top-four-columns .view, .skewed-tri-grid .view, .tri-col-highlight .view, .skewed-four-col .view,
.image-floated .view {
  position: relative;
}
/* line 144, ../../sass/calacademy/clusters-views.scss */
.image-top .view .view-content, .image-top-two-columns .view .view-content, .image-top-three-columns .view .view-content, .image-top-four-columns .view .view-content, .skewed-tri-grid .view .view-content, .tri-col-highlight .view .view-content, .skewed-four-col .view .view-content,
.image-floated .view .view-content {
  font-size: 0;
}

/* line 152, ../../sass/calacademy/clusters-views.scss */
.image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row {
  float: left;
  margin-right: 20px;
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 152, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row {
    width: 167px;
  }
}

/* line 166, ../../sass/calacademy/clusters-views.scss */
.image-top-two-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 169, ../../sass/calacademy/clusters-views.scss */
.image-top-two-columns .views-row:nth-child(2n) {
  margin-right: 0;
}

/* line 178, ../../sass/calacademy/clusters-views.scss */
.image-top-three-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 181, ../../sass/calacademy/clusters-views.scss */
.image-top-three-columns .views-row:nth-child(3n) {
  margin-right: 0;
}

/* line 190, ../../sass/calacademy/clusters-views.scss */
.image-top-four-columns .views-row {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 193, ../../sass/calacademy/clusters-views.scss */
.image-top-four-columns .views-row:nth-child(4n) {
  margin-right: 0;
}

/* line 201, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row {
  overflow: hidden;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}
/* line 208, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row:last-child {
  margin-bottom: 0;
}
/* line 215, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row h3,
.image-floated .views-row .views-field-field-summary,
.image-floated .views-row .views-field-title,
.image-floated .views-row .views-field-name {
  margin-top: 0;
}
/* line 222, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-hero-region,
.image-floated .views-row .views-field-field-image-primary,
.image-floated .views-row .views-field-field-inline-image,
.image-floated .views-row .views-field-field-slideshow-frame-bg-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 222, ../../sass/calacademy/clusters-views.scss */
  .image-floated .views-row .views-field-field-hero-region,
  .image-floated .views-row .views-field-field-image-primary,
  .image-floated .views-row .views-field-field-inline-image,
  .image-floated .views-row .views-field-field-slideshow-frame-bg-image {
    width: 167px;
  }
}
/* line 237, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-title,
.image-floated .views-row .views-field-field-location,
.image-floated .views-row .views-field-field-date {
  color: #858281;
}
/* line 243, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-summary,
.image-floated .views-row .views-field-body,
.image-floated .views-row .views-field-description {
  margin-top: 10px;
}
/* line 250, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-field-grades, .image-floated .views-row .views-field-field-grades a,
.image-floated .views-row .views-field-field-category,
.image-floated .views-row .views-field-field-category a {
  color: #1a1a1a;
  font-weight: 600;
}
/* line 256, ../../sass/calacademy/clusters-views.scss */
.image-floated .views-row .views-field-title * {
  margin: 0;
}

/* line 270, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 {
  width: 460px;
}
/* line 273, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 .views-field {
  width: 220px;
}
/* line 280, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-1 .views-field-field-hero-region,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-inline-image,
.skewed-tri-grid .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
  width: 460px;
  height: 460px;
}
/* line 112, ../../sass/calacademy/_mixins.scss */
.skewed-tri-grid .views-row.views-row-1 h3,
.skewed-tri-grid .views-row.views-row-1 .views-field-title,
.skewed-tri-grid .views-row.views-row-1 .views-field-name {
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 122, ../../sass/calacademy/_mixins.scss */
  .skewed-tri-grid .views-row.views-row-1 h3,
  .skewed-tri-grid .views-row.views-row-1 .views-field-title,
  .skewed-tri-grid .views-row.views-row-1 .views-field-name,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-summary,
  .skewed-tri-grid .views-row.views-row-1 .views-field-body,
  .skewed-tri-grid .views-row.views-row-1 .views-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 270, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 {
    width: 354px;
  }
  /* line 290, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 .views-field {
    width: 167px;
  }
  /* line 297, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-hero-region,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-image-primary,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-inline-image,
  .skewed-tri-grid .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
    width: 354px;
    height: 354px;
  }
}
/* line 305, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-2, .skewed-tri-grid .views-row.views-row-3 {
  position: absolute;
}
/* line 309, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-2 {
  left: 480px;
  top: 350px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 309, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-2 {
    left: 374px;
    top: 270.5px;
  }
}
/* line 319, ../../sass/calacademy/clusters-views.scss */
.skewed-tri-grid .views-row.views-row-3 {
  left: 240px;
  top: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 319, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row.views-row-3 {
    left: 187px;
    top: 374px;
  }
}

/* line 335, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row {
  position: relative;
  float: none;
}
/* line 342, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 {
  width: 460px;
}
/* line 345, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 .views-field {
  width: 220px;
}
/* line 352, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-1 .views-field-field-hero-region,
.tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary,
.tri-col-highlight .views-row.views-row-1 .views-field-field-inline-image,
.tri-col-highlight .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
  width: 460px;
  height: 460px;
}
/* line 112, ../../sass/calacademy/_mixins.scss */
.tri-col-highlight .views-row.views-row-1 h3,
.tri-col-highlight .views-row.views-row-1 .views-field-title,
.tri-col-highlight .views-row.views-row-1 .views-field-name {
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 122, ../../sass/calacademy/_mixins.scss */
  .tri-col-highlight .views-row.views-row-1 h3,
  .tri-col-highlight .views-row.views-row-1 .views-field-title,
  .tri-col-highlight .views-row.views-row-1 .views-field-name,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-summary,
  .tri-col-highlight .views-row.views-row-1 .views-field-body,
  .tri-col-highlight .views-row.views-row-1 .views-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 342, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 {
    width: 354px;
  }
  /* line 362, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 .views-field {
    width: 167px;
  }
  /* line 369, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-1 .views-field-field-hero-region,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-image-primary,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-inline-image,
  .tri-col-highlight .views-row.views-row-1 .views-field-field-slideshow-frame-bg-image {
    width: 354px;
    height: 354px;
  }
}
/* line 376, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-4 {
  position: absolute;
  left: 240px;
  top: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 376, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-4 {
    left: 187px;
    top: 374px;
  }
}
/* line 388, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-5, .tri-col-highlight .views-row.views-row-6 {
  left: -240px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 388, ../../sass/calacademy/clusters-views.scss */
  .tri-col-highlight .views-row.views-row-5, .tri-col-highlight .views-row.views-row-6 {
    left: -187px;
  }
}
/* line 396, ../../sass/calacademy/clusters-views.scss */
.tri-col-highlight .views-row.views-row-5 {
  margin-top: -1050px;
}

/* line 408, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-1 {
  margin-top: 110px;
}
/* line 412, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-2 {
  margin-top: 240px;
}
/* line 416, ../../sass/calacademy/clusters-views.scss */
.skewed-four-col .views-row.views-row-4 {
  margin-top: -180px;
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 422, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-1 {
    margin-top: 83.5px;
  }
  /* line 426, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-2 {
    margin-top: 187px;
  }
  /* line 430, ../../sass/calacademy/clusters-views.scss */
  .skewed-four-col .views-row.views-row-4 {
    margin-top: -127px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 442, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row, .image-top-two-columns .views-row, .image-top-three-columns .views-row, .image-top-four-columns .views-row, .skewed-tri-grid .views-row, .tri-col-highlight .views-row, .skewed-four-col .views-row,
  .image-top-three-columns .views-row,
  .image-top-four-columns .views-row,
  .image-floated .views-row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative !important;
    width: 50% !important;
    margin: 0 !important;
    padding: 0;
    left: 0 !important;
    top: 0 !important;
    padding-right: 6px;
  }
  /* line 453, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row .views-field, .image-top-two-columns .views-row .views-field, .image-top-three-columns .views-row .views-field, .image-top-four-columns .views-row .views-field, .skewed-tri-grid .views-row .views-field, .tri-col-highlight .views-row .views-field, .skewed-four-col .views-row .views-field,
  .image-top-three-columns .views-row .views-field,
  .image-top-four-columns .views-row .views-field,
  .image-floated .views-row .views-field {
    width: 100% !important;
    height: inherit;
  }
  /* line 461, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row .views-field-field-hero-region, .image-top-two-columns .views-row .views-field-field-hero-region, .image-top-three-columns .views-row .views-field-field-hero-region, .image-top-four-columns .views-row .views-field-field-hero-region, .skewed-tri-grid .views-row .views-field-field-hero-region, .tri-col-highlight .views-row .views-field-field-hero-region, .skewed-four-col .views-row .views-field-field-hero-region,
  .image-top .views-row .views-field-field-image-primary,
  .image-top-two-columns .views-row .views-field-field-image-primary,
  .image-top-three-columns .views-row .views-field-field-image-primary,
  .image-top-four-columns .views-row .views-field-field-image-primary,
  .skewed-tri-grid .views-row .views-field-field-image-primary,
  .tri-col-highlight .views-row .views-field-field-image-primary,
  .skewed-four-col .views-row .views-field-field-image-primary,
  .image-top .views-row .views-field-field-inline-image,
  .image-top-two-columns .views-row .views-field-field-inline-image,
  .image-top-three-columns .views-row .views-field-field-inline-image,
  .image-top-four-columns .views-row .views-field-field-inline-image,
  .skewed-tri-grid .views-row .views-field-field-inline-image,
  .tri-col-highlight .views-row .views-field-field-inline-image,
  .skewed-four-col .views-row .views-field-field-inline-image,
  .image-top .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-two-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-three-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-four-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .skewed-tri-grid .views-row .views-field-field-slideshow-frame-bg-image,
  .tri-col-highlight .views-row .views-field-field-slideshow-frame-bg-image,
  .skewed-four-col .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-three-columns .views-row .views-field-field-hero-region,
  .image-top-three-columns .views-row .views-field-field-image-primary,
  .image-top-three-columns .views-row .views-field-field-inline-image,
  .image-top-three-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-top-four-columns .views-row .views-field-field-hero-region,
  .image-top-four-columns .views-row .views-field-field-image-primary,
  .image-top-four-columns .views-row .views-field-field-inline-image,
  .image-top-four-columns .views-row .views-field-field-slideshow-frame-bg-image,
  .image-floated .views-row .views-field-field-hero-region,
  .image-floated .views-row .views-field-field-image-primary,
  .image-floated .views-row .views-field-field-inline-image,
  .image-floated .views-row .views-field-field-slideshow-frame-bg-image {
    width: 100% !important;
    height: inherit !important;
    margin-bottom: 20px;
  }
  /* line 467, ../../sass/calacademy/clusters-views.scss */
  .image-top .views-row:nth-child(2n), .image-top-two-columns .views-row:nth-child(2n), .image-top-three-columns .views-row:nth-child(2n), .image-top-four-columns .views-row:nth-child(2n), .skewed-tri-grid .views-row:nth-child(2n), .tri-col-highlight .views-row:nth-child(2n), .skewed-four-col .views-row:nth-child(2n),
  .image-top-three-columns .views-row:nth-child(2n),
  .image-top-four-columns .views-row:nth-child(2n),
  .image-floated .views-row:nth-child(2n) {
    padding-right: 0;
    padding-left: 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 478, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(1) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  /* line 483, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(2n) {
    padding-right: 6px;
    padding-left: 0;
  }
  /* line 487, ../../sass/calacademy/clusters-views.scss */
  .skewed-tri-grid .views-row:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 6px;
  }
}
