/* line 4, ../../sass/calacademy/components.scss */
.item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  clear: both;
}

/* line 21, ../../sass/calacademy/components.scss */
header, header .field,
.page-header,
.page-header .field,
.page-header .pane-title,
.page-header .pane-title .field,
.pane-title,
.pane-title .field,
.creature-description,
.creature-description .field,
#page-title,
#page-title .field {
  color: #1a1a1a;
}
/* line 25, ../../sass/calacademy/components.scss */
header h1, header h2, header p, header div,
.page-header h1,
.page-header h2,
.page-header p,
.page-header div,
.page-header .pane-title h1,
.page-header .pane-title h2,
.page-header .pane-title p,
.page-header .pane-title div,
.pane-title h1,
.pane-title h2,
.pane-title p,
.pane-title div,
.creature-description h1,
.creature-description h2,
.creature-description p,
.creature-description div,
#page-title h1,
#page-title h2,
#page-title p,
#page-title div {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
/* line 31, ../../sass/calacademy/components.scss */
header h1, header h2,
.page-header h1,
.page-header h2,
.page-header .pane-title h1,
.page-header .pane-title h2,
.pane-title h1,
.pane-title h2,
.creature-description h1,
.creature-description h2,
#page-title h1,
#page-title h2 {
  font-weight: 600;
  font-size: 50px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 31, ../../sass/calacademy/components.scss */
  header h1, header h2,
  .page-header h1,
  .page-header h2,
  .page-header .pane-title h1,
  .page-header .pane-title h2,
  .pane-title h1,
  .pane-title h2,
  .creature-description h1,
  .creature-description h2,
  #page-title h1,
  #page-title h2 {
    font-size: 36px;
  }
}
/* line 39, ../../sass/calacademy/components.scss */
header h1 span, header h2 span,
.page-header h1 span,
.page-header h2 span,
.page-header .pane-title h1 span,
.page-header .pane-title h2 span,
.pane-title h1 span,
.pane-title h2 span,
.creature-description h1 span,
.creature-description h2 span,
#page-title h1 span,
#page-title h2 span {
  display: block;
  width: 660px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 39, ../../sass/calacademy/components.scss */
  header h1 span, header h2 span,
  .page-header h1 span,
  .page-header h2 span,
  .page-header .pane-title h1 span,
  .page-header .pane-title h2 span,
  .pane-title h1 span,
  .pane-title h2 span,
  .creature-description h1 span,
  .creature-description h2 span,
  #page-title h1 span,
  #page-title h2 span {
    width: 100%;
  }
}
/* line 50, ../../sass/calacademy/components.scss */
.page-node header h1, .page-node header h2, .page-node
.page-header h1, .page-node
.page-header h2, .page-node
.page-header .pane-title h1, .page-node
.page-header .pane-title h2, .page-node
.pane-title h1, .page-node
.pane-title h2, .page-node
.creature-description h1, .page-node
.creature-description h2, .page-node
#page-title h1, .page-node
#page-title h2 {
  margin: 0 !important;
}
/* line 55, ../../sass/calacademy/components.scss */
.page-node header .subhead,
.page-node header .subhead .field, .page-node
.page-header .subhead,
.page-node
.page-header .subhead .field, .page-node
.page-header .pane-title .subhead,
.page-node
.page-header .pane-title .subhead .field, .page-node
.pane-title .subhead,
.page-node
.pane-title .subhead .field, .page-node
.creature-description .subhead,
.page-node
.creature-description .subhead .field, .page-node
#page-title .subhead,
.page-node
#page-title .subhead .field {
  margin-top: 40px;
  color: #1a1a1a;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 55, ../../sass/calacademy/components.scss */
  .page-node header .subhead,
  .page-node header .subhead .field, .page-node
  .page-header .subhead,
  .page-node
  .page-header .subhead .field, .page-node
  .page-header .pane-title .subhead,
  .page-node
  .page-header .pane-title .subhead .field, .page-node
  .pane-title .subhead,
  .page-node
  .pane-title .subhead .field, .page-node
  .creature-description .subhead,
  .page-node
  .creature-description .subhead .field, .page-node
  #page-title .subhead,
  .page-node
  #page-title .subhead .field {
    font-size: 20px;
  }
}
/* line 69, ../../sass/calacademy/components.scss */
header p,
.page-header p,
.page-header .pane-title p,
.pane-title p,
.creature-description p,
#page-title p {
  margin-top: 20px;
  color: #7a7a7a;
  width: 640px;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 69, ../../sass/calacademy/components.scss */
  header p,
  .page-header p,
  .page-header .pane-title p,
  .pane-title p,
  .creature-description p,
  #page-title p {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
  }
}
/* line 84, ../../sass/calacademy/components.scss */
header .views-row p,
.page-header .views-row p,
.page-header .pane-title .views-row p,
.pane-title .views-row p,
.creature-description .views-row p,
#page-title .views-row p {
  font-size: 14px;
  line-height: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 84, ../../sass/calacademy/components.scss */
  header .views-row p,
  .page-header .views-row p,
  .page-header .pane-title .views-row p,
  .pane-title .views-row p,
  .creature-description .views-row p,
  #page-title .views-row p {
    font-size: 18px;
    line-height: 26px;
  }
}

/* line 96, ../../sass/calacademy/components.scss */
.creature-description p {
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 96, ../../sass/calacademy/components.scss */
  .creature-description p {
    font-size: 18px;
    line-height: 26px;
  }
}

/* line 107, ../../sass/calacademy/components.scss */
#header {
  padding-left: 0;
  padding-right: 0;
}

/* line 112, ../../sass/calacademy/components.scss */
#page-title {
  max-width: 960px;
  margin-left: auto !important;
  margin-right: auto !important;
  line-height: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 112, ../../sass/calacademy/components.scss */
  #page-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 112, ../../sass/calacademy/components.scss */
  #page-title {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/* line 131, ../../sass/calacademy/components.scss */
.creature-description h2,
.page-header .pane-title,
.pane-title {
  font-weight: 500;
  font-size: 50px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 131, ../../sass/calacademy/components.scss */
  .creature-description h2,
  .page-header .pane-title,
  .pane-title {
    font-size: 28px;
    line-height: 34px;
  }
}

/* line 146, ../../sass/calacademy/components.scss */
.fancy-slideshow #page-title {
  z-index: 1;
  position: relative;
}
/* line 150, ../../sass/calacademy/components.scss */
.fancy-slideshow #page-title span {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: inline;
  width: inherit;
  max-width: 660px;
}

/* line 162, ../../sass/calacademy/components.scss */
.section {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
}
/* line 163, ../../sass/calacademy/components.scss */
.section, .section p {
  color: #7a7a7a;
}
/* line 167, ../../sass/calacademy/components.scss */
.section p:last-child {
  margin-bottom: 0;
}
/* line 183, ../../sass/calacademy/components.scss */
.section.column-fields, .section.image-top, .section.image-top-three-columns, .section.image-top-four-columns, .section.skewed-tri-grid, .section.skewed-four-col, .section.tri-col-highlight, .section.image-top-two-columns {
  padding-right: 0;
}
/* line 187, ../../sass/calacademy/components.scss */
.section:last-child {
  border: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 162, ../../sass/calacademy/components.scss */
  .section {
    padding-right: 0;
    width: 100%;
    overflow: hidden;
  }
}
/* line 199, ../../sass/calacademy/components.scss */
.section h2,
.section .field-name-field-subtitle,
.section .pane-title {
  color: #1a1a1a;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 208, ../../sass/calacademy/components.scss */
  .section .pane-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
  }
}

/* line 222, ../../sass/calacademy/components.scss */
.testimonial, .testimonial .views-field,
.view-testimonials-related,
.view-testimonials-related .views-field,
.view-testimonials-related .views-row,
.view-testimonials-related .views-row .views-field {
  font-weight: 300;
  color: #50aade;
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 222, ../../sass/calacademy/components.scss */
  .testimonial, .testimonial .views-field,
  .view-testimonials-related,
  .view-testimonials-related .views-field,
  .view-testimonials-related .views-row,
  .view-testimonials-related .views-row .views-field {
    position: relative;
    top: inherit;
    float: none;
  }
}
/* line 236, ../../sass/calacademy/components.scss */
.testimonial p,
.testimonial .views-field-field-testimonial-summary .field-content,
.view-testimonials-related p,
.view-testimonials-related .views-field-field-testimonial-summary .field-content,
.view-testimonials-related .views-row p,
.view-testimonials-related .views-row .views-field-field-testimonial-summary .field-content {
  margin: 0;
  padding: 0;
}
/* line 240, ../../sass/calacademy/components.scss */
.testimonial p:before,
.testimonial .views-field-field-testimonial-summary .field-content:before,
.view-testimonials-related p:before,
.view-testimonials-related .views-field-field-testimonial-summary .field-content:before,
.view-testimonials-related .views-row p:before,
.view-testimonials-related .views-row .views-field-field-testimonial-summary .field-content:before {
  content: open-quote;
}
/* line 243, ../../sass/calacademy/components.scss */
.testimonial p:after,
.testimonial .views-field-field-testimonial-summary .field-content:after,
.view-testimonials-related p:after,
.view-testimonials-related .views-field-field-testimonial-summary .field-content:after,
.view-testimonials-related .views-row p:after,
.view-testimonials-related .views-row .views-field-field-testimonial-summary .field-content:after {
  content: close-quote;
}
/* line 248, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name,
.view-testimonials-related .views-field-field-reviewer-name,
.view-testimonials-related .views-row .views-field-field-reviewer-name {
  margin-top: 20px;
  padding-left: 50px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default.png");
}
/* line 249, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name h3, .testimonial .views-field-field-reviewer-name h4,
.view-testimonials-related .views-field-field-reviewer-name h3,
.view-testimonials-related .views-field-field-reviewer-name h4,
.view-testimonials-related .views-row .views-field-field-reviewer-name h3,
.view-testimonials-related .views-row .views-field-field-reviewer-name h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}
/* line 257, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name h3,
.view-testimonials-related .views-field-field-reviewer-name h3,
.view-testimonials-related .views-row .views-field-field-reviewer-name h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
/* line 263, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name h4,
.view-testimonials-related .views-field-field-reviewer-name h4,
.view-testimonials-related .views-row .views-field-field-reviewer-name h4 {
  color: #7a7a7a;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name,
  .view-testimonials-related .views-field-field-reviewer-name,
  .view-testimonials-related .views-row .views-field-field-reviewer-name {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name,
  .view-testimonials-related .views-field-field-reviewer-name,
  .view-testimonials-related .views-row .views-field-field-reviewer-name {
    -webkit-background-size: 40px, 40px;
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 276, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name.source-twitter,
.view-testimonials-related .views-field-field-reviewer-name.source-twitter,
.view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
    -webkit-background-size: 40px, 40px;
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 280, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name.source-facebook,
.view-testimonials-related .views-field-field-reviewer-name.source-facebook,
.view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
    -webkit-background-size: 40px, 40px;
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}

/* line 290, ../../sass/calacademy/components.scss */
.es-categories .views-row > a {
  margin: 0 !important;
  position: absolute;
  z-index: 1;
  display: block;
  top: 10px;
  left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: white;
  background-color: #006aab;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 10px 70px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .es-categories .views-row > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .es-categories .views-row > a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 318, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row {
    display: block;
    width: 100% !important;
    padding: 0 !important;
    margin-right: 0 !important;
  }
  /* line 325, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row .views-field-body {
    display: none;
  }
  /* line 331, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row .views-field-field-hero-region,
  .es-categories .view-content .views-row .views-field-field-image-primary,
  .es-categories .view-content .views-row .views-field-field-primary-image {
    margin-bottom: 12px;
    background-color: #006aab;
  }
  /* line 332, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row .views-field-field-hero-region .field-content,
  .es-categories .view-content .views-row .views-field-field-image-primary .field-content,
  .es-categories .view-content .views-row .views-field-field-primary-image .field-content {
    width: 50%;
  }
  /* line 340, ../../sass/calacademy/components.scss */
  .csscalc .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc
  .es-categories .view-content .views-row .views-field-field-primary-image {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 22px) calc(100% - 12px);
  }
  /* line 350, ../../sass/calacademy/components.scss */
  .csscalc.lt-ie10 .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc.lt-ie10
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc.lt-ie10
  .es-categories .view-content .views-row .views-field-field-primary-image {
    background-image: none !important;
    background-position: 0 0 !important;
  }
  /* line 356, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row > a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    width: 50%;
    left: 50%;
    height: 85%;
    background-image: none !important;
    background-color: transparent;
    padding: 12px;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
  }
  /* line 363, ../../sass/calacademy/components.scss */
  .csscalc .es-categories .view-content .views-row > a {
    height: calc(100% - 40px);
  }
  /* line 380, ../../sass/calacademy/components.scss */
  .es-categories > .view > .view-content > .views-row {
    margin-bottom: 30px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .csscalc .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc
  .es-categories .view-content .views-row .views-field-field-primary-image {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .csscalc .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc
  .es-categories .view-content .views-row .views-field-field-primary-image {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
