/* line 4, ../../sass/calacademy/components.scss */
.item-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  clear: both;
}

/* line 21, ../../sass/calacademy/components.scss */
header, header .field,
.page-header,
.page-header .field,
.page-header .pane-title,
.page-header .pane-title .field,
.pane-title,
.pane-title .field,
.creature-description,
.creature-description .field,
#page-title,
#page-title .field {
  color: #1a1a1a;
}
/* line 25, ../../sass/calacademy/components.scss */
header h1, header h2, header p, header div,
.page-header h1,
.page-header h2,
.page-header p,
.page-header div,
.page-header .pane-title h1,
.page-header .pane-title h2,
.page-header .pane-title p,
.page-header .pane-title div,
.pane-title h1,
.pane-title h2,
.pane-title p,
.pane-title div,
.creature-description h1,
.creature-description h2,
.creature-description p,
.creature-description div,
#page-title h1,
#page-title h2,
#page-title p,
#page-title div {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
/* line 31, ../../sass/calacademy/components.scss */
header h1,
.page-header h1,
.page-header .pane-title h1,
.pane-title h1,
.creature-description h1,
#page-title h1 {
  line-height: 1;
}
/* line 35, ../../sass/calacademy/components.scss */
header h1, header h2,
.page-header h1,
.page-header h2,
.page-header .pane-title h1,
.page-header .pane-title h2,
.pane-title h1,
.pane-title h2,
.creature-description h1,
.creature-description h2,
#page-title h1,
#page-title h2 {
  font-weight: 600;
  font-size: 50px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 35, ../../sass/calacademy/components.scss */
  header h1, header h2,
  .page-header h1,
  .page-header h2,
  .page-header .pane-title h1,
  .page-header .pane-title h2,
  .pane-title h1,
  .pane-title h2,
  .creature-description h1,
  .creature-description h2,
  #page-title h1,
  #page-title h2 {
    font-size: 36px;
  }
}
/* line 43, ../../sass/calacademy/components.scss */
header h1 span, header h2 span,
.page-header h1 span,
.page-header h2 span,
.page-header .pane-title h1 span,
.page-header .pane-title h2 span,
.pane-title h1 span,
.pane-title h2 span,
.creature-description h1 span,
.creature-description h2 span,
#page-title h1 span,
#page-title h2 span {
  display: block;
  width: 660px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 43, ../../sass/calacademy/components.scss */
  header h1 span, header h2 span,
  .page-header h1 span,
  .page-header h2 span,
  .page-header .pane-title h1 span,
  .page-header .pane-title h2 span,
  .pane-title h1 span,
  .pane-title h2 span,
  .creature-description h1 span,
  .creature-description h2 span,
  #page-title h1 span,
  #page-title h2 span {
    width: 100%;
  }
}
/* line 54, ../../sass/calacademy/components.scss */
.page-node header h1, .page-node header h2, .page-node
.page-header h1, .page-node
.page-header h2, .page-node
.page-header .pane-title h1, .page-node
.page-header .pane-title h2, .page-node
.pane-title h1, .page-node
.pane-title h2, .page-node
.creature-description h1, .page-node
.creature-description h2, .page-node
#page-title h1, .page-node
#page-title h2 {
  margin: 0 !important;
}
/* line 58, ../../sass/calacademy/components.scss */
.page-node header .subhead,
.page-node header .subhead .field, .page-node
.page-header .subhead,
.page-node
.page-header .subhead .field, .page-node
.page-header .pane-title .subhead,
.page-node
.page-header .pane-title .subhead .field, .page-node
.pane-title .subhead,
.page-node
.pane-title .subhead .field, .page-node
.creature-description .subhead,
.page-node
.creature-description .subhead .field, .page-node
#page-title .subhead,
.page-node
#page-title .subhead .field {
  margin-top: 40px;
  color: #1a1a1a;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 58, ../../sass/calacademy/components.scss */
  .page-node header .subhead,
  .page-node header .subhead .field, .page-node
  .page-header .subhead,
  .page-node
  .page-header .subhead .field, .page-node
  .page-header .pane-title .subhead,
  .page-node
  .page-header .pane-title .subhead .field, .page-node
  .pane-title .subhead,
  .page-node
  .pane-title .subhead .field, .page-node
  .creature-description .subhead,
  .page-node
  .creature-description .subhead .field, .page-node
  #page-title .subhead,
  .page-node
  #page-title .subhead .field {
    font-size: 20px;
  }
}
/* line 73, ../../sass/calacademy/components.scss */
header p,
.page-header p,
.page-header .pane-title p,
.pane-title p,
.creature-description p,
#page-title p {
  margin-top: 14px;
  color: #575757;
  width: 640px;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 73, ../../sass/calacademy/components.scss */
  header p,
  .page-header p,
  .page-header .pane-title p,
  .pane-title p,
  .creature-description p,
  #page-title p {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
  }
}
/* line 88, ../../sass/calacademy/components.scss */
header .views-row p,
.page-header .views-row p,
.page-header .pane-title .views-row p,
.pane-title .views-row p,
.creature-description .views-row p,
#page-title .views-row p {
  font-size: 14px;
  line-height: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 88, ../../sass/calacademy/components.scss */
  header .views-row p,
  .page-header .views-row p,
  .page-header .pane-title .views-row p,
  .pane-title .views-row p,
  .creature-description .views-row p,
  #page-title .views-row p {
    font-size: 18px;
    line-height: 26px;
  }
}

/* line 100, ../../sass/calacademy/components.scss */
.creature-description p {
  font-size: 18px;
  line-height: 26px;
}
/* line 101, ../../sass/calacademy/components.scss */
.creature-description p:last-child {
  margin-top: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 100, ../../sass/calacademy/components.scss */
  .creature-description p {
    font-size: 18px;
    line-height: 26px;
  }
}

/* line 115, ../../sass/calacademy/components.scss */
#header {
  padding-left: 0;
  padding-right: 0;
}

/* line 120, ../../sass/calacademy/components.scss */
#page-title {
  max-width: 960px;
  margin-left: auto !important;
  margin-right: auto !important;
  line-height: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 120, ../../sass/calacademy/components.scss */
  #page-title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 120, ../../sass/calacademy/components.scss */
  #page-title {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 136, ../../sass/calacademy/components.scss */
  #main #page-title {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 136, ../../sass/calacademy/components.scss */
  #main #page-title {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 149, ../../sass/calacademy/components.scss */
.creature-description h2,
.page-header .pane-title,
.pane-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 149, ../../sass/calacademy/components.scss */
  .creature-description h2,
  .page-header .pane-title,
  .pane-title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* line 167, ../../sass/calacademy/components.scss */
.fancy-slideshow #page-title {
  z-index: 1;
  position: relative;
}
/* line 171, ../../sass/calacademy/components.scss */
.fancy-slideshow #page-title span {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  display: inline;
  width: inherit;
  max-width: 660px;
}

/* line 183, ../../sass/calacademy/components.scss */
.section {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}
/* line 184, ../../sass/calacademy/components.scss */
.section, .section p {
  color: #575757;
}
/* line 188, ../../sass/calacademy/components.scss */
.section p:last-child {
  margin-bottom: 0;
}
/* line 197, ../../sass/calacademy/components.scss */
.section.column-fields, .section.image-top, .section.image-top-three-columns, .section.image-top-four-columns, .section.skewed-tri-grid, .section.skewed-four-col, .section.tri-col-highlight, .section.image-top-two-columns {
  padding-right: 0;
}
/* line 208, ../../sass/calacademy/components.scss */
.section:last-child {
  border: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 183, ../../sass/calacademy/components.scss */
  .section {
    padding-right: 0;
    width: 100%;
    overflow: hidden;
  }
}
/* line 218, ../../sass/calacademy/components.scss */
.section h2,
.section .field-name-field-subtitle,
.section .pane-title {
  color: #1a1a1a;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 229, ../../sass/calacademy/components.scss */
  .section .pane-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 32px;
  }
}

/* line 242, ../../sass/calacademy/components.scss */
.field-type-field-collection .field-name-field-subtitle h2 {
  font-weight: 500;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
}

/* line 255, ../../sass/calacademy/components.scss */
.testimonial, .testimonial .views-field,
.view-testimonials-related,
.view-testimonials-related .views-field,
.view-testimonials-related .views-row,
.view-testimonials-related .views-row .views-field {
  font-weight: 300;
  color: #50aade;
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 255, ../../sass/calacademy/components.scss */
  .testimonial, .testimonial .views-field,
  .view-testimonials-related,
  .view-testimonials-related .views-field,
  .view-testimonials-related .views-row,
  .view-testimonials-related .views-row .views-field {
    position: relative;
    top: inherit;
    float: none;
  }
}
/* line 268, ../../sass/calacademy/components.scss */
.testimonial p,
.testimonial .views-field-field-testimonial-summary .field-content,
.view-testimonials-related p,
.view-testimonials-related .views-field-field-testimonial-summary .field-content,
.view-testimonials-related .views-row p,
.view-testimonials-related .views-row .views-field-field-testimonial-summary .field-content {
  margin: 0;
  padding: 0;
}
/* line 273, ../../sass/calacademy/components.scss */
.testimonial p:before,
.testimonial .views-field-field-testimonial-summary .field-content:before,
.view-testimonials-related p:before,
.view-testimonials-related .views-field-field-testimonial-summary .field-content:before,
.view-testimonials-related .views-row p:before,
.view-testimonials-related .views-row .views-field-field-testimonial-summary .field-content:before {
  content: open-quote;
}
/* line 276, ../../sass/calacademy/components.scss */
.testimonial p:after,
.testimonial .views-field-field-testimonial-summary .field-content:after,
.view-testimonials-related p:after,
.view-testimonials-related .views-field-field-testimonial-summary .field-content:after,
.view-testimonials-related .views-row p:after,
.view-testimonials-related .views-row .views-field-field-testimonial-summary .field-content:after {
  content: close-quote;
}
/* line 281, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name,
.view-testimonials-related .views-field-field-reviewer-name,
.view-testimonials-related .views-row .views-field-field-reviewer-name {
  margin-top: 20px;
  padding-left: 50px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default.png");
}
/* line 282, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name .name,
.testimonial .views-field-field-reviewer-name .source,
.view-testimonials-related .views-field-field-reviewer-name .name,
.view-testimonials-related .views-field-field-reviewer-name .source,
.view-testimonials-related .views-row .views-field-field-reviewer-name .name,
.view-testimonials-related .views-row .views-field-field-reviewer-name .source {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}
/* line 291, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name .name,
.view-testimonials-related .views-field-field-reviewer-name .name,
.view-testimonials-related .views-row .views-field-field-reviewer-name .name {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}
/* line 297, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name .source,
.view-testimonials-related .views-field-field-reviewer-name .source,
.view-testimonials-related .views-row .views-field-field-reviewer-name .source {
  color: #575757;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name,
  .view-testimonials-related .views-field-field-reviewer-name,
  .view-testimonials-related .views-row .views-field-field-reviewer-name {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name,
  .view-testimonials-related .views-field-field-reviewer-name,
  .view-testimonials-related .views-row .views-field-field-reviewer-name {
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
}
/* line 310, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name.source-twitter,
.view-testimonials-related .views-field-field-reviewer-name.source-twitter,
.view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
}
/* line 314, ../../sass/calacademy/components.scss */
.testimonial .views-field-field-reviewer-name.source-facebook,
.view-testimonials-related .views-field-field-reviewer-name.source-facebook,
.view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .testimonial .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
  .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
}

/* line 124, ../../sass/calacademy/_mixins.scss */
.item-list .pager {
  word-wrap: break-word;
  margin-top: 40px;
  padding: 0;
  border: none;
  text-align: center;
}
/* line 131, ../../sass/calacademy/_mixins.scss */
.item-list .pager .pager-item {
  text-shadow: none;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #186aa8;
}
/* line 141, ../../sass/calacademy/_mixins.scss */
.item-list .pager .pager-current {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  color: #1a1a1a;
  background-color: #f1f1f1;
}
/* line 151, ../../sass/calacademy/_mixins.scss */
.item-list .pager .pager-item,
.item-list .pager .pager-current {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px !important;
}

/* line 325, ../../sass/calacademy/components.scss */
.item-list .pager .ajax-progress,
.item-list .pager .pager-first,
.item-list .pager .pager-last,
.item-list .pager .pager-ellipsis {
  display: none;
}
/* line 332, ../../sass/calacademy/components.scss */
.item-list .pager .pager-next,
.item-list .pager .pager-previous {
  font-weight: 600;
}

/* line 343, ../../sass/calacademy/components.scss */
.es-categories .views-row > a {
  margin: 0 !important;
  position: absolute;
  z-index: 100;
  display: block;
  top: 10px;
  left: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  background-color: #006aab;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 10px 70px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .es-categories .views-row > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .es-categories .views-row > a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 371, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row {
    display: block;
    width: 100% !important;
    padding: 0 !important;
    margin-right: 0 !important;
  }
  /* line 378, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row .views-field-body {
    display: none;
  }
  /* line 382, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row .views-field-field-hero-region,
  .es-categories .view-content .views-row .views-field-field-image-primary,
  .es-categories .view-content .views-row .views-field-field-primary-image {
    margin-bottom: 12px;
    background-color: #006aab;
  }
  /* line 385, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row .views-field-field-hero-region .field-content,
  .es-categories .view-content .views-row .views-field-field-image-primary .field-content,
  .es-categories .view-content .views-row .views-field-field-primary-image .field-content {
    width: 50%;
    overflow: hidden;
  }
  /* line 394, ../../sass/calacademy/components.scss */
  .csscalc .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc
  .es-categories .view-content .views-row .views-field-field-primary-image {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 19.5px) calc(100% - 12px);
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 144dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .csscalc .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc
  .es-categories .view-content .views-row .views-field-field-primary-image {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .csscalc .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc
  .es-categories .view-content .views-row .views-field-field-primary-image {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 404, ../../sass/calacademy/components.scss */
  .csscalc.lt-ie10 .es-categories .view-content .views-row .views-field-field-hero-region, .csscalc.lt-ie10
  .es-categories .view-content .views-row .views-field-field-image-primary, .csscalc.lt-ie10
  .es-categories .view-content .views-row .views-field-field-primary-image {
    background-image: none !important;
    background-position: 0 0 !important;
  }
  /* line 410, ../../sass/calacademy/components.scss */
  .es-categories .view-content .views-row > a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    width: 50%;
    left: 50%;
    height: 85%;
    background-image: none !important;
    background-color: transparent;
    padding: 12px;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
  }
  /* line 417, ../../sass/calacademy/components.scss */
  .csscalc .es-categories .view-content .views-row > a {
    height: calc(100% - 40px);
  }
  /* line 434, ../../sass/calacademy/components.scss */
  .es-categories > .view > .view-content > .views-row {
    margin-bottom: 30px !important;
  }
}

/* line 441, ../../sass/calacademy/components.scss */
.view-display-id-standard_hero_image_pane {
  position: relative !important;
}
/* line 446, ../../sass/calacademy/components.scss */
.view-display-id-standard_hero_image_pane .views-row .views-field .image-field-caption, .view-display-id-standard_hero_image_pane .views-row .views-field.views-field-caption {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  margin: 0;
  bottom: 0;
  z-index: 2;
}
/* line 91, ../../sass/calacademy/_mixins.scss */
.view-display-id-standard_hero_image_pane .views-row .views-field .image-field-caption, .view-display-id-standard_hero_image_pane .views-row .views-field .image-field-caption *, .view-display-id-standard_hero_image_pane .views-row .views-field.views-field-caption, .view-display-id-standard_hero_image_pane .views-row .views-field.views-field-caption * {
  font-size: 14px !important;
  line-height: 22px !important;
}

/* line 455, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons {
  border-bottom: 2px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 460, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons > .field > .field-items > .field-item {
  margin: 0;
}
/* line 466, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field {
  margin: 0 !important;
  margin-bottom: 20px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  padding-right: 10px !important;
}
/* line 474, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field:last-child, .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-body {
  margin-bottom: 0 !important;
}
/* line 479, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-body {
  float: right;
  width: 66.66667%;
  padding-right: 0 !important;
  padding-left: 10px;
}
/* line 487, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNjEyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed902b), color-stop(100%, #e26125));
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px !important;
  padding-top: 7px !important;
  padding-bottom: 9px !important;
  	/*
  	font-size: 17px;
  
  	@include respond-to(smartphone) {
  		font-size: $smartphoneText;
  	}
  	*/
}
/* line 528, ../../sass/calacademy/_mixins.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item, .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item a {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 528, ../../sass/calacademy/_mixins.scss */
  .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item, .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item a {
    font-size: 18px;
  }
}
/* line 536, ../../sass/calacademy/_mixins.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item a {
  display: block;
  color: #ffffff;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 490, ../../sass/calacademy/components.scss */
.pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link .field-item a {
  margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 497, ../../sass/calacademy/components.scss */
  .pane-node-field-cta-buttons .field-type-field-collection .content .field, .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-body, .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link {
    width: 100%;
    float: none;
    padding-right: 0 !important;
    padding-left: 0;
  }
  /* line 506, ../../sass/calacademy/components.scss */
  .pane-node-field-cta-buttons .field-type-field-collection .content .field.field-name-field-cta-link {
    margin-top: 20px !important;
  }
}

/* line 515, ../../sass/calacademy/components.scss */
.zoom-lens {
  pointer-events: none;
  z-index: 101010101010;
  background-color: #ffffff;
  -moz-box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-transition: -moz-transform 0.3s ease, opacity 0.15s ease;
  -o-transition: -o-transform 0.3s ease, opacity 0.15s ease;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.15s ease;
  transition: transform 0.3s ease, opacity 0.15s ease;
}
/* line 532, ../../sass/calacademy/components.scss */
.zoom-lens.zoom-lens-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 537, ../../sass/calacademy/components.scss */
.zoom-lens.zoom-lens-hide {
  -moz-transition: -moz-transform 0.2s ease, opacity 0.1s ease;
  -o-transition: -o-transform 0.2s ease, opacity 0.1s ease;
  -webkit-transition: -webkit-transform 0.2s ease, opacity 0.1s ease;
  transition: transform 0.2s ease, opacity 0.1s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 548, ../../sass/calacademy/components.scss */
.zoom-wrapper {
  cursor: none;
}
/* line 551, ../../sass/calacademy/components.scss */
.zoom-wrapper, .zoom-wrapper * {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
