/* line 3, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal {
  position: absolute;
  z-index: 9999999999999;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 50%;
  padding: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
}
/* line 18, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 1;
}
/* line 27, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul {
  margin: 0;
  margin-left: 40px;
  padding: 0;
}
/* line 32, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul li {
  float: left;
  width: 23%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 10px;
}
/* line 40, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul li a {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 3px;
}
/* line 48, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul li.selected a {
  background-color: #186aa8;
  color: #ffffff;
  pointer-events: none;
}
