@-moz-keyframes custom-translate-intro {
  from {
    -moz-transform: translate3d(0, 75px, 0);
    transform: translate3d(0, 75px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes custom-translate-intro {
  from {
    -webkit-transform: translate3d(0, 75px, 0);
    transform: translate3d(0, 75px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes custom-translate-intro {
  from {
    -moz-transform: translate3d(0, 75px, 0);
    -ms-transform: translate3d(0, 75px, 0);
    -webkit-transform: translate3d(0, 75px, 0);
    transform: translate3d(0, 75px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes custom-translate-intro-flip {
  from {
    -moz-transform: rotate(180deg) translate3d(0, 75px, 0);
    transform: rotate(180deg) translate3d(0, 75px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: rotate(180deg) translate3d(0, 0, 0);
    transform: rotate(180deg) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes custom-translate-intro-flip {
  from {
    -webkit-transform: rotate(180deg) translate3d(0, 75px, 0);
    transform: rotate(180deg) translate3d(0, 75px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
    transform: rotate(180deg) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes custom-translate-intro-flip {
  from {
    -moz-transform: rotate(180deg) translate3d(0, 75px, 0);
    -ms-transform: rotate(180deg) translate3d(0, 75px, 0);
    -webkit-transform: rotate(180deg) translate3d(0, 75px, 0);
    transform: rotate(180deg) translate3d(0, 75px, 0);
    opacity: 0;
  }
  to {
    -moz-transform: rotate(180deg) translate3d(0, 0, 0);
    -ms-transform: rotate(180deg) translate3d(0, 0, 0);
    -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
    transform: rotate(180deg) translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* line 24, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal {
  -moz-animation: custom-translate-intro 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: custom-translate-intro 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: custom-translate-intro 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 9999999999999;
  top: 0;
  width: 50%;
  left: 25%;
  padding: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
}
/* line 31, ../../sass/calacademy/custom-translate-modal.scss */
.flip .custom-translate-modal {
  -moz-animation: custom-translate-intro-flip 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: custom-translate-intro-flip 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: custom-translate-intro-flip 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform: rotate(180deg) translate3d(0, 0, 0);
  -ms-transform: rotate(180deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
  transform: rotate(180deg) translate3d(0, 0, 0);
}
/* line 48, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal .close {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/sites/all/themes/calacademy_zen/images/close.png");
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .custom-translate-modal .close {
    background-image: url("/sites/all/themes/calacademy_zen/images/close@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .custom-translate-modal .close {
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
  }
}
/* line 64, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 2.3em;
  line-height: 1;
}
/* line 73, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul {
  margin: 0;
  margin-left: 40px;
  padding: 0;
}
/* line 78, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul li {
  float: left;
  width: 23%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 10px;
}
/* line 86, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul li a {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 3px;
}
/* line 94, ../../sass/calacademy/custom-translate-modal.scss */
.custom-translate-modal ul li.selected a {
  background-color: #186aa8;
  color: #ffffff;
  pointer-events: none;
}
