/* line 4, ../../sass/calacademy/faq.scss */
.faq {
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 4, ../../sass/calacademy/faq.scss */
  .faq {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 13, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item {
  margin-bottom: 0;
}
/* line 16, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item .content {
  border-bottom: 1px solid #e6e6e6;
}
/* line 20, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item .content .field {
  padding: 20px;
  padding-top: 16px;
  padding-left: 80px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 20, ../../sass/calacademy/faq.scss */
  .faq > .field > .field-items > .field-item .content .field {
    padding-left: 84px;
  }
}
/* line 30, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item .content .field-name-field-question {
  cursor: hand;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 60px;
  font-weight: 600;
  color: #1a1a1a;
  background-repeat: no-repeat;
  background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-plus.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .faq > .field > .field-items > .field-item .content .field-name-field-question {
    background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-plus@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .faq > .field > .field-items > .field-item .content .field-name-field-question {
    -webkit-background-size: 60px, 60px;
    -moz-background-size: 60px, 60px;
    -o-background-size: 60px, 60px;
    background-size: 60px, 60px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 30, ../../sass/calacademy/faq.scss */
  .faq > .field > .field-items > .field-item .content .field-name-field-question {
    background-position: 12px 0;
    padding-bottom: 18px;
  }
}
/* line 47, ../../sass/calacademy/faq.scss */
.no-touch .faq > .field > .field-items > .field-item .content .field-name-field-question:hover {
  background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-plus-bg.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .no-touch .faq > .field > .field-items > .field-item .content .field-name-field-question:hover {
    background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-plus-bg@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .no-touch .faq > .field > .field-items > .field-item .content .field-name-field-question:hover {
    -webkit-background-size: 60px, 60px;
    -moz-background-size: 60px, 60px;
    -o-background-size: 60px, 60px;
    background-size: 60px, 60px;
  }
}
/* line 51, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item .content .field-name-field-answer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  display: none;
}
/* line 65, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item .content.open .field-name-field-question {
  background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-minus.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .faq > .field > .field-items > .field-item .content.open .field-name-field-question {
    background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-minus@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .faq > .field > .field-items > .field-item .content.open .field-name-field-question {
    -webkit-background-size: 60px, 60px;
    -moz-background-size: 60px, 60px;
    -o-background-size: 60px, 60px;
    background-size: 60px, 60px;
  }
}
/* line 69, ../../sass/calacademy/faq.scss */
.no-touch .faq > .field > .field-items > .field-item .content.open .field-name-field-question:hover {
  background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-minus-bg.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 529, ../../sass/calacademy/_mixins.scss */
  .no-touch .faq > .field > .field-items > .field-item .content.open .field-name-field-question:hover {
    background-image: url("/sites/all/themes/calacademy_zen/images/faq-icon-minus-bg@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 549, ../../sass/calacademy/_mixins.scss */
  .no-touch .faq > .field > .field-items > .field-item .content.open .field-name-field-question:hover {
    -webkit-background-size: 60px, 60px;
    -moz-background-size: 60px, 60px;
    -o-background-size: 60px, 60px;
    background-size: 60px, 60px;
  }
}
/* line 73, ../../sass/calacademy/faq.scss */
.faq > .field > .field-items > .field-item .content.open .field-name-field-answer {
  display: block;
  padding-bottom: 20px;
}
