/* line 4, ../../sass/calacademy/footer.scss */
#footer {
  background-color: #f27134;
  font-size: 12px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 4, ../../sass/calacademy/footer.scss */
  #footer {
    margin-top: 40px;
  }
}
/* line 19, ../../sass/calacademy/footer.scss */
#footer * {
  margin: 0;
  padding: 0;
}
/* line 24, ../../sass/calacademy/footer.scss */
#footer img {
  width: 100%;
}
/* line 28, ../../sass/calacademy/footer.scss */
#footer a {
  color: #ffffff;
}
/* line 32, ../../sass/calacademy/footer.scss */
#footer .footer-banner {
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 0;
  background-color: #f27134;
  background-repeat: no-repeat;
  background-image: url("/sites/all/themes/calacademy_zen/images/footer-roof-dusk.jpg");
  padding-bottom: 49.33333%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 32, ../../sass/calacademy/footer.scss */
  #footer .footer-banner {
    background-image: url("/sites/all/themes/calacademy_zen/images/footer-roof-dusk-tall.jpg");
    padding-bottom: 75.52083%;
  }
}
/* line 46, ../../sass/calacademy/footer.scss */
#footer .footer-banner .footer-head {
  padding-top: 60px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 46, ../../sass/calacademy/footer.scss */
  #footer .footer-banner .footer-head {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 46, ../../sass/calacademy/footer.scss */
  #footer .footer-banner .footer-head {
    padding-top: 20px;
  }
}
/* line 58, ../../sass/calacademy/footer.scss */
#footer .footer-banner .footer-head,
#footer .footer-banner .footer-subhead {
  margin-left: 50%;
  font-size: 350%;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 58, ../../sass/calacademy/footer.scss */
  #footer .footer-banner .footer-head,
  #footer .footer-banner .footer-subhead {
    font-size: 260%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 58, ../../sass/calacademy/footer.scss */
  #footer .footer-banner .footer-head,
  #footer .footer-banner .footer-subhead {
    font-size: 175%;
    margin-left: 20px;
  }
}
/* line 75, ../../sass/calacademy/footer.scss */
#footer .footer-banner .footer-head.visit,
#footer .footer-banner .footer-subhead.visit {
  display: none;
}
/* line 83, ../../sass/calacademy/footer.scss */
.section-about-us #footer .footer-banner .footer-head.about,
.section-about-us #footer .footer-banner .footer-subhead.about {
  display: none;
}
/* line 86, ../../sass/calacademy/footer.scss */
.section-about-us #footer .footer-banner .footer-head.visit,
.section-about-us #footer .footer-banner .footer-subhead.visit {
  display: block;
}
/* line 93, ../../sass/calacademy/footer.scss */
#footer .footer-banner .footer-subhead a {
  color: #186aa8;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-right: 20px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-banner .footer-subhead a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-banner .footer-subhead a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-banner .footer-subhead a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large@2x.png");
  }
}
@media only screen and (min-width: 1001px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-banner .footer-subhead a {
    -moz-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-banner .footer-subhead a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large@2x.png");
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-banner .footer-subhead a {
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 93, ../../sass/calacademy/footer.scss */
  #footer .footer-banner .footer-subhead a {
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 3px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 93, ../../sass/calacademy/footer.scss */
  #footer .footer-banner .footer-subhead a {
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
  }
}
/* line 115, ../../sass/calacademy/footer.scss */
#footer .footer-section {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-width: 920px;
  padding: 20px;
}
/* line 124, ../../sass/calacademy/footer.scss */
#footer .footer-main {
  padding-top: 30px;
}
/* line 127, ../../sass/calacademy/footer.scss */
#footer .footer-main .blurb,
#footer .footer-main .vcard {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-bottom: 40px;
}
/* line 134, ../../sass/calacademy/footer.scss */
#footer .footer-main .blurb {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-mark.png");
  background-repeat: no-repeat;
  background-position: 0 5px;
  width: 77%;
  padding-left: 80px;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .blurb {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-mark@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .blurb {
    -moz-background-size: 60px 60px;
    -o-background-size: 60px 60px;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 134, ../../sass/calacademy/footer.scss */
  #footer .footer-main .blurb {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 150, ../../sass/calacademy/footer.scss */
#footer .footer-main .vcard {
  width: 23%;
  padding-left: 40px;
  text-transform: uppercase;
  text-align: center;
}
/* line 151, ../../sass/calacademy/footer.scss */
#footer .footer-main .vcard a {
  display: block;
  clear: both;
  overflow: hidden;
}
/* line 163, ../../sass/calacademy/footer.scss */
#footer .footer-main .vcard .org,
#footer .footer-main .vcard .email,
#footer .footer-main .vcard .country-name {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 171, ../../sass/calacademy/footer.scss */
  #footer .footer-main .blurb {
    width: 73%;
  }
  /* line 174, ../../sass/calacademy/footer.scss */
  #footer .footer-main .vcard {
    width: 27%;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 183, ../../sass/calacademy/footer.scss */
  #footer .footer-main .blurb,
  #footer .footer-main .vcard {
    float: none;
    width: 100%;
    padding: 0;
  }
  /* line 190, ../../sass/calacademy/footer.scss */
  #footer .footer-main .blurb {
    padding-top: 100px;
    padding-bottom: 20px;
  }
  /* line 195, ../../sass/calacademy/footer.scss */
  #footer .footer-main .vcard {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #d8560f;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* line 205, ../../sass/calacademy/footer.scss */
#footer .footer-main hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #d8560f;
  clear: both;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 205, ../../sass/calacademy/footer.scss */
  #footer .footer-main hr {
    display: none;
  }
}
/* line 216, ../../sass/calacademy/footer.scss */
#footer .footer-main ul {
  list-style-type: none;
}
/* line 219, ../../sass/calacademy/footer.scss */
#footer .footer-main ul li {
  float: left;
  padding-left: 20px;
}
/* line 225, ../../sass/calacademy/footer.scss */
#footer .footer-main ul.links li {
  background-image: url("/sites/all/themes/calacademy_zen/images/bullet-white.png");
  background-repeat: no-repeat;
  background-position: 7px 8px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main ul.links li {
    background-image: url("/sites/all/themes/calacademy_zen/images/bullet-white@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main ul.links li {
    -moz-background-size: 5px 5px;
    -o-background-size: 5px 5px;
    -webkit-background-size: 5px 5px;
    background-size: 5px 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 225, ../../sass/calacademy/footer.scss */
  #footer .footer-main ul.links li {
    float: none;
    padding-left: 0;
    background-image: none;
    font-size: 18px;
    margin-bottom: 10px;
  }
  /* line 237, ../../sass/calacademy/footer.scss */
  #footer .footer-main ul.links li:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 224, ../../sass/calacademy/footer.scss */
  #footer .footer-main ul.links {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #d8560f;
  }
}
/* line 252, ../../sass/calacademy/footer.scss */
#footer .footer-main .social {
  float: right;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 252, ../../sass/calacademy/footer.scss */
  #footer .footer-main .social {
    float: none;
  }
}
/* line 777, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 777, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social a {
    width: 35px;
    height: 35px;
  }
}
/* line 790, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social .facebook a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .facebook a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .facebook a {
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .facebook a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook-large@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .facebook a {
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
}
/* line 795, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social .google a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/google.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/google-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .google a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/google@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .google a {
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .google a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/google-large@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .google a {
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
}
/* line 800, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social .instagram a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .instagram a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .instagram a {
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .instagram a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram-large@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .instagram a {
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
}
/* line 805, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social .twitter a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .twitter a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .twitter a {
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .twitter a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter-large@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .twitter a {
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
}
/* line 810, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social .flickr a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .flickr a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .flickr a {
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .flickr a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr-large@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .flickr a {
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
}
/* line 815, ../../sass/calacademy/_mixins.scss */
#footer .footer-main .social .youtube a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .youtube a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .youtube a {
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .youtube a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube-large@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .footer-main .social .youtube a {
    -moz-background-size: 35px 35px;
    -o-background-size: 35px 35px;
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px;
  }
}
/* line 261, ../../sass/calacademy/footer.scss */
#footer .footer-main .social li {
  padding-left: 10px;
}
/* line 267, ../../sass/calacademy/footer.scss */
#footer .footer-main ul li:first-child {
  padding-left: 0;
  background-image: none;
}
/* line 274, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper {
  background-color: #666361;
}
/* line 277, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print {
  color: #b1b3b6;
}
/* line 281, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print .copyright {
  float: left;
  line-height: 18px;
}
/* line 286, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print .google-translate {
  float: right;
}
/* line 289, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print .google-translate a {
  display: none;
}
/* line 293, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print .google-translate *, #footer .small-print-wrapper .small-print .google-translate {
  color: #666361;
  font-size: 0;
}
/* line 298, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print .google-translate select {
  cursor: hand;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  	                /*
  						@note
  						this doesn't work in webkit browsers
  						https://code.google.com/p/chromium/issues/detail?id=31349
  
  						text-transform: uppercase;
  					*/
  width: 135px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
}
/* line 299, ../../sass/calacademy/footer.scss */
#footer .small-print-wrapper .small-print .google-translate select *, #footer .small-print-wrapper .small-print .google-translate select *:focus, #footer .small-print-wrapper .small-print .google-translate select, #footer .small-print-wrapper .small-print .google-translate select:focus {
  color: #ffffff;
  background-color: #858281;
  font-size: 11px;
  outline: none;
}
/* line 592, ../../sass/calacademy/_mixins.scss */
#footer .small-print-wrapper .small-print .google-translate select *::-moz-focus-inner, #footer .small-print-wrapper .small-print .google-translate select *:focus::-moz-focus-inner, #footer .small-print-wrapper .small-print .google-translate select::-moz-focus-inner, #footer .small-print-wrapper .small-print .google-translate select:focus::-moz-focus-inner {
  border: 0;
}
/* line 596, ../../sass/calacademy/_mixins.scss */
#footer .small-print-wrapper .small-print .google-translate select *:-moz-focusring, #footer .small-print-wrapper .small-print .google-translate select *:focus:-moz-focusring, #footer .small-print-wrapper .small-print .google-translate select:-moz-focusring, #footer .small-print-wrapper .small-print .google-translate select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* line 360, ../../sass/calacademy/_mixins.scss */
#footer .small-print-wrapper .small-print .google-translate select::-ms-expand {
  display: none;
}
/* line 592, ../../sass/calacademy/_mixins.scss */
#footer .small-print-wrapper .small-print .google-translate select::-moz-focus-inner {
  border: 0;
}
/* line 596, ../../sass/calacademy/_mixins.scss */
#footer .small-print-wrapper .small-print .google-translate select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 742, ../../sass/calacademy/_mixins.scss */
  #footer .small-print-wrapper .small-print .google-translate select {
    background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 762, ../../sass/calacademy/_mixins.scss */
  #footer .small-print-wrapper .small-print .google-translate select {
    -moz-background-size: 10px 8px;
    -o-background-size: 10px 8px;
    -webkit-background-size: 10px 8px;
    background-size: 10px 8px;
  }
}
/* line 316, ../../sass/calacademy/footer.scss */
.lt-ie10 #footer .small-print-wrapper .small-print .google-translate select {
  background-image: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 337, ../../sass/calacademy/footer.scss */
  #footer .small-print-wrapper .small-print .copyright,
  #footer .small-print-wrapper .small-print .google-translate {
    float: none;
  }
  /* line 342, ../../sass/calacademy/footer.scss */
  #footer .small-print-wrapper .small-print .copyright {
    margin-bottom: 20px;
  }
  /* line 346, ../../sass/calacademy/footer.scss */
  #footer .small-print-wrapper .small-print .google-translate {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* line 350, ../../sass/calacademy/footer.scss */
  #footer .small-print-wrapper .small-print .google-translate, #footer .small-print-wrapper .small-print .google-translate select {
    width: 175px;
  }
  /* line 353, ../../sass/calacademy/footer.scss */
  #footer .small-print-wrapper .small-print .google-translate, #footer .small-print-wrapper .small-print .google-translate *, #footer .small-print-wrapper .small-print .google-translate select, #footer .small-print-wrapper .small-print .google-translate select * {
    font-size: 100%;
  }
  /* line 358, ../../sass/calacademy/footer.scss */
  #footer .small-print-wrapper .small-print .google-translate select {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 15px;
  }
}

/* line 369, ../../sass/calacademy/footer.scss */
#goog-gt-tt {
  display: none;
}
