/* line 5, ../../sass/calacademy/global.scss */
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: white;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 22px;
}
/* line 7, ../../sass/calacademy/global.scss */
.js body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 11, ../../sass/calacademy/global.scss */
.js.wf-active body, .debug body, body.imce {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  filter: none !important;
}
/* line 21, ../../sass/calacademy/global.scss */
body.not-logged-in .messages--error {
  display: none;
}
/* line 28, ../../sass/calacademy/global.scss */
body #skip-link {
  height: 0;
  overflow: hidden;
}
/* line 33, ../../sass/calacademy/global.scss */
body .unsupported-msg {
  padding: 10px;
  color: #f27134;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
/* line 38, ../../sass/calacademy/global.scss */
body .unsupported-msg p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 33, ../../sass/calacademy/global.scss */
  body .unsupported-msg {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 56, ../../sass/calacademy/global.scss */
.call-center-closed body .call-center-link {
  display: none;
}
/* line 61, ../../sass/calacademy/global.scss */
body, body input {
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
}
/* line 65, ../../sass/calacademy/global.scss */
body .link-block {
  display: block;
}
/* line 69, ../../sass/calacademy/global.scss */
body .monospace {
  font-family: monospace !important;
}
/* line 73, ../../sass/calacademy/global.scss */
body .font-load-test {
  font-family: 'Whitney A', 'Whitney B', monospace;
  font-size: 250px;
  position: absolute;
  visibility: hidden;
  top: -9999px;
  left: -9999px;
  display: inline;
  top: 100px;
}
/* line 94, ../../sass/calacademy/global.scss */
body *, body *:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 5, ../../sass/calacademy/global.scss */
  body {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 107, ../../sass/calacademy/global.scss */
body p, body ul, body ol {
  margin: 0;
  margin-bottom: 20px;
}
/* line 111, ../../sass/calacademy/global.scss */
body p:last-child, body ul:last-child, body ol:last-child {
  margin-bottom: 0;
}
/* line 116, ../../sass/calacademy/global.scss */
body ul, body ol {
  padding-left: 20px;
  overflow: hidden;
  zoom: 1;
}
/* line 123, ../../sass/calacademy/global.scss */
body img {
  color: rgba(255, 255, 255, 0);
}
/* line 128, ../../sass/calacademy/global.scss */
body #admin-menu-wrapper ul, body #admin-menu-wrapper ol {
  overflow: visible;
}
/* line 133, ../../sass/calacademy/global.scss */
body .field {
  color: #575757;
}
/* line 137, ../../sass/calacademy/global.scss */
body a {
  color: #186aa8;
  text-decoration: none;
}
/* line 141, ../../sass/calacademy/global.scss */
body a.lozenge {
  display: block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #f27134;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-size: 120%;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 94% center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  body a.lozenge {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  body a.lozenge {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 157, ../../sass/calacademy/global.scss */
.no-touch body a:hover, .touch body a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 163, ../../sass/calacademy/global.scss */
.no-touch.lt-ie9 body a:hover, .touch.lt-ie9 body a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 167, ../../sass/calacademy/global.scss */
.no-touch.lt-ie9 body a:hover img, .touch.lt-ie9 body a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 172, ../../sass/calacademy/global.scss */
body strong {
  font-weight: 600;
}
/* line 176, ../../sass/calacademy/global.scss */
body #page,
body .region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
/* line 183, ../../sass/calacademy/global.scss */
body #header {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 183, ../../sass/calacademy/global.scss */
  body #header {
    padding-top: 48px;
  }
}
/* line 191, ../../sass/calacademy/global.scss */
body #main {
  z-index: 1;
  position: static;
  min-height: 150px;
}
/* line 197, ../../sass/calacademy/global.scss */
body #content {
  word-wrap: normal;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 960px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 197, ../../sass/calacademy/global.scss */
  body #content {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 197, ../../sass/calacademy/global.scss */
  body #content {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 221, ../../sass/calacademy/global.scss */
body .subhead {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 221, ../../sass/calacademy/global.scss */
  body .subhead {
    font-size: 28px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 221, ../../sass/calacademy/global.scss */
  body .subhead {
    margin-bottom: 12px;
  }
}
/* line 225, ../../sass/calacademy/global.scss */
body iframe.imce-frame {
  min-height: 1200px !important;
}
/* line 231, ../../sass/calacademy/global.scss */
body.imce #op-content-upload .form-item-thumbnails {
  display: none;
}
/* line 237, ../../sass/calacademy/global.scss */
body .link-feed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 600;
  background-image: url("/sites/all/themes/calacademy_zen/images/rss-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  body .link-feed {
    background-image: url("/sites/all/themes/calacademy_zen/images/rss-icon@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  body .link-feed {
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 237, ../../sass/calacademy/global.scss */
  body .link-feed {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 257, ../../sass/calacademy/global.scss */
body .contextual-links-region {
  position: static;
}

/* line 433, ../../sass/calacademy/_mixins.scss */
::-moz-selection {
  background: rgba(253, 185, 36, 0.25);
}

/* line 434, ../../sass/calacademy/_mixins.scss */
::selection {
  background: rgba(253, 185, 36, 0.25);
}

/* line 267, ../../sass/calacademy/global.scss */
.not-logged-in .tabs,
.not-logged-in .element-invisible {
  display: none;
}
