/* line 5, ../../sass/calacademy/global.scss */
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: white;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 22px;
}
/* line 7, ../../sass/calacademy/global.scss */
.js body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 12, ../../sass/calacademy/global.scss */
.js.wf-active body, body.imce {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  filter: none !important;
}
/* line 20, ../../sass/calacademy/global.scss */
body.not-logged-in .messages--error {
  display: none;
}
/* line 27, ../../sass/calacademy/global.scss */
body #skip-link {
  height: 0;
  overflow: hidden;
}
/* line 34, ../../sass/calacademy/global.scss */
.call-center-closed body .call-center-link {
  display: none;
}
/* line 39, ../../sass/calacademy/global.scss */
body, body input {
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
}
/* line 43, ../../sass/calacademy/global.scss */
body .link-block {
  display: block;
}
/* line 47, ../../sass/calacademy/global.scss */
body .monospace {
  font-family: monospace !important;
}
/* line 51, ../../sass/calacademy/global.scss */
body .font-load-test {
  font-family: 'Whitney A', 'Whitney B', monospace;
  font-size: 250px;
  position: absolute;
  visibility: hidden;
  top: -9999px;
  left: -9999px;
  display: inline;
  top: 100px;
}
/* line 75, ../../sass/calacademy/global.scss */
body *, body *:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 5, ../../sass/calacademy/global.scss */
  body {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 85, ../../sass/calacademy/global.scss */
body p, body ul, body ol {
  margin: 0;
  margin-bottom: 20px;
}
/* line 89, ../../sass/calacademy/global.scss */
body p:last-child, body ul:last-child, body ol:last-child {
  margin-bottom: 0;
}
/* line 94, ../../sass/calacademy/global.scss */
body .field {
  color: #575757;
}
/* line 98, ../../sass/calacademy/global.scss */
body a {
  color: #186aa8;
  text-decoration: none;
}
/* line 102, ../../sass/calacademy/global.scss */
body a.lozenge {
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #f27134;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-size: 120%;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 94% center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  body a.lozenge {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  body a.lozenge {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 119, ../../sass/calacademy/global.scss */
.no-touch body a:hover, .touch body a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 125, ../../sass/calacademy/global.scss */
.no-touch.lt-ie9 body a:hover, .touch.lt-ie9 body a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 128, ../../sass/calacademy/global.scss */
.no-touch.lt-ie9 body a:hover img, .touch.lt-ie9 body a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 133, ../../sass/calacademy/global.scss */
body strong {
  font-weight: 600;
}
/* line 138, ../../sass/calacademy/global.scss */
body #page,
body .region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
/* line 144, ../../sass/calacademy/global.scss */
body #header {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 144, ../../sass/calacademy/global.scss */
  body #header {
    padding-top: 48px;
  }
}
/* line 152, ../../sass/calacademy/global.scss */
body #main {
  z-index: 1;
  position: static;
  min-height: 150px;
}
/* line 158, ../../sass/calacademy/global.scss */
body #content {
  word-wrap: normal;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 960px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 158, ../../sass/calacademy/global.scss */
  body #content {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 158, ../../sass/calacademy/global.scss */
  body #content {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 182, ../../sass/calacademy/global.scss */
body .subhead {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 182, ../../sass/calacademy/global.scss */
  body .subhead {
    font-size: 28px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 182, ../../sass/calacademy/global.scss */
  body .subhead {
    margin-bottom: 12px;
  }
}
/* line 186, ../../sass/calacademy/global.scss */
body iframe.imce-frame {
  min-height: 1200px !important;
}
/* line 192, ../../sass/calacademy/global.scss */
body.imce #op-content-upload .form-item-thumbnails {
  display: none;
}
/* line 198, ../../sass/calacademy/global.scss */
body .link-feed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 600;
  background-image: url("/sites/all/themes/calacademy_zen/images/rss-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  body .link-feed {
    background-image: url("/sites/all/themes/calacademy_zen/images/rss-icon@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  body .link-feed {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 198, ../../sass/calacademy/global.scss */
  body .link-feed {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 218, ../../sass/calacademy/global.scss */
body .contextual-links-region {
  position: static;
}

/* line 306, ../../sass/calacademy/_mixins.scss */
::-moz-selection {
  background: rgba(253, 185, 36, 0.25);
}

/* line 307, ../../sass/calacademy/_mixins.scss */
::selection {
  background: rgba(253, 185, 36, 0.25);
}

/* line 229, ../../sass/calacademy/global.scss */
.not-logged-in .tabs,
.not-logged-in .element-invisible {
  display: none;
}
