/* line 6, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish {
    position: relative;
  }
}
/* line 15, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 15, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container {
    margin: 0;
    max-width: inherit;
    overflow: inherit;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* line 32, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-subcontainer {
  display: inline-block;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 20px;
  height: 100px;
  margin-left: 170px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 32, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-subcontainer {
    margin-left: 182px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 32, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-subcontainer {
    display: block;
    border-top: 0;
    padding: 0;
    height: auto;
    margin-left: 0;
  }
}
/* line 57, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container header,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .links {
  display: none;
}
/* line 61, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
  width: 200px;
  clear: both;
  overflow: hidden;
  font-size: 21px;
  line-height: 23px;
}
/* line 68, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date div {
  top: 0;
  width: 120px;
  float: left;
  margin-top: -2px;
}
/* line 75, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date .day {
  margin-top: -5px;
  line-height: 1em;
  width: 75px;
  float: right;
  font-weight: 600;
  font-size: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 61, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 61, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
    width: 50%;
  }
  /* line 89, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date, nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 95, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date div {
    width: 100px;
    font-size: 18px;
    line-height: 1em;
  }
  /* line 101, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date .day {
    width: 40px;
    font-size: 42px;
    float: left;
  }
}
/* line 109, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
}
/* line 116, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours h3 {
  margin: 0;
  padding: 0;
  margin-top: -1px;
  margin-bottom: -3px;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}
/* line 126, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours h3 a {
  font-size: inherit;
  color: #1a1a1a;
  text-decoration: underline;
}
/* line 137, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty {
  float: left;
  margin-top: -5px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 137, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty {
    margin-top: 0;
  }
}
/* line 149, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
  float: left;
}
/* line 153, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 370px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 20px;
}
/* line 160, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body a {
  font-size: inherit;
  text-decoration: underline;
}
/* line 166, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
  width: 175px;
}
/* line 169, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed902b), color-stop(100%, #e26125));
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -o-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 17px;
  padding-top: 15px;
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 169, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item {
    padding: 12px !important;
  }
}
/* line 199, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  display: block;
  color: white;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 420, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 440, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 175, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  font-size: 18px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 166, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
    width: 100%;
    margin-top: 20px;
  }
  /* line 184, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item {
    padding: 20px !important;
    padding-top: 15px !important;
    margin-top: 0;
  }
  /* line 189, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 197, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body {
    width: 70%;
  }
  /* line 201, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
    width: 30%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 147, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty {
    float: none;
  }
}
/* line 217, ../../sass/calacademy/menu-garnish.scss */
.page-homepage nav #nav-wrapper #main-nav .block-menu-garnish {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: height 500ms;
  -moz-transition: height 500ms;
  -o-transition: height 500ms;
  transition: height 500ms;
  height: 75px;
}
/* line 221, ../../sass/calacademy/menu-garnish.scss */
.page-homepage nav #nav-wrapper #main-nav .block-menu-garnish.clone {
  display: none;
}
/* line 230, ../../sass/calacademy/menu-garnish.scss */
.nav-stuck .page-homepage nav #nav-wrapper #main-nav .block-menu-garnish {
  height: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 217, ../../sass/calacademy/menu-garnish.scss */
  .page-homepage nav #nav-wrapper #main-nav .block-menu-garnish {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 238, ../../sass/calacademy/menu-garnish.scss */
  .page-homepage nav #nav-wrapper #main-nav .block-menu-garnish, .nav-stuck .page-homepage nav #nav-wrapper #main-nav .block-menu-garnish {
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish {
    display: none !important;
  }
  /* line 248, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone {
    display: block !important;
  }
  /* line 252, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone .menu-garnish-container .menu-garnish-hours {
    display: block;
  }
  /* line 256, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone .menu-garnish-container .field {
    display: none;
  }
  /* line 261, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone .menu-garnish-container .field.field-name-field-link {
    display: block;
  }
}
