/* line 6, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish {
    position: relative;
  }
}
/* line 15, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 15, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container {
    margin: 0;
    max-width: inherit;
    overflow: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 30, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
    padding-left: 12px;
  }
  /* line 34, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours {
    padding-right: 12px;
  }
  /* line 38, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .field-name-field-link {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 45, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-subcontainer {
  display: inline-block;
  border-top: 1px solid #dd6839;
  padding: 20px;
  height: 100px;
  margin-left: 170px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 45, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-subcontainer {
    margin-left: 182px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 45, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-subcontainer {
    display: block;
    border-top: 0;
    padding: 0;
    height: auto;
    margin-left: 0;
  }
}
/* line 68, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container header,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .links {
  display: none;
}
/* line 74, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
  width: 200px;
  clear: both;
  overflow: hidden;
  font-size: 18px;
  line-height: 20px;
}
/* line 81, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date div {
  top: 0;
  width: 120px;
  float: left;
  margin-top: -2px;
}
/* line 88, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date .day {
  margin-top: -5px;
  line-height: 1em;
  width: 75px;
  float: right;
  font-weight: 500;
  font-size: 47px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 74, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 74, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date {
    width: 50%;
  }
  /* line 102, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date, nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 108, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date div {
    width: 100px;
    font-size: 18px;
    line-height: 1em;
  }
  /* line 114, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date .day {
    width: 40px;
    font-size: 42px;
    float: left;
  }
}
/* line 122, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
}
/* line 129, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours h3 {
  margin: 0;
  padding: 0;
  margin-top: -1px;
  margin-bottom: -3px;
  color: #1a1a1a;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}
/* line 139, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours h3 a {
  font-size: inherit;
  color: #1a1a1a;
  text-decoration: underline;
}
/* line 147, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty {
  float: left;
  margin-top: -5px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 147, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-current-date,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .menu-garnish-hours,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty {
    margin-top: 0;
  }
}
/* line 161, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
  float: left;
}
/* line 166, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 370px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 20px;
}
/* line 173, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body a {
  font-size: inherit;
  text-decoration: underline;
}
/* line 179, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
  width: 175px;
}
/* line 182, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNjEyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed902b), color-stop(100%, #e26125));
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px !important;
  padding-top: 7px !important;
  padding-bottom: 9px !important;
  	/*
  	font-size: 17px;
  
  	@include respond-to(smartphone) {
  		font-size: $smartphoneText;
  	}
  	*/
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 12px;
}
/* line 523, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item, nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 523, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item, nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    font-size: 18px;
  }
}
/* line 531, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  display: block;
  color: #ffffff;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 798, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 818, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 184, ../../sass/calacademy/menu-garnish.scss */
.ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item, .ab-exp-alt-btn
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNGUwMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwNGUwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e04e01), color-stop(100%, #e04e01));
  background-image: -moz-linear-gradient(#e04e01, #e04e01);
  background-image: -webkit-linear-gradient(#e04e01, #e04e01);
  background-image: linear-gradient(#e04e01, #e04e01);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e04e01', endColorstr='#e04e01', GradientType=0);
  background-position: 0 0;
  box-shadow: none !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dd6839;
  padding: 12px !important;
  padding-top: 7px !important;
  padding-bottom: 9px !important;
}
/* line 551, ../../sass/calacademy/_mixins.scss */
.ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item, .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a, .ab-exp-alt-btn
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item, .ab-exp-alt-btn
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  font-size: 18px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 551, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item, .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    font-size: 20px;
    padding: 12px !important;
    padding-top: 8px !important;
    padding-bottom: 10px !important;
    padding-right: 20px !important;
    padding-left: 10px !important;
  }
}
/* line 563, ../../sass/calacademy/_mixins.scss */
.ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a, .ab-exp-alt-btn
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  display: block;
  color: #ffffff;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 798, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 818, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 571, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item:hover, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
    background-image: -moz-linear-gradient(#ffffff, #ffffff);
    background-image: -webkit-linear-gradient(#ffffff, #ffffff);
    background-image: linear-gradient(#ffffff, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
  }
  /* line 572, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item:hover a, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item:hover a {
    color: #f27134;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 1px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
    padding-right: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@media only screen and (min-width: 1001px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1001px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 1001px) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 1001px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 1001px) and (min-resolution: 144dpi), only screen and (min-width: 1001px) and (min-resolution: 1.5dppx) {
  /* line 798, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item:hover a, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item:hover a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 1001px) and (min-width: 0) {
  /* line 818, ../../sass/calacademy/_mixins.scss */
  .ab-exp-alt-btn nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item:hover a, .ab-exp-alt-btn
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item:hover a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}

/* line 191, ../../sass/calacademy/menu-garnish.scss */
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
  font-size: 18px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 179, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
    width: 100%;
    margin-top: 20px;
  }
  /* line 200, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item {
    padding: 20px !important;
    padding-top: 15px !important;
    margin-top: 0;
  }
  /* line 205, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link .field-item a,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link .field-item a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 213, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-body,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-body {
    width: 70%;
  }
  /* line 217, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content .field-name-field-link,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty .field-name-field-link {
    width: 30%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 159, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-content,
  nav #nav-wrapper #main-nav .block-menu-garnish .menu-garnish-container .view-empty {
    float: none;
  }
}
/* line 233, ../../sass/calacademy/menu-garnish.scss */
.page-homepage nav #nav-wrapper #main-nav .block-menu-garnish {
  display: block;
}
/* line 237, ../../sass/calacademy/menu-garnish.scss */
.page-homepage nav #nav-wrapper #main-nav .block-menu-garnish.clone {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish {
    display: none !important;
  }
  /* line 246, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone {
    display: block !important;
  }
  /* line 250, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone .menu-garnish-container .menu-garnish-hours {
    display: block;
  }
  /* line 254, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone .menu-garnish-container .field {
    display: none;
  }
  /* line 259, ../../sass/calacademy/menu-garnish.scss */
  nav #nav-wrapper #main-nav .block-menu-garnish.clone .menu-garnish-container .field.field-name-field-link {
    display: block;
  }
}

/* line 274, ../../sass/calacademy/menu-garnish.scss */
.page-homepage nav .block-menu-garnish {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transition: height 500ms;
  -o-transition: height 500ms;
  -webkit-transition: height 500ms;
  transition: height 500ms;
  height: 75px;
}
/* line 281, ../../sass/calacademy/menu-garnish.scss */
.page-homepage nav.scroll-to-fixed-fixed .block-menu-garnish {
  height: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 287, ../../sass/calacademy/menu-garnish.scss */
  .page-homepage nav .block-menu-garnish {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    height: auto !important;
  }
}
