/* line 3, ../../sass/calacademy/nav.scss */
.clear-floats, #top-level-nav-wrapper, #top-level-nav-wrapper #top-level-nav, #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul {
  width: 100%;
  overflow: hidden;
}

/* line 8, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper,
nav {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media print {
  /* line 8, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper,
  nav {
    display: none;
  }
}

/* line 20, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper {
  position: relative;
  z-index: 998;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #404040;
}
/* line 23, ../../sass/calacademy/nav.scss */
.csspositionsticky .page-homepage #top-level-nav-wrapper {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
/* line 27, ../../sass/calacademy/nav.scss */
.csspositionsticky.fixfixed .page-homepage #top-level-nav-wrapper {
  position: absolute;
}
/* line 39, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 39, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav {
    max-width: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
  }
  /* line 52, ../../sass/calacademy/nav.scss */
  .search-open #top-level-nav-wrapper #top-level-nav #block-menu-menu-top-level,
  .search-open #top-level-nav-wrapper #top-level-nav #block-menu-menu-menu-top-level {
    display: none;
  }
}
/* line 61, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header * {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 68, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
  float: right;
}
/* line 76, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .pad-me, #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li a, #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 0;
}
/* line 83, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level {
  font-size: 14px;
  line-height: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 83, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level {
    font-size: 14px;
    line-height: 14px;
  }
}
/* line 98, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li {
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 102, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li a {
  display: block;
  height: 36px;
  color: #ffffff;
}
/* line 110, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li:last-child,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li:last-child,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li:last-child,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 116, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
  float: left;
  padding-left: 3px;
  font-size: 16px;
}
/* line 122, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles, #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li {
  display: none;
}
/* line 127, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li,
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li:last-child {
  border: 0;
}
/* line 131, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li a,
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li:last-child a {
  padding-left: 0;
  padding-right: 0;
}
/* line 139, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
  padding-left: 0;
  padding-right: 0;
}
/* line 144, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form label,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form label {
  display: none;
}
/* line 148, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form *,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form * {
  float: left;
}
/* line 152, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  padding-top: 7px;
  padding-right: 0;
}
/* line 157, ../../sass/calacademy/nav.scss */
.js #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield, .js
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  display: none;
}
/* line 161, ../../sass/calacademy/nav.scss */
.js.search-open #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield, .js.search-open
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  display: block;
}
/* line 165, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield input,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #404040;
  border: 0;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  width: 116px;
}
/* line 179, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-submit,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-submit {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;
  width: 39px;
  height: 36px;
  background-image: url("/sites/all/themes/calacademy_zen/images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 12px 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-submit,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-submit {
    background-image: url("/sites/all/themes/calacademy_zen/images/magnifying-glass@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-submit,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-submit {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 195, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header {
    display: block;
    float: none;
  }
  /* line 196, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
    display: none !important;
  }
  /* line 203, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level {
    float: left;
  }
  /* line 209, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li:first-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li:first-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li:first-child {
    border-left: 0;
  }
  /* line 212, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li:last-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li:last-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li:last-child {
    border-right: 0;
  }
  /* line 218, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
    float: right;
  }
  /* line 223, ../../sass/calacademy/nav.scss */
  .js #top-level-nav-wrapper #top-level-nav .region-header #block-search-form, .js
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
    padding-bottom: 0;
  }
  /* line 227, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form, .js.search-open #top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form, .js.search-open
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
    padding-bottom: 90px;
  }
  /* line 232, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form *,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form * {
    display: block;
    float: none;
  }
  /* line 237, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-actions,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-actions {
    float: right;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 241, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-actions .form-submit,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-actions .form-submit {
    width: 51px;
    background-position: 18px 10px;
  }
  /* line 247, ../../sass/calacademy/nav.scss */
  .search-open #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-actions .form-submit, .search-open
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-actions .form-submit {
    background-color: rgba(255, 255, 255, 0.05);
  }
  /* line 255, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
    padding-right: 12px;
  }
  /* line 265, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield input,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield input {
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}

/* line 277, ../../sass/calacademy/nav.scss */
nav {
  z-index: 999;
}
/* line 295, ../../sass/calacademy/nav.scss */
.csspositionsticky nav {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
/* line 299, ../../sass/calacademy/nav.scss */
.csspositionsticky.fixfixed nav {
  position: absolute;
}
/* line 305, ../../sass/calacademy/nav.scss */
nav #nav-wrapper {
  /*
  &:after {
  	position: relative;
  	content: "";
  	height: 0;
  	margin-top: -($padding * 2) + 3px;
  	border-top: 1px solid rgba(255, 255, 255, 0.05);
  	display: block;
  	z-index: 9999999;
  }
  */
  border-bottom: 1px solid #dd6839;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 310, ../../sass/calacademy/nav.scss */
nav #nav-wrapper .block,
nav #nav-wrapper .tb-block,
nav #nav-wrapper .views-field,
nav #nav-wrapper .mega-inner {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 305, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper {
    height: 56px;
  }
}
/* line 341, ../../sass/calacademy/nav.scss */
nav #nav-wrapper, nav #nav-wrapper * {
  color: #ffffff;
  background-color: #f27134;
  background-image: none;
  filter: none;
}
/* line 349, ../../sass/calacademy/nav.scss */
nav #nav-wrapper .block-shortcut {
  display: none;
}
/* line 353, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 353, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav {
    max-width: inherit;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 364, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav, nav #nav-wrapper #main-nav a {
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 364, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav, nav #nav-wrapper #main-nav a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 364, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav, nav #nav-wrapper #main-nav a {
    font-size: 18px;
  }
}
/* line 384, ../../sass/calacademy/nav.scss */
.wf-active nav #nav-wrapper #main-nav, .wf-active nav #nav-wrapper #main-nav a {
  font-size: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 384, ../../sass/calacademy/nav.scss */
  .wf-active nav #nav-wrapper #main-nav, .wf-active nav #nav-wrapper #main-nav a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 384, ../../sass/calacademy/nav.scss */
  .wf-active nav #nav-wrapper #main-nav, .wf-active nav #nav-wrapper #main-nav a {
    font-size: 20px;
  }
}
/* line 396, ../../sass/calacademy/nav.scss */
.wf-active.wf-error nav #nav-wrapper #main-nav, .wf-active.wf-error nav #nav-wrapper #main-nav a {
  font-size: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 396, ../../sass/calacademy/nav.scss */
  .wf-active.wf-error nav #nav-wrapper #main-nav, .wf-active.wf-error nav #nav-wrapper #main-nav a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 396, ../../sass/calacademy/nav.scss */
  .wf-active.wf-error nav #nav-wrapper #main-nav, .wf-active.wf-error nav #nav-wrapper #main-nav a {
    font-size: 18px;
  }
}
/* line 404, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav > a,
nav #nav-wrapper #main-nav #block-block-2 a,
nav #nav-wrapper #main-nav #block-block-3 a {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 404, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav > a,
  nav #nav-wrapper #main-nav #block-block-2 a,
  nav #nav-wrapper #main-nav #block-block-3 a {
    display: block;
    width: 117px;
    height: 60px;
    position: absolute;
    z-index: 2;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    display: block;
    line-height: 0;
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz-small.png");
    background-repeat: no-repeat;
    background-position: 12px 11px;
  }
  /* line 423, ../../sass/calacademy/nav.scss */
  .no-touch nav #nav-wrapper #main-nav > a:hover, .touch nav #nav-wrapper #main-nav > a:active, .no-touch
  nav #nav-wrapper #main-nav #block-block-2 a:hover, .touch
  nav #nav-wrapper #main-nav #block-block-2 a:active, .no-touch
  nav #nav-wrapper #main-nav #block-block-3 a:hover, .touch
  nav #nav-wrapper #main-nav #block-block-3 a:active {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  /* line 429, ../../sass/calacademy/nav.scss */
  .page-homepage nav #nav-wrapper #main-nav > a, .page-homepage
  nav #nav-wrapper #main-nav #block-block-2 a, .page-homepage
  nav #nav-wrapper #main-nav #block-block-3 a {
    pointer-events: none;
    cursor: default;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 144dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav > a,
  nav #nav-wrapper #main-nav #block-block-2 a,
  nav #nav-wrapper #main-nav #block-block-3 a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz-small@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav > a,
  nav #nav-wrapper #main-nav #block-block-2 a,
  nav #nav-wrapper #main-nav #block-block-3 a {
    -moz-background-size: 93px 36px;
    -o-background-size: 93px 36px;
    -webkit-background-size: 93px 36px;
    background-size: 93px 36px;
  }
}

/* line 440, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .tb-megamenu .nav-collapse {
  -webkit-transform: none !important;
  position: relative;
  top: 0;
}
/* line 448, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
}
/* line 452, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0.last-over {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI5OS43NTA2MiUiIHN0b3AtY29sb3I9IiNlMDU5MjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(99.75062%, #e05920), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(right, #e05920 400px, rgba(0, 0, 0, 0) 401px);
  background-image: -webkit-linear-gradient(right, #e05920 400px, rgba(0, 0, 0, 0) 401px);
  background-image: linear-gradient(to left, #e05920 400px, rgba(0, 0, 0, 0) 401px);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 452, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0.last-over {
    background-image: none;
  }
}
/* line 461, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .row-fluid {
  border: 0;
  padding: 0;
}
/* line 467, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 20px 55px;
  height: 52px;
  line-height: 1em;
  border: 0;
  border-right: 1px solid #dd6839;
  padding: 20px;
  padding-right: 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 480, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li > a .caret {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 467, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    padding-left: 16px;
    padding-right: 16px;
    background-position: 16px 55px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 467, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    padding: 0;
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dd6839;
    background-image: none;
    color: #1a1a1a;
    font-weight: 600;
    height: 0px;
  }
  /* line 502, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open nav #nav-wrapper #main-nav .level-0 > li > a {
    height: auto;
  }
}
/* line 508, ../../sass/calacademy/nav.scss */
.page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  border-right: 0;
}
/* line 512, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li > a, .no-touch nav #nav-wrapper #main-nav .level-0 > li > a:hover, .touch nav #nav-wrapper #main-nav .level-0 > li > a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 520, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child, nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-color: transparent;
}
/* line 525, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child {
  width: 170px;
  height: 10px;
  display: block;
}
/* line 532, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  position: absolute;
  z-index: 2;
  border-right: 0;
  padding-right: 20px;
  width: 130px;
  height: 130px;
  background-position: 0 15px;
  background-repeat: no-repeat;
}
/* line 546, ../../sass/calacademy/nav.scss */
.page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  pointer-events: none;
  cursor: default;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 532, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    display: none;
  }
}
/* line 558, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:last-child > a {
  border-right: none;
  overflow: hidden;
}
/* line 564, ../../sass/calacademy/nav.scss */
.page-homepage nav #nav-wrapper #main-nav .level-0 > li.active > a {
  background-color: inherit;
}
/* line 569, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li.open > a,
nav #nav-wrapper #main-nav .level-0 > li.active > a, .page-homepage nav #nav-wrapper #main-nav .level-0 > li.open > a {
  background-color: #e05920;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 569, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li.open > a,
  nav #nav-wrapper #main-nav .level-0 > li.active > a, .page-homepage nav #nav-wrapper #main-nav .level-0 > li.open > a {
    background-color: inherit;
  }
}
/* line 580, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li.open:first-child > a {
  background-color: inherit;
}
/* line 585, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li {
  position: static;
}
/* line 589, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu {
  position: absolute;
  top: 92px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-top: 1px solid #dd6839;
  padding: 20px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 589, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu {
    position: relative;
    top: 0;
    border-top: none;
  }
}
/* line 605, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu, nav #nav-wrapper #main-nav li .dropdown-menu * {
  background-color: #e05920;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 605, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu, nav #nav-wrapper #main-nav li .dropdown-menu * {
    background-color: inherit;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 589, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 589, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu {
    padding: 12px;
    padding-bottom: 24px;
    padding-top: 0;
  }
}
/* line 628, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li a {
  border: 0;
  outline: none;
  line-height: 120%;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
/* line 637, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li a:after {
  content: "\203A";
}
/* line 643, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li:last-child a {
  margin-bottom: 0;
}
/* line 648, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li.nav-section-break {
  margin-top: 20px;
}
/* line 654, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
  margin: 0;
  float: left;
}
/* line 660, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column blockquote {
  display: none;
}
/* line 664, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column * {
  white-space: normal;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 654, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column {
    width: 100%;
    float: none;
  }
  /* line 672, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured {
    display: none;
  }
}
/* line 677, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured {
  padding-right: 0;
  width: 65%;
  float: right;
}
/* line 682, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured * {
  margin: 0;
  padding: 0;
}
/* line 687, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item {
  float: right;
  margin-right: 20px;
  width: 180px;
}
/* line 691, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item:first-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 687, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item {
    width: 30%;
    width: -moz-calc(33% - 20px);
    width: -ms-calc(33% - 20px);
    width: -o-calc(33% - 20px);
    width: -webkit-calc(33% - 20px);
    width: calc(33% - 20px);
  }
}
/* line 701, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container {
  margin-bottom: 10px;
  position: relative;
}
/* line 251, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center 48%;
  background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    -moz-background-size: 40px 44px;
    -o-background-size: 40px 44px;
    -webkit-background-size: 40px 44px;
    background-size: 40px 44px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 251, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button.png");
  }
}
@media only screen and (min-width: 1001px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1001px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 1001px) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 1001px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 1001px) and (min-resolution: 144dpi), only screen and (min-width: 1001px) and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button@2x.png");
  }
}
@media only screen and (min-width: 1001px) and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    -moz-background-size: 65px 72px;
    -o-background-size: 65px 72px;
    -webkit-background-size: 65px 72px;
    background-size: 65px 72px;
  }
}

/* line 707, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title,
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span,
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .subtitle {
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
}
/* line 716, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title {
  display: block;
}
/* line 719, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span {
  display: inline;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 726, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .subtitle {
  color: #1a1a1a;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 726, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .subtitle {
    display: none;
  }
}

/**
* Logo swapping on homepage
*
*/
/* line 754, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz.png");
  height: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    -moz-background-size: 150px 58px;
    -o-background-size: 150px 58px;
    -webkit-background-size: 150px 58px;
    background-size: 150px 58px;
  }
}
/* line 757, ../../sass/calacademy/nav.scss */
.logo-swap .page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-vert-nav.png");
  height: 130px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .logo-swap .page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-vert-nav@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .logo-swap .page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    -moz-background-size: 76px 130px;
    -o-background-size: 76px 130px;
    -webkit-background-size: 76px 130px;
    background-size: 76px 130px;
  }
}

/* line 770, ../../sass/calacademy/nav.scss */
.page-homepage nav.scroll-to-fixed-fixed #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz.png");
  height: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .page-homepage nav.scroll-to-fixed-fixed #nav-wrapper #main-nav .level-0 > li:first-child > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .page-homepage nav.scroll-to-fixed-fixed #nav-wrapper #main-nav .level-0 > li:first-child > a {
    -moz-background-size: 150px 58px;
    -o-background-size: 150px 58px;
    -webkit-background-size: 150px 58px;
    background-size: 150px 58px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 781, ../../sass/calacademy/nav.scss */
  body nav, body nav * {
    -webkit-touch-callout: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  /* line 788, ../../sass/calacademy/nav.scss */
  body nav #nav-wrapper button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin: 0;
    border: 0;
    height: 56px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  /* line 798, ../../sass/calacademy/nav.scss */
  body nav #nav-wrapper button, body nav #nav-wrapper button i {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: 0;
  }
  /* line 805, ../../sass/calacademy/nav.scss */
  body nav #nav-wrapper button i {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    display: block;
    line-height: 0;
    background-image: url("/sites/all/themes/calacademy_zen/images/button-hamburger.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-top: 3px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 1.5), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 144dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  body nav #nav-wrapper button i {
    background-image: url("/sites/all/themes/calacademy_zen/images/button-hamburger@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  body nav #nav-wrapper button i {
    -moz-background-size: 20px 40px;
    -o-background-size: 20px 40px;
    -webkit-background-size: 20px 40px;
    background-size: 20px 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 821, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body {
    overflow: hidden !important;
  }
  /* line 824, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body nav {
    height: 100%;
    background-color: #f27134;
  }
  /* line 831, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body nav #nav-wrapper button i {
    background-position: 0 -20px;
  }
  /* line 836, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body nav #nav-wrapper .tb-megamenu-nav {
    border-top: 1px solid #dd6839;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding-bottom: 60px;
  }
}
