/* line 3, ../../sass/calacademy/nav.scss */
.clear-floats, #top-level-nav-wrapper, #top-level-nav-wrapper #top-level-nav, #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul {
  width: 100%;
  overflow: hidden;
}

/* line 9, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper,
nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media print {
  /* line 9, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper,
  nav {
    display: none;
  }
}

/* line 19, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper {
  position: relative;
  z-index: 998;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #404040;
}
/* line 22, ../../sass/calacademy/nav.scss */
.csspositionsticky .page-homepage #top-level-nav-wrapper {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
/* line 26, ../../sass/calacademy/nav.scss */
.csspositionsticky.fixfixed .page-homepage #top-level-nav-wrapper {
  position: absolute;
}
/* line 38, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 38, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav {
    max-width: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
  }
}
/* line 53, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header * {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 64, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
  float: right;
}
/* line 68, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .pad-me, #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li a, #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 0;
}
/* line 78, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level {
  font-size: 14px;
  line-height: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 78, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level {
    font-size: 14px;
    line-height: 14px;
  }
}
/* line 90, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li {
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 94, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li a,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li a {
  display: block;
  height: 36px;
  color: white;
}
/* line 102, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li:last-child,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li:last-child,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li:last-child,
#top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 108, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
  float: left;
  padding-left: 3px;
  font-size: 16px;
}
/* line 114, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles, #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li {
  display: none;
}
/* line 120, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li,
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li:last-child {
  border: 0;
}
/* line 123, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li a,
#top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li:last-child a {
  padding-left: 0;
  padding-right: 0;
}
/* line 132, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
  padding-left: 0;
  padding-right: 0;
}
/* line 136, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form *,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form * {
  float: left;
}
/* line 140, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  padding-top: 7px;
  padding-right: 0;
}
/* line 145, ../../sass/calacademy/nav.scss */
.js #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield, .js
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  display: none;
}
/* line 149, ../../sass/calacademy/nav.scss */
.js.search-open #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield, .js.search-open
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
  display: block;
}
/* line 153, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield input,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  color: #404040;
  border: 0;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  width: 116px;
}
/* line 167, ../../sass/calacademy/nav.scss */
#top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-submit,
#top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-submit {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;
  width: 39px;
  height: 36px;
  background-image: url("/sites/all/themes/calacademy_zen/images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 12px 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-submit,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-submit {
    background-image: url("/sites/all/themes/calacademy_zen/images/magnifying-glass@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-submit,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-submit {
    -webkit-background-size: 15px, 15px;
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 183, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header {
    display: block;
    float: none;
  }
  /* line 184, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
    display: none !important;
  }
  /* line 193, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level {
    float: left;
  }
  /* line 197, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li:first-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li:first-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li:first-child {
    border-left: 0;
  }
  /* line 200, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-top-level ul li:last-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level ul li:last-child,
  #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-menu-top-level ul li:last-child {
    border-right: 0;
  }
  /* line 207, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
    float: right;
  }
  /* line 211, ../../sass/calacademy/nav.scss */
  .js #top-level-nav-wrapper #top-level-nav .region-header #block-search-form, .js
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
    padding-bottom: 0;
  }
  /* line 216, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form, .js.search-open #top-level-nav-wrapper #top-level-nav .region-header #block-search-form,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form, .js.search-open
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form {
    padding-bottom: 90px;
  }
  /* line 220, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form *,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form * {
    display: block;
    float: none;
  }
  /* line 225, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-actions,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-actions {
    float: right;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 229, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-actions .form-submit,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-actions .form-submit {
    width: 51px;
    background-position: 18px 10px;
  }
  /* line 235, ../../sass/calacademy/nav.scss */
  .search-open #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-actions .form-submit, .search-open
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-actions .form-submit {
    background-color: rgba(255, 255, 255, 0.05);
  }
  /* line 243, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 24px;
    padding-right: 12px;
  }
  /* line 253, ../../sass/calacademy/nav.scss */
  #top-level-nav-wrapper #top-level-nav .region-header #block-search-form .form-type-textfield input,
  #top-level-nav-wrapper #top-level-nav .region-header .block-search-form .form-type-textfield input {
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}

/* line 265, ../../sass/calacademy/nav.scss */
nav {
  z-index: 999;
}
/* line 266, ../../sass/calacademy/nav.scss */
.csspositionsticky nav {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
/* line 270, ../../sass/calacademy/nav.scss */
.csspositionsticky.fixfixed nav {
  position: absolute;
}
/* line 276, ../../sass/calacademy/nav.scss */
nav #nav-wrapper {
  /*
  &:after {
  	position: relative;
  	content: "";
  	height: 0;
  	margin-top: -($padding * 2) + 3px;
  	border-top: 1px solid rgba(255, 255, 255, 0.05);
  	display: block;
  	z-index: 9999999;
  }
  */
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 284, ../../sass/calacademy/nav.scss */
nav #nav-wrapper .block,
nav #nav-wrapper .tb-block,
nav #nav-wrapper .views-field,
nav #nav-wrapper .mega-inner {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 276, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper {
    height: 60px;
  }
}
/* line 312, ../../sass/calacademy/nav.scss */
nav #nav-wrapper, nav #nav-wrapper * {
  color: white;
  background-color: #f27134;
  background-image: none;
  filter: none;
}
/* line 320, ../../sass/calacademy/nav.scss */
nav #nav-wrapper .block-shortcut {
  display: none;
}
/* line 324, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 324, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav {
    max-width: inherit;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 335, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav, nav #nav-wrapper #main-nav a {
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 335, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav, nav #nav-wrapper #main-nav a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 335, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav, nav #nav-wrapper #main-nav a {
    font-size: 18px;
  }
}
/* line 355, ../../sass/calacademy/nav.scss */
.wf-active nav #nav-wrapper #main-nav, .wf-active nav #nav-wrapper #main-nav a {
  font-size: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 355, ../../sass/calacademy/nav.scss */
  .wf-active nav #nav-wrapper #main-nav, .wf-active nav #nav-wrapper #main-nav a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 355, ../../sass/calacademy/nav.scss */
  .wf-active nav #nav-wrapper #main-nav, .wf-active nav #nav-wrapper #main-nav a {
    font-size: 20px;
  }
}
/* line 367, ../../sass/calacademy/nav.scss */
.wf-active.wf-error nav #nav-wrapper #main-nav, .wf-active.wf-error nav #nav-wrapper #main-nav a {
  font-size: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 367, ../../sass/calacademy/nav.scss */
  .wf-active.wf-error nav #nav-wrapper #main-nav, .wf-active.wf-error nav #nav-wrapper #main-nav a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 367, ../../sass/calacademy/nav.scss */
  .wf-active.wf-error nav #nav-wrapper #main-nav, .wf-active.wf-error nav #nav-wrapper #main-nav a {
    font-size: 18px;
  }
}
/* line 377, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav > a,
nav #nav-wrapper #main-nav #block-block-2 a,
nav #nav-wrapper #main-nav #block-block-3 a {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 377, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav > a,
  nav #nav-wrapper #main-nav #block-block-2 a,
  nav #nav-wrapper #main-nav #block-block-3 a {
    display: block;
    width: 117px;
    height: 60px;
    position: absolute;
    z-index: 2;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: block;
    line-height: 0;
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz-small.png");
    background-repeat: no-repeat;
    background-position: 12px 12px;
  }
  /* line 395, ../../sass/calacademy/nav.scss */
  .no-touch nav #nav-wrapper #main-nav > a:hover, .touch nav #nav-wrapper #main-nav > a:active, .no-touch
  nav #nav-wrapper #main-nav #block-block-2 a:hover, .touch
  nav #nav-wrapper #main-nav #block-block-2 a:active, .no-touch
  nav #nav-wrapper #main-nav #block-block-3 a:hover, .touch
  nav #nav-wrapper #main-nav #block-block-3 a:active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* line 400, ../../sass/calacademy/nav.scss */
  .page-homepage nav #nav-wrapper #main-nav > a, .page-homepage
  nav #nav-wrapper #main-nav #block-block-2 a, .page-homepage
  nav #nav-wrapper #main-nav #block-block-3 a {
    pointer-events: none;
    cursor: default;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav > a,
  nav #nav-wrapper #main-nav #block-block-2 a,
  nav #nav-wrapper #main-nav #block-block-3 a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz-small@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav > a,
  nav #nav-wrapper #main-nav #block-block-2 a,
  nav #nav-wrapper #main-nav #block-block-3 a {
    -webkit-background-size: 93px, 36px;
    -moz-background-size: 93px, 36px;
    -o-background-size: 93px, 36px;
    background-size: 93px, 36px;
  }
}
/* line 411, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .tb-megamenu .nav-collapse {
  -webkit-transform: none !important;
  position: relative;
  top: 0;
}
/* line 419, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: 20px 50px;
  height: 52px;
  line-height: 1em;
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  padding: 20px;
  padding-right: 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 432, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li > a .caret {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 419, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    padding-left: 16px;
    padding-right: 16px;
    background-position: 16px 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 419, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li > a {
    padding: 0;
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background-image: none;
    color: #1a1a1a;
    font-weight: 600;
    height: 0px;
  }
  /* line 454, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open nav #nav-wrapper #main-nav .level-0 > li > a {
    height: auto;
  }
}
/* line 460, ../../sass/calacademy/nav.scss */
.page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  border-right: 0;
}
/* line 466, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li > a, .no-touch nav #nav-wrapper #main-nav .level-0 > li > a:hover, .touch nav #nav-wrapper #main-nav .level-0 > li > a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 472, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child, nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-color: transparent;
}
/* line 477, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child {
  width: 170px;
  height: 10px;
  display: block;
}
/* line 484, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 0;
  position: absolute;
  z-index: 2;
  border-right: 0;
  padding-right: 20px;
  width: 130px;
  height: 130px;
  background-position: 0 15px;
  background-repeat: no-repeat;
}
/* line 498, ../../sass/calacademy/nav.scss */
.page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  pointer-events: none;
  cursor: default;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 484, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    display: none;
  }
}
/* line 510, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:last-child > a {
  border-right: none;
}
/* line 515, ../../sass/calacademy/nav.scss */
.page-homepage nav #nav-wrapper #main-nav .level-0 > li.active > a {
  background-color: inherit;
}
/* line 522, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li.open > a,
nav #nav-wrapper #main-nav .level-0 > li.active > a, .page-homepage nav #nav-wrapper #main-nav .level-0 > li.open > a {
  background-color: #e05920;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 522, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav .level-0 > li.open > a,
  nav #nav-wrapper #main-nav .level-0 > li.active > a, .page-homepage nav #nav-wrapper #main-nav .level-0 > li.open > a {
    background-color: inherit;
  }
}
/* line 531, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li.open:first-child > a {
  background-color: inherit;
}
/* line 536, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li {
  position: static;
}
/* line 540, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu {
  position: absolute;
  top: 92px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 20px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 540, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu {
    position: relative;
    top: 0;
    border-top: none;
  }
}
/* line 556, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu, nav #nav-wrapper #main-nav li .dropdown-menu * {
  background-color: #e05920;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 556, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu, nav #nav-wrapper #main-nav li .dropdown-menu * {
    background-color: inherit;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 540, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 540, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu {
    padding: 12px;
    padding-bottom: 24px;
    padding-top: 0;
  }
}
/* line 579, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li a {
  border: 0;
  outline: none;
  line-height: 120%;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  white-space: nowrap;
}
/* line 589, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li a:after {
  content: "\203A";
}
/* line 595, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li:last-child a {
  margin-bottom: 0;
}
/* line 600, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .mega-nav li.nav-section-break {
  margin-top: 20px;
}
/* line 606, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 180px;
  margin: 0;
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 606, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column {
    width: 22%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 606, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column {
    width: 100%;
    float: none;
  }
  /* line 620, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured {
    display: none;
  }
}
/* line 625, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured {
  width: 75%;
  float: right;
}
/* line 629, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured * {
  margin: 0;
  padding: 0;
  white-space: normal;
}
/* line 635, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item {
  float: right;
  margin-right: 20px;
  width: 180px;
}
/* line 639, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item:first-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 635, ../../sass/calacademy/nav.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item {
    width: 22%;
  }
}
/* line 649, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
/* line 91, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center 48%;
  background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    -webkit-background-size: 40px, 44px;
    -moz-background-size: 40px, 44px;
    -o-background-size: 40px, 44px;
    background-size: 40px, 44px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 91, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button.png");
  }
}
@media only screen and (min-width: 1001px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 1001px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (min-resolution: 192dpi), only screen and (min-width: 1001px) and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button@2x.png");
  }
}
@media only screen and (min-width: 1001px) and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a.video:before {
    -webkit-background-size: 65px, 72px;
    -moz-background-size: 65px, 72px;
    -o-background-size: 65px, 72px;
    background-size: 65px, 72px;
  }
}
/* line 9, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a, nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 14, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a img {
  width: 100% !important;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.7s ease, opacity 0.6s ease;
  -moz-transition: -moz-transform 0.7s ease, opacity 0.6s ease;
  -o-transition: -o-transform 0.7s ease, opacity 0.6s ease;
  transition: transform 0.7s ease, opacity 0.6s ease;
}
/* line 30, ../../sass/calacademy/_mixins.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a img.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 37, ../../sass/calacademy/_mixins.scss */
.zoom.no-touch nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a:hover, .zoom.touch nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 40, ../../sass/calacademy/_mixins.scss */
.zoom.no-touch nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a:hover img, .zoom.touch nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .image-container a:active img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 658, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title,
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span,
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .subtitle {
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
}
/* line 665, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title {
  display: block;
}
/* line 668, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span {
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .title span {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 674, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav li .dropdown-menu .tb-megamenu-column.featured .featured-item .subtitle {
  margin-top: -5px;
  color: #1a1a1a;
}

/**
* Logo swapping on homepage
*
*/
/* line 699, ../../sass/calacademy/nav.scss */
nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz.png");
  height: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    -webkit-background-size: 150px, 58px;
    -moz-background-size: 150px, 58px;
    -o-background-size: 150px, 58px;
    background-size: 150px, 58px;
  }
}
/* line 702, ../../sass/calacademy/nav.scss */
.logo-swap .page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-vert-nav.png");
  height: 130px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  .logo-swap .page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-vert-nav@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  .logo-swap .page-homepage nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    -webkit-background-size: 76px, 130px;
    -moz-background-size: 76px, 130px;
    -o-background-size: 76px, 130px;
    background-size: 76px, 130px;
  }
}

/* line 715, ../../sass/calacademy/nav.scss */
.page-homepage nav.scroll-to-fixed-fixed #nav-wrapper #main-nav .level-0 > li:first-child > a {
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz.png");
  height: 52px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  .page-homepage nav.scroll-to-fixed-fixed #nav-wrapper #main-nav .level-0 > li:first-child > a {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-horiz@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  .page-homepage nav.scroll-to-fixed-fixed #nav-wrapper #main-nav .level-0 > li:first-child > a {
    -webkit-background-size: 150px, 58px;
    -moz-background-size: 150px, 58px;
    -o-background-size: 150px, 58px;
    background-size: 150px, 58px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 728, ../../sass/calacademy/nav.scss */
  body nav #nav-wrapper button {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    float: right;
    margin: 0;
    border: 0;
    padding: 20px;
  }
  /* line 735, ../../sass/calacademy/nav.scss */
  body nav #nav-wrapper button, body nav #nav-wrapper button i {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 21px;
    height: 20px;
  }
  /* line 743, ../../sass/calacademy/nav.scss */
  body nav #nav-wrapper button i {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: block;
    line-height: 0;
    background-image: url("/sites/all/themes/calacademy_zen/images/button-hamburger.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  /* line 754, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body {
    overflow: hidden !important;
  }
  /* line 757, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body nav {
    height: 100%;
    background-color: #f27134;
  }
  /* line 764, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body nav #nav-wrapper button i {
    background-image: url("/sites/all/themes/calacademy_zen/images/button-close.png");
  }
  /* line 769, ../../sass/calacademy/nav.scss */
  .smartphone-nav-open body nav #nav-wrapper .tb-megamenu-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  body nav #nav-wrapper button i {
    background-image: url("/sites/all/themes/calacademy_zen/images/button-hamburger@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  body nav #nav-wrapper button i {
    -webkit-background-size: 21px, 18px;
    -moz-background-size: 21px, 18px;
    -o-background-size: 21px, 18px;
    background-size: 21px, 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 575, ../../sass/calacademy/_mixins.scss */
  .smartphone-nav-open body nav #nav-wrapper button i {
    background-image: url("/sites/all/themes/calacademy_zen/images/button-close@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 595, ../../sass/calacademy/_mixins.scss */
  .smartphone-nav-open body nav #nav-wrapper button i {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
