/* line 4, ../../sass/calacademy/node-type-slideshow-midfeature.scss */
.node-type-slideshow-midfeature header {
  margin-bottom: 40px;
}
/* line 8, ../../sass/calacademy/node-type-slideshow-midfeature.scss */
.node-type-slideshow-midfeature #content {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}
