/* line 5, ../../sass/calacademy/node-type-event.scss */
.node-type-event #content,
.node-type-event-nightlife #content {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 5, ../../sass/calacademy/node-type-event.scss */
  .node-type-event #content,
  .node-type-event-nightlife #content {
    padding-top: 48px;
  }
}
/* line 13, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-2col-stacked .panel-col-first,
.node-type-event-nightlife .panel-2col-stacked .panel-col-first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  padding-right: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-2col-stacked .panel-col-first,
  .node-type-event-nightlife .panel-2col-stacked .panel-col-first {
    width: 100%;
    padding-right: 0;
  }
}
/* line 23, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-2col-stacked .panel-col-first img,
.node-type-event-nightlife .panel-2col-stacked .panel-col-first img {
  width: 100%;
}
/* line 28, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top,
.node-type-event-nightlife .panel-col-top {
  margin-bottom: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 28, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top,
  .node-type-event-nightlife .panel-col-top {
    margin-bottom: 40px;
  }
}
/* line 35, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .pane-node-title,
.node-type-event-nightlife .panel-col-top .pane-node-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 35, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top .pane-node-title,
  .node-type-event-nightlife .panel-col-top .pane-node-title {
    font-size: 28px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 35, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top .pane-node-title,
  .node-type-event-nightlife .panel-col-top .pane-node-title {
    margin-bottom: 12px;
  }
}
/* line 39, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .pane-title,
.node-type-event-nightlife .panel-col-top .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 39, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top .pane-title,
  .node-type-event-nightlife .panel-col-top .pane-title {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 43, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .field, .node-type-event .panel-col-top .field h2,
.node-type-event-nightlife .panel-col-top .field,
.node-type-event-nightlife .panel-col-top .field h2 {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 43, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top .field, .node-type-event .panel-col-top .field h2,
  .node-type-event-nightlife .panel-col-top .field,
  .node-type-event-nightlife .panel-col-top .field h2 {
    font-size: 18px;
  }
}
/* line 52, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .field.field-name-field-category, .node-type-event .panel-col-top .field h2.field-name-field-category,
.node-type-event-nightlife .panel-col-top .field.field-name-field-category,
.node-type-event-nightlife .panel-col-top .field h2.field-name-field-category {
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 52, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top .field.field-name-field-category, .node-type-event .panel-col-top .field h2.field-name-field-category,
  .node-type-event-nightlife .panel-col-top .field.field-name-field-category,
  .node-type-event-nightlife .panel-col-top .field h2.field-name-field-category {
    font-size: 20px;
  }
}
/* line 61, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .views-field,
.node-type-event-nightlife .panel-col-top .views-field {
  margin: 0;
}
/* line 66, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .pane-event-detail-date-location-pane .date-display-single,
.node-type-event-nightlife .panel-col-top .pane-event-detail-date-location-pane .date-display-single {
  color: #1a1a1a;
  font-weight: 600;
}
/* line 72, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .pane-event-detail-primary-person-pane,
.node-type-event .panel-col-top .pane-node-field-featured-people,
.node-type-event-nightlife .panel-col-top .pane-event-detail-primary-person-pane,
.node-type-event-nightlife .panel-col-top .pane-node-field-featured-people {
  margin-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 72, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-top .pane-event-detail-primary-person-pane,
  .node-type-event .panel-col-top .pane-node-field-featured-people,
  .node-type-event-nightlife .panel-col-top .pane-event-detail-primary-person-pane,
  .node-type-event-nightlife .panel-col-top .pane-node-field-featured-people {
    margin-bottom: 20px;
  }
}
/* line 81, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-top .field-name-field-category,
.node-type-event .panel-col-top .pane-node-field-date .field,
.node-type-event-nightlife .panel-col-top .field-name-field-category,
.node-type-event-nightlife .panel-col-top .pane-node-field-date .field {
  font-weight: 600;
}
/* line 88, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-first .pane-title,
.node-type-event-nightlife .panel-col-first .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 88, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-first .pane-title,
  .node-type-event-nightlife .panel-col-first .pane-title {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 92, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-first .pane-node-body,
.node-type-event .panel-col-first .pane-node-field-description,
.node-type-event-nightlife .panel-col-first .pane-node-body,
.node-type-event-nightlife .panel-col-first .pane-node-field-description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 92, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .panel-col-first .pane-node-body,
  .node-type-event .panel-col-first .pane-node-field-description,
  .node-type-event-nightlife .panel-col-first .pane-node-body,
  .node-type-event-nightlife .panel-col-first .pane-node-field-description {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 104, ../../sass/calacademy/node-type-event.scss */
.node-type-event .panel-col-first #featured-people,
.node-type-event-nightlife .panel-col-first #featured-people {
  margin-bottom: 20px;
}
/* line 109, ../../sass/calacademy/node-type-event.scss */
.node-type-event .page-header .field-name-field-subtitle,
.node-type-event .views-field-field-subtitle,
.node-type-event-nightlife .page-header .field-name-field-subtitle,
.node-type-event-nightlife .views-field-field-subtitle {
  color: #858281;
  font-style: italic;
}
/* line 114, ../../sass/calacademy/node-type-event.scss */
.node-type-event .page-header .field-name-field-subtitle a,
.node-type-event .views-field-field-subtitle a,
.node-type-event-nightlife .page-header .field-name-field-subtitle a,
.node-type-event-nightlife .views-field-field-subtitle a {
  font-style: normal;
  font-weight: 600;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 120, ../../sass/calacademy/node-type-event.scss */
  .node-type-event .views-field-field-subtitle,
  .node-type-event-nightlife .views-field-field-subtitle {
    margin-bottom: 12px !important;
  }
}
/* line 127, ../../sass/calacademy/node-type-event.scss */
.node-type-event .right-rail .inside > .panel-pane,
.node-type-event-nightlife .right-rail .inside > .panel-pane {
  padding-bottom: 20px;
}
/* line 130, ../../sass/calacademy/node-type-event.scss */
.section-nightlife .node-type-event .right-rail, .section-nightlife
.node-type-event-nightlife .right-rail {
  border-top: 2px solid #ababab;
  padding-top: 20px;
}
