/* line 3, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
}

/* line 11, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/50.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 753, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/50@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 773, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen {
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
  }
}
/* line 16, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #top-level-nav-wrapper,
.node-type-gigamacro-specimen header,
.node-type-gigamacro-specimen .tabs,
.node-type-gigamacro-specimen footer,
.node-type-gigamacro-specimen .leaflet-control-attribution,
.node-type-gigamacro-specimen #content > article,
.node-type-gigamacro-specimen #content > #main-content {
  display: none;
}
/* line 26, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content {
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 92px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 26, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
  .node-type-gigamacro-specimen #content {
    top: 56px;
  }
}
/* line 42, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend {
  position: absolute;
  width: 350px;
  z-index: 2;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
/* line 52, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .return {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 57, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .return a {
  font-size: 1.2em;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-left.png");
  padding-left: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 753, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen #content #legend .return a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-left@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 773, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen #content #legend .return a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 65, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend > *:empty,
.node-type-gigamacro-specimen #content #legend .pin_stuff {
  display: none;
}
/* line 71, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend.pin-details .pin_stuff {
  display: block;
}
/* line 74, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend.pin-details .pin_stuff:empty {
  display: none;
}
/* line 80, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend h1, .node-type-gigamacro-specimen #content #legend h2 {
  margin: 0;
}
/* line 84, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .scientific_name {
  font-style: italic;
}
/* line 88, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .details {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 93, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .pin_title {
  margin-top: 20px;
  font-size: 1em;
}
/* line 98, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .commenter_name,
.node-type-gigamacro-specimen #content #legend .commenter_title,
.node-type-gigamacro-specimen #content #legend .commenter_institution {
  margin-left: 20px;
}
/* line 105, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container {
  z-index: 1;
  height: 100%;
  background-color: #ffffff !important;
}
/* line 108, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container, .node-type-gigamacro-specimen #content .leaflet-container * {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 119, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.floor .node-type-gigamacro-specimen nav {
  display: none;
}
/* line 123, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.floor .node-type-gigamacro-specimen #content {
  top: 0;
}
