/* line 8, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .center-wrapper,
.node-type-explore-science-article #content .center-wrapper,
.node-type-ibss-project #content .center-wrapper,
.node-type-blog #content .center-wrapper {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 8, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .center-wrapper,
  .node-type-explore-science-article #content .center-wrapper,
  .node-type-ibss-project #content .center-wrapper,
  .node-type-blog #content .center-wrapper {
    padding-top: 48px;
  }
}
/* line 215, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .panel-col-first,
.node-type-content-page #content .right-rail,
.node-type-explore-science-article #content .panel-col-first,
.node-type-explore-science-article #content .right-rail,
.node-type-ibss-project #content .panel-col-first,
.node-type-ibss-project #content .right-rail,
.node-type-blog #content .panel-col-first,
.node-type-blog #content .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 220, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .panel-col-first,
.node-type-explore-science-article #content .panel-col-first,
.node-type-ibss-project #content .panel-col-first,
.node-type-blog #content .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 225, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .right-rail,
.node-type-explore-science-article #content .right-rail,
.node-type-ibss-project #content .right-rail,
.node-type-blog #content .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 230, ../../sass/calacademy/_mixins.scss */
  .node-type-content-page #content .panel-col-first,
  .node-type-content-page #content .right-rail,
  .node-type-explore-science-article #content .panel-col-first,
  .node-type-explore-science-article #content .right-rail,
  .node-type-ibss-project #content .panel-col-first,
  .node-type-ibss-project #content .right-rail,
  .node-type-blog #content .panel-col-first,
  .node-type-blog #content .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
/* line 19, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-top .pane-node-field-subtitle,
.node-type-explore-science-article #content .panel-col-top .pane-node-field-subtitle,
.node-type-ibss-project #content .panel-col-top .pane-node-field-subtitle,
.node-type-blog #content .panel-col-top .pane-node-field-subtitle {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 19, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-top .pane-node-field-subtitle,
  .node-type-explore-science-article #content .panel-col-top .pane-node-field-subtitle,
  .node-type-ibss-project #content .panel-col-top .pane-node-field-subtitle,
  .node-type-blog #content .panel-col-top .pane-node-field-subtitle {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 25, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane,
.node-type-explore-science-article #content .panel-col-first .panel-pane,
.node-type-ibss-project #content .panel-col-first .panel-pane,
.node-type-blog #content .panel-col-first .panel-pane {
  margin-bottom: 20px;
}
/* line 28, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-explore-science-article #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-ibss-project #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-blog #content .panel-col-first .panel-pane.pane-views-panes {
  margin-bottom: 60px;
}
/* line 31, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane.pane-views-panes.pane-hero-media-slideshow-standard,
.node-type-explore-science-article #content .panel-col-first .panel-pane.pane-views-panes.pane-hero-media-slideshow-standard,
.node-type-ibss-project #content .panel-col-first .panel-pane.pane-views-panes.pane-hero-media-slideshow-standard,
.node-type-blog #content .panel-col-first .panel-pane.pane-views-panes.pane-hero-media-slideshow-standard {
  margin-bottom: 0;
}
/* line 37, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-explore-science-article #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-ibss-project #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-blog #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane {
  margin-bottom: 60px;
}
/* line 46, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-title,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-explore-science-article #content .panel-col-first .pane-title,
.node-type-explore-science-article #content .panel-col-first .pane-title *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-ibss-project #content .panel-col-first .pane-title,
.node-type-ibss-project #content .panel-col-first .pane-title *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-blog #content .panel-col-first .pane-title,
.node-type-blog #content .panel-col-first .pane-title *,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-title,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead * {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 46, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-explore-science-article #content .panel-col-first .pane-title,
  .node-type-explore-science-article #content .panel-col-first .pane-title *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-ibss-project #content .panel-col-first .pane-title,
  .node-type-ibss-project #content .panel-col-first .pane-title *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-blog #content .panel-col-first .pane-title,
  .node-type-blog #content .panel-col-first .pane-title *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead * {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 50, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-title h2,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-explore-science-article #content .panel-col-first .pane-title h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-ibss-project #content .panel-col-first .pane-title h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-blog #content .panel-col-first .pane-title h2,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead h2 {
  margin: 0;
}
/* line 55, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-body,
.node-type-content-page #content .panel-col-first .pane-node-field-summary,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-explore-science-article #content .panel-col-first .pane-node-body,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-summary,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-ibss-project #content .panel-col-first .pane-node-body,
.node-type-ibss-project #content .panel-col-first .pane-node-field-summary,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-blog #content .panel-col-first .pane-node-body,
.node-type-blog #content .panel-col-first .pane-node-field-summary,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-description {
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 55, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-node-body,
  .node-type-content-page #content .panel-col-first .pane-node-field-summary,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-explore-science-article #content .panel-col-first .pane-node-body,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-summary,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-ibss-project #content .panel-col-first .pane-node-body,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-summary,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-blog #content .panel-col-first .pane-node-body,
  .node-type-blog #content .panel-col-first .pane-node-field-summary,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-description {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 67, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-body,
.node-type-explore-science-article #content .panel-col-first .pane-node-body,
.node-type-ibss-project #content .panel-col-first .pane-node-body,
.node-type-blog #content .panel-col-first .pane-node-body {
  padding-bottom: 20px;
}
/* line 71, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-ibss-project #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-blog #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item {
  margin-bottom: 60px;
}
/* line 76, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item {
  margin-top: 20px;
}
/* line 79, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item:first-child {
  margin-top: 0;
}
/* line 83, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item a {
  font-size: 17px;
  font-weight: 600;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 83, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 97, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-content-page #content .panel-col-first .pane-node-field-google-map,
.node-type-explore-science-article #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-google-map,
.node-type-ibss-project #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-ibss-project #content .panel-col-first .pane-node-field-google-map,
.node-type-blog #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-blog #content .panel-col-first .pane-node-field-google-map {
  margin-bottom: 40px;
}
/* line 104, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-field-map iframe,
.node-type-content-page #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-map iframe,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-ibss-project #content .panel-col-first .pane-node-field-map iframe,
.node-type-ibss-project #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-blog #content .panel-col-first .pane-node-field-map iframe,
.node-type-blog #content .panel-col-first .pane-node-field-google-map iframe {
  width: 100%;
  min-height: 390px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 104, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-node-field-map iframe,
  .node-type-content-page #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-map iframe,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-map iframe,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-blog #content .panel-col-first .pane-node-field-map iframe,
  .node-type-blog #content .panel-col-first .pane-node-field-google-map iframe {
    min-height: 296px;
  }
}
/* line 114, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-testimonials-related,
.node-type-explore-science-article #content .panel-col-first .pane-testimonials-related,
.node-type-ibss-project #content .panel-col-first .pane-testimonials-related,
.node-type-blog #content .panel-col-first .pane-testimonials-related {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 120, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-explore-science-article #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-ibss-project #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-blog #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field {
  color: #5e924d;
}
/* line 130, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .right-rail .panel-pane,
.node-type-explore-science-article #content .right-rail .panel-pane,
.node-type-ibss-project #content .right-rail .panel-pane,
.node-type-blog #content .right-rail .panel-pane {
  padding-bottom: 20px;
}

/* line 140, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-explore-science-article #content .panel-col-first .pane-node-body {
  margin-bottom: 40px;
}
