/* line 6, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent {
  background-image: url("/sites/all/themes/calacademy_zen/images/bg-fourfish.png");
  background-repeat: no-repeat;
  background-position: right 1700px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent {
    background-image: url("/sites/all/themes/calacademy_zen/images/bg-fourfish@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent {
    -webkit-background-size: 900, 1162;
    -moz-background-size: 900, 1162;
    -o-background-size: 900, 1162;
    background-size: 900, 1162;
  }
}
@media screen and (max-width: 1400px) {
  /* line 6, ../../sass/calacademy/node-exhibit-parent.scss */
  .node-type-exhibit-parent {
    -webkit-background-size: 35%;
    -moz-background-size: 35%;
    -o-background-size: 35%;
    background-size: 35%;
    background-position: right 20px;
  }
}
/* line 17, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-top {
  width: 100%;
}
/* line 21, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent #content {
  max-width: 1500px;
}
/* line 42, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .views-slideshow-controls-text-pause {
  display: none;
}
/* line 46, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .views-slideshow-controls-text-next {
  float: right;
  margin-right: 70px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  width: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .views-slideshow-controls-text-next {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .views-slideshow-controls-text-next {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 58, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .views-slideshow-controls-text-previous {
  float: left;
  margin-left: 70px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  width: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large-left.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
  background-position: left center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .views-slideshow-controls-text-previous {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large-left@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .views-slideshow-controls-text-previous {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 71, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .views-slideshow-controls-text-next,
.node-type-exhibit-parent .views-slideshow-controls-text-previous {
  margin-top: -310px;
  position: relative;
  z-index: 1000;
}
/* line 77, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .center-wrapper {
  float: left;
  width: 960px;
  margin-left: 15%;
}
/* line 83, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first {
  width: 730px;
}
/* line 86, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .field-name-body {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 500px;
  min-height: 500px;
  border: 20px solid white;
  padding: 20px;
  background-color: #f27134;
}
/* line 287, ../../sass/calacademy/_mixins.scss */
.node-type-exhibit-parent .panel-col-first .field-name-body, .node-type-exhibit-parent .panel-col-first .field-name-body p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  font-weight: 400;
  color: white !important;
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 287, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .field-name-body, .node-type-exhibit-parent .panel-col-first .field-name-body p {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 301, ../../sass/calacademy/_mixins.scss */
.node-type-exhibit-parent .panel-col-first .field-name-body a, .node-type-exhibit-parent .panel-col-first .field-name-body p a {
  color: #1a1a1a !important;
  text-decoration: none;
}
/* line 307, ../../sass/calacademy/_mixins.scss */
.node-type-exhibit-parent .panel-col-first .field-name-body p {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 86, ../../sass/calacademy/node-exhibit-parent.scss */
  .node-type-exhibit-parent .panel-col-first .field-name-body {
    width: 394px;
    min-height: 394px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 86, ../../sass/calacademy/node-exhibit-parent.scss */
  .node-type-exhibit-parent .panel-col-first .field-name-body {
    width: 100%;
    min-height: inherit;
    border: 0;
    padding: 12px;
  }
  /* line 323, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .field-name-body, .node-type-exhibit-parent .panel-col-first .field-name-body p {
    font-size: 24px;
    line-height: 32px;
  }
}
/* line 98, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .field-name-field-article-section .field-item {
  width: 220px;
  float: left;
  margin-left: 20px;
}
/* line 104, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .field-name-field-article-section .field-item:first-child {
  margin-left: 20px;
}
/* line 108, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .field-name-field-article-section .field-item:nth-child(3) {
  margin-top: -360px;
}
/* line 112, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .field-name-field-article-section .field-item .field-name-field-subtitle {
  margin-bottom: -20px;
  font-weight: 700;
}
/* line 117, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .field-name-field-article-section .field-name-field-body p {
  line-height: 150%;
}
/* line 123, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .exhibits-related-header {
  float: left;
  margin-top: 220px;
  width: 460px;
  margin-left: 17px;
}
/* line 129, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .exhibits-related-header .pane-title {
  font-size: 238%;
  line-height: 100%;
  width: 360px;
}
/* line 135, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .exhibits-related-header .pane-content {
  margin-top: -30px;
}
/* line 140, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .exhibits-related-header .more-link {
  color: #f27134;
  font-size: 113%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .exhibits-related-header .more-link {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .exhibits-related-header .more-link {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 147, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 {
  float: left;
  margin-top: 0;
}
/* line 150, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row {
  float: left;
  width: 220px;
  margin-left: 17px;
}
/* line 155, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a {
  color: #186aa8;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 162, ../../sass/calacademy/node-exhibit-parent.scss */
.no-touch .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a:hover, .touch .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a:active {
  color: #f27134;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .no-touch .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a:hover, .touch .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a:active {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .no-touch .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a:hover, .touch .node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-title a:active {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 167, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row .views-field-field-summary {
  font-size: 86%;
  line-height: 150%;
}
/* line 172, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row img {
  width: 220px;
}
/* line 177, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-field-title {
  margin-top: 20px;
}
/* line 181, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row-2 {
  margin-top: 80px;
}
/* line 184, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row-3 {
  margin-top: 230px;
}
/* line 187, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .pane-exhibits-children-panel-pane-1 .views-row-4 {
  margin-left: 255px;
}
/* line 193, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .view-testimonials-related {
  float: left;
  color: #50aade;
  width: 215px;
  margin-top: -500px;
  margin-left: 20px;
}
/* line 200, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .view-testimonials-related .views-field-field-testimonial-summary {
  font-size: 156%;
  line-height: 130%;
}
/* line 206, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-first .view-testimonials-related .views-field-field-reviewer-name {
  padding-left: 50px;
  padding-top: 7px;
  margin-top: 20px;
  font-size: 93%;
  text-indent: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 40px;
  font-weight: 600;
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .view-testimonials-related .views-field-field-reviewer-name {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-first .view-testimonials-related .views-field-field-reviewer-name {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 224, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom {
  float: left;
  width: 960px;
  margin-left: 280px;
}
/* line 230, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .events-related-header {
  float: left;
  margin-top: 220px;
  width: 460px;
  margin-left: 17px;
}
/* line 236, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .events-related-header .pane-title {
  font-size: 238%;
  line-height: 100%;
  width: 360px;
}
/* line 242, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .events-related-header .pane-content {
  margin-top: -30px;
}
/* line 247, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .events-related-header .more-link {
  color: #f27134;
  font-size: 113%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-bottom .events-related-header .more-link {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-bottom .events-related-header .more-link {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 256, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row {
  width: 220px;
  float: left;
  margin-left: 20px;
}
/* line 261, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row img {
  width: 220px;
}
/* line 265, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a {
  color: #186aa8;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 272, ../../sass/calacademy/node-exhibit-parent.scss */
.no-touch .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a:hover, .touch .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a:active {
  color: #f27134;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 396, ../../sass/calacademy/_mixins.scss */
  .no-touch .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a:hover, .touch .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a:active {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 416, ../../sass/calacademy/_mixins.scss */
  .no-touch .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a:hover, .touch .node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-title a:active {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 277, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row .views-field-field-date {
  color: #858281;
  font-size: 86%;
  margin-bottom: 20px;
}
/* line 284, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row-1 {
  margin-top: 260px;
}
/* line 288, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row-2 {
  margin-top: 260px;
}
/* line 292, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-row-3 {
  margin-top: -100px;
  clear: both;
}
/* line 301, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-bottom .view-events-related .views-field-field-summary {
  font-size: 86%;
  line-height: 150%;
}
/* line 309, ../../sass/calacademy/node-exhibit-parent.scss */
.node-type-exhibit-parent .panel-col-last {
  margin-top: -10px;
}
