/* line 9, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .center-wrapper,
.node-type-explore-science-article #content .center-wrapper,
.node-type-ibss-project #content .center-wrapper,
.node-type-blog #content .center-wrapper,
.node-type-person #content .center-wrapper {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 9, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .center-wrapper,
  .node-type-explore-science-article #content .center-wrapper,
  .node-type-ibss-project #content .center-wrapper,
  .node-type-blog #content .center-wrapper,
  .node-type-person #content .center-wrapper {
    padding-top: 48px;
  }
}
/* line 333, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .panel-col-first,
.node-type-content-page #content .right-rail,
.node-type-explore-science-article #content .panel-col-first,
.node-type-explore-science-article #content .right-rail,
.node-type-ibss-project #content .panel-col-first,
.node-type-ibss-project #content .right-rail,
.node-type-blog #content .panel-col-first,
.node-type-blog #content .right-rail,
.node-type-person #content .panel-col-first,
.node-type-person #content .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 338, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .panel-col-first,
.node-type-explore-science-article #content .panel-col-first,
.node-type-ibss-project #content .panel-col-first,
.node-type-blog #content .panel-col-first,
.node-type-person #content .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 343, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .right-rail,
.node-type-explore-science-article #content .right-rail,
.node-type-ibss-project #content .right-rail,
.node-type-blog #content .right-rail,
.node-type-person #content .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 348, ../../sass/calacademy/_mixins.scss */
  .node-type-content-page #content .panel-col-first,
  .node-type-content-page #content .right-rail,
  .node-type-explore-science-article #content .panel-col-first,
  .node-type-explore-science-article #content .right-rail,
  .node-type-ibss-project #content .panel-col-first,
  .node-type-ibss-project #content .right-rail,
  .node-type-blog #content .panel-col-first,
  .node-type-blog #content .right-rail,
  .node-type-person #content .panel-col-first,
  .node-type-person #content .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
/* line 20, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-top .pane-node-field-subtitle,
.node-type-explore-science-article #content .panel-col-top .pane-node-field-subtitle,
.node-type-ibss-project #content .panel-col-top .pane-node-field-subtitle,
.node-type-blog #content .panel-col-top .pane-node-field-subtitle,
.node-type-person #content .panel-col-top .pane-node-field-subtitle {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 20, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-top .pane-node-field-subtitle,
  .node-type-explore-science-article #content .panel-col-top .pane-node-field-subtitle,
  .node-type-ibss-project #content .panel-col-top .pane-node-field-subtitle,
  .node-type-blog #content .panel-col-top .pane-node-field-subtitle,
  .node-type-person #content .panel-col-top .pane-node-field-subtitle {
    font-size: 28px;
    line-height: 32px;
  }
}
/* line 26, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane,
.node-type-explore-science-article #content .panel-col-first .panel-pane,
.node-type-ibss-project #content .panel-col-first .panel-pane,
.node-type-blog #content .panel-col-first .panel-pane,
.node-type-person #content .panel-col-first .panel-pane {
  margin-bottom: 20px;
}
/* line 29, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-explore-science-article #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-ibss-project #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-blog #content .panel-col-first .panel-pane.pane-views-panes,
.node-type-person #content .panel-col-first .panel-pane.pane-views-panes {
  margin-bottom: 60px;
}
/* line 32, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane.pane-views-panes:first-child,
.node-type-explore-science-article #content .panel-col-first .panel-pane.pane-views-panes:first-child,
.node-type-ibss-project #content .panel-col-first .panel-pane.pane-views-panes:first-child,
.node-type-blog #content .panel-col-first .panel-pane.pane-views-panes:first-child,
.node-type-person #content .panel-col-first .panel-pane.pane-views-panes:first-child {
  margin-bottom: 20px;
}
/* line 37, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .panel-pane.pane-node-field-cta-buttons,
.node-type-explore-science-article #content .panel-col-first .panel-pane.pane-node-field-cta-buttons,
.node-type-ibss-project #content .panel-col-first .panel-pane.pane-node-field-cta-buttons,
.node-type-blog #content .panel-col-first .panel-pane.pane-node-field-cta-buttons,
.node-type-person #content .panel-col-first .panel-pane.pane-node-field-cta-buttons {
  padding-top: 0;
}
/* line 42, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-explore-science-article #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-ibss-project #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-blog #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane,
.node-type-person #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane {
  margin-bottom: 60px;
}
/* line 51, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-title,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-explore-science-article #content .panel-col-first .pane-title,
.node-type-explore-science-article #content .panel-col-first .pane-title *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-ibss-project #content .panel-col-first .pane-title,
.node-type-ibss-project #content .panel-col-first .pane-title *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-blog #content .panel-col-first .pane-title,
.node-type-blog #content .panel-col-first .pane-title *,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-title,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead *,
.node-type-person #content .panel-col-first .pane-title,
.node-type-person #content .panel-col-first .pane-title *,
.node-type-person #content .panel-col-first .pane-node-field-related-content-title,
.node-type-person #content .panel-col-first .pane-node-field-related-content-title *,
.node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead * {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 51, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-explore-science-article #content .panel-col-first .pane-title,
  .node-type-explore-science-article #content .panel-col-first .pane-title *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-ibss-project #content .panel-col-first .pane-title,
  .node-type-ibss-project #content .panel-col-first .pane-title *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-blog #content .panel-col-first .pane-title,
  .node-type-blog #content .panel-col-first .pane-title *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-person #content .panel-col-first .pane-title,
  .node-type-person #content .panel-col-first .pane-title *,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead * {
    font-size: 28px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 51, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-explore-science-article #content .panel-col-first .pane-title,
  .node-type-explore-science-article #content .panel-col-first .pane-title *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-ibss-project #content .panel-col-first .pane-title,
  .node-type-ibss-project #content .panel-col-first .pane-title *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-blog #content .panel-col-first .pane-title,
  .node-type-blog #content .panel-col-first .pane-title *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead *,
  .node-type-person #content .panel-col-first .pane-title,
  .node-type-person #content .panel-col-first .pane-title *,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-title,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-title *,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead * {
    margin-bottom: 12px;
  }
}
/* line 55, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-title h2,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-explore-science-article #content .panel-col-first .pane-title h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-ibss-project #content .panel-col-first .pane-title h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-ibss-project #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-blog #content .panel-col-first .pane-title h2,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-blog #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-blog #content .panel-col-first .pane-node-field-tertiary-subhead h2,
.node-type-person #content .panel-col-first .pane-title h2,
.node-type-person #content .panel-col-first .pane-node-field-related-content-title h2,
.node-type-person #content .panel-col-first .pane-node-field-related-content-subtitle h2,
.node-type-person #content .panel-col-first .pane-node-field-related-pages-subtitle h2,
.node-type-person #content .panel-col-first .pane-node-field-tertiary-subhead h2 {
  margin: 0;
}
/* line 60, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-body,
.node-type-content-page #content .panel-col-first .pane-node-field-summary,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-explore-science-article #content .panel-col-first .pane-node-body,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-summary,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-ibss-project #content .panel-col-first .pane-node-body,
.node-type-ibss-project #content .panel-col-first .pane-node-field-summary,
.node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-blog #content .panel-col-first .pane-node-body,
.node-type-blog #content .panel-col-first .pane-node-field-summary,
.node-type-blog #content .panel-col-first .pane-node-field-related-pages-description,
.node-type-person #content .panel-col-first .pane-node-body,
.node-type-person #content .panel-col-first .pane-node-field-summary,
.node-type-person #content .panel-col-first .pane-node-field-related-pages-description {
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 60, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-node-body,
  .node-type-content-page #content .panel-col-first .pane-node-field-summary,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-explore-science-article #content .panel-col-first .pane-node-body,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-summary,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-ibss-project #content .panel-col-first .pane-node-body,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-summary,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-blog #content .panel-col-first .pane-node-body,
  .node-type-blog #content .panel-col-first .pane-node-field-summary,
  .node-type-blog #content .panel-col-first .pane-node-field-related-pages-description,
  .node-type-person #content .panel-col-first .pane-node-body,
  .node-type-person #content .panel-col-first .pane-node-field-summary,
  .node-type-person #content .panel-col-first .pane-node-field-related-pages-description {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 72, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-body,
.node-type-explore-science-article #content .panel-col-first .pane-node-body,
.node-type-ibss-project #content .panel-col-first .pane-node-body,
.node-type-blog #content .panel-col-first .pane-node-body,
.node-type-person #content .panel-col-first .pane-node-body {
  padding-bottom: 20px;
}
/* line 76, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-content-page #content .panel-col-first .pane-node-field-content-column > .field > .field-items > .field-item:last-child,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-content-column > .field > .field-items > .field-item:last-child,
.node-type-ibss-project #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-ibss-project #content .panel-col-first .pane-node-field-content-column > .field > .field-items > .field-item:last-child,
.node-type-blog #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-blog #content .panel-col-first .pane-node-field-content-column > .field > .field-items > .field-item:last-child,
.node-type-person #content .panel-col-first .pane-node-field-article-section > .field > .field-items > .field-item,
.node-type-person #content .panel-col-first .pane-node-field-content-column > .field > .field-items > .field-item:last-child {
  margin-bottom: 60px;
}
/* line 82, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item,
.node-type-person #content .panel-col-first .field-name-field-cta-link .field-item {
  margin-top: 20px;
}
/* line 85, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item:first-child,
.node-type-person #content .panel-col-first .field-name-field-cta-link .field-item:first-child {
  margin-top: 0;
}
/* line 89, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item a,
.node-type-person #content .panel-col-first .field-name-field-cta-link .field-item a {
  font-size: 17px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 89, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-explore-science-article #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-ibss-project #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-blog #content .panel-col-first .field-name-field-cta-link .field-item a,
  .node-type-person #content .panel-col-first .field-name-field-cta-link .field-item a {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 100, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-content-page #content .panel-col-first .pane-node-field-google-map,
.node-type-explore-science-article #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-google-map,
.node-type-ibss-project #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-ibss-project #content .panel-col-first .pane-node-field-google-map,
.node-type-blog #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-blog #content .panel-col-first .pane-node-field-google-map,
.node-type-person #content .panel-col-first .pane-related-content-random-field-related-content-tags,
.node-type-person #content .panel-col-first .pane-node-field-google-map {
  margin-bottom: 40px;
}
/* line 107, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-node-field-map iframe,
.node-type-content-page #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-map iframe,
.node-type-explore-science-article #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-ibss-project #content .panel-col-first .pane-node-field-map iframe,
.node-type-ibss-project #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-blog #content .panel-col-first .pane-node-field-map iframe,
.node-type-blog #content .panel-col-first .pane-node-field-google-map iframe,
.node-type-person #content .panel-col-first .pane-node-field-map iframe,
.node-type-person #content .panel-col-first .pane-node-field-google-map iframe {
  width: 100%;
  min-height: 390px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 107, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-content-page #content .panel-col-first .pane-node-field-map iframe,
  .node-type-content-page #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-map iframe,
  .node-type-explore-science-article #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-map iframe,
  .node-type-ibss-project #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-blog #content .panel-col-first .pane-node-field-map iframe,
  .node-type-blog #content .panel-col-first .pane-node-field-google-map iframe,
  .node-type-person #content .panel-col-first .pane-node-field-map iframe,
  .node-type-person #content .panel-col-first .pane-node-field-google-map iframe {
    min-height: 296px;
  }
}
/* line 117, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-testimonials-related,
.node-type-explore-science-article #content .panel-col-first .pane-testimonials-related,
.node-type-ibss-project #content .panel-col-first .pane-testimonials-related,
.node-type-blog #content .panel-col-first .pane-testimonials-related,
.node-type-person #content .panel-col-first .pane-testimonials-related {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 123, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-explore-science-article #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-ibss-project #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-blog #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field,
.node-type-person #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field {
  color: #5e924d;
}
/* line 133, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-content-page #content .right-rail .panel-pane,
.node-type-explore-science-article #content .right-rail .panel-pane,
.node-type-ibss-project #content .right-rail .panel-pane,
.node-type-blog #content .right-rail .panel-pane,
.node-type-person #content .right-rail .panel-pane {
  padding-bottom: 20px;
}

/* line 143, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-explore-science-article #content header .field-name-field-subtitle {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
}
/* line 486, ../../sass/calacademy/_mixins.scss */
.node-type-explore-science-article #content header .field-name-field-subtitle a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 798, ../../sass/calacademy/_mixins.scss */
  .node-type-explore-science-article #content header .field-name-field-subtitle a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 818, ../../sass/calacademy/_mixins.scss */
  .node-type-explore-science-article #content header .field-name-field-subtitle a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 143, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-explore-science-article #content header .field-name-field-subtitle {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 150, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-explore-science-article #content .panel-col-first .pane-node-body {
  margin-bottom: 40px;
}

/* line 162, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project #content .panel-col-first .pane-hero-media-slideshow-standard,
.node-type-blog #content .panel-col-first .pane-hero-media-slideshow-standard {
  margin-bottom: 20px !important;
}
/* line 172, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content > div,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content > div,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content > div,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content > div {
  margin-bottom: 40px;
}
/* line 176, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-subtitle,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-subtitle,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-subtitle,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-subtitle {
  margin-bottom: 4px;
}
/* line 177, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-subtitle h2,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-subtitle h2,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-subtitle h2,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-subtitle h2 {
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}
/* line 188, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-inline-image img,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-inline-image img,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-inline-image img,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-inline-image img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 220px;
  height: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 188, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-inline-image img,
  .node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-inline-image img,
  .node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-inline-image img,
  .node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-inline-image img {
    width: 167px;
    height: 167px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 188, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-inline-image img,
  .node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-inline-image img,
  .node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-inline-image img,
  .node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-inline-image img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
}
/* line 209, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .slideshow-hero,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .slideshow-hero,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .slideshow-hero,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .slideshow-hero {
  margin-top: 20px;
}
/* line 211, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .slideshow-hero div,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .slideshow-hero div,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .slideshow-hero div,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .slideshow-hero div {
  margin-bottom: 0 !important;
}
/* line 216, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link {
  margin-top: 20px;
}
/* line 218, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content {
  margin-top: 0;
}
/* line 220, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content:first-child,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content:first-child,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content:first-child,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content:first-child {
  margin-top: 0;
}
/* line 223, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content li.first,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content li.first,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content li.first,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content li.first {
  margin-bottom: 10px;
}
/* line 226, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a {
  font-size: 17px;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 798, ../../sass/calacademy/_mixins.scss */
  .node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 818, ../../sass/calacademy/_mixins.scss */
  .node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 226, ../../sass/calacademy/node-type-content-page-and-more.scss */
  .node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .views-field-field-cta-link .field-content a,
  .node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .views-field-field-cta-link .field-content a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 240, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_ibss_project_article_section .view-content .clear-floats,
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .clear-floats,
.node-type-blog .view-display-id-panel_pane_ibss_project_article_section .view-content .clear-floats,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .clear-floats {
  height: 0px;
}
/* line 249, ../../sass/calacademy/node-type-content-page-and-more.scss */
.node-type-ibss-project .view-display-id-panel_pane_blog_article_section .view-content .slideshow-hero,
.node-type-blog .view-display-id-panel_pane_blog_article_section .view-content .slideshow-hero {
  margin-top: 0;
}
