@-moz-keyframes border-highlight {
  0% {
    -moz-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    border: 1px solid #d9d9d9;
  }
  50% {
    -moz-box-shadow: 0 0 0 8px #186aa8;
    box-shadow: 0 0 0 8px #186aa8;
    border: 1px solid rgba(249, 249, 249, 0.9);
  }
  100% {
    -moz-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    border: 1px solid #d9d9d9;
  }
}
@-webkit-keyframes border-highlight {
  0% {
    -webkit-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    border: 1px solid #d9d9d9;
  }
  50% {
    -webkit-box-shadow: 0 0 0 8px #186aa8;
    box-shadow: 0 0 0 8px #186aa8;
    border: 1px solid rgba(249, 249, 249, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    border: 1px solid #d9d9d9;
  }
}
@keyframes border-highlight {
  0% {
    -moz-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    -webkit-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    border: 1px solid #d9d9d9;
  }
  50% {
    -moz-box-shadow: 0 0 0 8px #186aa8;
    -webkit-box-shadow: 0 0 0 8px #186aa8;
    box-shadow: 0 0 0 8px #186aa8;
    border: 1px solid rgba(249, 249, 249, 0.9);
  }
  100% {
    -moz-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    -webkit-box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    box-shadow: 0 0 0 8px rgba(24, 106, 168, 0);
    border: 1px solid #d9d9d9;
  }
}
/* line 18, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
}

/* line 26, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/50.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 753, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/50@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 773, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen {
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
  }
}
/* line 33, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #top-level-nav-wrapper,
.node-type-gigamacro-specimen header,
.node-type-gigamacro-specimen .tabs,
.node-type-gigamacro-specimen footer,
.node-type-gigamacro-specimen .leaflet-control-attribution,
.node-type-gigamacro-specimen #content > article,
.node-type-gigamacro-specimen #content > #main-content {
  display: none;
}
/* line 43, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content {
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 92px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 43, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
  .node-type-gigamacro-specimen #content {
    top: 56px;
  }
}
/* line 59, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend {
  -moz-border-radius-topright: 125px;
  -webkit-border-top-right-radius: 125px;
  border-top-right-radius: 125px;
  -moz-border-radius-bottomleft: 125px;
  -webkit-border-bottom-left-radius: 125px;
  border-bottom-left-radius: 125px;
  padding-bottom: 80px;
  position: absolute;
  width: 275px;
  z-index: 2;
  background-color: rgba(249, 249, 249, 0.9);
  border: 1px solid #d9d9d9;
  left: 20px;
}
/* line 71, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend h1, .node-type-gigamacro-specimen #content #legend h2, .node-type-gigamacro-specimen #content #legend div {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 77, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .return {
  margin: 0;
  padding: 20px;
}
/* line 81, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .return a {
  font-size: 1.2em;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-left.png");
  padding-left: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 753, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen #content #legend .return a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-left@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 773, ../../sass/calacademy/_mixins.scss */
  .node-type-gigamacro-specimen #content #legend .return a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 89, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend > *:empty,
.node-type-gigamacro-specimen #content #legend .commenter *:empty,
.node-type-gigamacro-specimen #content #legend .pin_stuff {
  display: none;
}
/* line 96, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend.pin-details.highlight {
  -moz-animation: border-highlight 1s;
  -webkit-animation: border-highlight 1s;
  animation: border-highlight 1s;
}
/* line 100, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend.pin-details .pin_stuff {
  display: block;
}
/* line 103, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend.pin-details .pin_stuff:empty, .node-type-gigamacro-specimen #content #legend.pin-details .pin_stuff.empty {
  display: none;
}
/* line 110, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .common_name {
  font-weight: 500;
}
/* line 114, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .scientific_name {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  margin-top: -5px;
}
/* line 121, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .details {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
/* line 127, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .pin_title {
  padding-top: 20px;
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 0 20px;
  min-height: 48px;
  background-size: 42px 48px;
  background-image: url("/sites/all/themes/calacademy_zen/images/gigamacro/pin.svg");
  border-top: 3px solid rgba(217, 217, 217, 0.5);
  margin-top: 20px;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 500;
}
/* line 143, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .commenter {
  margin-bottom: 20px;
}
/* line 146, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .commenter div {
  margin-left: 0;
}
/* line 150, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .commenter .name {
  font-weight: 600;
}
/* line 155, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content #legend .common_name,
.node-type-gigamacro-specimen #content #legend .pin_title {
  color: #186aa8;
}
/* line 161, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container {
  z-index: 1;
  height: 100%;
  background-color: #ffffff !important;
}
/* line 164, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container, .node-type-gigamacro-specimen #content .leaflet-container * {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 172, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .leaflet-control-zoom {
  margin-right: 36px;
  margin-top: 36px;
  border: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 177, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .leaflet-control-zoom a {
  -webkit-font-smoothing: none;
  font-smoothing: none;
  font-smooth: never;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #186aa8;
  color: #ffffff;
  box-shadow: 0px 0px 0px 3px rgba(107, 184, 239, 0.8);
}
/* line 195, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .leaflet-control-zoom a:last-child {
  margin-top: 14px;
}
/* line 199, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .leaflet-control-zoom a.control-refresh {
  margin-bottom: 30px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-image: url("/sites/all/themes/calacademy_zen/images/gigamacro/refresh.svg");
  background-size: 15px 19px;
  background-position: center 9px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
}
/* line 216, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .calacademy-pin, .node-type-gigamacro-specimen #content .leaflet-container .calacademy-pin div {
  width: 42px;
  height: 48px;
}
/* line 221, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .calacademy-pin div {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  background-image: url("/sites/all/themes/calacademy_zen/images/gigamacro/pin.svg");
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
/* line 20, ../../sass/calacademy/_mixins.scss */
.lt-ie9 .node-type-gigamacro-specimen #content .leaflet-container .calacademy-pin div {
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
/* line 234, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.node-type-gigamacro-specimen #content .leaflet-container .calacademy-pin.selected div {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 243, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.floor .node-type-gigamacro-specimen nav {
  display: none;
}
/* line 247, ../../sass/calacademy/node-type-gigamacro-specimen.scss */
.floor .node-type-gigamacro-specimen #content {
  top: 0;
}
