/* line 4, ../../sass/calacademy/node-type-person.scss */
.node-type-person .panel-col-first {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  padding-right: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 4, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .panel-col-first {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 15, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .right-rail {
    margin-top: 20px;
  }
}
/* line 21, ../../sass/calacademy/node-type-person.scss */
.node-type-person .page-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 26, ../../sass/calacademy/node-type-person.scss */
.node-type-person .page-header .pane-node-title h3 {
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 26, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .page-header .pane-node-title h3 {
    font-size: 36px;
  }
}
/* line 40, ../../sass/calacademy/node-type-person.scss */
.node-type-person .page-header .pane-node-field-subtitle, .node-type-person .page-header .pane-node-field-subtitle div {
  color: #1a1a1a;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 40, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .page-header .pane-node-field-subtitle, .node-type-person .page-header .pane-node-field-subtitle div {
    font-size: 20px;
  }
}
/* line 55, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-field-image-primary,
.node-type-person .pane-node-field-slideshow-frame-bg-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 58, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-field-image-primary, .node-type-person .pane-node-field-image-primary img,
.node-type-person .pane-node-field-slideshow-frame-bg-image,
.node-type-person .pane-node-field-slideshow-frame-bg-image img {
  width: 220px;
  height: 220px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 55, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .pane-node-field-image-primary,
  .node-type-person .pane-node-field-slideshow-frame-bg-image {
    margin: 0;
    margin-bottom: 40px;
  }
  /* line 68, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .pane-node-field-image-primary, .node-type-person .pane-node-field-image-primary img,
  .node-type-person .pane-node-field-slideshow-frame-bg-image,
  .node-type-person .pane-node-field-slideshow-frame-bg-image img {
    width: 100%;
    height: inherit;
  }
}
/* line 78, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-body {
  margin-bottom: 20px;
}
/* line 82, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-views-panes {
  clear: both;
  padding-top: 20px;
}
/* line 86, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-views-panes .pane-title {
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 86, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .pane-views-panes .pane-title {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 36px;
  }
}
