/* line 179, ../../sass/calacademy/_mixins.scss */
.node-type-person .panel-col-first,
.node-type-person .right-rail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 183, ../../sass/calacademy/_mixins.scss */
.node-type-person .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 188, ../../sass/calacademy/_mixins.scss */
.node-type-person .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 194, ../../sass/calacademy/_mixins.scss */
  .node-type-person .panel-col-first,
  .node-type-person .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .right-rail {
    margin-top: 20px;
  }
}
/* line 12, ../../sass/calacademy/node-type-person.scss */
.node-type-person .page-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 17, ../../sass/calacademy/node-type-person.scss */
.node-type-person .page-header .pane-node-title h3 {
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 17, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .page-header .pane-node-title h3 {
    font-size: 36px;
  }
}
/* line 31, ../../sass/calacademy/node-type-person.scss */
.node-type-person .page-header .pane-node-field-subtitle, .node-type-person .page-header .pane-node-field-subtitle div {
  color: #1a1a1a;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 31, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .page-header .pane-node-field-subtitle, .node-type-person .page-header .pane-node-field-subtitle div {
    font-size: 20px;
  }
}
/* line 45, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-body {
  margin-bottom: 20px;
}
/* line 49, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-views-panes {
  clear: both;
  padding-top: 20px;
}
/* line 53, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-views-panes .pane-title {
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 53, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .pane-views-panes .pane-title {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 36px;
  }
}
/* line 68, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-field-image-primary,
.node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail,
.node-type-person .pane-hero-media-standard-hero-image-pane,
.node-type-person .pane-node-field-slideshow-frame-bg-image {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 71, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-field-image-primary .views-field,
.node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail .views-field,
.node-type-person .pane-hero-media-standard-hero-image-pane .views-field,
.node-type-person .pane-node-field-slideshow-frame-bg-image .views-field {
  width: 100%;
  height: auto;
}
/* line 76, ../../sass/calacademy/node-type-person.scss */
.node-type-person .pane-node-field-image-primary, .node-type-person .pane-node-field-image-primary img,
.node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail,
.node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail img,
.node-type-person .pane-hero-media-standard-hero-image-pane,
.node-type-person .pane-hero-media-standard-hero-image-pane img,
.node-type-person .pane-node-field-slideshow-frame-bg-image,
.node-type-person .pane-node-field-slideshow-frame-bg-image img {
  width: 220px;
  height: 220px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 68, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .pane-node-field-image-primary,
  .node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail,
  .node-type-person .pane-hero-media-standard-hero-image-pane,
  .node-type-person .pane-node-field-slideshow-frame-bg-image {
    float: none;
    margin-right: 0;
  }
  /* line 89, ../../sass/calacademy/node-type-person.scss */
  .node-type-person .pane-node-field-image-primary, .node-type-person .pane-node-field-image-primary img,
  .node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail,
  .node-type-person .pane-hero-media-standard-hero-image-pane-thumbnail img,
  .node-type-person .pane-hero-media-standard-hero-image-pane,
  .node-type-person .pane-hero-media-standard-hero-image-pane img,
  .node-type-person .pane-node-field-slideshow-frame-bg-image,
  .node-type-person .pane-node-field-slideshow-frame-bg-image img {
    width: 100%;
    height: inherit;
  }
}
