@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 5, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today f
  .panel-pane {
    width: 100%;
  }
}
/* line 11, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 14, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top .pane-node-title {
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 14, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-title {
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 14, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-title {
    float: none;
  }
}
/* line 23, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle,
.node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field {
  color: #575757;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  padding-left: 6px;
  padding-top: 13px;
  float: left;
}
/* line 34, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle h2,
.node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field h2 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 23, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle,
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field {
    padding-left: 0;
    padding-top: 0;
    float: none;
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 23, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle,
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field {
    padding-left: 0;
    padding-top: 0;
    float: none;
  }
}
/* line 56, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first,
.node-type-landing-page-science-today .panel-col-last {
  margin-top: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 56, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first,
  .node-type-landing-page-science-today .panel-col-last {
    margin-top: 20px;
    width: 100%;
  }
}
/* line 66, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .pane-es-science-today-featured-articles-panel-pane-1 .pane-title {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 65, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first {
    margin-top: 20px;
    width: 77%;
    padding-right: 2%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 65, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first {
    width: 100%;
  }
}
/* line 77, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row {
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 80, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 {
    width: 70%;
    margin-right: 3%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 80, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 {
    width: 100% !important;
    margin-right: 0;
    padding-right: 0;
  }
}
/* line 91, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-body {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 91, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-body {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 91, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-body {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 111, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large.png");
  padding-right: 35px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 634, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large@2x.png");
  }
}
@media only screen and (min-width: 1001px) {
  /* line 654, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    -webkit-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 634, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large@2x.png");
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 654, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    -webkit-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 111, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
    padding-right: 25px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 128, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 128, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 138, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 107px;
  height: 107px;
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-science-today.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 138, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
    top: 12px;
    left: 12px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 634, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-science-today@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 654, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
    -moz-background-size: 107px, 107px;
    -o-background-size: 107px, 107px;
    -webkit-background-size: 107px, 107px;
    background-size: 107px, 107px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 159, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 159, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 {
    padding-left: 0;
    padding-right: 6px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 169, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 {
    padding-left: 6px;
    padding-right: 0;
  }
}
/* line 178, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-title .field-content a,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-title .field-content a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 178, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-title .field-content a,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-title .field-content a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 189, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-field-hero-region,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-field-hero-region {
  margin-bottom: 12px;
}
/* line 192, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-body,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-body {
  margin-top: 6px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 176, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 {
    width: 27%;
    margin-right: 0;
  }
  /* line 197, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-field-hero-region,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-field-hero-region {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 176, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 {
    width: 50%;
  }
  /* line 205, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-field-hero-region,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-field-hero-region {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 214, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last {
  width: 23%;
  /* creature of the week */
}
/* line 216, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .pane-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: italic;
}
/* line 222, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 227, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row .views-field-title {
  font-weight: 500;
}
/* line 230, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row .views-field-body {
  overflow: hidden;
}
/* line 233, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row .views-field:last-child {
  margin-bottom: 0;
}
/* line 237, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last.right-rail {
  border-top: 0;
  padding-top: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 237, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.right-rail {
    float: left;
    margin-top: 20px;
    width: 20%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 237, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.right-rail {
    width: 100%;
  }
}
/* line 251, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last.bottom-row-right-rail {
  width: 50%;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 251, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.bottom-row-right-rail {
    width: 47%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 251, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.bottom-row-right-rail {
    width: 100%;
  }
}
/* line 263, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .bottom-row-content {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 263, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .bottom-row-content {
    width: 50% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 271, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss {
    width: 100%;
  }
}
/* line 276, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 12px;
}
/* line 286, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left {
  width: 220px;
  float: left;
  clear: left;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 286, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left {
    width: 48%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 286, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left {
    width: 48%;
    height: 100%;
  }
}
/* line 298, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right {
  width: 220px;
  float: right;
  clear: right;
  padding-right: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 298, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right {
    width: 48%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 298, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right {
    width: 48%;
    padding-right: 0;
  }
}
/* line 313, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row {
  margin-bottom: 0;
  width: 220px;
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 313, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row {
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 313, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row {
    width: 100% !important;
  }
}
/* line 332, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title .field-content,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title .field-content {
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 340, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-body .field-type-text-with-summary .field-items .field-item,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-body .field-type-text-with-summary .field-items .field-item {
    width: 100% !important;
  }
}
/* line 349, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field:last-child,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field:last-child {
  margin-bottom: 0;
}
/* line 355, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) {
  padding-top: 0;
  border-top: none;
}
/* line 359, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 359, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field {
    width: 100% !important;
    height: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 359, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 371, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-field-hero-region {
  margin-bottom: 10px;
}
/* line 375, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-title {
  padding-top: 0;
}
/* line 377, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-title a {
  padding-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 377, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-title a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 394, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 {
  margin-bottom: 0;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 394, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 394, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 409, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .view-astronomical-events {
    height: 345px;
  }
}
/* line 413, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .view-astronomical-events .views-row-first {
  position: relative;
}
/* line 417, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .view-astronomical-events .views-row-first > .field-container {
  z-index: 2;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
}
/* line 430, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-title a {
  pointer-events: none;
  cursor: default;
  color: white;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  font-style: italic;
  background-image: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 430, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-title a {
    font-size: 21px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 430, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-title a {
    font-size: 20px;
    line-height: 18px;
  }
}
/* line 448, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-publish-date {
  display: none;
}
/* line 451, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 454, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body .field-content {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 454, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body .field-content {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 454, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body .field-content {
    font-size: 15px;
    line-height: 16px;
  }
}
/* line 469, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-image-primary {
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 469, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-image-primary {
    width: 100% !important;
    height: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 469, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-image-primary {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 486, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week {
  padding-top: 14px;
}
/* line 489, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row {
  border-top: none;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 495, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row .views-field-field-hero-region {
  z-index: 1;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 500, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row .views-field-field-hero-region .field-content a img {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 6, ../../sass/calacademy/_mixins.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row .views-field-field-hero-region a:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNTQ3MjEiIHkxPSItMC4wMzk2MTQiIHgyPSIwLjQ1Mjc5IiB5Mj0iMS4wMzk2MTQiPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(265deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85));
  background-image: -webkit-linear-gradient(265deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85));
  background-image: linear-gradient(-175deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.85));
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* line 514, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container {
  display: block;
  z-index: 2;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  width: 80%;
}
/* line 525, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container h2.pane-title {
  color: white;
}
/* line 528, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container .views-field-title .field-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
/* line 532, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container .views-field-title .field-content a {
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 634, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .creature-field-container .views-field-title .field-content a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 654, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .creature-field-container .views-field-title .field-content a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 537, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container .views-field-body {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.4);
}
/* line 546, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .pane-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 12px;
}
/* line 553, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row {
  margin-right: 20px;
  margin-bottom: 20px;
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 559, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row .views-field {
  margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 553, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row {
    margin-bottom: 12px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 566, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row a {
    height: 100% !important;
  }
}
