@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 5, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today f
  .panel-pane {
    width: 100%;
  }
}
/* line 11, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 14, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top .pane-node-title {
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 14, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-title {
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 14, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-title {
    float: none;
  }
}
/* line 23, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle,
.node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field {
  color: #575757;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: italic;
  padding-left: 6px;
  padding-top: 20px;
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 23, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle,
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field {
    padding-left: 0;
    padding-top: 0;
    float: none;
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 23, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle,
  .node-type-landing-page-science-today .panel-col-top .pane-node-field-subtitle .field {
    padding-left: 0;
    padding-top: 0;
    float: none;
  }
}
/* line 48, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first,
.node-type-landing-page-science-today .panel-col-last {
  margin-top: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 48, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first,
  .node-type-landing-page-science-today .panel-col-last {
    margin-top: 20px;
    width: 100%;
  }
}
/* line 58, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .pane-es-science-today-featured-articles-panel-pane-1 .pane-title {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 57, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first {
    margin-top: 20px;
    width: 77%;
    padding-right: 2%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 57, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first {
    width: 100%;
  }
}
/* line 69, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row {
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 72, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 {
    width: 70%;
    margin-right: 3%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 72, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 {
    width: 100% !important;
    margin-right: 0;
    padding-right: 0;
  }
}
/* line 83, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-body {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 83, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-body {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 83, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-body {
    width: 100%;
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 103, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
  font-size: 26px;
  line-height: 35px;
  font-weight: 500;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 103, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-title .field-content a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 114, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 114, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 124, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 107px;
  height: 107px;
  background-image: url("/sites/all/themes/calacademy_zen/images/logo-science-today.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 124, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
    top: 12px;
    left: 12px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 603, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
    background-image: url("/sites/all/themes/calacademy_zen/images/logo-science-today@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 623, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row-1 .views-field-field-hero-region .field-content > .science-today-logo-inset {
    -moz-background-size: 107px, 107px;
    -o-background-size: 107px, 107px;
    -webkit-background-size: 107px, 107px;
    background-size: 107px, 107px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 145, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 {
    padding-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 145, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 {
    padding-left: 0;
    padding-right: 6px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 155, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 {
    padding-left: 6px;
    padding-right: 0;
  }
}
/* line 164, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-title .field-content a,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-title .field-content a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 164, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-title .field-content a,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-title .field-content a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 175, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-field-hero-region,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-field-hero-region {
  margin-bottom: 12px;
}
/* line 178, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-body,
.node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-body {
  margin-top: 6px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 162, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 {
    width: 27%;
    margin-right: 0;
  }
  /* line 183, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-field-hero-region,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-field-hero-region {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 162, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 {
    width: 50%;
  }
  /* line 191, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-2 .views-field-field-hero-region,
  .node-type-landing-page-science-today .panel-col-first .tri-col-highlight .views-row.views-row-3 .views-field-field-hero-region {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 200, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last {
  width: 23%;
  /* creature of the week */
}
/* line 202, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .pane-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 8px;
}
/* line 209, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row {
  border-top: 1px solid #ccc;
  padding-top: 8px;
}
/* line 212, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row .views-field-title {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 212, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last .views-row .views-field-title {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 221, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last .views-row .views-field-body {
  margin-top: 4px;
  overflow: hidden;
}
/* line 226, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last.right-rail {
  border-top: 0;
  padding-top: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 226, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.right-rail {
    float: left;
    margin-top: 20px;
    width: 20%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 226, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.right-rail {
    width: 100%;
  }
}
/* line 240, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .panel-col-last.bottom-row-right-rail {
  width: 50%;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 240, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.bottom-row-right-rail {
    width: 47%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 240, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .panel-col-last.bottom-row-right-rail {
    width: 100%;
  }
}
/* line 252, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .bottom-row-content {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 252, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .bottom-row-content {
    width: 50% !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 260, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss {
    width: 100%;
  }
}
/* line 265, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 12px;
}
/* line 275, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left {
  width: 220px;
  float: left;
  clear: left;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 275, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left {
    width: 48%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 275, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left {
    width: 48%;
    height: 100%;
  }
}
/* line 287, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right {
  width: 220px;
  float: right;
  clear: right;
  padding-right: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 287, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right {
    width: 48%;
    padding-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 287, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right {
    width: 48%;
    padding-right: 0;
  }
}
/* line 302, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row {
  margin-bottom: 0;
  width: 220px;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 302, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row {
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 302, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row {
    width: 100% !important;
  }
}
/* line 319, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title {
  padding-top: 10px;
  padding-bottom: 2px;
}
/* line 322, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title .field-content,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title .field-content {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}
/* line 326, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title .field-content a,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title .field-content a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 603, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title .field-content a,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title .field-content a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 623, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title .field-content a,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title .field-content a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 322, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-title .field-content,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-title .field-content {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 336, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-body,
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-body {
  margin-top: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 340, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-left > .views-row .views-field-body .field-type-text-with-summary .field-items .field-item,
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .view-display-id-panel_pane_st_cant_miss .cant-miss-container-right > .views-row .views-field-body .field-type-text-with-summary .field-items .field-item {
    width: 100% !important;
  }
}
/* line 352, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) {
  border-top: none;
}
/* line 356, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 356, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field {
    width: 100% !important;
    height: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 356, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 368, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-field-hero-region {
  margin-bottom: 10px;
}
/* line 372, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-title {
  padding-top: 0;
}
/* line 374, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-title a {
  padding-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 374, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .cant-miss-container-right > .views-row:nth-child(1) .views-field-title a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 391, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 {
  margin-bottom: 0;
  width: 220px;
  height: 220px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 391, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 391, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 406, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .view-astronomical-events {
    height: 345px;
  }
}
/* line 410, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .view-astronomical-events .views-row-first {
  position: relative;
}
/* line 414, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .view-astronomical-events .views-row-first > .field-container {
  z-index: 2;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
}
/* line 427, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-title a {
  pointer-events: none;
  cursor: default;
  color: white;
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  font-style: italic;
  background-image: none;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 427, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-title a {
    font-size: 21px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 427, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-title a {
    font-size: 20px;
    line-height: 18px;
  }
}
/* line 445, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-publish-date {
  display: none;
}
/* line 448, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 451, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body .field-content {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 451, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body .field-content {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 451, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-body .field-content {
    font-size: 15px;
    line-height: 16px;
  }
}
/* line 466, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-image-primary {
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 466, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-image-primary {
    width: 100% !important;
    height: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 466, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-st-cant-miss .pane-astronomical-events-panel-pane-1 .views-field-field-image-primary {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 483, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week {
  padding-top: 14px;
}
/* line 487, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row {
  border-top: none;
  position: relative;
  padding-top: 0;
}
/* line 492, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row .views-field-field-hero-region {
  z-index: 1;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 496, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row .views-field-field-hero-region .field-content a img {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 502, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-es-science-today-featured-articles-panel-pane-creature-week .view > .view-content > .views-row .views-field-field-hero-region .field-content a.video:before {
  background-image: none !important;
}
/* line 510, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container {
  display: block;
  z-index: 2;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  width: 80%;
}
/* line 521, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container h2.pane-title {
  color: white;
}
/* line 524, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container .views-field-title .field-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
/* line 528, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container .views-field-title .field-content a {
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 603, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .creature-field-container .views-field-title .field-content a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 623, ../../sass/calacademy/_mixins.scss */
  .node-type-landing-page-science-today .creature-field-container .views-field-title .field-content a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 533, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .creature-field-container .views-field-body {
  margin-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 535, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .creature-field-container .views-field-body .field-content {
    font-size: 12px !important;
    line-height: 18px !important;
  }
}
/* line 548, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .pane-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 12px;
}
/* line 555, ../../sass/calacademy/node-type-landing-page-science-today.scss */
.node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row {
  margin-right: 20px;
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 555, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row {
    margin-bottom: 0 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 561, ../../sass/calacademy/node-type-landing-page-science-today.scss */
  .node-type-landing-page-science-today .pane-category-listings-panel-pane-1 .view-category-listings > .view-content > .views-row a {
    height: 100% !important;
  }
}
