/* line 4, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page .inside {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 9, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page .panel-col-top,
.node-type-es-landing-page .center-wrapper {
  position: relative;
  z-index: 1;
}
/* line 15, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page .center-wrapper {
  z-index: 2;
}
/* line 20, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page .panel-col-top .panel-pane {
  z-index: 1;
}
/* line 25, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page header {
  z-index: 20;
  padding-top: 0 !important;
  position: absolute;
  width: 1000px;
  left: 50%;
  margin: 0;
  margin-top: 20px;
  margin-left: -500px;
}
/* line 37, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page header h1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 500px;
  color: white !important;
  margin: 0;
  padding: 20px;
  padding-left: 0;
}
/* line 45, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page header h1, .node-type-es-landing-page header h1 span {
  line-height: 50px !important;
  font-size: 46px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 25, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page header {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 374px;
  }
  /* line 57, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page header h1 {
    width: 100%;
    max-width: inherit;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 25, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page header {
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 12px;
  }
  /* line 69, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page header h1 {
    padding: 12px;
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 77, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content {
  max-width: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 77, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 77, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 90, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 90, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 90, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 108, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
}
/* line 115, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .views-field-body {
  font-weight: 400 !important;
}
/* line 119, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .views-row {
  margin-right: 20px;
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
}
/* line 124, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box,
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .image-top {
  position: relative;
  float: left;
}
/* line 130, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box {
  z-index: 21;
}
/* line 133, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 500px;
  min-height: 500px;
  border: 20px solid white;
  padding: 20px;
  background-color: #f27134;
  margin-top: -150px;
  margin-left: -20px;
}
/* line 507, ../../sass/calacademy/_mixins.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field .field, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field p {
  font-weight: 400;
  color: white !important;
  font-size: 36px;
  line-height: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 507, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field .field, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field p {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 519, ../../sass/calacademy/_mixins.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field a, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field .field a, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field p a {
  color: #1a1a1a !important;
  text-decoration: none;
}
/* line 525, ../../sass/calacademy/_mixins.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field p {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 133, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field {
    width: 394px;
    min-height: 394px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 133, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field {
    width: 100%;
    min-height: inherit;
    border: 0;
    padding: 12px;
  }
  /* line 541, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field .field, .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field p {
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 133, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field {
    margin-top: -100px;
    margin-left: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 133, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field {
    margin: 0;
    margin-top: 12px;
  }
}
/* line 149, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box .clone-container {
  width: 100%;
}
/* line 152, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box .clone-container > .views-row {
  float: right;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 130, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box {
    width: 100%;
  }
  /* line 160, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .body-box > .field {
    margin: 0;
    margin-top: 12px;
  }
}
/* line 167, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .es-categories {
  overflow: hidden;
  width: 480px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 167, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .es-categories {
    width: 374px;
  }
}
/* line 176, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper > .es-categories {
  padding-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 176, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper > .es-categories {
    width: 100%;
    padding-top: 12px;
  }
}
/* line 185, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-top #body-category-wrapper .smartphone-only {
  display: none !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 108, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 194, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .smartphone-only {
    display: inline-block;
  }
  /* line 198, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-top #body-category-wrapper .smartphone-hide {
    display: none;
  }
}
/* line 205, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom,
.node-type-es-landing-page #content .pane-content-collections-es-theme {
  clear: both;
  background-color: #ebebeb;
}
/* line 210, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom .view,
.node-type-es-landing-page #content .pane-content-collections-es-theme .view {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 217, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .pane-content-collections-es-theme {
  border-bottom: 4px solid white;
}
/* line 220, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .pane-content-collections-es-theme:last-child {
  border-bottom: 0;
}
/* line 226, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  width: 100%;
  overflow: hidden;
}
/* line 227, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper h2 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: inherit;
  padding: inherit;
}
/* line 240, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  width: 220px;
}
/* line 246, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel .field-name-field-title,
.node-type-es-landing-page #content .center-wrapper .panel-panel .field-name-field-subtitle,
.node-type-es-landing-page #content .center-wrapper .panel-panel .views-field-field-editors-choice-label {
  color: #1a1a1a;
  font-weight: 500;
  font-style: italic;
}
/* line 254, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel .views-row {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}
/* line 259, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel .views-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 266, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel .views-row .views-field-title a {
  font-weight: 500;
}
/* line 273, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel .views-row:first-child .views-field-title a {
  font-size: 24px;
  line-height: 29px;
}
/* line 282, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col {
  width: 460px;
}
/* line 286, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col .views-field-field-hero-region {
  width: 460px;
  height: 460px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 294, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel {
    width: 167px;
  }
  /* line 298, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col {
    width: 354px;
  }
  /* line 302, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col .views-field-field-hero-region {
    width: 354px;
    height: 354px;
  }
  /* line 307, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col-last {
    margin-right: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 314, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel {
    width: 100%;
    margin-right: 0;
  }
  /* line 318, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  /* line 319, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col, .node-type-es-landing-page #content .center-wrapper .panel-panel.panel-col .views-field-field-hero-region {
    width: 100%;
    height: inherit;
  }
  /* line 328, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .center-wrapper .panel-panel .field-name-field-title,
  .node-type-es-landing-page #content .center-wrapper .panel-panel .field-name-field-subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
  }
}
/* line 339, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 347, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field {
  margin-bottom: 20px;
}
/* line 348, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field h2 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* line 356, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-title {
  font-size: 17px;
  font-weight: 600;
}
/* line 349, ../../sass/calacademy/_mixins.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-title a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 614, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 634, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-title a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 356, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-title {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 359, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNjEyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px !important;
  padding-top: 7px !important;
  	/*
  	font-size: 17px;
  
  	@include respond-to(smartphone) {
  		font-size: $smartphoneText;
  	}
  	*/
}
/* line 385, ../../sass/calacademy/_mixins.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link, .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link a {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 385, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link, .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link a {
    font-size: 18px;
  }
}
/* line 393, ../../sass/calacademy/_mixins.scss */
.node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link a {
  display: block;
  color: white;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 614, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 634, ../../sass/calacademy/_mixins.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-field.views-field-field-link a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 339, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 339, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-bottom {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 374, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-row {
    width: 100% !important;
    padding: 0;
  }
  /* line 378, ../../sass/calacademy/node-type-es-landing-page.scss */
  .node-type-es-landing-page #content .panel-col-bottom .views-row .views-field-field-link {
    margin-bottom: 40px;
  }
}
/* line 386, ../../sass/calacademy/node-type-es-landing-page.scss */
.node-type-es-landing-page #footer {
  margin-top: 0;
}
