/* line 4, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 4, ../../sass/calacademy/node-type-content-page.scss */
  .node-type-content-page #content {
    padding-top: 48px;
  }
}
/* line 107, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .panel-col-first,
.node-type-content-page #content .right-rail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 111, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 116, ../../sass/calacademy/_mixins.scss */
.node-type-content-page #content .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 122, ../../sass/calacademy/_mixins.scss */
  .node-type-content-page #content .panel-col-first,
  .node-type-content-page #content .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
/* line 14, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .panel-pane {
  margin-bottom: 20px;
}
/* line 18, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .pane-mixed-content-related-new-tagged-content-pane {
  margin-bottom: 60px;
}
/* line 26, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
.node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
.node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead * {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 26, ../../sass/calacademy/node-type-content-page.scss */
  .node-type-content-page #content .panel-col-first .pane-title, .node-type-content-page #content .panel-col-first .pane-title *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-content-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-subtitle *,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead,
  .node-type-content-page #content .panel-col-first .pane-node-field-tertiary-subhead * {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 33, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .pane-node-body,
.node-type-content-page #content .panel-col-first .pane-node-field-summary,
.node-type-content-page #content .panel-col-first .pane-node-field-related-pages-description {
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 33, ../../sass/calacademy/node-type-content-page.scss */
  .node-type-content-page #content .panel-col-first .pane-node-body,
  .node-type-content-page #content .panel-col-first .pane-node-field-summary,
  .node-type-content-page #content .panel-col-first .pane-node-field-related-pages-description {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 43, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .pane-node-body {
  padding-bottom: 20px;
}
/* line 48, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item {
  margin-top: 20px;
}
/* line 51, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item:first-child {
  margin-top: 0;
}
/* line 55, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a {
  font-size: 17px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 478, ../../sass/calacademy/_mixins.scss */
  .node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 498, ../../sass/calacademy/_mixins.scss */
  .node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 55, ../../sass/calacademy/node-type-content-page.scss */
  .node-type-content-page #content .panel-col-first .field-name-field-cta-link .field-item a {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }
}
/* line 69, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .pane-testimonials-related {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 75, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .panel-col-first .pane-testimonials-related .view-testimonials-related .views-row .views-field {
  color: #5e924d;
}
/* line 85, ../../sass/calacademy/node-type-content-page.scss */
.node-type-content-page #content .right-rail .panel-pane {
  padding-bottom: 20px;
}
