/* line 3, ../../sass/calacademy/page-map.scss */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
}

/* line 11, ../../sass/calacademy/page-map.scss */
.page-map {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f1f1f1;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/50grey.gif");
}
/* line 12, ../../sass/calacademy/page-map.scss */
.page-map, .page-map * {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 713, ../../sass/calacademy/_mixins.scss */
  .page-map {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/50grey@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 733, ../../sass/calacademy/_mixins.scss */
  .page-map {
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    -webkit-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}
/* line 22, ../../sass/calacademy/page-map.scss */
.page-map #top-level-nav-wrapper,
.page-map header,
.page-map .tabs,
.page-map footer {
  display: none;
}
/* line 29, ../../sass/calacademy/page-map.scss */
.page-map #content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0;
  padding-top: 92px;
}
/* line 55, ../../sass/calacademy/page-map.scss */
.page-map #content > article, .page-map #content > #main-content {
  display: none;
}
/* line 73, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui ul,
.page-map #content .map-zoom-controls {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 81, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map {
  position: relative;
  overflow: hidden;
  height: 100%;
  float: left;
  width: 70%;
  width: -moz-calc(100% - 300px);
  width: -ms-calc(100% - 300px);
  width: -o-calc(100% - 300px);
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 87, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .markerLabels {
  font-weight: 500;
  color: #b7b7b7;
  text-shadow: 0 0 3px white;
  text-align: center;
  width: 100px;
  font-size: 12px;
  line-height: 14px;
}
/* line 101, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map, .page-map #content .calacademy_geolocation_map .gm-style, .page-map #content .calacademy_geolocation_map select {
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif !important;
}
/* line 105, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map img {
  max-width: inherit !important;
}
/* line 109, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .gm-style-cc,
.page-map #content .calacademy_geolocation_map a[href^="http://maps.google.com/maps"],
.page-map #content .calacademy_geolocation_map a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
/* line 116, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .gm-style img {
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  -moz-transform-origin: center bottom 0 50%;
  -ms-transform-origin: center bottom 0 50%;
  -webkit-transform-origin: center bottom 0 50%;
  transform-origin: center bottom 0 50%;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 125, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .gm-style img.marker-highlight {
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}
/* line 130, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .map-zoom-controls {
  position: relative;
  z-index: 1;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
/* line 138, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .map-zoom-controls li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: hand;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1px;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: none;
  font-smoothing: none;
  font-smooth: never;
  color: #999999;
}
/* line 159, ../../sass/calacademy/page-map.scss */
.no-touch .page-map #content .calacademy_geolocation_map .map-zoom-controls li:hover, .touch .page-map #content .calacademy_geolocation_map .map-zoom-controls li:active {
  color: #f27134;
}
/* line 172, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock *,
.page-map #content .map-dock-smartphone * {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 176, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container,
.page-map #content .map-dock-smartphone .map-item-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 11px;
  padding-bottom: 13px;
  width: 100%;
  overflow: auto;
}
/* line 186, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .thumb-container,
.page-map #content .map-dock-smartphone .map-item-container .thumb-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  margin-top: 4px;
  margin-right: 15px;
  background-color: #e9e9e9;
}
/* line 194, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .thumb-container, .page-map #content .map-dock .map-item-container .thumb-container img,
.page-map #content .map-dock-smartphone .map-item-container .thumb-container,
.page-map #content .map-dock-smartphone .map-item-container .thumb-container img {
  width: 60px;
  height: 60px;
}
/* line 200, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .text-container,
.page-map #content .map-dock-smartphone .map-item-container .text-container {
  width: auto;
  overflow: hidden;
}
/* line 204, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .text-container .title,
.page-map #content .map-dock-smartphone .map-item-container .text-container .title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
}
/* line 41, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .text-container .title a,
.page-map #content .map-dock-smartphone .map-item-container .text-container .title a {
  color: #f27134;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  padding-right: 20px;
  padding-top: 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 713, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-dock .map-item-container .text-container .title a,
  .page-map #content .map-dock-smartphone .map-item-container .text-container .title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 733, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-dock .map-item-container .text-container .title a,
  .page-map #content .map-dock-smartphone .map-item-container .text-container .title a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 210, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .text-container .details-desc,
.page-map #content .map-dock-smartphone .map-item-container .text-container .details-desc {
  margin-top: 7px;
  line-height: 1.4em;
}
/* line 214, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .text-container .details-desc p,
.page-map #content .map-dock-smartphone .map-item-container .text-container .details-desc p {
  margin-bottom: 15px;
}
/* line 217, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .map-item-container .text-container .details-desc p:last-child,
.page-map #content .map-dock-smartphone .map-item-container .text-container .details-desc p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 210, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-dock .map-item-container .text-container .details-desc,
  .page-map #content .map-dock-smartphone .map-item-container .text-container .details-desc {
    font-size: 14px;
    line-height: 20px;
  }
}
/* line 231, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .no-details .map-item-container,
.page-map #content .map-dock-smartphone .no-details .map-item-container {
  padding: 15px;
}
/* line 238, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: -moz-transform 0.4s ease, top 0.4s ease;
  -o-transition: -o-transform 0.4s ease, top 0.4s ease;
  -webkit-transition: -webkit-transform 0.4s ease, top 0.4s ease;
  transition: transform 0.4s ease, top 0.4s ease;
  border-top: 1px solid #d9d9d9;
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 252, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone, .page-map #content .map-dock-smartphone .shim {
  background-color: #fcfcfc;
}
/* line 256, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone .map-item-container {
  z-index: 2;
  position: relative;
}
/* line 261, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone .map-item-container .thumb-container img {
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 268, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone .map-item-container .thumb-container img.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 275, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone .shim {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 1000px;
}
/* line 284, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui {
  float: left;
  width: 30%;
  width: -moz-calc(300px);
  width: -ms-calc(300px);
  width: -o-calc(300px);
  width: -webkit-calc(300px);
  width: calc(300px);
  background-color: white;
}
/* line 289, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus {
  position: relative;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
/* line 295, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: auto;
}
/* line 301, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div {
  cursor: hand;
  cursor: pointer;
}
/* line 304, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  display: block;
  padding: 15px;
  height: 45px;
}
/* line 41, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div span a {
  color: #f27134;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  padding-right: 20px;
  padding-top: 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 713, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-ui .map-menus .titles div span a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 733, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-ui .map-menus .titles div span a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 313, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div#title-floor {
  float: left;
}
/* line 317, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div#title-floor span {
  padding-right: 26px;
  background-image: url("/sites/all/themes/calacademy_zen/images/drop-down-arrow.png");
  background-repeat: no-repeat;
  background-position: right 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 713, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-ui .map-menus .titles div#title-floor span {
    background-image: url("/sites/all/themes/calacademy_zen/images/drop-down-arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 733, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-ui .map-menus .titles div#title-floor span {
    -moz-background-size: 16px, 9px;
    -o-background-size: 16px, 9px;
    -webkit-background-size: 16px, 9px;
    background-size: 16px, 9px;
  }
}
/* line 327, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div#title-filter, .page-map #content .map-ui .map-menus .titles div#title-list-toggle {
  float: right;
}
/* line 331, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div#title-filter span, .page-map #content .map-ui .map-menus .titles div#title-list-toggle span {
  border-left: 1px solid #d9d9d9;
}
/* line 339, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div#title-filter span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  width: 44px;
  background-image: url("/sites/all/modules/custom/calacademy_map/images/icons/pin.svg");
  background-size: 14px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
/* line 354, ../../sass/calacademy/page-map.scss */
.filter-menu-open .page-map #content .map-ui .map-menus .titles div#title-filter span {
  background-color: #e9e9e9;
}
/* line 361, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .titles div#title-list-toggle {
  display: none;
  overflow: hidden;
  width: 70px;
  text-align: center;
  color: #f27134;
}
/* line 373, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul {
  display: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  border-top: 1px solid #d9d9d9;
  padding: 15px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
/* line 377, ../../sass/calacademy/page-map.scss */
.floor-menu-open .page-map #content .map-ui .map-menus .options ul#options-floor, .filter-menu-open .page-map #content .map-ui .map-menus .options ul#options-filter {
  display: block;
}
/* line 383, ../../sass/calacademy/page-map.scss */
.csstransforms3d .page-map #content .map-ui .map-menus .options ul {
  display: block;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  -moz-transform-origin: 0 0 0 50%;
  -ms-transform-origin: 0 0 0 50%;
  -webkit-transform-origin: 0 0 0 50%;
  transform-origin: 0 0 0 50%;
  -moz-transform: scale3d(1, 0, 1);
  -ms-transform: scale3d(1, 0, 1);
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
}
/* line 394, ../../sass/calacademy/page-map.scss */
.csstransforms3d.floor-menu-open .page-map #content .map-ui .map-menus .options ul#options-floor, .csstransforms3d.filter-menu-open .page-map #content .map-ui .map-menus .options ul#options-filter {
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* line 408, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul li {
  margin-bottom: 5px;
}
/* line 411, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul li:last-child {
  margin-bottom: 0;
}
/* line 415, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul li a {
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #1a1a1a;
  font-size: 20px;
  line-height: 24px;
}
/* line 424, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul li a.selected {
  color: #f27134;
}
/* line 431, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul#options-filter span {
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 431, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-ui .map-menus .options ul#options-filter span {
    margin-top: 1px;
  }
}
/* line 441, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul#options-filter span, .page-map #content .map-ui .map-menus .options ul#options-filter span svg {
  width: 11px;
  height: 17px;
}
/* line 446, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul#options-filter span svg {
  -moz-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #c2c2c2;
}
/* line 455, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .options ul#options-filter span.selected svg {
  fill: #f27134;
}
/* line 465, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-dock {
  clear: both;
  background-color: #f1f1f1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 471, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-dock li {
  cursor: hand;
  cursor: pointer;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #d9d9d9;
  display: none;
}
/* line 476, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-dock li.selected {
  background-color: #e9e9e9;
}
/* line 479, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-dock li.not-in-filter-selection {
  display: none !important;
}
/* line 486, ../../sass/calacademy/page-map.scss */
.map-floor-aq .page-map #content .map-ui .map-dock li.aq {
  display: block;
}
/* line 489, ../../sass/calacademy/page-map.scss */
.map-floor-main .page-map #content .map-ui .map-dock li.main {
  display: block;
}
/* line 492, ../../sass/calacademy/page-map.scss */
.map-floor-l2 .page-map #content .map-ui .map-dock li.l2 {
  display: block;
}
/* line 495, ../../sass/calacademy/page-map.scss */
.map-floor-l3 .page-map #content .map-ui .map-dock li.l3 {
  display: block;
}
/* line 498, ../../sass/calacademy/page-map.scss */
.map-floor-roof .page-map #content .map-ui .map-dock li.roof {
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 29, ../../sass/calacademy/page-map.scss */
  .page-map #content {
    padding-top: 56px;
  }
  /* line 508, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-dock-smartphone {
    display: block;
    z-index: 2;
  }
  /* line 513, ../../sass/calacademy/page-map.scss */
  .page-map #content .calacademy_geolocation_map,
  .page-map #content .map-ui {
    width: 100% !important;
    float: none;
  }
  /* line 519, ../../sass/calacademy/page-map.scss */
  .page-map #content .calacademy_geolocation_map,
  .page-map #content .map-ui .map-dock {
    -moz-transition: left 0.6s ease, -moz-transform 0.6s ease;
    -o-transition: left 0.6s ease, -o-transform 0.6s ease;
    -webkit-transition: left 0.6s ease, -webkit-transform 0.6s ease;
    transition: left 0.6s ease, transform 0.6s ease;
    position: absolute;
    width: 100%;
  }
  /* line 530, ../../sass/calacademy/page-map.scss */
  .page-map #content .calacademy_geolocation_map {
    position: absolute !important;
    top: 101px !important;
    height: 100%;
    height: -moz-calc(100% - 101px);
    height: -ms-calc(100% - 101px);
    height: -o-calc(100% - 101px);
    height: -webkit-calc(100% - 101px);
    height: calc(100% - 101px);
    z-index: 1;
  }
  /* line 536, ../../sass/calacademy/page-map.scss */
  .page-map #content .calacademy_geolocation_map .map-zoom-controls {
    display: none;
  }
  /* line 541, ../../sass/calacademy/page-map.scss */
  .no-csstransforms3d .page-map #content .calacademy_geolocation_map {
    left: 0;
  }
  /* line 545, ../../sass/calacademy/page-map.scss */
  .map-list-selected.no-csstransforms3d .page-map #content .calacademy_geolocation_map {
    left: -45%;
  }
  /* line 550, ../../sass/calacademy/page-map.scss */
  .map-list-selected.csstransforms3d .page-map #content .calacademy_geolocation_map {
    -moz-transform: translate3d(-45%, 0, 0);
    -ms-transform: translate3d(-45%, 0, 0);
    -webkit-transform: translate3d(-45%, 0, 0);
    transform: translate3d(-45%, 0, 0);
  }
  /* line 555, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-ui {
    position: relative;
    z-index: 3;
  }
  /* line 559, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-ui .map-menus {
    background-color: white;
  }
  /* line 564, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-ui .map-menus .titles div#title-list-toggle {
    display: block;
  }
  /* line 570, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-ui .map-dock {
    -webkit-overflow-scrolling: auto;
  }
  /* line 574, ../../sass/calacademy/page-map.scss */
  .map-list-selected .page-map #content .map-ui .map-dock {
    -webkit-overflow-scrolling: touch;
  }
  /* line 579, ../../sass/calacademy/page-map.scss */
  .no-csstransforms3d .page-map #content .map-ui .map-dock {
    left: 100%;
  }
  /* line 583, ../../sass/calacademy/page-map.scss */
  .map-list-selected.no-csstransforms3d .page-map #content .map-ui .map-dock {
    left: 0;
  }
  /* line 588, ../../sass/calacademy/page-map.scss */
  .csstransforms3d .page-map #content .map-ui .map-dock {
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  /* line 592, ../../sass/calacademy/page-map.scss */
  .map-list-selected.csstransforms3d .page-map #content .map-ui .map-dock {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
