/* line 3, ../../sass/calacademy/page-map.scss */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  position: relative;
}

/* line 12, ../../sass/calacademy/page-map.scss */
.page-map #top-level-nav-wrapper,
.page-map header,
.page-map .tabs,
.page-map footer {
  display: none;
}
/* line 19, ../../sass/calacademy/page-map.scss */
.page-map #content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0;
  padding-top: 92px;
}
/* line 26, ../../sass/calacademy/page-map.scss */
.page-map #content > article, .page-map #content > #main-content {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 19, ../../sass/calacademy/page-map.scss */
  .page-map #content {
    padding-top: 56px;
  }
}
/* line 47, ../../sass/calacademy/page-map.scss */
.page-map #content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 53, ../../sass/calacademy/page-map.scss */
.page-map #content .title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
}
/* line 60, ../../sass/calacademy/page-map.scss */
.page-map #content .title a {
  color: #f27134;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  padding-top: 3px;
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .page-map #content .title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .page-map #content .title a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 66, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock,
.page-map #content .map-dock-smartphone {
  background-color: #f1f1f1;
}
/* line 70, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .details-desc,
.page-map #content .map-dock-smartphone .details-desc {
  margin-top: 7px;
  line-height: 1.4em;
}
/* line 78, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock li {
  display: none;
}
/* line 81, ../../sass/calacademy/page-map.scss */
.map-floor-aq .page-map #content .map-dock li.aq {
  display: block;
}
/* line 84, ../../sass/calacademy/page-map.scss */
.map-floor-main .page-map #content .map-dock li.main {
  display: block;
}
/* line 87, ../../sass/calacademy/page-map.scss */
.map-floor-l2 .page-map #content .map-dock li.l2 {
  display: block;
}
/* line 90, ../../sass/calacademy/page-map.scss */
.map-floor-l3 .page-map #content .map-dock li.l3 {
  display: block;
}
/* line 93, ../../sass/calacademy/page-map.scss */
.map-floor-roof .page-map #content .map-dock li.roof {
  display: block;
}
/* line 97, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock .selected {
  background-color: rgba(0, 0, 0, 0.05);
}
/* line 102, ../../sass/calacademy/page-map.scss */
.page-map #content .map-dock-smartphone {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 100000000px;
}
/* line 110, ../../sass/calacademy/page-map.scss */
.page-map #content .map-item-container {
  padding: 15px;
}
/* line 113, ../../sass/calacademy/page-map.scss */
.page-map #content .map-item-container img {
  margin-right: 15px;
  margin-bottom: 7px;
  float: left;
  width: 60px;
  height: 60px;
}
/* line 122, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map {
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  float: left;
}
/* line 123, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map, .page-map #content .calacademy_geolocation_map .gm-style, .page-map #content .calacademy_geolocation_map select {
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif !important;
}
/* line 132, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map img {
  max-width: inherit !important;
}
/* line 136, ../../sass/calacademy/page-map.scss */
.page-map #content .calacademy_geolocation_map .gm-style-cc,
.page-map #content .calacademy_geolocation_map a[href^="http://maps.google.com/maps"],
.page-map #content .calacademy_geolocation_map a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
/* line 143, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui {
  float: left;
  width: 300px;
}
/* line 147, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui * {
  -webkit-touch-callout: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 152, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #d9d9d9;
}
/* line 157, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container {
  float: left;
}
/* line 160, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #d9d9d9;
  padding: 15px;
  cursor: hand;
  cursor: pointer;
  height: 45px;
}
/* line 168, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container ul {
  border-top: 1px solid #d9d9d9;
  display: none;
  padding: 15px;
}
/* line 173, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container ul li {
  margin-bottom: 5px;
}
/* line 176, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container ul li:last-child {
  margin-bottom: 0;
}
/* line 180, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container ul li a {
  color: #1a1a1a;
  font-size: 20px;
  line-height: 24px;
  background-image: url("/sites/all/modules/custom/calacademy_map/images/icons/pin.svg");
  background-size: 11px 17px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 21px;
}
/* line 194, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus .map-menu-container ul li a:hover, .page-map #content .map-ui .map-menus .map-menu-container ul li a.selected {
  color: #f27134;
}
/* line 205, ../../sass/calacademy/page-map.scss */
.map-menu-floor-menu-open .page-map #content .map-ui .map-menus #map-menu-floor ul, .map-menu-filter-menu-open .page-map #content .map-ui .map-menus #map-menu-filter ul {
  display: block;
}
/* line 211, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus #map-menu-floor .title {
  padding-right: 41px;
  background-image: url("/sites/all/themes/calacademy_zen/images/drop-down-arrow.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-ui .map-menus #map-menu-floor .title {
    background-image: url("/sites/all/themes/calacademy_zen/images/drop-down-arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .page-map #content .map-ui .map-menus #map-menu-floor .title {
    -moz-background-size: 16px, 9px;
    -o-background-size: 16px, 9px;
    -webkit-background-size: 16px, 9px;
    background-size: 16px, 9px;
  }
}
/* line 222, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus #map-menu-filter .title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  width: 44px;
  background-image: url("/sites/all/modules/custom/calacademy_map/images/icons/pin.svg");
  background-size: 14px 20px;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 236, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus #map-menu-list-toggle {
  display: none;
}
/* line 239, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-menus #map-menu-list-toggle .title {
  color: #f27134;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 236, ../../sass/calacademy/page-map.scss */
  .page-map #content .map-ui .map-menus #map-menu-list-toggle {
    display: block;
  }
}
/* line 249, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-dock {
  clear: both;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 254, ../../sass/calacademy/page-map.scss */
.page-map #content .map-ui .map-dock li {
  cursor: hand;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
}
