/* line 6, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .page-header,
.page-lesson-plans-landing .page-header,
.page-press-releases-landing .page-header {
  margin-bottom: 40px;
}
/* line 10, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .pane-title,
.page-lesson-plans-landing .pane-title,
.page-press-releases-landing .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 10, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
  .page-staff-list .pane-title,
  .page-lesson-plans-landing .pane-title,
  .page-press-releases-landing .pane-title {
    font-size: 28px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 10, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
  .page-staff-list .pane-title,
  .page-lesson-plans-landing .pane-title,
  .page-press-releases-landing .pane-title {
    margin-bottom: 12px;
  }
}
/* line 16, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .panel-col-top .pane-node-title h1,
.page-lesson-plans-landing .panel-col-top .pane-node-title h1,
.page-press-releases-landing .panel-col-top .pane-node-title h1 {
  padding-left: 0 !important;
}
/* line 21, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .panel-col-top .pane-node-title, .page-staff-list .panel-col-top h2,
.page-lesson-plans-landing .panel-col-top .pane-node-title,
.page-lesson-plans-landing .panel-col-top h2,
.page-press-releases-landing .panel-col-top .pane-node-title,
.page-press-releases-landing .panel-col-top h2 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
/* line 27, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-lesson-plans-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-press-releases-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades {
  margin-top: 20px;
}
/* line 31, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .panel-col-top .view-lesson-plan-content .views-field-title,
.page-lesson-plans-landing .panel-col-top .view-lesson-plan-content .views-field-title,
.page-press-releases-landing .panel-col-top .view-lesson-plan-content .views-field-title {
  margin-top: 0;
}
/* line 37, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .panel-col-first,
.page-lesson-plans-landing .panel-col-first,
.page-press-releases-landing .panel-col-first {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 44, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .exposed-filters form .views-exposed-widgets,
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
.page-press-releases-landing .exposed-filters form .views-exposed-widgets {
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/30.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 501, ../../sass/calacademy/_mixins.scss */
  .page-staff-list .exposed-filters form .views-exposed-widgets,
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/30@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 521, ../../sass/calacademy/_mixins.scss */
  .page-staff-list .exposed-filters form .views-exposed-widgets,
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
/* line 50, ../../sass/calacademy/_mixins.scss */
.ajax-loading .page-staff-list .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-press-releases-landing .exposed-filters form .views-exposed-widgets {
  padding-right: 0;
  background-position: right 8px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 50, ../../sass/calacademy/_mixins.scss */
  .ajax-loading .page-staff-list .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets {
    padding-right: 0;
    background: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 50, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
  .ajax-loading .page-staff-list .exposed-filters .view, .ajax-loading
  .page-lesson-plans-landing .exposed-filters .view, .ajax-loading
  .page-press-releases-landing .exposed-filters .view {
    background-position: center 250px;
  }
}
/* line 56, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .exposed-filters .view .pager,
.page-lesson-plans-landing .exposed-filters .view .pager,
.page-press-releases-landing .exposed-filters .view .pager {
  margin-top: 20px;
}
/* line 62, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .right-rail,
.page-lesson-plans-landing .right-rail,
.page-press-releases-landing .right-rail {
  margin-top: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 68, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
  .page-staff-list .panel-col-first,
  .page-staff-list .right-rail,
  .page-lesson-plans-landing .panel-col-first,
  .page-lesson-plans-landing .right-rail,
  .page-press-releases-landing .panel-col-first,
  .page-press-releases-landing .right-rail {
    padding-right: 0;
    width: 100%;
  }
}

/* line 80, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
.page-staff-list .exposed-filters form .views-exposed-widgets .views-submit-button,
.page-press-releases-landing .exposed-filters form .views-exposed-widgets .views-submit-button {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 88, ../../sass/calacademy/page-lesson-plans-landing-or-press-releases-landing.scss */
  .ajax-loading .page-staff-list .exposed-filters .view, .ajax-loading
  .page-press-releases-landing .exposed-filters .view {
    background-position: center 100px;
  }
}
