/* line 7, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .page-header,
.page-lesson-plans-landing .page-header,
.page-press-releases-landing .page-header,
.page-gigamacro-landing .page-header {
  margin-bottom: 40px;
}
/* line 13, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-first .pane-title,
.page-staff-list .panel-col-top .pane-title,
.page-lesson-plans-landing .panel-col-first .pane-title,
.page-lesson-plans-landing .panel-col-top .pane-title,
.page-press-releases-landing .panel-col-first .pane-title,
.page-press-releases-landing .panel-col-top .pane-title,
.page-gigamacro-landing .panel-col-first .pane-title,
.page-gigamacro-landing .panel-col-top .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-staff-list .panel-col-first .pane-title,
  .page-staff-list .panel-col-top .pane-title,
  .page-lesson-plans-landing .panel-col-first .pane-title,
  .page-lesson-plans-landing .panel-col-top .pane-title,
  .page-press-releases-landing .panel-col-first .pane-title,
  .page-press-releases-landing .panel-col-top .pane-title,
  .page-gigamacro-landing .panel-col-first .pane-title,
  .page-gigamacro-landing .panel-col-top .pane-title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-staff-list .panel-col-first .pane-title,
  .page-staff-list .panel-col-top .pane-title,
  .page-lesson-plans-landing .panel-col-first .pane-title,
  .page-lesson-plans-landing .panel-col-top .pane-title,
  .page-press-releases-landing .panel-col-first .pane-title,
  .page-press-releases-landing .panel-col-top .pane-title,
  .page-gigamacro-landing .panel-col-first .pane-title,
  .page-gigamacro-landing .panel-col-top .pane-title {
    margin-bottom: 12px;
  }
}
/* line 20, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .pane-node-title h1,
.page-lesson-plans-landing .panel-col-top .pane-node-title h1,
.page-press-releases-landing .panel-col-top .pane-node-title h1,
.page-gigamacro-landing .panel-col-top .pane-node-title h1 {
  padding-left: 0 !important;
}
/* line 25, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .pane-node-title, .page-staff-list .panel-col-top h2,
.page-lesson-plans-landing .panel-col-top .pane-node-title,
.page-lesson-plans-landing .panel-col-top h2,
.page-press-releases-landing .panel-col-top .pane-node-title,
.page-press-releases-landing .panel-col-top h2,
.page-gigamacro-landing .panel-col-top .pane-node-title,
.page-gigamacro-landing .panel-col-top h2 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
/* line 31, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-lesson-plans-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-press-releases-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-gigamacro-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades {
  margin-top: 20px;
}
/* line 35, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .view-lesson-plan-content .views-field-title,
.page-lesson-plans-landing .panel-col-top .view-lesson-plan-content .views-field-title,
.page-press-releases-landing .panel-col-top .view-lesson-plan-content .views-field-title,
.page-gigamacro-landing .panel-col-top .view-lesson-plan-content .views-field-title {
  margin-top: 0;
}
/* line 41, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-first,
.page-lesson-plans-landing .panel-col-first,
.page-press-releases-landing .panel-col-first,
.page-gigamacro-landing .panel-col-first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 48, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .exposed-filters form .views-exposed-widgets,
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
.page-press-releases-landing .exposed-filters form .views-exposed-widgets,
.page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/30.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .page-staff-list .exposed-filters form .views-exposed-widgets,
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets,
  .page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/30@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .page-staff-list .exposed-filters form .views-exposed-widgets,
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets,
  .page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
    -moz-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
  }
}
/* line 282, ../../sass/calacademy/_mixins.scss */
.ajax-loading .page-staff-list .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-press-releases-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
  padding-right: 0;
  background-position: right 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 282, ../../sass/calacademy/_mixins.scss */
  .ajax-loading .page-staff-list .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
    padding-right: 0;
    background: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 54, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .ajax-loading .page-staff-list .exposed-filters .view, .ajax-loading
  .page-lesson-plans-landing .exposed-filters .view, .ajax-loading
  .page-press-releases-landing .exposed-filters .view, .ajax-loading
  .page-gigamacro-landing .exposed-filters .view {
    background-position: center 250px;
  }
}
/* line 60, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .exposed-filters .view .pager,
.page-lesson-plans-landing .exposed-filters .view .pager,
.page-press-releases-landing .exposed-filters .view .pager,
.page-gigamacro-landing .exposed-filters .view .pager {
  margin-top: 20px;
}
/* line 66, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .right-rail,
.page-lesson-plans-landing .right-rail,
.page-press-releases-landing .right-rail,
.page-gigamacro-landing .right-rail {
  margin-top: 53px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 71, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-staff-list .panel-col-first,
  .page-staff-list .right-rail,
  .page-lesson-plans-landing .panel-col-first,
  .page-lesson-plans-landing .right-rail,
  .page-press-releases-landing .panel-col-first,
  .page-press-releases-landing .right-rail,
  .page-gigamacro-landing .panel-col-first,
  .page-gigamacro-landing .right-rail {
    padding-right: 0;
    width: 100%;
  }
}

/* line 83, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-press-releases-landing .exposed-filters form .views-exposed-widgets .views-submit-button {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 91, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .ajax-loading .page-press-releases-landing .exposed-filters .view {
    background-position: center 100px;
  }
}

/* line 106, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets .views-exposed-widget,
.page-staff-list .exposed-filters form .views-exposed-widgets .views-exposed-widget {
  padding-top: 10px !important;
}
/* line 109, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets .views-submit-button,
.page-staff-list .exposed-filters form .views-exposed-widgets .views-submit-button {
  margin-top: 10px !important;
}
/* line 115, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .form-item-field-person-name-first-value,
.page-lesson-plans-landing .form-item-field-person-name-last-value,
.page-staff-list .form-item-field-person-name-first-value,
.page-staff-list .form-item-field-person-name-last-value {
  min-height: 40px;
}

/* line 338, ../../sass/calacademy/_mixins.scss */
.page-gigamacro-landing .panel-col-first,
.page-gigamacro-landing .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 343, ../../sass/calacademy/_mixins.scss */
.page-gigamacro-landing .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 348, ../../sass/calacademy/_mixins.scss */
.page-gigamacro-landing .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 353, ../../sass/calacademy/_mixins.scss */
  .page-gigamacro-landing .panel-col-first,
  .page-gigamacro-landing .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 125, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-gigamacro-landing .panel-col-first {
    width: 78%;
  }
  /* line 129, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-gigamacro-landing .right-rail {
    width: 22%;
  }
}
