/* line 8, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing img.hero {
  line-height: 0;
  margin-bottom: 30px;
}
/* line 14, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .hero_image_source {
  float: right;
  margin-top: -60px;
  font-size: 75%;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  background-color: #1a1a1a;
  opacity: 0.7;
}
/* line 25, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content {
  padding: 0;
  margin: 0;
  width: 720px;
  float: left;
}
/* line 31, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .field-name-field-generic-page-hero-copy {
  font-size: 110%;
  line-height: 165%;
  width: 720px;
  margin-top: -5px;
  margin-bottom: 20px;
}
/* line 37, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .field-name-field-generic-page-hero-copy p {
  margin-bottom: 0;
}
/* line 42, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content section {
  margin-bottom: 20px;
}
/* line 46, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content h2 {
  font-size: 165%;
  line-height: 125%;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
/* line 55, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content p {
  margin-top: 0;
  color: #575757;
}
/* line 61, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content img.inline {
  float: left;
  width: 250px;
  margin-right: 20px;
}
/* line 67, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content img.large {
  width: 100%;
}
/* line 72, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .testimonial {
  color: #5e924d;
  width: 310px;
  float: right;
  padding: 0 0 30px 30px;
  text-indent: -9px;
}
/* line 79, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .testimonial p {
  color: #5e924d;
  margin: 0;
  padding: 0;
}
/* line 85, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .testimonial .testimonial-body {
  font-size: 180%;
  text-indent: -5px;
  line-height: 40px;
}
/* line 91, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .testimonial .testimonial-author {
  padding-left: 50px;
  padding-top: 7px;
  margin-top: 20px;
  font-size: 93%;
  text-indent: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 40px;
}
/* line 105, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .inline-image-container {
  float: left;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}
/* line 111, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .inline-image-container .inline-image-img img {
  padding-bottom: 10px;
}
/* line 115, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .inline-image-container .inline-image-caption {
  font-size: 75%;
  color: #5e924d;
  line-height: 120%;
  display: block;
  float: left;
}
/* line 123, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .inline-image-container .inline-image-source {
  font-size: 75%;
  color: #1a1a1a;
  line-height: 120%;
  display: block;
  float: left;
}
/* line 134, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .source-default .testimonial-author {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 734, ../../sass/calacademy/_mixins.scss */
  .page-generic-landing .article-content .source-default .testimonial-author {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 754, ../../sass/calacademy/_mixins.scss */
  .page-generic-landing .article-content .source-default .testimonial-author {
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    -webkit-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 139, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .source-facebook .testimonial-author {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 734, ../../sass/calacademy/_mixins.scss */
  .page-generic-landing .article-content .source-facebook .testimonial-author {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 754, ../../sass/calacademy/_mixins.scss */
  .page-generic-landing .article-content .source-facebook .testimonial-author {
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    -webkit-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 144, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .source-twitter .testimonial-author {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 734, ../../sass/calacademy/_mixins.scss */
  .page-generic-landing .article-content .source-twitter .testimonial-author {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 754, ../../sass/calacademy/_mixins.scss */
  .page-generic-landing .article-content .source-twitter .testimonial-author {
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    -webkit-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 150, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .secondary-image-container .secondary-image-caption {
  font-size: 75%;
  color: #5e924d;
  line-height: 120%;
  display: block;
  float: right;
}
/* line 158, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .secondary-image-container .secondary-image-source {
  font-size: 75%;
  color: #1a1a1a;
  line-height: 120%;
  display: block;
  float: right;
  margin-left: 3px;
}
/* line 169, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .secondary-images {
  list-style: none;
}
/* line 172, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .secondary-images, .page-generic-landing .article-content .secondary-images li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
/* line 179, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 184, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 190, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li:last-child {
  margin-right: 0;
}
/* line 193, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li.last-child {
  margin-right: 0;
}
/* line 197, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li h3,
.page-generic-landing .article-content .related-pages-ctas li p {
  margin: 0;
}
/* line 202, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li h3 {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 90%;
  color: #1a1a1a;
}
/* line 209, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li p {
  color: #575757;
  font-size: 75%;
  line-height: 180%;
}
/* line 215, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 224, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .article-content .related-pages-ctas img {
  float: left;
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
}
/* line 233, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides {
  padding: 0;
  width: 220px;
  float: right;
  margin-left: 20px;
  font-size: 90%;
}
/* line 240, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside {
  display: block;
  border-top: 2px solid #5e924d;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 246, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside h3,
.page-generic-landing .asides aside p {
  margin: 0;
  margin-bottom: 10px;
}
/* line 252, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside h3 {
  font-weight: 600;
  font-size: 100%;
  color: #1a1a1a;
}
/* line 258, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside p {
  color: #575757;
  font-size: 90%;
  line-height: 160%;
}
/* line 264, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing {
  border: 2px solid #e6e6e6;
  padding: 20px;
}
/* line 268, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing table {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}
/* line 275, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing h3 {
  font-size: 180%;
  font-weight: 600;
}
/* line 280, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  color: #575757;
  font-size: 70%;
  line-height: 70%;
  font-weight: 700;
}
/* line 289, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing td p {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-size: 70%;
  font-weight: 300;
}
/* line 296, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing td p.price {
  font-size: 100%;
  line-height: 100%;
  font-weight: 600;
}
/* line 304, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing td:last-child {
  text-align: right;
}
/* line 308, ../../sass/calacademy/page-generic-landing.scss */
.page-generic-landing .asides aside.pricing tr {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
@media screen and (max-width: 960px) {
  /* line 317, ../../sass/calacademy/page-generic-landing.scss */
  .page-generic-landing #header h1,
  .page-generic-landing #content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 324, ../../sass/calacademy/page-generic-landing.scss */
  .page-generic-landing .article-content {
    width: 100%;
  }
  /* line 327, ../../sass/calacademy/page-generic-landing.scss */
  .page-generic-landing .article-content .inline-image-container {
    width: 30%;
  }
  /* line 333, ../../sass/calacademy/page-generic-landing.scss */
  .page-generic-landing .asides {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0;
    margin-top: 20px;
  }
  /* line 341, ../../sass/calacademy/page-generic-landing.scss */
  .page-generic-landing .asides aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
}
