/* line 3, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits {
  background-image: url("/sites/all/themes/calacademy_zen/images/bg-dino.jpg");
  background-repeat: no-repeat;
  background-position: right 100px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 420, ../../sass/calacademy/_mixins.scss */
  .page-exhibits {
    background-image: url("/sites/all/themes/calacademy_zen/images/bg-dino@2x.jpg");
  }
}
@media only screen and (min-width: 0) {
  /* line 440, ../../sass/calacademy/_mixins.scss */
  .page-exhibits {
    -webkit-background-size: 400px, 345px;
    -moz-background-size: 400px, 345px;
    -o-background-size: 400px, 345px;
    background-size: 400px, 345px;
  }
}
/* line 9, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-1 {
  width: 660px;
}
/* line 12, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-1 .pane-title {
  font-size: 562%;
  line-height: 0em;
}
/* line 17, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-1 .pane-content {
  margin-top: -30px;
  font-size: 125%;
  line-height: 1.4em;
  margin-bottom: 90px;
}
/* line 32, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted,
.page-exhibits .pane-exhibits-hands-on,
.page-exhibits .pane-exhibits-other,
.page-exhibits .pane-exhibits-iconic,
.page-exhibits .pane-promoted-exhibits,
.page-exhibits .pane-hands-on-exhibits,
.page-exhibits .pane-other-exhibits,
.page-exhibits .pane-iconic-exhibits {
  margin-bottom: 100px;
}
/* line 36, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .pane-title,
.page-exhibits .pane-exhibits-hands-on .pane-title,
.page-exhibits .pane-exhibits-other .pane-title,
.page-exhibits .pane-exhibits-iconic .pane-title,
.page-exhibits .pane-promoted-exhibits .pane-title,
.page-exhibits .pane-hands-on-exhibits .pane-title,
.page-exhibits .pane-other-exhibits .pane-title,
.page-exhibits .pane-iconic-exhibits .pane-title {
  font-size: 250%;
  line-height: 20%;
}
/* line 41, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row,
.page-exhibits .pane-exhibits-hands-on .views-row,
.page-exhibits .pane-exhibits-other .views-row,
.page-exhibits .pane-exhibits-iconic .views-row,
.page-exhibits .pane-promoted-exhibits .views-row,
.page-exhibits .pane-hands-on-exhibits .views-row,
.page-exhibits .pane-other-exhibits .views-row,
.page-exhibits .pane-iconic-exhibits .views-row {
  width: 940px;
  height: 300px;
  border: 2px solid #e6e6e6;
  margin-bottom: 20px;
  padding-right: 20px;
}
/* line 48, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row img,
.page-exhibits .pane-exhibits-hands-on .views-row img,
.page-exhibits .pane-exhibits-other .views-row img,
.page-exhibits .pane-exhibits-iconic .views-row img,
.page-exhibits .pane-promoted-exhibits .views-row img,
.page-exhibits .pane-hands-on-exhibits .views-row img,
.page-exhibits .pane-other-exhibits .views-row img,
.page-exhibits .pane-iconic-exhibits .views-row img {
  float: left;
  margin-right: 20px;
}
/* line 53, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row .views-field-title,
.page-exhibits .pane-exhibits-hands-on .views-row .views-field-title,
.page-exhibits .pane-exhibits-other .views-row .views-field-title,
.page-exhibits .pane-exhibits-iconic .views-row .views-field-title,
.page-exhibits .pane-promoted-exhibits .views-row .views-field-title,
.page-exhibits .pane-hands-on-exhibits .views-row .views-field-title,
.page-exhibits .pane-other-exhibits .views-row .views-field-title,
.page-exhibits .pane-iconic-exhibits .views-row .views-field-title {
  margin-top: 40px;
  font-size: 187%;
  color: #1a1a1a;
  font-weight: 700;
  line-height: 1em;
}
/* line 60, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row .views-field-title a,
.page-exhibits .pane-exhibits-hands-on .views-row .views-field-title a,
.page-exhibits .pane-exhibits-other .views-row .views-field-title a,
.page-exhibits .pane-exhibits-iconic .views-row .views-field-title a,
.page-exhibits .pane-promoted-exhibits .views-row .views-field-title a,
.page-exhibits .pane-hands-on-exhibits .views-row .views-field-title a,
.page-exhibits .pane-other-exhibits .views-row .views-field-title a,
.page-exhibits .pane-iconic-exhibits .views-row .views-field-title a {
  color: #1a1a1a;
}
/* line 65, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row .views-field-field-start-date,
.page-exhibits .pane-exhibits-hands-on .views-row .views-field-field-start-date,
.page-exhibits .pane-exhibits-other .views-row .views-field-field-start-date,
.page-exhibits .pane-exhibits-iconic .views-row .views-field-field-start-date,
.page-exhibits .pane-promoted-exhibits .views-row .views-field-field-start-date,
.page-exhibits .pane-hands-on-exhibits .views-row .views-field-field-start-date,
.page-exhibits .pane-other-exhibits .views-row .views-field-field-start-date,
.page-exhibits .pane-iconic-exhibits .views-row .views-field-field-start-date {
  font-size: 187%;
  color: #666361;
  margin-top: 20px;
}
/* line 71, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row .views-field-field-summary,
.page-exhibits .pane-exhibits-hands-on .views-row .views-field-field-summary,
.page-exhibits .pane-exhibits-other .views-row .views-field-field-summary,
.page-exhibits .pane-exhibits-iconic .views-row .views-field-field-summary,
.page-exhibits .pane-promoted-exhibits .views-row .views-field-field-summary,
.page-exhibits .pane-hands-on-exhibits .views-row .views-field-field-summary,
.page-exhibits .pane-other-exhibits .views-row .views-field-field-summary,
.page-exhibits .pane-iconic-exhibits .views-row .views-field-field-summary {
  margin-top: 20px;
  font-size: 87%;
}
/* line 76, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row .views-field-field-location,
.page-exhibits .pane-exhibits-hands-on .views-row .views-field-field-location,
.page-exhibits .pane-exhibits-other .views-row .views-field-field-location,
.page-exhibits .pane-exhibits-iconic .views-row .views-field-field-location,
.page-exhibits .pane-promoted-exhibits .views-row .views-field-field-location,
.page-exhibits .pane-hands-on-exhibits .views-row .views-field-field-location,
.page-exhibits .pane-other-exhibits .views-row .views-field-field-location,
.page-exhibits .pane-iconic-exhibits .views-row .views-field-field-location {
  margin-top: 20px;
}
/* line 79, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row .views-field-field-location a,
.page-exhibits .pane-exhibits-hands-on .views-row .views-field-field-location a,
.page-exhibits .pane-exhibits-other .views-row .views-field-field-location a,
.page-exhibits .pane-exhibits-iconic .views-row .views-field-field-location a,
.page-exhibits .pane-promoted-exhibits .views-row .views-field-field-location a,
.page-exhibits .pane-hands-on-exhibits .views-row .views-field-field-location a,
.page-exhibits .pane-other-exhibits .views-row .views-field-field-location a,
.page-exhibits .pane-iconic-exhibits .views-row .views-field-field-location a {
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #666361;
  font-size: 63%;
  text-transform: uppercase;
}
/* line 91, ../../sass/calacademy/page-exhibits.scss */
.no-touch .page-exhibits .pane-exhibits-promoted .views-row:hover, .touch .page-exhibits .pane-exhibits-promoted .views-row:active, .no-touch
.page-exhibits .pane-exhibits-hands-on .views-row:hover, .touch
.page-exhibits .pane-exhibits-hands-on .views-row:active, .no-touch
.page-exhibits .pane-exhibits-other .views-row:hover, .touch
.page-exhibits .pane-exhibits-other .views-row:active, .no-touch
.page-exhibits .pane-exhibits-iconic .views-row:hover, .touch
.page-exhibits .pane-exhibits-iconic .views-row:active, .no-touch
.page-exhibits .pane-promoted-exhibits .views-row:hover, .touch
.page-exhibits .pane-promoted-exhibits .views-row:active, .no-touch
.page-exhibits .pane-hands-on-exhibits .views-row:hover, .touch
.page-exhibits .pane-hands-on-exhibits .views-row:active, .no-touch
.page-exhibits .pane-other-exhibits .views-row:hover, .touch
.page-exhibits .pane-other-exhibits .views-row:active, .no-touch
.page-exhibits .pane-iconic-exhibits .views-row:hover, .touch
.page-exhibits .pane-iconic-exhibits .views-row:active {
  border: 2px solid #2793ce;
}
/* line 95, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first,
.page-exhibits .pane-exhibits-hands-on .views-row-first,
.page-exhibits .pane-exhibits-other .views-row-first,
.page-exhibits .pane-exhibits-iconic .views-row-first,
.page-exhibits .pane-promoted-exhibits .views-row-first,
.page-exhibits .pane-hands-on-exhibits .views-row-first,
.page-exhibits .pane-other-exhibits .views-row-first,
.page-exhibits .pane-iconic-exhibits .views-row-first {
  height: 470px;
}
/* line 98, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first img,
.page-exhibits .pane-exhibits-hands-on .views-row-first img,
.page-exhibits .pane-exhibits-other .views-row-first img,
.page-exhibits .pane-exhibits-iconic .views-row-first img,
.page-exhibits .pane-promoted-exhibits .views-row-first img,
.page-exhibits .pane-hands-on-exhibits .views-row-first img,
.page-exhibits .pane-other-exhibits .views-row-first img,
.page-exhibits .pane-iconic-exhibits .views-row-first img {
  height: 470px;
  width: 470px;
}
/* line 103, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first .views-field-title,
.page-exhibits .pane-exhibits-hands-on .views-row-first .views-field-title,
.page-exhibits .pane-exhibits-other .views-row-first .views-field-title,
.page-exhibits .pane-exhibits-iconic .views-row-first .views-field-title,
.page-exhibits .pane-promoted-exhibits .views-row-first .views-field-title,
.page-exhibits .pane-hands-on-exhibits .views-row-first .views-field-title,
.page-exhibits .pane-other-exhibits .views-row-first .views-field-title,
.page-exhibits .pane-iconic-exhibits .views-row-first .views-field-title {
  margin-top: 70px;
  font-size: 250%;
  color: #1a1a1a;
  font-weight: 700;
  line-height: 1em;
}
/* line 110, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first .views-field-title a,
.page-exhibits .pane-exhibits-hands-on .views-row-first .views-field-title a,
.page-exhibits .pane-exhibits-other .views-row-first .views-field-title a,
.page-exhibits .pane-exhibits-iconic .views-row-first .views-field-title a,
.page-exhibits .pane-promoted-exhibits .views-row-first .views-field-title a,
.page-exhibits .pane-hands-on-exhibits .views-row-first .views-field-title a,
.page-exhibits .pane-other-exhibits .views-row-first .views-field-title a,
.page-exhibits .pane-iconic-exhibits .views-row-first .views-field-title a {
  color: #1a1a1a;
}
/* line 116, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first .views-field-field-start-date,
.page-exhibits .pane-exhibits-hands-on .views-row-first .views-field-field-start-date,
.page-exhibits .pane-exhibits-other .views-row-first .views-field-field-start-date,
.page-exhibits .pane-exhibits-iconic .views-row-first .views-field-field-start-date,
.page-exhibits .pane-promoted-exhibits .views-row-first .views-field-field-start-date,
.page-exhibits .pane-hands-on-exhibits .views-row-first .views-field-field-start-date,
.page-exhibits .pane-other-exhibits .views-row-first .views-field-field-start-date,
.page-exhibits .pane-iconic-exhibits .views-row-first .views-field-field-start-date {
  font-size: 250%;
  color: #666361;
  margin-top: 30px;
}
/* line 122, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first .views-field-field-summary,
.page-exhibits .pane-exhibits-hands-on .views-row-first .views-field-field-summary,
.page-exhibits .pane-exhibits-other .views-row-first .views-field-field-summary,
.page-exhibits .pane-exhibits-iconic .views-row-first .views-field-field-summary,
.page-exhibits .pane-promoted-exhibits .views-row-first .views-field-field-summary,
.page-exhibits .pane-hands-on-exhibits .views-row-first .views-field-field-summary,
.page-exhibits .pane-other-exhibits .views-row-first .views-field-field-summary,
.page-exhibits .pane-iconic-exhibits .views-row-first .views-field-field-summary {
  margin-top: 20px;
}
/* line 126, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first .views-field-field-location,
.page-exhibits .pane-exhibits-hands-on .views-row-first .views-field-field-location,
.page-exhibits .pane-exhibits-other .views-row-first .views-field-field-location,
.page-exhibits .pane-exhibits-iconic .views-row-first .views-field-field-location,
.page-exhibits .pane-promoted-exhibits .views-row-first .views-field-field-location,
.page-exhibits .pane-hands-on-exhibits .views-row-first .views-field-field-location,
.page-exhibits .pane-other-exhibits .views-row-first .views-field-field-location,
.page-exhibits .pane-iconic-exhibits .views-row-first .views-field-field-location {
  margin-top: 20px;
}
/* line 129, ../../sass/calacademy/page-exhibits.scss */
.page-exhibits .pane-exhibits-promoted .views-row-first .views-field-field-location a,
.page-exhibits .pane-exhibits-hands-on .views-row-first .views-field-field-location a,
.page-exhibits .pane-exhibits-other .views-row-first .views-field-field-location a,
.page-exhibits .pane-exhibits-iconic .views-row-first .views-field-field-location a,
.page-exhibits .pane-promoted-exhibits .views-row-first .views-field-field-location a,
.page-exhibits .pane-hands-on-exhibits .views-row-first .views-field-field-location a,
.page-exhibits .pane-other-exhibits .views-row-first .views-field-field-location a,
.page-exhibits .pane-iconic-exhibits .views-row-first .views-field-field-location a {
  color: #666361;
  font-size: 75%;
  text-transform: uppercase;
}

/* line 145, ../../sass/calacademy/page-exhibits.scss */
.node-type-exhibit #content {
  margin-top: 727px;
}
/* line 149, ../../sass/calacademy/page-exhibits.scss */
.node-type-exhibit .panel-pane.pane-views-panes.pane-slideshows-hero-slideshow-pane {
  position: absolute;
  top: -865px;
  width: 1500px;
  left: -27%;
}
/* line 156, ../../sass/calacademy/page-exhibits.scss */
.node-type-exhibit h1#page-title {
  background: #000;
  color: #fff;
  display: inline;
  font-size: 47px;
  font-weight: 500;
  left: 0;
  padding: 5px 15px;
  position: relative;
  top: -820px;
  z-index: 100;
}
