/* line 4, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main {
  border-bottom: 30px solid #666361;
  color: #575757;
}
/* line 8, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main nav.smartphone-nav {
  display: none;
}
/* line 16, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content {
  max-width: none;
  			/*
  
  				id level specifics
  
  			*/
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 16, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 16, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 29, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .panel-pane {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 36, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .panel-pane > p {
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 36, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .panel-pane > p {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 48, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people-description,
.page-homepage #main #content .pane-testimonials-related {
  display: none;
}
/* line 53, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .testimonial {
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 53, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .testimonial {
    width: 167px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 53, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .testimonial {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: inherit;
    float: none;
    width: 100%;
    padding-top: 20px;
  }
}
/* line 70, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature {
  width: 100%;
  clear: both;
  overflow: hidden;
}
/* line 75, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description,
.page-homepage #main #content .creature img {
  position: relative;
  float: right;
  width: 50%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}
/* line 86, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: normal;
  z-index: 2;
}
/* line 91, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description h2, .page-homepage #main #content .creature .creature-description p {
  width: 100%;
}
/* line 95, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  padding-top: 3px;
  padding-right: 20px;
  color: #f27134;
  font-weight: 500;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .creature .creature-description a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .creature .creature-description a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 102, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature img {
  z-index: 1;
}
/* line 107, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .proto-slideshow {
  max-width: none;
  width: 100%;
  background-color: #1a1a1a;
}
/* line 119, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero {
  max-width: inherit;
  line-height: 0;
}
/* line 123, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img {
  width: 100%;
}
/* line 126, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img.tablet-desktop {
  display: block;
}
/* line 130, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img.smartphone {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 137, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #hero img.tablet-desktop {
    display: none;
  }
  /* line 141, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #hero img.smartphone {
    display: block;
  }
}
/* line 148, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors {
  margin-top: 115px;
  margin-bottom: 40px;
  overflow: visible;
}
/* line 153, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors .creature-description {
  position: absolute;
  padding-right: 20px;
  overflow: visible;
  width: 35%;
  top: 100px;
  left: 42%;
}
/* line 162, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
  width: 120%;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 162, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
    width: 150%;
  }
}
/* line 171, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors img {
  float: none;
  left: -11%;
  width: 65%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 148, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors {
    left: 0;
  }
  /* line 180, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description {
    width: 30%;
    padding-right: 12px;
    top: 0;
    left: 50%;
  }
  /* line 187, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
    width: 170%;
  }
  /* line 192, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors img {
    width: 70%;
  }
}
/* line 198, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events {
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
  margin-top: -250px;
}
/* line 203, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events a {
  pointer-events: all;
}
/* line 211, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events .pane-title {
  position: absolute;
  width: 340px;
  top: 260px;
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 211, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .pane-title {
    position: relative;
    top: inherit;
    width: inherit;
    font-size: 28px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 198, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events {
    margin-top: -170px;
  }
  /* line 231, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .pane-title {
    top: 167px;
  }
}
/* line 236, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events .view {
  left: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 236, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .view {
    left: 0;
  }
}
/* line 249, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science {
  max-width: inherit;
  background-color: #030400;
  margin-top: 60px;
}
/* line 255, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library {
  max-width: 1050px;
  margin-top: 80px;
  padding-top: 20px;
}
/* line 260, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description {
  width: 30%;
  left: -140px;
}
/* line 264, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description h2 {
  max-width: 300px;
}
/* line 268, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description p {
  max-width: 450px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 273, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description h2, .page-homepage #main #content #explore-library .creature-description p {
    width: 150%;
  }
}
/* line 279, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .animation {
  margin-top: 40px;
  width: 70%;
  max-width: 1200px;
  left: -100px;
}
/* line 286, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library #frog {
  max-width: 640px;
  margin-top: -50px;
  left: -130px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 286, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library #frog {
    max-width: 500px;
    margin-top: -40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 286, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library #frog {
    max-width: inherit;
    margin-top: 20px;
    left: -40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 255, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library {
    padding-top: 0;
  }
  /* line 306, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description,
  .page-homepage #main #content #explore-library .animation {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    float: none;
  }
  /* line 315, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 319, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description h2 {
    width: 50%;
  }
  /* line 323, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description p {
    width: 100%;
  }
  /* line 328, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .animation {
    margin-top: 20px;
    margin-left: 60px;
  }
}
/* line 335, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people {
  margin-top: 180px;
}
/* line 338, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .views-field-field-subtitle {
  display: none;
}
/* line 342, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
  width: 410px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 342, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
    width: inherit;
    margin-bottom: 20px;
  }
}
/* line 352, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people > p {
  padding-top: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 352, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people > p {
    padding-top: 0;
  }
}
/* line 360, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .pane-title {
  font-size: 36px;
  line-height: 38px;
  position: absolute;
  top: -85px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 360, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people .pane-title {
    width: inherit;
    position: relative;
    top: inherit;
    font-size: 28px;
    line-height: 32px;
  }
}
/* line 376, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .views-row-4 {
  margin-bottom: 40px;
}
/* line 381, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #footer {
  max-width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 388, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science {
    margin-top: 40px;
  }
  /* line 392, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors,
  .page-homepage #main #content #events,
  .page-homepage #main #content #explore-library,
  .page-homepage #main #content #people {
    margin-top: inherit;
    margin-bottom: 40px;
  }
  /* line 399, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors h2,
  .page-homepage #main #content #animal-ambassadors .pane-title,
  .page-homepage #main #content #events h2,
  .page-homepage #main #content #events .pane-title,
  .page-homepage #main #content #explore-library h2,
  .page-homepage #main #content #explore-library .pane-title,
  .page-homepage #main #content #people h2,
  .page-homepage #main #content #people .pane-title {
    margin-bottom: 10px;
  }
  /* line 405, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors,
  .page-homepage #main #content #explore-library {
    margin-top: 40px;
  }
  /* line 409, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors h2,
  .page-homepage #main #content #animal-ambassadors .pane-title,
  .page-homepage #main #content #explore-library h2,
  .page-homepage #main #content #explore-library .pane-title {
    font-size: 24px;
    line-height: 29px;
  }
  /* line 416, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #people {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 421, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events h2,
  .page-homepage #main #content #events .pane-title,
  .page-homepage #main #content #people h2,
  .page-homepage #main #content #people .pane-title {
    font-size: 20px;
    line-height: 24px;
  }
  /* line 428, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content nav {
    display: none;
  }
  /* line 431, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content nav.smartphone-nav {
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 438, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #people {
    margin-left: 20px;
  }
}
