/* line 4, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main {
  border-bottom: 30px solid #666361;
  color: #575757;
}
/* line 8, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main h1, .page-homepage #main h2, .page-homepage #main h3, .page-homepage #main h4 {
  line-height: 1em;
}
/* line 12, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content {
  max-width: none;
  			/*
  
  				id level specifics
  
  			*/
  			/*
  			#explore-science {
  				$maxHeight: 630px;
  
  				max-width: inherit;
  				background-color: #030400;
  				margin-top: $padding * 3;
  
  				max-height: $maxHeight;
  				overflow: hidden;
  				padding: $padding * 2;
  
  				@include respond-to(smartphone) {
  					padding: $smartphonePadding;
  				}
  
  				.slide {
  					width: $maxWidth;
  					margin-left: auto;
  					margin-right: auto;
  
  					.slide-content {
  						z-index: 2;
  						position: relative;
  
  						h4, h3, p, .link-summary {
  							width: $squareWidth * 2;
  							margin: 0;
  							font-weight: $light;
  						}
  
  						h4 {
  							color: $white;
  							font-size: $headerSubheadText;
  							margin-bottom: $padding / 2;
  						}
  
  						h3 {
  							color: $rust;
  							font-size: $headerText;
  							margin-bottom: $padding;
  							letter-spacing: -1px;
  						}
  
  						& > p {
  							font-size: $biggerText;
  							line-height: $biggerTextLineHeight;
  						}
  
  						.link-summary {
  							&, p {
  								width: 260px;
  							}
  
  							margin-top: $padding * 2;
  
  							img {
  								display: block;
  								width: 100%;
  								margin-bottom: $padding / 2;
  							}
  
  							a {
  								color: $rust;
  								font-weight: $semibold;
  								font-size: $biggerText - 2px;
  								line-height: $biggerTextLineHeight;
  								@include arrow(arrow-rust);
  							}
  						}
  					}
  
  					.pretty-picture {
  						$additionalHeight: 100px;
  
  						position: absolute;
  						top: 0;
  						left: 47%;
  						z-index: 1;
  
  						width: 70%;
  						min-width: round(($maxHeight / 970) * 1920);
  						min-height: $maxHeight;
  
  						// SASS doesn't properly append 'px' :(
  						// max-width: round(.7 * 1920);
    						// max-height: round(.7 * 970);
  
  						max-width: 1344px;
    						max-height: 679px;
  					}
  				}
  
  				@include respond-to(smartphone) {
  					max-height: inherit;
  
  					.slide {
  						width: 100%;
  						padding-top: $padding;
  						padding-bottom: $padding;
  
  						.slide-content {
  							h4, h3, p {
  								width: 60%;
  								max-width: 300px;
  							}
  
  							h3 {
  								font-size: $headerTextSmartphone - 6;
  							}
  
  							.link-summary {
  								display: none;
  							}
  						}
  
  						.pretty-picture {
  							$maxHeight: 400px;
  
  							left: 45%;
  
  							min-width: round(($maxHeight / 970) * 1920);
  							min-height: $maxHeight;
  						}
  					}
  				}
  			}
  			*/
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 12, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 12, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 25, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .panel-pane {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 32, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .panel-pane > p {
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 32, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .panel-pane > p {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 45, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people-description,
.page-homepage #main #content .pane-testimonials-related {
  display: none;
}
/* line 49, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .testimonial {
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 49, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .testimonial {
    width: 167px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 49, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .testimonial {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: inherit;
    float: none;
    width: 100%;
    padding-top: 20px;
  }
}
/* line 66, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature {
  width: 100%;
  clear: both;
  overflow: hidden;
}
/* line 72, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description,
.page-homepage #main #content .creature img {
  position: relative;
  float: right;
  width: 50%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}
/* line 82, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: normal;
  z-index: 2;
}
/* line 87, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description h2, .page-homepage #main #content .creature .creature-description p {
  width: 100%;
}
/* line 91, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  padding-top: 3px;
  padding-right: 25px;
  color: #f27134;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .creature .creature-description a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .creature .creature-description a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 97, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature img {
  z-index: 1;
}
/* line 102, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .proto-slideshow {
  max-width: none;
  width: 100%;
  background-color: #1a1a1a;
}
/* line 114, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero {
  max-width: inherit;
  line-height: 0;
}
/* line 118, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img {
  width: 100%;
}
/* line 121, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img.tablet-desktop {
  display: block;
}
/* line 125, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img.smartphone {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 132, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #hero img.tablet-desktop {
    display: none;
  }
  /* line 136, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #hero img.smartphone {
    display: block;
  }
}
/* line 143, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors {
  margin-top: 115px;
  margin-bottom: 40px;
  left: -120px;
}
/* line 148, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors .creature-description {
  padding-right: 20px;
  overflow: visible;
  width: 35%;
  top: 100px;
  left: -120px;
}
/* line 156, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
  width: 120%;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 156, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
    width: 150%;
  }
}
/* line 165, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors img {
  width: 65%;
}
/* line 170, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors.gif-test {
  padding-bottom: 100px;
}
/* line 171, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors.gif-test img {
  left: -40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 170, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors.gif-test {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 143, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors {
    left: 0;
  }
  /* line 185, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description {
    width: 30%;
    padding-right: 12px;
    top: 0;
    left: -20%;
  }
  /* line 192, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
    width: 170%;
  }
  /* line 197, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors img {
    left: -50px;
    width: 70%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  /* line 204, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description {
    left: -90px;
  }
}
/* line 210, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events {
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
  margin-top: -250px;
}
/* line 215, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events a {
  pointer-events: all;
}
/* line 223, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events .pane-title {
  position: absolute;
  width: 340px;
  top: 260px;
  font-size: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 223, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .pane-title {
    position: relative;
    top: inherit;
    width: inherit;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 210, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events {
    margin-top: -170px;
  }
  /* line 239, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .pane-title {
    top: 167px;
  }
}
/* line 244, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events .view {
  left: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 244, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .view {
    left: 0;
  }
}
/* line 257, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science {
  max-width: inherit;
  background-color: #030400;
  margin-top: 60px;
}
/* line 392, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library {
  max-width: 100%;
  margin-top: 80px;
}
/* line 396, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description {
  width: 30%;
  left: -140px;
}
/* line 400, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description h2 {
  max-width: 300px;
}
/* line 404, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description p {
  max-width: 450px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 409, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description h2, .page-homepage #main #content #explore-library .creature-description p {
    width: 150%;
  }
}
/* line 415, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .animation {
  margin-top: 40px;
  width: 70%;
  max-width: 1200px;
  left: -100px;
}
/* line 422, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library #frog {
  display: none;
  max-width: 640px;
  margin-top: -50px;
  left: -130px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 422, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library #frog {
    max-width: 500px;
    margin-top: -40px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 422, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library #frog {
    max-width: inherit;
    margin-top: 20px;
    left: -40px;
  }
}
/* line 440, ../../sass/calacademy/page-homepage.scss */
.frog .page-homepage #main #content #explore-library {
  max-width: 1050px;
  padding-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 440, ../../sass/calacademy/page-homepage.scss */
  .frog .page-homepage #main #content #explore-library {
    padding-top: 0;
  }
}
/* line 448, ../../sass/calacademy/page-homepage.scss */
.frog .page-homepage #main #content #explore-library #frog {
  display: block;
}
/* line 451, ../../sass/calacademy/page-homepage.scss */
.frog .page-homepage #main #content #explore-library #tarantula {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 458, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description,
  .page-homepage #main #content #explore-library .animation {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    float: none;
  }
  /* line 466, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 470, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description h2 {
    width: 50%;
  }
  /* line 474, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description p {
    width: 100%;
  }
  /* line 479, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .animation {
    margin-top: 20px;
    margin-left: 60px;
  }
}
/* line 486, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people {
  margin-top: 180px;
}
/* line 489, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .views-field-field-subtitle {
  display: none;
}
/* line 494, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
  width: 410px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 494, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
    width: inherit;
    margin-bottom: 20px;
  }
}
/* line 503, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .pane-title {
  font-size: 36px;
  position: absolute;
  top: -100px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 503, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people .pane-title {
    width: inherit;
    position: relative;
    top: inherit;
  }
}
/* line 515, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .views-row-4 {
  margin-bottom: 40px;
}
/* line 520, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #footer {
  max-width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 531, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #animal-ambassadors,
  .page-homepage #main #content #explore-science,
  .page-homepage #main #content #explore-library,
  .page-homepage #main #content #people {
    margin-top: inherit;
    margin-bottom: 40px;
  }
  /* line 536, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events h2,
  .page-homepage #main #content #events .pane-title,
  .page-homepage #main #content #animal-ambassadors h2,
  .page-homepage #main #content #animal-ambassadors .pane-title,
  .page-homepage #main #content #explore-science h2,
  .page-homepage #main #content #explore-science .pane-title,
  .page-homepage #main #content #explore-library h2,
  .page-homepage #main #content #explore-library .pane-title,
  .page-homepage #main #content #people h2,
  .page-homepage #main #content #people .pane-title {
    font-size: 24px;
  }
  /* line 542, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #people {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 547, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content nav {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 554, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #people {
    margin-left: 20px;
  }
}
