/* line 4, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar {
  font-size: inherit;
}
/* line 7, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .ajax-progress {
  display: none;
}
/* line 11, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar #html5-date-picker {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 11, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #html5-date-picker {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 1;
    position: absolute;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 150px;
  }
}
/* line 32, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar #content .panel-col-top {
  margin-bottom: 40px;
}
/* line 36, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar #content .panel-col-first {
  width: 70%;
  padding-right: 20px;
}
/* line 41, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar #content .right-rail {
  width: 30%;
  margin-top: 60px;
  font-size: 14px;
  line-height: 22px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 41, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #content .right-rail {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 55, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar #content .panel-col-first,
.page-daily-calendar #content .right-rail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 31, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #content {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 64, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #content .panel-col-first,
  .page-daily-calendar #content .right-rail {
    float: none;
    position: relative;
    width: inherit !important;
    margin: 0;
  }
  /* line 71, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #content .panel-col-first {
    padding: 0;
  }
  /* line 76, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #content .panel-col-top,
  .page-daily-calendar #content .right-rail {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  /* line 85, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #content .panel-col-top {
    width: 80%;
  }
}
/* line 94, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header {
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 94, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-header {
    float: none;
    position: relative;
    width: inherit;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: hand;
    cursor: pointer;
    border: 2px solid #e6e6e6;
  }
  /* line 100, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-header div {
    margin: 0;
    padding: 0;
  }
  /* line 117, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-header.active {
    border: 2px solid #f27134;
  }
}
/* line 136, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header .date-nav {
  margin: 0;
}
/* line 140, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header h3 {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: none;
  border-left: 1px solid #e6e6e6;
  margin-left: 20px;
  padding-left: 20px;
  padding-bottom: 3px;
  color: #f27134;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 140, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-header h3 {
    margin-left: 10px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 140, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-header h3 {
    float: none;
    position: relative;
    width: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    color: #1a1a1a;
    font-size: 18px;
    padding-right: 28px;
    background-image: url("/sites/all/themes/calacademy_zen/images/drop-down-arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-header h3 {
    background-image: url("/sites/all/themes/calacademy_zen/images/drop-down-arrow@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-header h3 {
    -webkit-background-size: 16px, 9px;
    -moz-background-size: 16px, 9px;
    -o-background-size: 16px, 9px;
    background-size: 16px, 9px;
  }
}
/* line 180, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager, .page-daily-calendar .view-daily-calendar .view-header #date-pager li, .page-daily-calendar .view-daily-calendar .view-header #date-pager a {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: none;
}
/* line 184, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager li {
  padding-top: 5px;
}
/* line 188, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager .date-prev {
  margin-right: 10px;
}
/* line 192, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 0;
  outline: none;
  width: 20px;
  height: 20px;
}
/* line 460, ../../sass/calacademy/_mixins.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager a::-moz-focus-inner {
  border: 0;
}
/* line 464, ../../sass/calacademy/_mixins.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager a:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* line 199, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager .date-next a {
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-solid-orange.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-header #date-pager .date-next a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-solid-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-header #date-pager .date-next a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 203, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-header #date-pager .date-prev a {
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-solid-orange-left.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-header #date-pager .date-prev a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-solid-orange-left@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-header #date-pager .date-prev a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 209, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-filters {
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/30.gif");
  float: left;
  position: relative;
  margin-left: 10px;
  top: 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-filters {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/30@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-filters {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
/* line 215, ../../sass/calacademy/page-daily-calendar.scss */
.ajax-loading .page-daily-calendar .view-daily-calendar .view-filters {
  background-position: right top;
}
/* line 224, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-filters *:focus {
  outline: 0;
}
/* line 229, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-filters label,
.page-daily-calendar .view-daily-calendar .view-filters .description {
  display: none;
}
/* line 233, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-filters input {
  border: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: none;
  cursor: hand;
  cursor: pointer;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 0;
  background-image: url("/sites/all/themes/calacademy_zen/images/icon-calendar.png");
  background-repeat: no-repeat;
  margin-top: -2px;
}
/* line 460, ../../sass/calacademy/_mixins.scss */
.page-daily-calendar .view-daily-calendar .view-filters input::-moz-focus-inner {
  border: 0;
}
/* line 464, ../../sass/calacademy/_mixins.scss */
.page-daily-calendar .view-daily-calendar .view-filters input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-filters input {
    background-image: url("/sites/all/themes/calacademy_zen/images/icon-calendar@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-filters input {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 250, ../../sass/calacademy/page-daily-calendar.scss */
.no-touch .page-daily-calendar .view-daily-calendar .view-filters input:hover, .touch .page-daily-calendar .view-daily-calendar .view-filters input:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 254, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-filters #edit-submit-daily-calendar {
  display: none;
}
/* line 259, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content {
  position: relative;
  clear: both;
  width: 100%;
  overflow: visible;
}
/* line 266, ../../sass/calacademy/page-daily-calendar.scss */
.ajax-loading .page-daily-calendar .view-daily-calendar .view-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
}
/* line 269, ../../sass/calacademy/page-daily-calendar.scss */
.ajax-loading .page-daily-calendar .view-daily-calendar .view-content .events-container div {
  pointer-events: none;
  cursor: default;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 259, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-content {
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/50.gif");
  }
  /* line 280, ../../sass/calacademy/page-daily-calendar.scss */
  .ajax-loading .page-daily-calendar .view-daily-calendar .view-content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    overflow: hidden;
    background-position: center top;
  }
  /* line 287, ../../sass/calacademy/page-daily-calendar.scss */
  .ajax-loading .page-daily-calendar .view-daily-calendar .view-content table,
  .ajax-loading .page-daily-calendar .view-daily-calendar .view-content .empty-result {
    min-height: 70px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/50@2x.gif");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content {
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}
/* line 294, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content, .page-daily-calendar .view-daily-calendar .view-content * {
  margin: 0;
  padding: 0;
}
/* line 299, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .empty-result {
  font-weight: 600;
  clear: both;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 299, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-content .empty-result {
    margin-left: 12px;
    margin-right: 12px;
  }
}
/* line 309, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content table {
  width: 100%;
  position: relative;
  float: left;
  z-index: 2;
  border-collapse: collapse;
  background-color: #f7f7f7;
}
/* line 318, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content table th, .page-daily-calendar .view-daily-calendar .view-content table td {
  padding: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  vertical-align: top;
}
/* line 327, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content table th {
  color: #1a1a1a;
  font-weight: 500;
  line-height: 18px;
  width: 78px;
  padding-right: 0;
  text-align: left;
  white-space: nowrap;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 327, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-content table th {
    padding-left: 12px;
  }
}
/* line 344, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content table.js-clone {
  position: absolute;
  z-index: 1;
  right: 100%;
}
/* line 349, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content table.js-clone td *, .page-daily-calendar .view-daily-calendar .view-content table.js-clone th * {
  visibility: hidden;
}
/* line 355, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container {
  clear: both;
}
/* line 358, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div {
  clear: none;
  float: none;
  display: inline-block;
  vertical-align: top;
  position: relative !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333%;
  padding-right: 10px;
  margin-bottom: 10px;
}
/* line 363, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div.solo.no-image {
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 358, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div {
    width: 100%;
  }
}
/* line 374, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 378, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  font-size: 0;
  line-height: 0;
}
/* line 125, ../../sass/calacademy/_mixins.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box a.video:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  background-repeat: no-repeat;
  background-position: center 48%;
  background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button-small@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box a.video:before {
    -webkit-background-size: 40px, 44px;
    -moz-background-size: 40px, 44px;
    -o-background-size: 40px, 44px;
    background-size: 40px, 44px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 125, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button.png");
  }
}
@media only screen and (min-width: 1001px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 1001px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1001px) and (min-resolution: 192dpi), only screen and (min-width: 1001px) and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box a.video:before {
    background-image: url("/sites/all/themes/calacademy_zen/images/play-button@2x.png");
  }
}
@media only screen and (min-width: 1001px) and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box a.video:before {
    -webkit-background-size: 65px, 72px;
    -moz-background-size: 65px, 72px;
    -o-background-size: 65px, 72px;
    background-size: 65px, 72px;
  }
}
/* line 389, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box, .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box img, .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box .summary {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 394, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box img {
  position: relative;
  z-index: 1;
  height: auto;
}
/* line 400, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box .summary {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: 10px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 17px;
  line-height: 1.25em;
  color: white;
  background-color: #f27134;
  background-color: rgba(242, 113, 52, 0.88);
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 400, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box .summary {
    font-size: 14px;
  }
}
/* line 427, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .info-box .summary:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 433, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div h3 {
  font-size: inherit;
  font-weight: 500;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 433, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar .view-daily-calendar .view-content .events-container > div h3 {
    font-weight: 600;
  }
}
/* line 441, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div h3 a {
  font-weight: 600;
}
/* line 446, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div .location {
  font-size: 14px;
  line-height: 22px;
  color: #7a7a7a;
}
/* line 455, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div.no-image .info-box, .page-daily-calendar .view-daily-calendar .view-content .events-container > div.boring .info-box {
  display: none;
}
/* line 462, ../../sass/calacademy/page-daily-calendar.scss */
.page-daily-calendar .view-daily-calendar .view-content .events-container > div.boring .location {
  display: none;
}
/* line 469, ../../sass/calacademy/page-daily-calendar.scss */
.no-touch .page-daily-calendar .view-daily-calendar .view-content .events-container > div:hover a {
  color: #f27134;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 609, ../../sass/calacademy/_mixins.scss */
  .no-touch .page-daily-calendar .view-daily-calendar .view-content .events-container > div:hover a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 629, ../../sass/calacademy/_mixins.scss */
  .no-touch .page-daily-calendar .view-daily-calendar .view-content .events-container > div:hover a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 474, ../../sass/calacademy/page-daily-calendar.scss */
.no-touch .page-daily-calendar .view-daily-calendar .view-content .events-container > div:hover .summary {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: white;
  background-image: none;
  padding: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 487, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar {
    background-image: none !important;
  }
  /* line 492, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #page-title span {
    width: 100% !important;
  }
  /* line 500, ../../sass/calacademy/page-daily-calendar.scss */
  .page-daily-calendar #date-pager,
  .page-daily-calendar .view-filters,
  .page-daily-calendar .js-clone,
  .page-daily-calendar .events-container .info-box {
    display: none;
  }
}
