/* line 7, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .page-header,
.page-lesson-plans-landing .page-header,
.page-press-releases-landing .page-header,
.page-gigamacro-landing .page-header {
  margin-bottom: 40px;
}
/* line 13, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-first .pane-title,
.page-staff-list .panel-col-top .pane-title,
.page-lesson-plans-landing .panel-col-first .pane-title,
.page-lesson-plans-landing .panel-col-top .pane-title,
.page-press-releases-landing .panel-col-first .pane-title,
.page-press-releases-landing .panel-col-top .pane-title,
.page-gigamacro-landing .panel-col-first .pane-title,
.page-gigamacro-landing .panel-col-top .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-staff-list .panel-col-first .pane-title,
  .page-staff-list .panel-col-top .pane-title,
  .page-lesson-plans-landing .panel-col-first .pane-title,
  .page-lesson-plans-landing .panel-col-top .pane-title,
  .page-press-releases-landing .panel-col-first .pane-title,
  .page-press-releases-landing .panel-col-top .pane-title,
  .page-gigamacro-landing .panel-col-first .pane-title,
  .page-gigamacro-landing .panel-col-top .pane-title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 13, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-staff-list .panel-col-first .pane-title,
  .page-staff-list .panel-col-top .pane-title,
  .page-lesson-plans-landing .panel-col-first .pane-title,
  .page-lesson-plans-landing .panel-col-top .pane-title,
  .page-press-releases-landing .panel-col-first .pane-title,
  .page-press-releases-landing .panel-col-top .pane-title,
  .page-gigamacro-landing .panel-col-first .pane-title,
  .page-gigamacro-landing .panel-col-top .pane-title {
    margin-bottom: 12px;
  }
}
/* line 20, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .pane-node-title h1,
.page-lesson-plans-landing .panel-col-top .pane-node-title h1,
.page-press-releases-landing .panel-col-top .pane-node-title h1,
.page-gigamacro-landing .panel-col-top .pane-node-title h1 {
  padding-left: 0 !important;
}
/* line 25, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .pane-node-title, .page-staff-list .panel-col-top h2,
.page-lesson-plans-landing .panel-col-top .pane-node-title,
.page-lesson-plans-landing .panel-col-top h2,
.page-press-releases-landing .panel-col-top .pane-node-title,
.page-press-releases-landing .panel-col-top h2,
.page-gigamacro-landing .panel-col-top .pane-node-title,
.page-gigamacro-landing .panel-col-top h2 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
/* line 31, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-lesson-plans-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-press-releases-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades,
.page-gigamacro-landing .panel-col-top .view-lesson-plan-content .views-field-field-grades {
  margin-top: 20px;
}
/* line 35, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-top .view-lesson-plan-content .views-field-title,
.page-lesson-plans-landing .panel-col-top .view-lesson-plan-content .views-field-title,
.page-press-releases-landing .panel-col-top .view-lesson-plan-content .views-field-title,
.page-gigamacro-landing .panel-col-top .view-lesson-plan-content .views-field-title {
  margin-top: 0;
}
/* line 41, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .panel-col-first,
.page-lesson-plans-landing .panel-col-first,
.page-press-releases-landing .panel-col-first,
.page-gigamacro-landing .panel-col-first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 48, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .exposed-filters form .views-exposed-widgets,
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
.page-press-releases-landing .exposed-filters form .views-exposed-widgets,
.page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/30.gif");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .page-staff-list .exposed-filters form .views-exposed-widgets,
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets,
  .page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/30@2x.gif");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .page-staff-list .exposed-filters form .views-exposed-widgets,
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets,
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets,
  .page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
    -moz-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
  }
}
/* line 282, ../../sass/calacademy/_mixins.scss */
.ajax-loading .page-staff-list .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-press-releases-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
.page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
  padding-right: 0;
  background-position: right 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 282, ../../sass/calacademy/_mixins.scss */
  .ajax-loading .page-staff-list .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-lesson-plans-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-press-releases-landing .exposed-filters form .views-exposed-widgets, .ajax-loading
  .page-gigamacro-landing .exposed-filters form .views-exposed-widgets {
    padding-right: 0;
    background: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 54, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .ajax-loading .page-staff-list .exposed-filters .view, .ajax-loading
  .page-lesson-plans-landing .exposed-filters .view, .ajax-loading
  .page-press-releases-landing .exposed-filters .view, .ajax-loading
  .page-gigamacro-landing .exposed-filters .view {
    background-position: center 250px;
  }
}
/* line 60, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .exposed-filters .view .pager,
.page-lesson-plans-landing .exposed-filters .view .pager,
.page-press-releases-landing .exposed-filters .view .pager,
.page-gigamacro-landing .exposed-filters .view .pager {
  margin-top: 20px;
}
/* line 66, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-staff-list .right-rail,
.page-lesson-plans-landing .right-rail,
.page-press-releases-landing .right-rail,
.page-gigamacro-landing .right-rail {
  margin-top: 53px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 71, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-staff-list .panel-col-first,
  .page-staff-list .right-rail,
  .page-lesson-plans-landing .panel-col-first,
  .page-lesson-plans-landing .right-rail,
  .page-press-releases-landing .panel-col-first,
  .page-press-releases-landing .right-rail,
  .page-gigamacro-landing .panel-col-first,
  .page-gigamacro-landing .right-rail {
    padding-right: 0;
    width: 100%;
  }
}

/* line 83, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-press-releases-landing .exposed-filters form .views-exposed-widgets .views-submit-button {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 91, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .ajax-loading .page-press-releases-landing .exposed-filters .view {
    background-position: center 100px;
  }
}

/* line 106, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets .views-exposed-widget,
.page-staff-list .exposed-filters form .views-exposed-widgets .views-exposed-widget {
  padding-top: 10px !important;
}
/* line 109, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets .views-submit-button,
.page-staff-list .exposed-filters form .views-exposed-widgets .views-submit-button {
  margin-top: 10px !important;
}
/* line 115, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .form-item-field-person-name-first-value,
.page-lesson-plans-landing .form-item-field-person-name-last-value,
.page-staff-list .form-item-field-person-name-first-value,
.page-staff-list .form-item-field-person-name-last-value {
  min-height: 40px;
}

/* line 123, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form {
  pointer-events: all;
}
/* line 126, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form label {
  display: none;
}
/* line 131, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form .views-exposed-widgets .views-submit-button {
  background-image: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 137, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search {
  clear: both;
  width: 100%;
  overflow: hidden;
}
/* line 40, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input,
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search textarea,
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  padding: 8px;
  border: 1px solid #e6e6e6;
  background-color: transparent;
  color: #575757;
}
/* line 45, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="checkbox"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search textarea[type="checkbox"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select[type="checkbox"] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}
/* line 49, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="radio"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search textarea[type="radio"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select[type="radio"] {
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
/* line 62, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="text"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="email"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="password"],
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search textarea {
  line-height: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 71, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 175px;
  padding-right: 40px;
  background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: white;
}
/* line 365, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select::-ms-expand {
  display: none;
}
/* line 653, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select::-moz-focus-inner {
  border: 0;
}
/* line 657, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search select {
    background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search select {
    -moz-background-size: 32px 9px;
    -o-background-size: 32px 9px;
    -webkit-background-size: 32px 9px;
    background-size: 32px 9px;
  }
}
/* line 390, ../../sass/calacademy/_mixins.scss */
.lt-ie10 .page-lesson-plans-landing .exposed-filters form.lesson-plan-search select {
  background-image: none !important;
  padding-right: 8px;
}
/* line 395, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select:focus {
  border: 1px solid #186aa8;
  -moz-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  -webkit-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
}
/* line 80, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="text"]:focus,
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="email"]:focus,
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input[type="password"]:focus,
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search textarea:focus,
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search select:focus {
  border: 1px solid #186aa8;
  -moz-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  -webkit-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
}
/* line 143, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search input, .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
}
/* line 149, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container {
  margin-left: 10px;
  width: 100px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNjEyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px !important;
  padding-top: 7px !important;
  padding-bottom: 9px !important;
  	/*
  	font-size: 17px;
  
  	@include respond-to(smartphone) {
  		font-size: $smartphoneText;
  	}
  	*/
  padding: 10px !important;
  border: 0;
}
/* line 883, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: 0;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 0;
}
/* line 896, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input, .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input:focus, .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input::-moz-focus-inner {
  outline: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 906, ../../sass/calacademy/_mixins.scss */
.no-touch .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 528, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container, .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container a {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 528, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container, .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container a {
    font-size: 18px;
  }
}
/* line 536, ../../sass/calacademy/_mixins.scss */
.page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container a {
  display: block;
  color: white;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 157, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search input, .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  /* line 163, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-lesson-plans-landing .exposed-filters form.lesson-plan-search .submit-container {
    margin-top: 10px;
  }
}

/* line 338, ../../sass/calacademy/_mixins.scss */
.page-gigamacro-landing .panel-col-first,
.page-gigamacro-landing .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 343, ../../sass/calacademy/_mixins.scss */
.page-gigamacro-landing .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 348, ../../sass/calacademy/_mixins.scss */
.page-gigamacro-landing .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 353, ../../sass/calacademy/_mixins.scss */
  .page-gigamacro-landing .panel-col-first,
  .page-gigamacro-landing .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 176, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-gigamacro-landing .panel-col-first {
    width: 78%;
  }
  /* line 180, ../../sass/calacademy/page-lesson-plans-landing-and-more.scss */
  .page-gigamacro-landing .right-rail {
    width: 22%;
  }
}
