/* line 6, ../../sass/calacademy/page-exhibits-landing.scss */
.page-exhibits-landing .pager {
  display: none;
}
/* line 10, ../../sass/calacademy/page-exhibits-landing.scss */
.page-exhibits-landing .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 10, ../../sass/calacademy/page-exhibits-landing.scss */
  .page-exhibits-landing .pane-title {
    font-size: 28px;
    line-height: 32px;
  }
}
/* line 14, ../../sass/calacademy/page-exhibits-landing.scss */
.page-exhibits-landing .pane-node-body {
  margin-bottom: 40px;
}
/* line 20, ../../sass/calacademy/page-exhibits-landing.scss */
.page-exhibits-landing.page-node .page-header h2 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 20, ../../sass/calacademy/page-exhibits-landing.scss */
  .page-exhibits-landing.page-node .page-header h2 {
    margin-bottom: 12px !important;
  }
}
