/* line 6, ../../sass/calacademy/page-taxonomy-term.scss */
.page-taxonomy-term #content .center-wrapper {
  padding-top: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/page-taxonomy-term.scss */
  .page-taxonomy-term #content .center-wrapper {
    padding-top: 48px;
  }
}
/* line 332, ../../sass/calacademy/_mixins.scss */
.page-taxonomy-term #content .panel-col-first,
.page-taxonomy-term #content .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 337, ../../sass/calacademy/_mixins.scss */
.page-taxonomy-term #content .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 342, ../../sass/calacademy/_mixins.scss */
.page-taxonomy-term #content .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 347, ../../sass/calacademy/_mixins.scss */
  .page-taxonomy-term #content .panel-col-first,
  .page-taxonomy-term #content .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
/* line 18, ../../sass/calacademy/page-taxonomy-term.scss */
.page-taxonomy-term #content .panel-col-top .pane-title,
.page-taxonomy-term #content .panel-col-first .pane-title,
.page-taxonomy-term #content .panel-col-middle .pane-title {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 18, ../../sass/calacademy/page-taxonomy-term.scss */
  .page-taxonomy-term #content .panel-col-top .pane-title,
  .page-taxonomy-term #content .panel-col-first .pane-title,
  .page-taxonomy-term #content .panel-col-middle .pane-title {
    font-size: 28px;
    line-height: 32px;
  }
}
/* line 25, ../../sass/calacademy/page-taxonomy-term.scss */
.page-taxonomy-term #content .panel-col-top .panel-pane {
  margin-bottom: 20px;
}
/* line 28, ../../sass/calacademy/page-taxonomy-term.scss */
.page-taxonomy-term #content .panel-col-top .panel-pane:first-child {
  margin-bottom: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 35, ../../sass/calacademy/page-taxonomy-term.scss */
  .page-taxonomy-term #content .right-rail {
    margin-top: 40px;
  }
}
