/* line 5, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form.webform-response .page-header {
  display: none;
}
/* line 10, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status,
.page-simple-form .page-header {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  background-image: none;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 21, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status h2, .page-simple-form .messages--status h4,
.page-simple-form .messages--status h3, .page-simple-form .messages--status p,
.page-simple-form .page-header h2,
.page-simple-form .page-header h4,
.page-simple-form .page-header h3,
.page-simple-form .page-header p {
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;
}
/* line 28, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status h3,
.page-simple-form .page-header h3 {
  font-size: 36px;
  line-height: 38px;
}
/* line 33, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status h2,
.page-simple-form .messages--status h4,
.page-simple-form .messages--status p,
.page-simple-form .page-header h2,
.page-simple-form .page-header h4,
.page-simple-form .page-header p {
  margin-top: 10px;
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 10, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .messages--status,
  .page-simple-form .page-header {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  /* line 45, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .messages--status h3,
  .page-simple-form .page-header h3 {
    font-size: 24px;
    line-height: 32px;
  }
  /* line 50, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .messages--status h2,
  .page-simple-form .messages--status h4,
  .page-simple-form .messages--status p,
  .page-simple-form .page-header h2,
  .page-simple-form .page-header h4,
  .page-simple-form .page-header p {
    font-size: 20px;
    line-height: 26px;
  }
}
/* line 59, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .webform-client-form,
.page-simple-form .pane-custom,
.page-simple-form .unsubscribe {
  margin-bottom: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 59, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .webform-client-form,
  .page-simple-form .pane-custom,
  .page-simple-form .unsubscribe {
    margin-bottom: 24px !important;
  }
}
/* line 70, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-custom h3, .page-simple-form .pane-custom h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
/* line 80, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
  word-break: break-word;
}
/* line 84, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row {
  margin-bottom: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 84, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row {
    margin-bottom: 24px !important;
  }
}
/* line 92, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row .views-field, .page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row .views-field * {
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-image: none;
}
/* line 102, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row .views-field h2 {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}
/* line 113, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .unsubscribe {
  margin-top: -20px;
  width: 80%;
}
/* line 117, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .unsubscribe p {
  margin-right: 8%;
  text-align: right;
  font-size: 17px;
  font-weight: 600;
}
/* line 123, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .unsubscribe p a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 734, ../../sass/calacademy/_mixins.scss */
  .page-simple-form .unsubscribe p a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 754, ../../sass/calacademy/_mixins.scss */
  .page-simple-form .unsubscribe p a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 117, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .unsubscribe p {
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 136, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .panel-col-first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 78%;
  padding-right: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 136, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .panel-col-first {
    padding-right: 0;
  }
  /* line 142, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .panel-col-first, .page-simple-form .panel-col-first .webform-client-form {
    width: 100%;
  }
}
/* line 150, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .right-rail {
  width: 22%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 150, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .right-rail {
    width: 100%;
  }
}
