/* line 4, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main {
  border-bottom: 30px solid #666361;
  color: #7a7a7a;
}
/* line 8, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main h1, .page-homepage #main h2, .page-homepage #main h3, .page-homepage #main h4 {
  line-height: 1em;
}
/* line 12, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content {
  max-width: none;
  			/*
  			
  				id level specifics
  
  			*/
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 12, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 12, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 25, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .panel-pane {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 32, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .panel-pane > p {
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 32, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .panel-pane > p {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 43, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .testimonial {
  width: 220px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 43, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .testimonial {
    width: 167px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 43, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content .testimonial {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: inherit;
    float: none;
    width: 100%;
    padding-top: 20px;
  }
}
/* line 59, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .testimonial div {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 422, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .testimonial div {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 442, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .testimonial div {
    -webkit-background-size: 40px, 40px;
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 65, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature {
  width: 100%;
  clear: both;
  overflow: hidden;
}
/* line 71, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description,
.page-homepage #main #content .creature img {
  position: relative;
  float: right;
  width: 50%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}
/* line 81, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: normal;
  z-index: 2;
}
/* line 86, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description h2, .page-homepage #main #content .creature .creature-description p {
  width: 100%;
}
/* line 90, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature .creature-description a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
  color: #f27134;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 422, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .creature .creature-description a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-orange@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 442, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content .creature .creature-description a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 96, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .creature img {
  z-index: 1;
}
/* line 101, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content .proto-slideshow {
  max-width: none;
  width: 100%;
  background-color: #1a1a1a;
}
/* line 113, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero {
  max-width: inherit;
  line-height: 0;
}
/* line 117, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img {
  width: 100%;
}
/* line 120, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img.tablet-desktop {
  display: block;
}
/* line 124, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #hero img.smartphone {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 131, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #hero img.tablet-desktop {
    display: none;
  }
  /* line 135, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #hero img.smartphone {
    display: block;
  }
}
/* line 142, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors {
  margin-top: 40px;
  margin-bottom: 40px;
  left: -120px;
}
/* line 147, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors .creature-description {
  padding-right: 20px;
  overflow: visible;
  width: 35%;
  top: 100px;
  left: -120px;
}
/* line 155, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
  width: 120%;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 155, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
    width: 150%;
  }
}
/* line 164, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors img {
  width: 65%;
}
/* line 169, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors.gif-test {
  padding-bottom: 100px;
}
/* line 170, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #animal-ambassadors.gif-test img {
  left: -40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 169, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors.gif-test {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 142, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors {
    left: 0;
  }
  /* line 184, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description {
    width: 30%;
    padding-right: 12px;
    top: 0;
    left: -20%;
  }
  /* line 191, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description h2, .page-homepage #main #content #animal-ambassadors .creature-description p {
    width: 170%;
  }
  /* line 196, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors img {
    left: -50px;
    width: 70%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  /* line 203, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #animal-ambassadors .creature-description {
    left: -90px;
  }
}
/* line 209, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events {
  z-index: 3;
  overflow: hidden;
  margin-top: -250px;
}
/* line 214, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events .pane-title {
  position: absolute;
  width: 340px;
  top: 260px;
  font-size: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 214, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .pane-title {
    position: relative;
    top: inherit;
    width: inherit;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 209, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events {
    margin-top: -170px;
  }
  /* line 230, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .pane-title {
    top: 167px;
  }
}
/* line 235, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #events .view {
  left: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 235, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .view {
    left: 0;
  }
  /* line 241, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events .view .views-field-field-date {
    display: none;
  }
}
/* line 248, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science {
  max-width: inherit;
  background-color: #030400;
  margin-top: 60px;
  max-height: 630px;
  overflow: hidden;
  padding: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 248, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science {
    padding: 12px;
  }
}
/* line 263, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 268, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content {
  z-index: 2;
  position: relative;
}
/* line 272, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content h4, .page-homepage #main #content #explore-science .slide .slide-content h3, .page-homepage #main #content #explore-science .slide .slide-content p, .page-homepage #main #content #explore-science .slide .slide-content .link-summary {
  width: 440px;
  margin: 0;
  font-weight: 300;
}
/* line 278, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content h4 {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 284, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content h3 {
  color: #df8b05;
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
/* line 291, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content > p {
  font-size: 18px;
  line-height: 26px;
}
/* line 296, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content .link-summary {
  margin-top: 40px;
}
/* line 297, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content .link-summary, .page-homepage #main #content #explore-science .slide .slide-content .link-summary p {
  width: 260px;
}
/* line 303, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content .link-summary img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
/* line 309, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .slide-content .link-summary a {
  color: #df8b05;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-rust.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 422, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content #explore-science .slide .slide-content .link-summary a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-rust@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 442, ../../sass/calacademy/_mixins.scss */
  .page-homepage #main #content #explore-science .slide .slide-content .link-summary a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 319, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-science .slide .pretty-picture {
  position: absolute;
  top: 0;
  left: 47%;
  z-index: 1;
  width: 70%;
  min-width: 1247px;
  min-height: 630px;
  max-width: 1344px;
  max-height: 679px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 248, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science {
    max-height: inherit;
  }
  /* line 343, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science .slide {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 349, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science .slide .slide-content h4, .page-homepage #main #content #explore-science .slide .slide-content h3, .page-homepage #main #content #explore-science .slide .slide-content p {
    width: 60%;
    max-width: 300px;
  }
  /* line 354, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science .slide .slide-content h3 {
    font-size: 30px;
  }
  /* line 358, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science .slide .slide-content .link-summary {
    display: none;
  }
  /* line 363, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-science .slide .pretty-picture {
    left: 45%;
    min-width: 792px;
    min-height: 400px;
  }
}
/* line 375, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library {
  max-width: 100%;
  margin-top: 80px;
}
/* line 379, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description {
  width: 30%;
  left: -140px;
}
/* line 383, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description h2 {
  max-width: 300px;
}
/* line 387, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library .creature-description p {
  max-width: 450px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 392, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description h2, .page-homepage #main #content #explore-library .creature-description p {
    width: 150%;
  }
}
/* line 398, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #explore-library img {
  margin-top: 40px;
  width: 70%;
  max-width: 1200px;
  left: -100px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 407, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description,
  .page-homepage #main #content #explore-library img {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    float: none;
  }
  /* line 415, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 419, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description h2 {
    width: 50%;
  }
  /* line 423, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library .creature-description p {
    width: 100%;
  }
  /* line 428, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #explore-library img {
    margin-top: 20px;
    margin-left: 60px;
  }
}
/* line 435, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people {
  margin-top: 180px;
}
/* line 438, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .views-field-field-subtitle {
  display: none;
}
/* line 443, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
  width: 410px;
  position: absolute;
  top: -100px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 443, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
    top: -140px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 443, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #people .pane-title, .page-homepage #main #content #people > p {
    width: inherit;
    position: relative;
    top: inherit;
  }
}
/* line 459, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .pane-title {
  font-size: 36px;
}
/* line 463, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #people .views-row-4 {
  margin-bottom: 40px;
}
/* line 468, ../../sass/calacademy/page-homepage.scss */
.page-homepage #main #content #footer {
  max-width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 479, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #animal-ambassadors,
  .page-homepage #main #content #explore-science,
  .page-homepage #main #content #explore-library,
  .page-homepage #main #content #people {
    margin-top: inherit;
    margin-bottom: 40px;
  }
  /* line 484, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events h2,
  .page-homepage #main #content #events .pane-title,
  .page-homepage #main #content #animal-ambassadors h2,
  .page-homepage #main #content #animal-ambassadors .pane-title,
  .page-homepage #main #content #explore-science h2,
  .page-homepage #main #content #explore-science .pane-title,
  .page-homepage #main #content #explore-library h2,
  .page-homepage #main #content #explore-library .pane-title,
  .page-homepage #main #content #people h2,
  .page-homepage #main #content #people .pane-title {
    font-size: 24px;
  }
  /* line 490, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #people {
    padding-left: 12px;
    padding-right: 12px;
  }
  /* line 495, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content nav {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 502, ../../sass/calacademy/page-homepage.scss */
  .page-homepage #main #content #events,
  .page-homepage #main #content #people {
    margin-left: 20px;
  }
}
