/* line 260, ../../sass/calacademy/_mixins.scss */
.page-user .panel-col-first,
.page-user .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 265, ../../sass/calacademy/_mixins.scss */
.page-user .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 270, ../../sass/calacademy/_mixins.scss */
.page-user .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 275, ../../sass/calacademy/_mixins.scss */
  .page-user .panel-col-first,
  .page-user .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
/* line 7, ../../sass/calacademy/page-user.scss */
.page-user .right-rail img {
  display: none;
}
/* line 11, ../../sass/calacademy/page-user.scss */
.page-user .right-rail .panel-pane {
  margin: 0;
  padding: 0;
}
/* line 16, ../../sass/calacademy/page-user.scss */
.page-user .right-rail > .inside > .panel-pane:last-child {
  border: 0;
}
/* line 20, ../../sass/calacademy/page-user.scss */
.page-user .right-rail > .inside > .panel-pane > .pane-title {
  padding-top: 20px;
}
/* line 24, ../../sass/calacademy/page-user.scss */
.page-user .right-rail > .inside > .panel-pane:first-child > .pane-title {
  padding-top: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 6, ../../sass/calacademy/page-user.scss */
  .page-user .right-rail {
    margin-top: 20px;
  }
}
/* line 33, ../../sass/calacademy/page-user.scss */
.page-user .page-header {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 38, ../../sass/calacademy/page-user.scss */
.page-user .page-header .pane-node-title h3 {
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 38, ../../sass/calacademy/page-user.scss */
  .page-user .page-header .pane-node-title h3 {
    font-size: 36px;
  }
}
/* line 52, ../../sass/calacademy/page-user.scss */
.page-user .page-header .field-name-field-title, .page-user .page-header .field-name-field-title div {
  color: #1a1a1a;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 52, ../../sass/calacademy/page-user.scss */
  .page-user .page-header .field-name-field-title, .page-user .page-header .field-name-field-title div {
    font-size: 20px;
  }
}
/* line 66, ../../sass/calacademy/page-user.scss */
.page-user .field-name-field-expertise .field-item {
  text-transform: capitalize;
  display: inline;
}
/* line 71, ../../sass/calacademy/page-user.scss */
.page-user .right-rail .inside .panel-pane {
  border: none;
}
/* line 75, ../../sass/calacademy/page-user.scss */
.page-user .right-rail .inside .pane-user-mail {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 20px;
}
/* line 80, ../../sass/calacademy/page-user.scss */
.page-user .right-rail .inside .pane-user-field-files {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 20px;
}
/* line 85, ../../sass/calacademy/page-user.scss */
.page-user .field-name-field-expertise .field-item::after {
  content: ", ";
}
/* line 87, ../../sass/calacademy/page-user.scss */
.page-user .field-name-field-expertise .field-item::after:last-child {
  content: "";
}
/* line 92, ../../sass/calacademy/page-user.scss */
.page-user .field-name-field-expertise .field-item:last-child::after {
  content: "";
}
/* line 96, ../../sass/calacademy/page-user.scss */
.page-user .pane-node-body {
  margin-bottom: 20px;
}
/* line 100, ../../sass/calacademy/page-user.scss */
.page-user .pane-views-panes {
  clear: both;
  padding-top: 20px;
}
/* line 104, ../../sass/calacademy/page-user.scss */
.page-user .pane-views-panes .pane-title {
  font-size: 36px;
  line-height: 38px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 104, ../../sass/calacademy/page-user.scss */
  .page-user .pane-views-panes .pane-title {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 36px;
  }
}
/* line 116, ../../sass/calacademy/page-user.scss */
.page-user .pane-user-picture,
.page-user .pane-user-field-hero-region,
.page-user .pane-user-field-image-primary,
.page-user .pane-hero-media-standard-hero-image-pane-thumbnail,
.page-user .pane-hero-media-standard-hero-image-pane,
.page-user .pane-node-field-slideshow-frame-bg-image {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 124, ../../sass/calacademy/page-user.scss */
.page-user .pane-user-picture .views-field,
.page-user .pane-user-field-hero-region .views-field,
.page-user .pane-user-field-image-primary .views-field,
.page-user .pane-hero-media-standard-hero-image-pane-thumbnail .views-field,
.page-user .pane-hero-media-standard-hero-image-pane .views-field,
.page-user .pane-node-field-slideshow-frame-bg-image .views-field {
  width: 100%;
  height: auto;
}
/* line 129, ../../sass/calacademy/page-user.scss */
.page-user .pane-user-picture, .page-user .pane-user-picture img,
.page-user .pane-user-field-hero-region,
.page-user .pane-user-field-hero-region img,
.page-user .pane-user-field-image-primary,
.page-user .pane-user-field-image-primary img,
.page-user .pane-hero-media-standard-hero-image-pane-thumbnail,
.page-user .pane-hero-media-standard-hero-image-pane-thumbnail img,
.page-user .pane-hero-media-standard-hero-image-pane,
.page-user .pane-hero-media-standard-hero-image-pane img,
.page-user .pane-node-field-slideshow-frame-bg-image,
.page-user .pane-node-field-slideshow-frame-bg-image img {
  width: 220px;
  height: 220px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 116, ../../sass/calacademy/page-user.scss */
  .page-user .pane-user-picture,
  .page-user .pane-user-field-hero-region,
  .page-user .pane-user-field-image-primary,
  .page-user .pane-hero-media-standard-hero-image-pane-thumbnail,
  .page-user .pane-hero-media-standard-hero-image-pane,
  .page-user .pane-node-field-slideshow-frame-bg-image {
    float: none;
    margin-right: 0;
  }
  /* line 142, ../../sass/calacademy/page-user.scss */
  .page-user .pane-user-picture, .page-user .pane-user-picture img,
  .page-user .pane-user-field-hero-region,
  .page-user .pane-user-field-hero-region img,
  .page-user .pane-user-field-image-primary,
  .page-user .pane-user-field-image-primary img,
  .page-user .pane-hero-media-standard-hero-image-pane-thumbnail,
  .page-user .pane-hero-media-standard-hero-image-pane-thumbnail img,
  .page-user .pane-hero-media-standard-hero-image-pane,
  .page-user .pane-hero-media-standard-hero-image-pane img,
  .page-user .pane-node-field-slideshow-frame-bg-image,
  .page-user .pane-node-field-slideshow-frame-bg-image img {
    width: 100%;
    height: inherit;
  }
}
