/* line 4, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .panel-col-top {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 12, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .panel-col-first .pane-title,
.page-nightlife-landing .bottom-row-right-rail .pane-title {
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 11, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .panel-col-first,
  .page-nightlife-landing .bottom-row-right-rail {
    width: 100%;
  }
  /* line 20, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .panel-col-first .pane-title,
  .page-nightlife-landing .bottom-row-right-rail .pane-title {
    font-size: 36px;
    line-height: 36px;
  }
}
/* line 29, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .skewed-tri-grid .views-row-2 {
  top: 0;
}
/* line 34, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing #upcoming {
  max-width: 460px;
}
/* line 37, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing #upcoming .views-row {
  display: block;
}
/* line 41, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing #upcoming .views-row:nth-child(3) {
  margin-top: -600px;
}
/* line 46, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing #upcoming .views-row:nth-child(3),
.page-nightlife-landing #upcoming .views-row:nth-child(4) {
  margin-left: 240px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 51, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing #upcoming .views-row:nth-child(3) {
    margin-top: -550px;
  }
  /* line 56, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing #upcoming .views-row:nth-child(3),
  .page-nightlife-landing #upcoming .views-row:nth-child(4) {
    margin-left: 187px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 34, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing #upcoming {
    max-width: inherit;
  }
  /* line 64, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing #upcoming .views-row {
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
  }
}
/* line 72, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .right-rail {
  width: 20%;
  margin-top: 55px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 72, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .right-rail {
    width: 100%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 83, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .top-row-content {
    width: 77%;
  }
  /* line 87, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .right-rail {
    width: 23%;
  }
}
/* line 92, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .bottom-row-content {
  margin-top: 20px;
}
/* line 95, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .bottom-row-content .view-testimonials-related {
  margin-top: 60px;
  padding-right: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 95, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .bottom-row-content .view-testimonials-related {
    margin-top: 0;
    margin-bottom: 40px;
    padding-right: 0;
  }
}
/* line 107, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .bottom-row-right-rail {
  margin-top: 440px;
}
/* line 110, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .bottom-row-right-rail .views-field-title {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 107, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .bottom-row-right-rail {
    margin-top: 334px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 107, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .bottom-row-right-rail {
    margin-top: 0;
  }
}
/* line 122, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .bottom-row-right-rail .cta-block {
  background-color: #e4008c;
  margin: 0;
  margin-top: 20px;
  margin-left: 240px;
}
/* line 269, ../../sass/calacademy/_mixins.scss */
.page-nightlife-landing .bottom-row-right-rail .cta-block a {
  display: block;
  color: white;
  padding: 20px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large.png");
  background-repeat: no-repeat;
  background-position: 20px 170px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 478, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 498, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block a {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 269, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block a {
    background-position: 20px 117px;
  }
}
/* line 286, ../../sass/calacademy/_mixins.scss */
.page-nightlife-landing .bottom-row-right-rail .cta-block, .page-nightlife-landing .bottom-row-right-rail .cta-block a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 220px;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 286, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block, .page-nightlife-landing .bottom-row-right-rail .cta-block a {
    width: 167px;
    height: 167px;
    font-size: 24px;
    line-height: 29px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 286, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block, .page-nightlife-landing .bottom-row-right-rail .cta-block a {
    width: 100%;
    height: inherit;
  }
  /* line 307, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block a, .page-nightlife-landing .bottom-row-right-rail .cta-block a a {
    font-size: 24px;
    line-height: 32px;
    padding: 0;
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
    background-position: right center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 478, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block a, .page-nightlife-landing .bottom-row-right-rail .cta-block a a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 320px) and (max-width: 767px) {
  /* line 498, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block a, .page-nightlife-landing .bottom-row-right-rail .cta-block a a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 317, ../../sass/calacademy/_mixins.scss */
.page-nightlife-landing .bottom-row-right-rail .cta-block > * {
  padding: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 317, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block > * {
    padding: 20px;
  }
}
/* line 125, ../../sass/calacademy/page-nightlife-landing.scss */
.page-nightlife-landing .bottom-row-right-rail .cta-block h3 {
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 122, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block {
    margin-left: 187px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 122, ../../sass/calacademy/page-nightlife-landing.scss */
  .page-nightlife-landing .bottom-row-right-rail .cta-block {
    margin-left: 0;
  }
}
