/* line 5, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form.webform-response .page-header {
  display: none;
}
/* line 11, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status,
.page-simple-form .page-header {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  background-image: none;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 22, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status h2, .page-simple-form .messages--status h4,
.page-simple-form .messages--status h3, .page-simple-form .messages--status p,
.page-simple-form .page-header h2,
.page-simple-form .page-header h4,
.page-simple-form .page-header h3,
.page-simple-form .page-header p {
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;
}
/* line 29, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status h2,
.page-simple-form .messages--status h3,
.page-simple-form .page-header h2,
.page-simple-form .page-header h3 {
  font-size: 36px;
  line-height: 36px;
}
/* line 35, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .messages--status h4,
.page-simple-form .messages--status p,
.page-simple-form .page-header h4,
.page-simple-form .page-header p {
  margin-top: 10px;
  font-size: 24px;
  line-height: 32px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 11, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .messages--status,
  .page-simple-form .page-header {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  /* line 46, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .messages--status h2,
  .page-simple-form .messages--status h3,
  .page-simple-form .page-header h2,
  .page-simple-form .page-header h3 {
    font-size: 24px;
    line-height: 32px;
  }
  /* line 52, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .messages--status h4,
  .page-simple-form .messages--status p,
  .page-simple-form .page-header h4,
  .page-simple-form .page-header p {
    font-size: 20px;
    line-height: 26px;
  }
}
/* line 60, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .webform-client-form,
.page-simple-form .pane-custom {
  margin-bottom: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 60, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .webform-client-form,
  .page-simple-form .pane-custom {
    margin-bottom: 24px !important;
  }
}
/* line 69, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-custom h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
/* line 79, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
/* line 83, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row {
  margin-bottom: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 83, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row {
    margin-bottom: 24px !important;
  }
}
/* line 91, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row .views-field, .page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row .views-field * {
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-image: none;
}
/* line 101, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .pane-contact-content-additional-contacts-upper-pane .views-row .views-field h2 {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}
/* line 112, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .panel-col-first {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 78%;
  padding-right: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 112, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .panel-col-first {
    padding-right: 0;
  }
  /* line 118, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .panel-col-first, .page-simple-form .panel-col-first .webform-client-form {
    width: 100%;
  }
}
/* line 126, ../../sass/calacademy/page-simple-form.scss */
.page-simple-form .right-rail {
  width: 22%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 126, ../../sass/calacademy/page-simple-form.scss */
  .page-simple-form .right-rail {
    width: 100%;
  }
}
