/* line 3, ../../sass/calacademy/right-rail.scss */
.right-rail {
  width: 25%;
  border-top: 2px solid #757575;
  padding-top: 20px;
}
/* line 7, ../../sass/calacademy/right-rail.scss */
.section-nightlife .right-rail {
  border-top: 2px solid #ababab;
  padding-top: 20px;
}
/* line 10, ../../sass/calacademy/right-rail.scss */
.page-nightlife-landing .right-rail {
  border-top: none;
  padding-top: 1px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 3, ../../sass/calacademy/right-rail.scss */
  .right-rail {
    margin-left: 0;
    width: 100% !important;
  }
}
/* line 20, ../../sass/calacademy/right-rail.scss */
.right-rail img {
  width: 100%;
  height: inherit;
}
/* line 25, ../../sass/calacademy/right-rail.scss */
.right-rail h2,
.right-rail .pane-title,
.right-rail .field-name-field-blurb-title-link,
.right-rail .field-name-field-right-rail-item-displ-titl {
  margin: 0;
  margin-bottom: 4px;
  font-size: 120%;
  line-height: 120%;
  font-weight: 600;
}
/* line 37, ../../sass/calacademy/right-rail.scss */
.right-rail p {
  color: #575757;
}
/* line 44, ../../sass/calacademy/right-rail.scss */
.right-rail .links.inline,
.right-rail .node .links.inline {
  display: none;
}
/* line 48, ../../sass/calacademy/right-rail.scss */
.right-rail .field,
.right-rail .node .field {
  margin-bottom: 20px;
}
/* line 52, ../../sass/calacademy/right-rail.scss */
.right-rail .field:last-child,
.right-rail .node .field:last-child {
  margin-bottom: 0;
}
/* line 57, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-type-link-field .field-item,
.right-rail .node .field.field-type-link-field .field-item {
  margin-bottom: 10px;
}
/* line 60, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-type-link-field .field-item:last-child,
.right-rail .node .field.field-type-link-field .field-item:last-child {
  margin-bottom: 0;
}
/* line 65, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-type-link-field a,
.right-rail .node .field.field-type-link-field a {
  font-size: 17px;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  .right-rail .field.field-type-link-field a,
  .right-rail .node .field.field-type-link-field a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  .right-rail .field.field-type-link-field a,
  .right-rail .node .field.field-type-link-field a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 69, ../../sass/calacademy/right-rail.scss */
.page-nightlife-landing .right-rail .field.field-type-link-field a, .page-nightlife-landing
.right-rail .node .field.field-type-link-field a {
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .right-rail .field.field-type-link-field a, .page-nightlife-landing
  .right-rail .node .field.field-type-link-field a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  .page-nightlife-landing .right-rail .field.field-type-link-field a, .page-nightlife-landing
  .right-rail .node .field.field-type-link-field a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 76, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-type-link-field.field-name-field-cta-link .field-item,
.right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNjEyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px !important;
  padding-top: 7px !important;
  padding-bottom: 9px !important;
  	/*
  	font-size: 17px;
  
  	@include respond-to(smartphone) {
  		font-size: $smartphoneText;
  	}
  	*/
}
/* line 422, ../../sass/calacademy/_mixins.scss */
.right-rail .field.field-type-link-field.field-name-field-cta-link .field-item, .right-rail .field.field-type-link-field.field-name-field-cta-link .field-item a,
.right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item,
.right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item a {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 422, ../../sass/calacademy/_mixins.scss */
  .right-rail .field.field-type-link-field.field-name-field-cta-link .field-item, .right-rail .field.field-type-link-field.field-name-field-cta-link .field-item a,
  .right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item,
  .right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item a {
    font-size: 18px;
  }
}
/* line 430, ../../sass/calacademy/_mixins.scss */
.right-rail .field.field-type-link-field.field-name-field-cta-link .field-item a,
.right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item a {
  display: block;
  color: white;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  .right-rail .field.field-type-link-field.field-name-field-cta-link .field-item a,
  .right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  .right-rail .field.field-type-link-field.field-name-field-cta-link .field-item a,
  .right-rail .node .field.field-type-link-field.field-name-field-cta-link .field-item a {
    -moz-background-size: 15px, 15px;
    -o-background-size: 15px, 15px;
    -webkit-background-size: 15px, 15px;
    background-size: 15px, 15px;
  }
}
/* line 85, ../../sass/calacademy/right-rail.scss */
.right-rail .file img {
  display: none;
}
/* line 89, ../../sass/calacademy/right-rail.scss */
.right-rail .file a {
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 20px;
  display: block;
}
/* line 97, ../../sass/calacademy/right-rail.scss */
.right-rail .inside > .panel-pane {
  padding-bottom: 20px;
  border-top: 2px solid #e6e6e6;
  padding-top: 20px;
}
/* line 100, ../../sass/calacademy/right-rail.scss */
.section-nightlife .right-rail .inside > .panel-pane {
  padding-bottom: 0;
  border-top: 2px solid #757575;
  padding-top: 20px;
  margin-top: 20px;
}
/* line 104, ../../sass/calacademy/right-rail.scss */
.section-nightlife .right-rail .inside > .panel-pane:first-child {
  margin-top: 0;
}
/* line 107, ../../sass/calacademy/right-rail.scss */
.section-nightlife .right-rail .inside > .panel-pane .node .field-collection-view {
  border-top: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
/* line 116, ../../sass/calacademy/right-rail.scss */
.right-rail .inside > .panel-pane:first-child {
  border-top: 2px solid #757575;
  padding-top: 20px;
  padding-top: 0;
  border-top: 0;
}
/* line 122, ../../sass/calacademy/right-rail.scss */
.right-rail .inside > .panel-pane .field:first-child {
  margin-top: 0;
}
/* line 129, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection .field {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
/* line 136, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection > .field > .field-items > div article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e6e6e6;
}
/* line 138, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection > .field > .field-items > div article header {
  margin-bottom: 20px;
}
/* line 140, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection > .field > .field-items > div article header .node-title a {
  pointer-events: none;
  cursor: default;
  color: #1a1a1a;
}
/* line 143, ../../sass/calacademy/right-rail.scss */
.page-nightlife-landing .right-rail .node-right-rail-collection > .field > .field-items > div article header .node-title a {
  color: white;
}
/* line 157, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection > .field > .field-items > div article .field-type-field-collection .field-item:last-child {
  margin-bottom: 0;
}
/* line 164, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection > .field > .field-items > div:last-child article {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
/* line 172, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection header {
  display: none;
}
/* line 176, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-collection .node-right-rail-list header {
  display: block;
}
/* line 181, ../../sass/calacademy/right-rail.scss */
.right-rail .field-collection-container {
  border: 0;
  margin: 0;
}
/* line 186, ../../sass/calacademy/right-rail.scss */
.right-rail .field-name-field-blurb-title-link {
  color: #1a1a1a;
  margin-bottom: 10px !important;
}
/* line 192, ../../sass/calacademy/right-rail.scss */
.right-rail .field-item:last-child .field-name-field-blurb-title-link {
  margin-bottom: 0 !important;
}
/* line 197, ../../sass/calacademy/right-rail.scss */
.right-rail .field-collection-view {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border: 0;
}
/* line 205, ../../sass/calacademy/right-rail.scss */
.right-rail .view-content .node,
.right-rail .node-right-rail-collection.node {
  padding-top: 0;
  border-top: 0;
}
/* line 213, ../../sass/calacademy/right-rail.scss */
.right-rail .view-event-list h3,
.right-rail .view-event-list .views-field {
  margin: 0;
}
/* line 220, ../../sass/calacademy/right-rail.scss */
.right-rail .view-press-release-content .views-row {
  margin-bottom: 20px;
}
/* line 221, ../../sass/calacademy/right-rail.scss */
.right-rail .view-press-release-content .views-row .views-field {
  margin: 0;
}
/* line 225, ../../sass/calacademy/right-rail.scss */
.right-rail .view-press-release-content .views-row .views-field-title {
  color: #1a1a1a;
}
/* line 231, ../../sass/calacademy/right-rail.scss */
.right-rail .view-press-release-content .views-row:last-child {
  margin-bottom: 0;
}
/* line 239, ../../sass/calacademy/right-rail.scss */
.right-rail .view-events-related .views-row,
.right-rail .view-nightlife-upcoming .views-row {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #757575;
}
/* line 248, ../../sass/calacademy/right-rail.scss */
.right-rail .view-events-related .views-row .views-field-title,
.right-rail .view-nightlife-upcoming .views-row .views-field-title {
  margin-top: 0;
}
/* line 252, ../../sass/calacademy/right-rail.scss */
.right-rail .view-events-related .views-row h3,
.right-rail .view-events-related .views-row .views-field-field-date,
.right-rail .view-events-related .views-row .views-field-field-date-unix,
.right-rail .view-nightlife-upcoming .views-row h3,
.right-rail .view-nightlife-upcoming .views-row .views-field-field-date,
.right-rail .view-nightlife-upcoming .views-row .views-field-field-date-unix {
  color: #1a1a1a;
  font-weight: 600;
}
/* line 259, ../../sass/calacademy/right-rail.scss */
.right-rail .view-events-related .views-row .views-field-field-featured-people,
.right-rail .view-nightlife-upcoming .views-row .views-field-field-featured-people {
  font-style: normal;
}
/* line 263, ../../sass/calacademy/right-rail.scss */
.right-rail .view-events-related .views-row .views-field-field-featured-people .node-title, .right-rail .view-events-related .views-row .views-field-field-featured-people .node-title a,
.right-rail .view-nightlife-upcoming .views-row .views-field-field-featured-people .node-title,
.right-rail .view-nightlife-upcoming .views-row .views-field-field-featured-people .node-title a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #575757;
  pointer-events: none;
  cursor: default;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 263, ../../sass/calacademy/right-rail.scss */
  .right-rail .view-events-related .views-row .views-field-field-featured-people .node-title, .right-rail .view-events-related .views-row .views-field-field-featured-people .node-title a,
  .right-rail .view-nightlife-upcoming .views-row .views-field-field-featured-people .node-title,
  .right-rail .view-nightlife-upcoming .views-row .views-field-field-featured-people .node-title a {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 279, ../../sass/calacademy/right-rail.scss */
.right-rail .view-events-related .views-row article .field,
.right-rail .view-nightlife-upcoming .views-row article .field {
  margin-top: 0;
}
/* line 287, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-list > .field-collection-container > .field > .field-items > .field-item > .field-collection-view {
  padding-top: 20px;
  border-top: 2px solid #e6e6e6;
}
/* line 294, ../../sass/calacademy/right-rail.scss */
.right-rail .panel-pane.pane-node-field-right-rail-items .node-right-rail-standard,
.right-rail .panel-pane.pane-node-field-right-rail-items .node-right-rail-list {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #e6e6e6;
}
/* line 304, ../../sass/calacademy/right-rail.scss */
.right-rail .field-name-field-right-rail-items > .field-items > .field-item > .node-right-rail-list > header > h2 > a,
.right-rail .panel-pane.pane-node-field-right-rail-items .node-right-rail-standard > header > h2 > a {
  pointer-events: none;
  cursor: default;
  color: #1a1a1a;
}
/* line 311, ../../sass/calacademy/right-rail.scss */
.right-rail .pane-staff-panel-pane-6 .views-field-view-user a {
  pointer-events: none;
  cursor: default;
  background-image: none;
  color: #1a1a1a;
  font-size: 90%;
  line-height: 120%;
  font-weight: 600;
}
/* line 320, ../../sass/calacademy/right-rail.scss */
.right-rail .view-audience-pages.view-display-id-happening_today_pane .views-row {
  padding-top: 20px;
  border-top: 2px solid #e6e6e6;
}
/* line 325, ../../sass/calacademy/right-rail.scss */
.right-rail .view-audience-pages.view-display-id-happening_today_pane .view-header {
  padding-bottom: 20px;
}
/* line 329, ../../sass/calacademy/right-rail.scss */
.right-rail .view-audience-pages.view-display-id-happening_today_pane .views-field-field-time-slots {
  color: #1a1a1a;
}
/* line 333, ../../sass/calacademy/right-rail.scss */
.right-rail .section-audience .panel-panel.panel-col-last.right-rail {
  border-bottom: 2px solid #757575;
}
/* line 341, ../../sass/calacademy/right-rail.scss */
.right-rail .field-name-field-right-rail-items div article header {
  margin-bottom: 20px;
}
/* line 343, ../../sass/calacademy/right-rail.scss */
.right-rail .field-name-field-right-rail-items div article header .node-title a {
  pointer-events: none;
  cursor: default;
  color: #1a1a1a;
}
/* line 346, ../../sass/calacademy/right-rail.scss */
.page-nightlife-landing .right-rail .field-name-field-right-rail-items div article header .node-title a {
  color: white;
}
/* line 356, ../../sass/calacademy/right-rail.scss */
.right-rail .inside .panel-pane.pane-entity-field.pane-node-field-right-rail-items,
.right-rail .view-audience-pages.view-display-id-happening_today_pane .views-row.happening_today_pane_date_day {
  border-top: 0;
  padding-top: 0;
}
/* line 363, ../../sass/calacademy/right-rail.scss */
.right-rail .node-right-rail-standard header {
  display: none;
}
/* line 367, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-type-image {
  margin-top: 20px;
}
/* line 371, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-name-body {
  margin-top: 4px;
  margin-bottom: 10px;
}
/* line 375, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-name-body:first-of-type {
  margin-top: 0;
}
/* line 380, ../../sass/calacademy/right-rail.scss */
.right-rail .field.field-name-field-right-rail-item-displ-titl {
  color: #1a1a1a;
  margin-top: 0;
  margin-bottom: 4px;
}
