/* line 6, ../../sass/calacademy/_mixins.scss */
.section-researchers .alerts {
  display: none;
}
/* line 9, ../../sass/calacademy/_mixins.scss */
.section-researchers .alerts.clone {
  display: block;
}
/* line 20, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-instituteforbiodiversityscienceandsustainability {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 20, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-ibss {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 20, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-research {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 20, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-researchers {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 26, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
  display: block;
}
/* line 31, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-instituteforbiodiversityscienceandsustainability {
  display: block;
}
/* line 31, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-ibss {
  display: block;
}
/* line 31, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-research {
  display: block;
}
/* line 31, ../../sass/calacademy/_mixins.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-researchers {
  display: block;
}
