/* line 119, ../../sass/calacademy/_mixins.scss */
.section-educators .alerts {
  display: none;
}
/* line 122, ../../sass/calacademy/_mixins.scss */
.section-educators .alerts.clone {
  display: block;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-educators {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-foreducators {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-educator {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-education {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-teacher {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-teachers {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-forteachers {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-educatorcenter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 134, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-educatorscenter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 140, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-educators {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-foreducators {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-educator {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-education {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-teacher {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-teachers {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-forteachers {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-educatorcenter {
  display: block;
}
/* line 145, ../../sass/calacademy/_mixins.scss */
.section-educators #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-educatorscenter {
  display: block;
}
/* line 21, ../../sass/calacademy/section-educators.scss */
.section-educators nav #nav-wrapper #main-nav .level-0 > li > a {
  padding-right: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 21, ../../sass/calacademy/section-educators.scss */
  .section-educators nav #nav-wrapper #main-nav .level-0 > li > a {
    padding-left: 12px;
    padding-right: 12px;
    background-position: 12px 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 21, ../../sass/calacademy/section-educators.scss */
  .section-educators nav #nav-wrapper #main-nav .level-0 > li > a {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  /* line 36, ../../sass/calacademy/section-educators.scss */
  .section-educators nav #nav-wrapper #main-nav .level-0 > li:first-child > a {
    padding-left: 17px;
    padding-right: 17px;
    background-position: 0 15px;
  }
}
