/* line 4, ../../sass/calacademy/section-page-not-found.scss */
.section-page-not-found #content {
  margin-top: 20px;
}
/* line 338, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content .panel-col-first,
.section-page-not-found #content .right-rail {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 343, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content .panel-col-first {
  padding-right: 20px;
  width: 75%;
}
/* line 348, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content .right-rail {
  width: 25%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 353, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content .panel-col-first,
  .section-page-not-found #content .right-rail {
    padding-right: 0;
    width: 100%;
  }
}
/* line 40, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form input,
.section-page-not-found #content form textarea,
.section-page-not-found #content form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  padding: 8px;
  border: 1px solid #e6e6e6;
  background-color: transparent;
  color: #575757;
}
/* line 45, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form input[type="checkbox"],
.section-page-not-found #content form textarea[type="checkbox"],
.section-page-not-found #content form select[type="checkbox"] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}
/* line 49, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form input[type="radio"],
.section-page-not-found #content form textarea[type="radio"],
.section-page-not-found #content form select[type="radio"] {
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
/* line 62, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form input[type="text"],
.section-page-not-found #content form input[type="email"],
.section-page-not-found #content form input[type="password"],
.section-page-not-found #content form textarea {
  line-height: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 71, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 175px;
  padding-right: 40px;
  background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: white;
}
/* line 365, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form select::-ms-expand {
  display: none;
}
/* line 653, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form select::-moz-focus-inner {
  border: 0;
}
/* line 657, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form select {
    background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form select {
    -moz-background-size: 32px 9px;
    -o-background-size: 32px 9px;
    -webkit-background-size: 32px 9px;
    background-size: 32px 9px;
  }
}
/* line 390, ../../sass/calacademy/_mixins.scss */
.lt-ie10 .section-page-not-found #content form select {
  background-image: none !important;
  padding-right: 8px;
}
/* line 395, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form select:focus {
  border: 1px solid #186aa8;
  -moz-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  -webkit-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
}
/* line 80, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form input[type="text"]:focus,
.section-page-not-found #content form input[type="email"]:focus,
.section-page-not-found #content form input[type="password"]:focus,
.section-page-not-found #content form textarea:focus,
.section-page-not-found #content form select:focus {
  border: 1px solid #186aa8;
  -moz-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  -webkit-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
}
/* line 11, ../../sass/calacademy/section-page-not-found.scss */
.section-page-not-found #content form #search-field-404 {
  margin-right: 10px;
}
/* line 15, ../../sass/calacademy/section-page-not-found.scss */
.section-page-not-found #content form .form-actions {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOTAyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyNjEyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 12px !important;
  padding-top: 7px !important;
  padding-bottom: 9px !important;
  	/*
  	font-size: 17px;
  
  	@include respond-to(smartphone) {
  		font-size: $smartphoneText;
  	}
  	*/
  padding: 10px !important;
  border: 0;
}
/* line 883, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form .form-actions input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: 0;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 0;
}
/* line 896, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form .form-actions input, .section-page-not-found #content form .form-actions input:focus, .section-page-not-found #content form .form-actions input::-moz-focus-inner {
  outline: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form .form-actions input {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form .form-actions input {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 906, ../../sass/calacademy/_mixins.scss */
.no-touch .section-page-not-found #content form .form-actions input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 528, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form .form-actions, .section-page-not-found #content form .form-actions a {
  font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 528, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form .form-actions, .section-page-not-found #content form .form-actions a {
    font-size: 18px;
  }
}
/* line 536, ../../sass/calacademy/_mixins.scss */
.section-page-not-found #content form .form-actions a {
  display: block;
  color: white;
  font-weight: 500;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-right: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 803, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form .form-actions a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 823, ../../sass/calacademy/_mixins.scss */
  .section-page-not-found #content form .form-actions a {
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
  }
}
/* line 18, ../../sass/calacademy/section-page-not-found.scss */
.section-page-not-found #content form .form-actions, .section-page-not-found #content form .form-actions input {
  width: 75px !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 25, ../../sass/calacademy/section-page-not-found.scss */
  .section-page-not-found #content .right-rail {
    margin-top: 20px;
  }
  /* line 30, ../../sass/calacademy/section-page-not-found.scss */
  .section-page-not-found #content .form-type-textfield,
  .section-page-not-found #content .form-type-textfield #search-field-404 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  /* line 36, ../../sass/calacademy/section-page-not-found.scss */
  .section-page-not-found #content .form-type-textfield #search-field-404 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
