/* line 5, ../../sass/calacademy/section-nightlife.scss */
.wf-active .section-nightlife {
  background-image: url("/sites/all/themes/calacademy_zen/images/bg-celestial.jpg");
  background-position: 0 92px;
}
/* line 10, ../../sass/calacademy/section-nightlife.scss */
.wf-active .section-nightlife #page #main {
  background-image: url("/sites/all/themes/calacademy_zen/images/bg-jellies.jpg");
  background-position: 0 bottom;
}
/* line 17, ../../sass/calacademy/section-nightlife.scss */
.wf-active .section-nightlife.secondary-bg-jelly #page {
  background-image: url("/sites/all/themes/calacademy_zen/images/bg-jelly.jpg");
  background-position: 50% 600px;
}
/* line 23, ../../sass/calacademy/section-nightlife.scss */
.wf-active .section-nightlife,
.wf-active .section-nightlife #page,
.wf-active .section-nightlife #main {
  background-repeat: no-repeat;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 5, ../../sass/calacademy/section-nightlife.scss */
  .wf-active .section-nightlife {
    background-position: 0 60px;
  }
  /* line 33, ../../sass/calacademy/section-nightlife.scss */
  .wf-active .section-nightlife #page {
    background-image: none !important;
  }
  /* line 36, ../../sass/calacademy/section-nightlife.scss */
  .wf-active .section-nightlife #page #main {
    background-image: none !important;
  }
}

/* line 44, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife {
  background-color: #111111;
}
/* line 54, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife header, .section-nightlife header .field,
.section-nightlife .page-header,
.section-nightlife .page-header .field,
.section-nightlife .page-header .pane-title,
.section-nightlife .page-header .pane-title .field,
.section-nightlife .pane-node-title,
.section-nightlife .pane-node-title .field,
.section-nightlife .pane-title,
.section-nightlife .pane-title .field,
.section-nightlife .creature-description,
.section-nightlife .creature-description .field,
.section-nightlife #page-title,
.section-nightlife #page-title .field {
  color: white !important;
}
/* line 58, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife header p,
.section-nightlife .page-header p,
.section-nightlife .page-header .pane-title p,
.section-nightlife .pane-node-title p,
.section-nightlife .pane-title p,
.section-nightlife .creature-description p,
.section-nightlife #page-title p {
  color: #858281;
}
/* line 61, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife header p a,
.section-nightlife .page-header p a,
.section-nightlife .page-header .pane-title p a,
.section-nightlife .pane-node-title p a,
.section-nightlife .pane-title p a,
.section-nightlife .creature-description p a,
.section-nightlife #page-title p a {
  color: white;
}
/* line 67, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .pane-node-field-cta-buttons,
.section-nightlife .section {
  border-bottom: 2px solid #404040;
}
/* line 73, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .section:last-child {
  border: none;
}
/* line 82, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .right-rail, .section-nightlife .right-rail p,
.section-nightlife .field-name-body,
.section-nightlife .field-name-body p,
.section-nightlife .field-name-field-body,
.section-nightlife .field-name-field-body p,
.section-nightlife .field-name-field-description,
.section-nightlife .field-name-field-description p {
  color: #858281;
}
/* line 85, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .right-rail a, .section-nightlife .right-rail p a,
.section-nightlife .field-name-body a,
.section-nightlife .field-name-body p a,
.section-nightlife .field-name-field-body a,
.section-nightlife .field-name-field-body p a,
.section-nightlife .field-name-field-description a,
.section-nightlife .field-name-field-description p a {
  color: white;
}
/* line 96, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .view .views-row .source, .section-nightlife .view .views-row .source p,
.section-nightlife .view .views-row .views-field,
.section-nightlife .view .views-row .views-field p {
  color: #858281;
}
/* line 108, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .views-row h3 a,
.section-nightlife .views-row .views-field-field-cta-link a,
.section-nightlife .views-row .views-field-title a,
.section-nightlife .views-row .views-field-name a {
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .views-row h3 a,
  .section-nightlife .views-row .views-field-field-cta-link a,
  .section-nightlife .views-row .views-field-title a,
  .section-nightlife .views-row .views-field-name a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .views-row h3 a,
  .section-nightlife .views-row .views-field-field-cta-link a,
  .section-nightlife .views-row .views-field-title a,
  .section-nightlife .views-row .views-field-name a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 114, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .views-row .views-field-field-hero-region,
.section-nightlife .views-row .views-field-field-image-primary,
.section-nightlife .views-row .views-field-field-inline-image,
.section-nightlife .views-row .views-field-field-slideshow-frame-bg-image {
  background-color: #111111;
}
/* line 126, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .testimonials .views-field-field-reviewer-name,
.section-nightlife .testimonial .views-field-field-reviewer-name,
.section-nightlife .view-testimonials-related .views-field-field-reviewer-name,
.section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default-nightlife.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .testimonials .views-field-field-reviewer-name,
  .section-nightlife .testimonial .views-field-field-reviewer-name,
  .section-nightlife .view-testimonials-related .views-field-field-reviewer-name,
  .section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/default-nightlife@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .testimonials .views-field-field-reviewer-name,
  .section-nightlife .testimonial .views-field-field-reviewer-name,
  .section-nightlife .view-testimonials-related .views-field-field-reviewer-name,
  .section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name {
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    -webkit-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 129, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .testimonials .views-field-field-reviewer-name.source-twitter,
.section-nightlife .testimonial .views-field-field-reviewer-name.source-twitter,
.section-nightlife .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
.section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter-nightlife.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .testimonials .views-field-field-reviewer-name.source-twitter,
  .section-nightlife .testimonial .views-field-field-reviewer-name.source-twitter,
  .section-nightlife .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
  .section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/twitter-nightlife@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .testimonials .views-field-field-reviewer-name.source-twitter,
  .section-nightlife .testimonial .views-field-field-reviewer-name.source-twitter,
  .section-nightlife .view-testimonials-related .views-field-field-reviewer-name.source-twitter,
  .section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name.source-twitter {
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    -webkit-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 132, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .testimonials .views-field-field-reviewer-name.source-facebook,
.section-nightlife .testimonial .views-field-field-reviewer-name.source-facebook,
.section-nightlife .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
.section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
  background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook-nightlife.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .testimonials .views-field-field-reviewer-name.source-facebook,
  .section-nightlife .testimonial .views-field-field-reviewer-name.source-facebook,
  .section-nightlife .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
  .section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
    background-image: url("/sites/all/themes/calacademy_zen/images/testimonial-icons/facebook-nightlife@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .section-nightlife .testimonials .views-field-field-reviewer-name.source-facebook,
  .section-nightlife .testimonial .views-field-field-reviewer-name.source-facebook,
  .section-nightlife .view-testimonials-related .views-field-field-reviewer-name.source-facebook,
  .section-nightlife .view-testimonials-related .views-row .views-field-field-reviewer-name.source-facebook {
    -moz-background-size: 40px, 40px;
    -o-background-size: 40px, 40px;
    -webkit-background-size: 40px, 40px;
    background-size: 40px, 40px;
  }
}
/* line 138, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife #main {
  padding-bottom: 120px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 138, ../../sass/calacademy/section-nightlife.scss */
  .section-nightlife #main {
    padding-bottom: 100px;
  }
}
/* line 149, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .transparent-white .inside > .panel-pane {
  padding-bottom: 0 !important;
}
/* line 152, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .transparent-white .views-row:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}
/* line 159, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife .transparent-white .view-nightlife-upcoming .views-field-field-date {
  font-size: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 159, ../../sass/calacademy/section-nightlife.scss */
  .section-nightlife .transparent-white .view-nightlife-upcoming .views-field-field-date {
    font-size: inherit;
  }
}
/* line 169, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife #footer {
  margin-top: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 169, ../../sass/calacademy/section-nightlife.scss */
  .section-nightlife #footer {
    margin-top: 0;
  }
}
/* line 176, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife #footer .footer-banner {
  background-image: url("/sites/all/themes/calacademy_zen/images/footer-roof-night.jpg");
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 176, ../../sass/calacademy/section-nightlife.scss */
  .section-nightlife #footer .footer-banner {
    background-image: url("/sites/all/themes/calacademy_zen/images/footer-roof-night-tall.jpg");
  }
}
/* line 184, ../../sass/calacademy/section-nightlife.scss */
.section-nightlife #footer .footer-banner .footer-subhead a {
  color: #689247;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green.png");
  padding-top: 3px;
  padding-right: 25px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .section-nightlife #footer .footer-banner .footer-subhead a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .section-nightlife #footer .footer-banner .footer-subhead a {
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    -webkit-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 651, ../../sass/calacademy/_mixins.scss */
  .section-nightlife #footer .footer-banner .footer-subhead a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green-large@2x.png");
  }
}
@media only screen and (min-width: 1001px) {
  /* line 671, ../../sass/calacademy/_mixins.scss */
  .section-nightlife #footer .footer-banner .footer-subhead a {
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    -webkit-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 1001px) {
  /* line 184, ../../sass/calacademy/section-nightlife.scss */
  .section-nightlife #footer .footer-banner .footer-subhead a {
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 3px;
    padding-right: 40px;
  }
}
