/* line 5, ../../sass/calacademy/section-researchers.scss */
.section-researchers .alerts {
  display: none;
}
/* line 8, ../../sass/calacademy/section-researchers.scss */
.section-researchers .alerts.clone {
  display: block;
}
/* line 21, ../../sass/calacademy/section-researchers.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-instituteforbiodiversityscienceandsustainability,
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-ibss,
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-research,
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-researchers {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 26, ../../sass/calacademy/section-researchers.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
  display: block;
}
/* line 33, ../../sass/calacademy/section-researchers.scss */
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-instituteforbiodiversityscienceandsustainability,
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-ibss,
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-research,
.section-researchers #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-researchers {
  display: block;
}
