/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-members {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-formembers {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-member {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-membership {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-memberships {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-membercenter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 147, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header #block-menu-menu-menu-top-level a.calacademy-menu-memberscenter {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 153, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-members {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-formembers {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-member {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-membership {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-memberships {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-membercenter {
  display: block;
}
/* line 158, ../../sass/calacademy/_mixins.scss */
.section-members #top-level-nav-wrapper #top-level-nav .region-header .subsection-titles ul li.calacademy-menu-memberscenter {
  display: block;
}
