/* line 5, ../../sass/calacademy/slideshow.scss */
.view-slideshows .view-empty {
  display: none;
}

/* line 11, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large, .slideshow-hero, .slideshow-midfeature {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 16, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content, .slideshow-hero .view-content, .slideshow-midfeature .view-content {
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider, .slideshow-hero .view-content .flexslider, .slideshow-midfeature .view-content .flexslider {
  z-index: 10;
  position: relative;
  overflow: hidden;
  margin: 0;
  border: 0;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 33, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider .flex-direction-nav a, .slideshow-hero .view-content .flexslider .flex-direction-nav a, .slideshow-midfeature .view-content .flexslider .flex-direction-nav a {
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 0;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-hero-large .view-content .flexslider .flex-direction-nav a, .slideshow-hero .view-content .flexslider .flex-direction-nav a, .slideshow-midfeature .view-content .flexslider .flex-direction-nav a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-hero-large .view-content .flexslider .flex-direction-nav a, .slideshow-hero .view-content .flexslider .flex-direction-nav a, .slideshow-midfeature .view-content .flexslider .flex-direction-nav a {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
/* line 45, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider .flex-direction-nav a.flex-prev, .slideshow-hero .view-content .flexslider .flex-direction-nav a.flex-prev, .slideshow-midfeature .view-content .flexslider .flex-direction-nav a.flex-prev {
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large-left.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-hero-large .view-content .flexslider .flex-direction-nav a.flex-prev, .slideshow-hero .view-content .flexslider .flex-direction-nav a.flex-prev, .slideshow-midfeature .view-content .flexslider .flex-direction-nav a.flex-prev {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large-left@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-hero-large .view-content .flexslider .flex-direction-nav a.flex-prev, .slideshow-hero .view-content .flexslider .flex-direction-nav a.flex-prev, .slideshow-midfeature .view-content .flexslider .flex-direction-nav a.flex-prev {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
/* line 49, ../../sass/calacademy/slideshow.scss */
.touch .slideshow-hero-large .view-content .flexslider .flex-direction-nav a, .touch .slideshow-hero .view-content .flexslider .flex-direction-nav a, .touch .slideshow-midfeature .view-content .flexslider .flex-direction-nav a {
  display: none;
}
/* line 54, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider:hover .flex-prev, .slideshow-hero .view-content .flexslider:hover .flex-prev, .slideshow-midfeature .view-content .flexslider:hover .flex-prev {
  left: 20px;
}
/* line 58, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider:hover .flex-next, .slideshow-hero .view-content .flexslider:hover .flex-next, .slideshow-midfeature .view-content .flexslider:hover .flex-next {
  right: 20px;
}
/* line 62, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider .flex-control-paging, .slideshow-hero .view-content .flexslider .flex-control-paging, .slideshow-midfeature .view-content .flexslider .flex-control-paging {
  display: none;
}
/* line 66, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider .flex-viewport, .slideshow-hero .view-content .flexslider .flex-viewport, .slideshow-midfeature .view-content .flexslider .flex-viewport {
  background-color: #1a1a1a;
}
/* line 69, ../../sass/calacademy/slideshow.scss */
.slideshow-hero-large .view-content .flexslider .flex-viewport .slides > li, .slideshow-hero .view-content .flexslider .flex-viewport .slides > li, .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 79, ../../sass/calacademy/slideshow.scss */
.slideshow-hero {
  position: relative;
  z-index: 100;
}
/* line 86, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport {
  z-index: 1;
  background-color: #f1f1f1;
}
/* line 89, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport, .touch .slideshow-hero .view-content .flexslider .flex-viewport {
  margin-bottom: 0;
}
/* line 95, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li {
  position: relative;
}
/* line 100, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field {
  position: relative;
  display: none;
  z-index: 1;
}
/* line 108, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.field-name-field-slideshow-frame-title, .slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.views-field-field-slideshow-frame-title, .slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.field-name-field-slideshow-frame-bg-image, .slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.views-field-field-slideshow-frame-bg-image,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.field-name-field-slideshow-frame-title,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.views-field-field-slideshow-frame-title,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.field-name-field-slideshow-frame-bg-image,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.views-field-field-slideshow-frame-bg-image {
  display: block;
}
/* line 113, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.field-name-field-slideshow-frame-title, .slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.views-field-field-slideshow-frame-title,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.field-name-field-slideshow-frame-title,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.views-field-field-slideshow-frame-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 2;
  overflow: hidden;
  width: 100%;
}
/* line 134, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.field-name-field-slideshow-frame-title .field-content,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.field-name-field-slideshow-frame-title .field-item, .slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.views-field-field-slideshow-frame-title .field-content,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .field.views-field-field-slideshow-frame-title .field-item,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.field-name-field-slideshow-frame-title .field-content,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.field-name-field-slideshow-frame-title .field-item,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.views-field-field-slideshow-frame-title .field-content,
.slideshow-hero .view-content .flexslider .flex-viewport .slides > li .views-field.views-field-field-slideshow-frame-title .field-item {
  width: 75%;
  overflow: hidden;
}
/* line 143, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging {
  z-index: 2;
  text-align: right;
  margin: 0;
  padding: 0;
  line-height: 0;
  padding-right: 10px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 146, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging, .touch .slideshow-hero .view-content .flexslider .flex-control-paging {
  display: block;
  bottom: 0;
}
/* line 159, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging li {
  padding: 0;
  margin: 0;
  margin-right: 6px;
}
/* line 164, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging li:last-child {
  margin-right: 0;
}
/* line 168, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging li a {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  line-height: 0;
  background: none;
  background-color: white;
}
/* line 180, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging li a, .slideshow-hero .view-content .flexslider .flex-control-paging li a:hover {
  filter: none !important;
}
/* line 184, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging li a.flex-active {
  background-color: #f27134;
}
/* line 187, ../../sass/calacademy/slideshow.scss */
.slideshow-hero .view-content .flexslider .flex-control-paging li a.flex-active:hover {
  opacity: 1;
}

/* line 205, ../../sass/calacademy/slideshow.scss */
.touch .slideshow-midfeature .view-content .flexslider .flex-control-paging {
  display: block;
  bottom: -30px;
}
/* line 212, ../../sass/calacademy/slideshow.scss */
.touch .slideshow-midfeature .view-content .flexslider .flex-viewport {
  margin-bottom: 30px;
}
/* line 216, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li {
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
}
/* line 221, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 221, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 231, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field {
  z-index: 2;
  position: relative;
  color: white;
  max-width: 960px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;
}
/* line 242, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field .field-content {
  width: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 242, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field .field-item,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field .field-content,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field .field-item,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field .field-content {
    width: 60%;
  }
}
/* line 259, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-highlight-color,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-bg-color,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-bg-image,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-horizontal-offset-percenta,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-highlight-color,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-bg-color,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-bg-image,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-horizontal-offset-percenta {
  display: none;
}
/* line 264, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-sup-title,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-sup-title {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 5px;
}
/* line 274, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link, .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
  color: white;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: -1px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 274, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link, .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
    font-size: 30px;
  }
}
/* line 285, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large.png");
  padding-top: 3px;
  padding-right: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 285, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
    padding-top: 3px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-title a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-title a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 295, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-body,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-body {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 295, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-body,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-body {
    margin-bottom: 0;
  }
}
/* line 306, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-body p,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-body p {
  margin: 0;
  padding: 0;
}
/* line 311, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-body a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-body a {
  color: white;
  text-decoration: underline;
}
/* line 324, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-thumb .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-thumb .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-subtitle .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-subtitle .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-desc .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-desc .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-thumb .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-thumb .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-subtitle .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-subtitle .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-desc .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-desc .field-content {
  width: 260px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 322, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-thumb,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-subtitle,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-desc,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-thumb,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-subtitle,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-desc {
    display: none;
  }
}
/* line 334, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-thumb,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-thumb {
  margin-bottom: 10px;
}
/* line 338, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-thumb .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-thumb .field-content,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-thumb .field-item,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-thumb .field-content {
  height: 150px;
  overflow: hidden;
}
/* line 345, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-subtitle,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-subtitle {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
/* line 353, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .field-name-field-slideshow-frame-link-desc,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li .container .views-field-field-slideshow-frame-link-desc {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 22px;
}
/* line 365, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link, .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
  color: #df8b05;
}
/* line 368, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-rust-large.png");
  padding-top: 3px;
  padding-right: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-rust-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 368, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-rust.png");
    padding-top: 3px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-rust@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-orange .container .views-field-field-link a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 382, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link, .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
  color: #689247;
}
/* line 385, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green-large.png");
  padding-top: 3px;
  padding-right: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 385, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green.png");
    padding-top: 3px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-green@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-green .container .views-field-field-link a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 399, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link, .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
  color: #186aa8;
}
/* line 402, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
.slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large.png");
  padding-top: 3px;
  padding-right: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue-large@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
    -webkit-background-size: 30px, 30px;
    -moz-background-size: 30px, 30px;
    -o-background-size: 30px, 30px;
    background-size: 30px, 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 402, ../../sass/calacademy/slideshow.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue.png");
    padding-top: 3px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  /* line 485, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-width: 0) {
  /* line 505, ../../sass/calacademy/_mixins.scss */
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .field-name-field-link a,
  .slideshow-midfeature .view-content .flexslider .flex-viewport .slides > li.highlight-blue .container .views-field-field-link a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}

/* line 417, ../../sass/calacademy/slideshow.scss */
.slideshow-midfeature-container {
  position: absolute;
  width: 100%;
  max-width: inherit;
  left: 0;
  overflow: hidden;
}
