/* line 4, ../../sass/calacademy/social-buttons.scss */
#social-buttons,
#social-buttons-follow {
  width: 100%;
  overflow: hidden;
  clear: both;
}
/* line 10, ../../sass/calacademy/social-buttons.scss */
#social-buttons, #social-buttons li,
#social-buttons-follow,
#social-buttons-follow li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 16, ../../sass/calacademy/social-buttons.scss */
#social-buttons li,
#social-buttons-follow li {
  float: left;
  margin-right: 8px;
}
/* line 20, ../../sass/calacademy/social-buttons.scss */
#social-buttons li, #social-buttons li *,
#social-buttons-follow li,
#social-buttons-follow li * {
  vertical-align: top !important;
}
/* line 25, ../../sass/calacademy/social-buttons.scss */
#social-buttons li:last-child,
#social-buttons-follow li:last-child {
  margin-right: 0;
}

/* line 682, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 682, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow a {
    width: 35px;
    height: 35px;
  }
}
/* line 695, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow .facebook a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook-color.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook-large-color.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .facebook a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook-color@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .facebook a {
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .facebook a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/facebook-large-color@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .facebook a {
    -moz-background-size: 35px, 35px;
    -o-background-size: 35px, 35px;
    -webkit-background-size: 35px, 35px;
    background-size: 35px, 35px;
  }
}
/* line 700, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow .google a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/google-color.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/google-large-color.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .google a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/google-color@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .google a {
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .google a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/google-large-color@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .google a {
    -moz-background-size: 35px, 35px;
    -o-background-size: 35px, 35px;
    -webkit-background-size: 35px, 35px;
    background-size: 35px, 35px;
  }
}
/* line 705, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow .instagram a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram-color.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram-large-color.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .instagram a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram-color@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .instagram a {
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .instagram a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/instagram-large-color@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .instagram a {
    -moz-background-size: 35px, 35px;
    -o-background-size: 35px, 35px;
    -webkit-background-size: 35px, 35px;
    background-size: 35px, 35px;
  }
}
/* line 710, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow .twitter a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter-color.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter-large-color.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .twitter a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter-color@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .twitter a {
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .twitter a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/twitter-large-color@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .twitter a {
    -moz-background-size: 35px, 35px;
    -o-background-size: 35px, 35px;
    -webkit-background-size: 35px, 35px;
    background-size: 35px, 35px;
  }
}
/* line 715, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow .flickr a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr-color.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr-large-color.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .flickr a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr-color@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .flickr a {
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .flickr a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/flickr-large-color@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .flickr a {
    -moz-background-size: 35px, 35px;
    -o-background-size: 35px, 35px;
    -webkit-background-size: 35px, 35px;
    background-size: 35px, 35px;
  }
}
/* line 720, ../../sass/calacademy/_mixins.scss */
#social-buttons-follow .youtube a {
  background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube-color.png");
  background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube-large-color.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .youtube a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube-color@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .youtube a {
    -moz-background-size: 25px, 25px;
    -o-background-size: 25px, 25px;
    -webkit-background-size: 25px, 25px;
    background-size: 25px, 25px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 652, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .youtube a {
    background-image: url("/sites/all/themes/calacademy_zen/images/social/youtube-large-color@2x.png");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 672, ../../sass/calacademy/_mixins.scss */
  #social-buttons-follow .youtube a {
    -moz-background-size: 35px, 35px;
    -o-background-size: 35px, 35px;
    -webkit-background-size: 35px, 35px;
    background-size: 35px, 35px;
  }
}
