/* line 4, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view {
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
  background-image: url("/sites/all/themes/calacademy_zen/images/loader/50.gif");
  margin-top: 20px;
}
/* line 5, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view .view-empty {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 40px;
}
/* line 13, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view .ajax-progress {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 532, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view {
    background-image: url("/sites/all/themes/calacademy_zen/images/loader/50@2x.gif");
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 552, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view {
    -webkit-background-size: 50px, 50px;
    -moz-background-size: 50px, 50px;
    -o-background-size: 50px, 50px;
    background-size: 50px, 50px;
  }
}
/* line 24, ../../sass/calacademy/views-exposed-filters.scss */
.ajax-loading .exposed-filters .view .view-content,
.ajax-loading .exposed-filters .view .view-empty {
  min-height: 70px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 22, ../../sass/calacademy/views-exposed-filters.scss */
  .ajax-loading .exposed-filters .view {
    background-position: center 130px;
  }
  /* line 33, ../../sass/calacademy/views-exposed-filters.scss */
  .ajax-loading .exposed-filters .view .view-content,
  .ajax-loading .exposed-filters .view .view-empty {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
/* line 41, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view form {
  margin-bottom: 40px;
}
/* line 44, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view form label {
  display: none;
}
/* line 48, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view form select {
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  padding: 8px;
  border: 1px solid #e6e6e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: hand;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 175px;
  padding-right: 40px;
  background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow-blue.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: white;
}
/* line 162, ../../sass/calacademy/_mixins.scss */
.exposed-filters .view form select::-ms-expand {
  display: none;
}
/* line 383, ../../sass/calacademy/_mixins.scss */
.exposed-filters .view form select::-moz-focus-inner {
  border: 0;
}
/* line 387, ../../sass/calacademy/_mixins.scss */
.exposed-filters .view form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 532, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view form select {
    background-image: url("/sites/all/themes/calacademy_zen/images/select-arrow-blue@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 552, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view form select {
    -webkit-background-size: 32px, 9px;
    -moz-background-size: 32px, 9px;
    -o-background-size: 32px, 9px;
    background-size: 32px, 9px;
  }
}
/* line 186, ../../sass/calacademy/_mixins.scss */
.lt-ie10 .exposed-filters .view form select {
  background-image: none;
  padding-right: 8px;
}
/* line 191, ../../sass/calacademy/_mixins.scss */
.exposed-filters .view form select:focus {
  border: 1px solid #186aa8;
  -webkit-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  -moz-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
}
/* line 58, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view form input[type="text"],
.exposed-filters .view form input[type="password"],
.exposed-filters .view form input[type="email"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 150px;
  border: 1px solid #e6e6e6;
  background-color: transparent;
  color: #1a1a1a;
  font-weight: 400;
  resize: none;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  line-height: 1;
  padding: 8px;
}
/* line 75, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view form input[type="text"]:focus,
.exposed-filters .view form input[type="password"]:focus,
.exposed-filters .view form input[type="email"]:focus {
  border: 1px solid #186aa8;
  -webkit-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  -moz-box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
  box-shadow: rgba(24, 106, 168, 0.6) 0 0 5px;
}
/* line 81, ../../sass/calacademy/views-exposed-filters.scss */
.exposed-filters .view form .views-submit-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed902b), color-stop(100%, #e26125));
  background-image: -webkit-linear-gradient(#ed902b, #e26125);
  background-image: -moz-linear-gradient(#ed902b, #e26125);
  background-image: -o-linear-gradient(#ed902b, #e26125);
  background-image: linear-gradient(#ed902b, #e26125);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed902b', endColorstr='#e26125', GradientType=0);
  background-position: 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 17px;
  padding-top: 12px;
  font-size: 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 12px;
  border: 0;
  min-width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 6px;
}
/* line 597, ../../sass/calacademy/_mixins.scss */
.exposed-filters .view form .views-submit-button input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  text-align: left;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 532, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view form .views-submit-button input {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 552, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view form .views-submit-button input {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
/* line 613, ../../sass/calacademy/_mixins.scss */
.no-touch .exposed-filters .view form .views-submit-button input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 81, ../../sass/calacademy/views-exposed-filters.scss */
  .exposed-filters .view form .views-submit-button {
    font-size: 18px;
    padding: 12px !important;
    padding-top: 7px !important;
  }
}
/* line 311, ../../sass/calacademy/_mixins.scss */
.exposed-filters .view form .views-submit-button a {
  display: block;
  color: white;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("/sites/all/themes/calacademy_zen/images/arrow.png");
  padding-top: 3px;
  padding-right: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 532, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view form .views-submit-button a {
    background-image: url("/sites/all/themes/calacademy_zen/images/arrow@2x.png");
  }
}
@media only screen and (min-width: 0) {
  /* line 552, ../../sass/calacademy/_mixins.scss */
  .exposed-filters .view form .views-submit-button a {
    -webkit-background-size: 20px, 20px;
    -moz-background-size: 20px, 20px;
    -o-background-size: 20px, 20px;
    background-size: 20px, 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 91, ../../sass/calacademy/views-exposed-filters.scss */
  .exposed-filters .view form .views-exposed-widget {
    float: none;
    margin: 0;
    padding: 0;
  }
  /* line 100, ../../sass/calacademy/views-exposed-filters.scss */
  .exposed-filters .view form .views-exposed-widget.views-submit-button,
  .exposed-filters .view form .views-exposed-widget input[type="text"],
  .exposed-filters .view form .views-exposed-widget input[type="password"],
  .exposed-filters .view form .views-exposed-widget input[type="email"],
  .exposed-filters .view form .views-exposed-widget select {
    width: 100%;
    margin-top: 12px;
  }
}
