.panel-2col-bricks .panel-col-top,
.panel-2col-bricks .panel-col-bottom { 
  clear: both;
}

.panel-2col-bricks .panel-col-first,
.panel-2col-bricks .panel-col-last { 
  float: left;
}

.panel-2col-bricks .panel-col-first {
  width: 75%;
}
.panel-2col-bricks .bottom-row-content,
.panel-2col-bricks .bottom-row-right-rail {
  width: 50%;
}
