/**
 * Descriptions
 */
.page-content .form-item .description {
  position: initial;
  bottom: inherit;
  right: inherit;
  z-index: 5;
  color: #687;
  background: transparent;
  border-top: inherit;
  width: initial;
  margin: inherit;
  padding: inherit;
  display: block;
}