/* =============================================================================
   Base elements
   ========================================================================== */
html body {
	overflow-y: scroll;
}
body {
	background-color: #F0F0F0;
	color: #3e3e3e;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
}
.cke_ltr,
.cke_wysiwyg_frame, .cke_wysiwyg_div,
body.cke_editable.cke_editable_themed {
	background: #fff !important;
/*	overflow-y: hidden !important;*/
}
h1,h2,h3,h4,h5,h6,
h1.site-name a,
h1.site-name a:hover,
h2.site-name a,
h2.site-name a:hover {
	font-family: arial, helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 0.005em;
}

h5, h6 {
  font-weight: normal;
  letter-spacing: 0.05em;
	margin: 0 0 1em;
	padding: 0 0.25em;
}
h1 {
	color: #8cbe3c;
	font-size: 23px;
	font-weight: normal;
	line-height: 25px;
	margin-bottom: 12px;
	margin-top: 20px;
}
h2, h1.small, h3.big {
  color: #8cbe3c;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
  margin-top: 20px;
}
h3, h2.small {
  color: #3e3e3e;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 3px;
  margin-top: 20px;
}
p {
	margin-bottom: 9px;
	margin-top: 0;
}
p, li {
  color: #3e3e3e;
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}
dl {
  margin:0 0 20px;
}
dl dd,
dl dl { 
  margin:0 0 1em 1em; /* LTR */
}
blockquote {
  margin:1em 2em;
}
address {
  font-style:italic;
}
u,
ins {
  text-decoration:underline;
}
s,
strike,
del {
  text-decoration:line-through;
}
big {
  font-size:larger;
}
small {
  font-size:smaller;
}
sub {
  font-size:smaller;
  line-height:normal;
  vertical-align:sub;
}
sup {
  font-size:smaller;
  line-height:normal;
  vertical-align:super;
}
nobr {
  white-space:nowrap;
}
abbr,
acronym {
  border-bottom:dotted 1px;
}
abbr[title] {
border-bottom:0px solid transparent;
}
ul,
.block ul,
.item-list ul {
	list-style-image: url("../images/icon-bullet.png");
  margin:0.25em 0 0.25em 0; /* LTR */
  padding: 0 1em;
}
li {
	margin-bottom: 6px;
	margin-top: 0;
}
.plupload ul {
	margin: 0;
	padding: 0;
}
.item-list .pager li {
  padding:0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-image:none;
  list-style-type:disc;
}
ul.menu li {
  margin:0;
}
ol {
  list-style-type:decimal;
  margin:0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin:0.5em 0;
}
code,
pre,
kbd {
  font-size:84%/1.6em;
  color:#393;
}
pre {
  margin:0.5em 0;
  white-space:pre-wrap;
}
hr {
  background:#ddd;
  border:none;
  margin:0;
  padding:0;
  height:1px;
}
legend {
  font-weight:normal;
}
fieldset {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin: 1em 0 2em;
  padding: 0.5em 1em;
  position: relative;
}
fieldset fieldset {
	margin: 0;
	padding: 10px;
}
fieldset .fieldset-legend {
  background: none no-repeat scroll 0 0 #FFFFFF;
  font-weight: normal;
  font-size: 1.1em;
  margin: 0.5em 0 0 15px;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: -1.0em;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 0 0; /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}
fieldset.collapsible {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding: 1em;
  position: relative;
}
html.js fieldset.collapsible .fieldset-legend {
  background: url("../images/menu-expanded.png") no-repeat scroll 5px 60% #FFFFFF;
  padding-left: 15px;
  position: absolute;
  top: -1.2em;
}
.form-item, .form-actions {
	margin: 0.25em 0 0.5em;
}
fieldset.group-title-settings .form-item-title,
fieldset.group-title-settings .field-name-field-display-title {
	display: inline-block;
}
fieldset.group-title-settings .form-item-title {
	margin-right: 1em;
}
fieldset.group-title-settings .field-name-field-display-title {
	
}
.fieldset-description {
	margin-top: 0.5em;
}
.tips, .description, .fieldset-description {
	color: #6A6A6A;
	font-size: 0.85em;
}
label {
	color: #5050A0;
  font-family: Source Sans Semibold;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0.07em;
}
label.option {
  margin-left: 2px;
  position: relative;
  top: 2px;
}
.block { display: block; }
.inline { display: inline; }
.inline.block { display: inline-block; }
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -webkit-background-clip: padding;
  -webkit-border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-background-clip: padding;
  -moz-border-radius: 0;
  -moz-box-sizing: border-box;
  background-clip: padding-box;
  background-color: #fdfdfd;
  border: 2px solid #AAAAAA;
  border-radius: 3px;
  color: #666666;
  font-family: Source sans-serif, sans-serif;
  font-size: 1.1em;
  outline: 0 none;
  padding: 3px 5px;
}
a.button,
a.edit-cancel,
ul.action-links a,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background: url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-color: #A6A6A6 #A6A6A6 #979797;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  color: #5a5a5a !important;
  font-size: 0.9em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  padding: 3px 9px;
  text-align: center;
}
a.button:hover,
a.edit-cancel:hover,
ul.action-links a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: #ccc;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#ccc));
	background-image: -moz-linear-gradient(top,#f2f2f2,#ccc);
	background-image: -webkit-linear-gradient(top,#f2f2f2,#ccc);
	background-image: -o-linear-gradient(top,#f2f2f2,#ccc);
	background-image: -ms-linear-gradient(top,#f2f2f2,#ccc);
	background-image: linear-gradient(top,#f2f2f2,#ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#fff2f2f2',endColorstr='#ffcccccc');
}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  box-shadow: none !important;
	border-color: #e2bb6f !important;
}
a:link, a:visited {
	color: #378CD2;
	font-weight: bold;
  text-decoration: none;
}
a:hover {
	color: #8cbe3c !important;
	text-decoration: none !important;
}
a:active {
}
a:focus {
}
#zone-content {
	margin-bottom: 1em;
	padding-bottom: 1em;
	position: relative
}
#breadcrumb {
	display: none;
  font-size: 0.8em;
  padding-bottom: 0.5em;
}
ul.primary {
	padding: 0 0 0.2em 1em;
}
ul.primary li a {
  border-radius: 5px 5px 0 0;
  padding: 0.25em 1.4em;
}
ul.primary li.active a {
	color: #3e3e3e;
	cursor: default;

}
ul.primary li.active a:hover {
	background-color: #fff;
	border-bottom: 1px solid transparent;
	color: #3e3e3e !important;
	cursor: default;
}
ul.action-links {
	margin: 1em 0;
}
ul.action-links li {
	display: inline-block;
	list-style: none;
}
.page-user .zone-content .region-inner {
	margin: 0 auto;
	max-width: 55em;
}
.page-user .zone-content input.form-text {
	max-width: 21em;
}
html.js input.form-autocomplete {
	background-position: 100% 7px;
}
.field-collection-container {
  border: 0 none;
  margin-bottom: 0.5em;
}

#block-views-page-titles-block-page-titles {
	margin-top: 45px;
}
.section-image {
  float: left;
  height: 82px;
  margin-right: 10px;
  width: 82px;
}
.section-image.solutions {
	background-image: url('../images/icons/solutions-circle82.png');
}
.section-image.technology {
	background-image: url('../images/icons/technology-circle82.png');
}
.section-image.services {
	background-image: url('../images/icons/services-circle82.png');
}
.section-image.community {
	background-image: url('../images/icons/community-circle82.png');
}
.section-image.about {
	background-image: url('../images/icons/about-circle82.png');
}
.section-image.resources {
	background-image: url('../images/icons/resources-circle82.png');
}

ul.icon-list {
	margin: 0;
	padding: 0;
}
ul.icon-list li {
  background-position: 0 0;
  background-repeat: no-repeat;
  list-style: none;
  margin-bottom: 20px;
  max-width: 456px;
  padding-left: 44px;
}
ul.icon-list li.person {
  background-image: url("../images/icons/list-icon-person.png");
}
ul.icon-list li.stopwatch {
    background-image: url("../images/icons/list-icon-stopwatch.png");
}
ul.icon-list li.quote {
    background-image: url("../images/icons/list-icon-quote.png");
}
ul.icon-list li.multichannel {
    background-image: url("../images/icons/list-icon-multichannel.png");
}ul.icon-list li.converged {
    background-image: url("../images/icons/list-icon-converged.png");
}
p, li {
  color: #3E3E3E;
  font-size: 13px;
  font-weight: normal;
  line-height: 17px;
}
p.quote,
div.quote {
  background-color: #8cbe3c;
  background-image: url("../images/structure/quote-open.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  clear: left;
  margin-bottom: 40px;
  margin-top: 30px;
  max-height: none;
  min-height: 30px;
  padding: 0;
  width: 500px;
}
p.quote p,
div.quote p {
  background-image: url("../images/structure/quote-close.png");
  background-position: right bottom 10px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  margin: 15px 15px 0 50px;
  padding: 8px 5px 10px;
}
p.quote h3,
div.quote h3 {
  background-color: #ffffff;
  background-image: url("../images/structure/quote-author.png");
  background-position: 20px 0;
  background-repeat: no-repeat;
  clear: both;
  color: #8cbe3c;
  float: left;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 50px;
  padding-top: 3px;
  width: 450px;
}
.submenu-header.nolink {
	display: none;
}

/* =============================================================================
   Admin Menu
   ========================================================================== */
#admin-menu {
  margin: 0;
  padding: 0;
}
