/* =============================================================================
   General
   ========================================================================== */
h1, h2, h3 {
  background: url(../images/h3-border.gif) repeat-x 0 bottom;
  font-family: 'Voltaire', sans-serif;
  font-size: 40px !important;
  line-height: 45px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 7px;
}
h2 {
  font-size: 32px !important;
  line-height: 37px;
}
h3 {
  font-size: 24px !important;
  line-height: 29px;
}
h4, h5, h6 {
  color: #ffffff;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h4 {
  font-size: 18px;
  line-height: 22px;
}
h5 {
  font-size: 16px;
  line-height: 22px;
}
h6 {
  font-size: 12px;
  line-height: 16;
}
h1.page-title em:after,
h1#overlay-title em:after {
  content: " - ";
}
a {
  color: #a5391d;
}
table td, table th {
  border-color: transparent;
}
.hidden {
  display: none;
}
#page-title .page-title {
  color: #333;
  font-size: 32px;
}
.progress .filled {
  background-color: #82b450;
}
#bsranding .breadcrumb span.nolink {
  background: url("images/bleeds.png") no-repeat scroll 100% -60px transparent;
  color: #FFFFFF;
  float: left;
  font-weight: normal;
  margin-right: -10px;
  padding: 5px 20px;
}
.form-item {
	margin-bottom: 5px;
}
.page-content .form-item .description {
	text-align: justify;
}
.cke_chrome {
	box-shadow: none;
}
.pager li.pager-current, .primary-tabs li.active {
	background-color: #e4522b;
}
.action-links a {
  background-color: #e4522b;
  text-shadow: 0 1px 0 #a5391d;
}
.action-links a:active {
	background-color: #dd866e;
	color: #ffffff;
}
.secondary-tabs,
.secondary-tabs:hover {
  border: 1px solid #ba2500;
  border-radius: 3px;
	background-color: #e3512a;
	opacity: 100;
}
.secondary-tabs a:hover {
	background-color: #ba2500;
}
/*
body.page-node-add .column-main,
body.page-node-edit .column-main {
	width: 100%;
}
body.page-node-add .column-side,
body.page-node-edit .column-side {
	display: none;
}*/
.form-layout-default {
	background: none;
}


/* =============================================================================
   Content Manager
   ========================================================================== */
.view-id-admin_content table th {
	width: 10em;
}
.view-id-admin_content table th.views-field-views-bulk-operations {
	width: 1em;
}
.view-id-admin_content table th.views-field-title {
	width: 20em;
}
.view-id-admin_content table th.views-field-name {
	width: 7em;
}
.view-id-admin_content table th.views-field-status,
.view-id-admin_content table td.views-field-status,
.view-id-admin_content table th.views-field-field-promoted,
.view-id-admin_content table td.views-field-field-promoted {
	text-align: center;
	width: 3em;
}
.view-id-admin_content table th.views-field-field-promoted,
.view-id-admin_content table td.views-field-field-promoted {
	width: 6em;
}
.view-id-admin_content table th.views-field-edit-node,
.view-id-admin_content table td.views-field-edit-node {
	text-align: center;
	width: 3em;
}

/* =============================================================================
   Page Manager
   ========================================================================== */
#page-manager-edit .page-manager-ajax-pad {
  height: inherit;
}
#page-manager-list-pages td.page-manager-page-operations .ctools-dropbutton {
  text-align: center;
  width: 53px;
}

/* =============================================================================
   Panels
   ========================================================================== */
.panels-dnd .panel-2col-stacked .panel-panel {
	margin: 5px;
}
.panels-dnd .panel-2col-stacked .center-wrapper {
	margin-bottom: 5px;
}
.panels-dnd .panel-2col-stacked .center-wrapper .panel-col-first {
	width: 600px;
}
.panels-dnd .panel-2col-stacked .center-wrapper .panel-col-last {
	width: 289px;
}

/* =============================================================================
   Views
   ========================================================================== */
body.page-admin-structure-views h1,
body.page-admin-structure-views h2,
body.page-admin-structure-views h3,
body.page-admin-structure-views h4 {
	color: #030303;
}
.views-ui-display-tab-bucket h3 {
	color: #333333;
	font-size: 12px !important;
}
.views-field-edit-node a {
	/*margin-right: 1em;*/
}
.views-widget-filter-nid .form-type-textfield.form-item-nid {
  width: 4em;
}
.views-widget-filter-title .form-type-textfield.form-item-title {
  width: 9em;
}
.views-widget-filter-name .form-type-textfield.form-item-name {
  width: 9em;
}
.views-widget-filter-tid .form-item.form-type-textfield.form-item-tid {
  width: 8em;
}
.views-exposed-form .views-reset-button {
  padding-right: 0;
}
.views-exposed-form .views-reset-button .form-submit {
  margin-top: 20px;
}
.view-vbo-content .pager ul.links li .ajax-progress-throbber {
	background-color: #f00;
	display: none;
}
.pager a,
.pager span {
  padding:5px 15px !important;
}
div.image-preview {
  float: none;
  padding: 0 0 0 1px;
  margin: 0 auto;
}


	/* =============================================================================
	   Views Admin
	   ========================================================================== */
	#views-ui-preview-form .form-type-textfield .description {
		white-space: normal;
	}

	/* =============================================================================
	   Views Slideshow
	   ========================================================================== */
	a#edit-style-options-views-slideshow-cycle-advanced-options-update-link {
		background: #fff url(images/buttons.png) -1px 50% no-repeat;
		background-position: -2400px 50%;
		border-color: #ddd #ddd #ccc;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		box-shadow: #ddd 0px 1px 1px;
		-moz-box-shadow: #ddd 0px 1px 1px;
		-webkit-box-shadow: #ddd 0px 1px 1px;
		color: #333;
		cursor: pointer;
		font-weight: normal;
		padding: 5px 5px 5px 25px;
		text-align: center;
	}
	a#edit-style-options-views-slideshow-cycle-advanced-options-update-link:hover {
		background-color: #f0ffdf;
		border-color: #c4dfa7;
	}
	
/* =============================================================================
   Forms
   ========================================================================== */
input.form-autocomplete:hover,
input.form-text:hover,
textarea.form-textarea:hover,
select.form-select:hover,
input.form-autocomplete:focus,
input.form-text:focus,
textarea.form-textarea:focus,
select.form-select:focus {
	border-color: #a9df6f;
	-webkit-box-shadow: #a9df6f 0px 0px 5px;
}
table input.fluid {
	width: 100%;
}
#field-ui-field-overview-form div.vertical-tabs {
	display: none;
}
input.form-autocomplete, 
input.form-text, 
textarea.form-textarea {
}
input.teaser-button, input.form-submit {
	border-radius: 3px;
	padding: 5px 5px 5px 25px;
}
input.form-submit:hover {
	background-color: #f0ffdf;
	border-color: #c4dfa7;
}
input.form-submit:active {
	background-position: -2801px 50%;
	background-color: #a9df6f;
	color: #ffffff;
}
input.form-submit,
input.button-yes {
  background-position: -2400px 50%;
  padding-left: 25px;
}
input.button-no {
  background-position:-3201px 50%;
}
input.button-no:active {
	background-position:-3601px 50%;
}
a#edit-cancel {
  background: url("images/buttons.png") no-repeat scroll -1px 50% #FFFFFF;
  border-color: #DDDDDD #DDDDDD #CCCCCC;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px #dddddd;
  color: #333333;
  cursor: pointer;
  font-weight: normal;
  padding: 6px 16px;
  text-align: center;
}
input.button-no:hover,
input.button-no:focus,
a#edit-cancel:hover,
a#edit-cancel:focus {
	background-color: #fff4c0;
	border-color: #ffe4b0;
}
input.button-no:active,
a#edit-cancel:active {
	color: #ffffff;
	background-color: #dfd08b;
	text-shadow: 0 1px 0 rgba(0,0,0,0.6);
}
.action-links a {
	border-radius: 3px;
	font-size: 14px;
	padding: 4px 8px 4px 25px;
}
.pager li:first-child, .primary-tabs li:first-child {
  border-radius: 3px 0 0 3px;
}
.pager li:last-child, .primary-tabs li:last-child {
  border-radius: 0 3px 3px 0;
}
.filter-wrapper {
  border-top: 1px solid #CCCCCC;
  font-size: 11px;
  margin-top: 0;
	padding: 0;
}
.description,
.fieldset-description {
	color: #888;
	font-size: 0.85em;
}
.form-item.form-disabled input, .form-item.form-disabled input:hover {
	background-color: #f8f8f8 !important;
	border-color: #cccccc !important;
	box-shadow: none;
}
div.image-widget-data {
	width: 100%;
}
.plupload_scroll .plupload_filelist {
	height: 256px;
}
li.plupload_droptext {
  line-height: 236px;
}
.field-name-field-images label {
	display: none;
}

/* =============================================================================
   Content Forms
   ========================================================================== */
form.node-form .field-name-body {
	clear: both;
}
fieldset legend span.form-required {
	/*display: none;*/
}
fieldset fieldset > legend > span.fieldset-title {
  background-color: #f6f6f6 !important;
  padding: 4px 9px 5px !important;
}
.collapsible .fieldset-legend {
	padding: 0 !important;
}
fieldset.group-title-settings {
  float: left;
  margin-right: 11px;
  height: 295px;
  width: 390px;
}
#overlay fieldset.group-title-settings {
	height: 295px;
	width: 442px;
}
#edit-field-page-title,
#edit-field-section-title,
#edit-field-section-image {
	display: block;
	float: none;
	margin-right: 0;
	width: auto;
}
fieldset.group-featured-image {
  height: 295px;
  width: 300px;
}
fieldset.group-featured-image div.image-widget-data input.form-submit {
  width: 100%;
}
fieldset.group-featured-image div.image-widget-data input.form-submit[value="Upload"] {
	margin-top: 5px;
}
fieldset.group-featured-image div.image-widget-data input.form-submit[value="Upload"].ajax-processed.progress-disabled {
	margin-top: 20px;
}
fieldset.group-featured-image div.image-widget-data input.form-submit[value="Insert"] {
  margin-top: 5px;
}
fieldset.group-featured-image div.image-widget-data input.form-submit[value="Remove"] {
  margin-top: 10px;
}
fieldset.group-featured-image div.image-widget-data .ajax-progress-throbber {
	display: none;
}
fieldset.group-featured-image div.image-widget-data .ajax-progress-bar {
/*	margin-top: 50px;*/
}
fieldset.group-featured-image div.image-widget-data .form-type-textfield {
  left: 0;
  margin-top: 5px;
  width: 100%;
}
div.field-name-field-images div.image-widget-data input.form-submit[value="Upload"],
div.field-name-field-images div.image-widget-data input.form-submit[value="Insert"],
div.field-name-field-images div.image-widget-data input.form-submit[value="Remove"] {
	margin: 0;
	width: auto;
}
fieldset.group-featured-image .form-type-managed-file > label {
	visibility: hidden;
}
fieldset.group-featured-image div.image-widget-data span.file:before {
  bottom: 5px;
  color: #666666;
  content: "File: ";
  font-size: 10px;
  position: relative;
  text-transform: uppercase;
}
fieldset.group-featured-image div.image-widget-data span.file {
  display: block;
  font-size: 0.9em;
  left: 2px;
  position: absolute;
  top: 0;
  width: 100%;
}
fieldset.group-featured-image div.image-widget-data span.file img {
	display: none;
}
fieldset.group-featured-image div.image-widget-data span.file a {
  bottom: 5px;
  position: relative;
}
fieldset.group-featured-image div.image-widget-data span.file-size {
  color: #707070;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  position: absolute;
  right: 0;
  top: -5px;
}
.field-name-field-section-image .form-radios {
	border: 1px solid #cccccc;
  border-radius: 3px;
  width: 415px;
}
.field-name-field-section-image .form-item.form-type-radio {
	display: inline-block;
  margin: 10px 10px 5px;
  position: relative;
}
.field-name-field-section-image .form-item.form-type-radio:last-of-type {
  margin-right: 0;
}
.field-name-field-section-image input {
	position: absolute;
}
fieldset.group-embedded-images fieldset {
	border: 0 none;
}
fieldset.group-embedded-images fieldset > legend {
	display: none !important;
}
fieldset.group-embedded-images .fieldgroup-effects-processed .fieldset-content {
	padding: 10px;
}
.filefield-sources-list {
	color: transparent;
}
.filefield-source-upload,
.filefield-source-imce,
.filefield-source-plupload {
  background: none no-repeat scroll center center transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  height: 32px;
  overflow: hidden;
  padding: 2px;
  text-indent: -500%;
  width: 32px;
}
.filefield-source-upload:hover,
.filefield-source-imce:hover,
.filefield-source-plupload:hover {
	background-color: #f0ffdf;
	border-color: #c4dfa7;
}
.filefield-source-upload.active,
.filefield-source-imce.active,
.filefield-source-plupload.active {
	background-color: #d9efc2;
	border-color: #82b450;
}
.filefield-source-upload {
	background-image: url('images/icons/upload_001a-32.png');
}
.filefield-source-imce {
	background-image: url('images/icons/search_001a-32.png');
}
.filefield-source-plupload {
	background-image: url('images/icons/upload-multiple_001a-32.png');
}
.filefield-source-upload.clear-block,
.filefield-source-imce.clear-block,
.filefield-source-plupload.clear-block {
  background: none no-repeat scroll center center transparent;
  display: normal;
  height: auto;
  overflow: hidden;
  text-indent: 0;
  width: inherit;
}
.filefield-source-upload.clear-block:hover,
.filefield-source-imce.clear-block:hover,
.filefield-source-plupload.clear-block:hover {
	border-color: transparent;
}
.field-name-field-images table.tabledrag-processed {
	margin-bottom: 10px;
}
body.page-admin-structure-types .field-name-field-section-image .form-radios,
body.page-admin-structure-types #overlay .field-name-field-section-image .form-radios {
	width: 475px;
}
body.page-admin-structure-types .field-name-field-section-image input#edit-field-section-image-und-none,
body.page-admin-structure-types #overlay .field-name-field-section-image label[for="edit-field-section-image-und-none"] {
  position: relative;
  top: -22px;
}
/** Hax for Webkit to keep the layout from blowing out in Chrome **/
@media screen and (-webkit-min-device-pixel-ratio: 0) { 
	#overlay {
		box-sizing: padding-box !important;
	}
	fieldset.group-employee-information,
	#overlay fieldset.group-employee-information {
		float: left;
		width: 443px;
		margin-right: 10px;
	}
	fieldset.group-title-settings,
	fieldset.group-featured-image,
	#overlay fieldset.group-title-settings,
	#overlay fieldset.group-featured-image	 {
		height: 421px;
	}
}

/* =============================================================================
   Content Type Specific Forms
   ========================================================================== */

	/* =============================================================================
	   Shared
	   ========================================================================== */
	fieldset .field-type-taxonomy-term-reference > .form-item > label {
		display: none;
	}
	.field-type-taxonomy-term-reference .form-type-radio,
	.field-type-taxonomy-term-reference .form-type-checkbox {
	  display: inline-block;
	  width: 165px;
	}
	fieldset.group-primary-image .field-type-image label,
	fieldset.group-subtitle .field-type-text label {
		display: none;
	}
  fieldset.group-featured-image .manualcrop-style-button-holder {
    position: absolute;
    bottom: 110px;
    float: left;
    width: inherit;
  }
  fieldset.group-featured-image .form-item-field-image-primary-und-0 {
    margin-bottom: 0;
  }
  fieldset.group-featured-image .form-item-field-image-primary-und-0-manualcrop-style,
  fieldset.group-featured-image .form-item-field-image-primary-und-0-alt {
    margin-top: 5px;
  }
	#edit-field-image-primary-und-0-manualcrop-style {
    width: 100%;
  }
  .field-name-field-bg-color .colorBox[color="#FFFFFF"] {
    border: 1px solid #000;
  }
  
	/* =============================================================================
	   Featured Person
	   ========================================================================== */
	fieldset.group-primary-image {
		float: right;
		height: 270px;
		margin-left: 10px;
		width: 270px;
	}
	.field-name-field-person-name-first,
	.field-name-field-person-name-mi,
	.field-name-field-person-name-last,
	.field-name-field-person-name-suffix {
		display: inline-block;
		margin-right: 10px;
	}
	.field-name-field-person-name-first {
		width: 135px;
	}
	.field-name-field-person-name-mi {
		width: 30em;
	}
	.field-name-field-person-name-mi input {
		text-align: center;
	}
	.field-name-field-person-name-last {
		width: 161px;
	}
	.field-name-field-person-name-suffix {
		margin-right: 0;
		width: 42px;
	}
	.field-name-field-person-name-mi input,
	.field-name-field-person-name-suffix input {
		text-align: center;
	}
	fieldset.group-person-category {
		margin-right: 10px;
		width: 280px;
	}
	fieldset.group-person-category select {
		width: 100%;
	}
	fieldset.group-contact-information {
		margin-right: 10px;
	}
	fieldset.group-contact-information .field-name-field-email,
	fieldset.group-contact-information .field-name-field-phone {
		display: inline-block;
	}
	fieldset.group-contact-information .field-name-field-email {
		margin-right: 10px;
		width: 274px;
	}
	fieldset.group-contact-information .field-name-field-phone input {
		text-align: center;
	}
	fieldset.group-person-category,
	fieldset.group-tags {
		float: left;
	}	
	fieldset.group-tags {
		width: 411px;
	}
	.field-name-field-featured {
		clear: both;
	}
		
/* =============================================================================
   Unlimited Fields
   ========================================================================== */

/* =============================================================================
   Field Collections
   ========================================================================== */
/*.field-multiple-table .form-wrapper {
  display: inline-block;
  margin: 0 1em 5px 0;
}*/
.collapsed .fieldset-legend a,
.collapsible .fieldset-legend a {
  background-color: #f4edcb;
}
.vertical-tabs fieldset.default-fallback,
div.field-group-tabs-wrapper div.field-type-image fieldset,
div.field-group-tabs-wrapper div.field-type-file fieldset {
	padding: 0;
}

/*** END SHARED STYLES ******************************************************************/

/*** BEGIN ADMIN SPECIFIC STYLES ********************************************************/
#overlay,
#branding .limiter,
#page-title .limiter,
#console .limiter,
#page .limiter,
#footer .limiter {
	margin: 0 auto;
	max-width: 1100px;
}
#overlay-content .limiter {
	margin: 0 10px 10px;
}
html.js input.throbbing {
	background-position: 100% -1px;
}
.text-format-wrapper .form-item {
	border: 0 none;
  margin: 0;
  padding: 0;
}
html body.page-admin-content.admin-menu {
	margin-top: 0 !important;
}
div.messages {
	border-radius: 5px;
	margin: 0 0 10 0;
	padding: 5px 10px;
}
#block-system-help .block-content {
	background: #fcfffd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  #fcfffd 0%, #ade0aa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfffd), color-stop(100%,#ade0aa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfffd 0%,#ade0aa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfffd 0%,#ade0aa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfffd 0%,#ade0aa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfffd 0%,#ade0aa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffd', endColorstr='#ade0aa',GradientType=0 ); /* IE6-8 */
	color: #066000;
}

/* =============================================================================
   Taxonomy
   ========================================================================== */

	/* =============================================================================
	   Taxonomy Manager
	   ========================================================================== */
	span.taxonomy-manager-select-helpers {
	    padding-left: 10px;
	}
	span.taxonomy-manager-select-helpers span {
	  padding-right: 20px;
	}

/* =============================================================================
   Component containers
   ========================================================================== */
.ui-widget {
  background: #fff;
}
.ui-widget-content {
  border: solid 1px #ccc;
}

/* =============================================================================
   Interaction states
   ========================================================================== */
.ui-state-default,
.ui-state-hover,
.ui-state-focus,
.ui-state-active {
  outline: 0;
}
.ui-state-active {
  font-weight: bold;
}

/* =============================================================================
   Interaction cues
   ========================================================================== */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  color: #840;
  background: #fe6;
  border: solid 1px #ed5;
}
.ui-state-error,
.ui-widget-content .ui-state-error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
}
.action-links {
	padding-top: 16px;
}

/* =============================================================================
   Icons
   ========================================================================== */
.ui-icon {
  display: block;
  text-indent: -99999px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(images/ui-icons-222222-256x240.png);
}
.ui-widget-content .ui-icon,
.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons-222222-256x240.png);
}
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons-888888-256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons-454545-256x240.png);
}
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons-800000-256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons-ffffff-256x240.png);
}
.ui-widget p .ui-icon {
  margin: 2px 3px 0 0;
}

/* =============================================================================
   Positioning
   ========================================================================== */
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
.ui-icon-carat-1-n { background-position: 0 0; }

/* =============================================================================
   Accordion
   ========================================================================== */
.ui-accordion {
  border: none;
}
.ui-accordion .ui-accordion-header {
  border: solid 1px #ccc;
  text-transform: uppercase;
}
.ui-accordion h3.ui-accordion-header,
#block-system-main h3.ui-accordion-header {
  font-size: 1.1em;
  margin: 10px 0;
}
#block-system-main .ui-accordion h3.ui-state-active,
.ui-accordion h3.ui-state-active {
  margin-bottom: 0;
}
.ui-accordion .ui-accordion-header a {
  display: block;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border: solid 1px #ccc;
  border-top: 0;
}

/* =============================================================================
   Tabs
   ========================================================================== */
.ui-tabs {
  padding: 0;
}
.ui-tabs .ui-tabs-nav {
  padding: 5px 10px 4px;
  margin: 0;
  line-height: 20px;
  border-bottom: solid 1px #ccc;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ui-tabs .ui-tabs-nav li {
  padding: 0 1em 0 10px;
  margin: 0;
  list-style: none;
}
.ui-tabs .ui-tabs-nav li a {
  float: none;
  padding: 0 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  color: #fff;
  background: #666;
  font-weight: normal;
}

/* =============================================================================
   Overlays
   ========================================================================== */
#overlay .ui-widget-overlay {
  background: #000;
  opacity: .70;
  filter: Alpha(Opacity=70);
}
#overlay #overlay-tabs {
	display: none;
}
#overlay #overlay-titlebar .add-or-remove-shortcuts .icon {
	margin-top: 10px !important;
}
#overlay #overlay-close-wrapper {
  position: absolute;
  right: 0;
  width: 30px;
}
#overlay #overlay-close, #overlay #overlay-close:hover {
  background: url("images/buttons.png") no-repeat scroll -4000px 50% #444444;
  border-radius: 5px 5px 5px 5px;
  display: block;
  height: 20px;
  margin: 5px;
  padding: 0;
  position: absolute;
  width: 20px;
}
#overlay #overlay-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 6px 6px 5px 5px;
  box-shadow: 0 0 10px #111111;
  min-height: 400px;
  padding: 0;
  position: relative;
}
#overlay #branding {
  background: url("images/bleeds.png") repeat-x scroll 0 -30px transparent;
  border-radius: 5px 5px 0 0;
  color: #CCCCCC;
  font-size: 11px;
  height: 30px;
  overflow: hidden;
}
#overlay .add-or-remove-shortcuts {
	margin-left: 5px;
	padding: 0.6em 0 0;
}
#overlay .add-or-remove-shortcuts a {
	background: url("images/buttons.png") no-repeat scroll -800px 50% rgba(0, 0, 0, 0.25);
	border-radius: 3px 3px 3px 3px;
}
#overlay .add-or-remove-shortcuts a span.icon {
	height: 10px;
}

/* =============================================================================
   Dialogs
   ========================================================================== */
.ui-dialog {
  background: #fff;
  border: solid 1px #ccc;
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
  font-weight: bold;
  background: #e1e2dc;
}
.ui-dialog .ui-dialog-buttonpane {
  border-width: 0;
}
.ui-dialog .ui-dialog-buttonpane button {
  cursor: pointer;
  padding: 4px 17px;
  color: #5a5a5a;
  text-align: center;
  font-family: "Droid sans", Verdana, sans-serif;
  font-weight: normal;
  font-size: 1em;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.ui-dialog .ui-dialog-buttonpane button:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0px -1px 0px;
}
.overlay {
  padding-right: 26px;
}
.overlay .ui-dialog-titlebar {
  background: transparent;
}

/* =============================================================================
   Slider
   ========================================================================== */
.ui-slider {
  border: solid 1px #ccc;
}
.ui-slider .ui-slider-range {
  background: #e4e4e4;
}
.ui-slider .ui-slider-handle {
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.ui-slider a.ui-state-active,
.ui-slider .ui-slider-handle:active {
  background: #666;
  color: #fff;
  border: solid 1px #555;
}

/* =============================================================================
   Progress Bar
   ========================================================================== */
.ui-progressbar {
  background: #e4e4e4;
  height: 1.4em;
}
.ui-progressbar .ui-progressbar-value {
  background: #0072b9 url(../../../misc/progress.gif);
  height: 1.5em;
}

/* =============================================================================
   Date Picker
   ========================================================================== */
.ui-datepicker {
  border: none;
}
.ui-datepicker td span, .ui-datepicker td a {
  text-align: center;
}
.ui-datepicker .ui-state-highlight {
  background: #E4E4E4;
  border-color: #D2D2D2;
  color: #000;
}


/* =============================================================================
   Fade in on pageload
   ========================================================================== */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#overlay, .fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.3s;
  -moz-animation-duration:.3s;
  animation-duration:.3s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* =============================================================================
   Admin Menu
   ========================================================================== */
/* line 3, ../../sass/calacademy/admin-menu.scss */
#admin-menu {
  background-image: none;
  box-shadow: none;
}
/* line 7, ../../sass/calacademy/admin-menu.scss */
#admin-menu .shortcut-toolbar.active {
  position: absolute;
  top: 30px;
  width: 100%;
}
/* line 14, ../../sass/calacademy/admin-menu.scss */
#admin-menu .dropdown li ul,
#admin-menu .dropdown li li {
  background-color: #000;
  opacity: 1;
  width: 225px;
}
/* line 20, ../../sass/calacademy/admin-menu.scss */
#admin-menu .dropdown .admin-menu-toolbar-category > a:hover {
  background-color: #222;
}
/* line 27, ../../sass/calacademy/admin-menu.scss */
#admin-menu .dropdown a:hover,
#admin-menu .dropdown li li:hover,
#admin-menu .dropdown li li a:hover,
#admin-menu .dropdown li li.iehover,
#admin-menu .dropdown li li.expandable:hover {
  background-color: #080808;
  color: #f27134 !important;
  opacity: 1;
}
/* line 33, ../../sass/calacademy/admin-menu.scss */
#admin-menu .dropdown li li.expandable {
  background-color: #000000;
  background-position: right 5px center;
}
/* line 38, ../../sass/calacademy/admin-menu.scss */
#admin-menu .dropdown li li.expandable ul {
  border: 1px solid #323232;
  border-top: none;
  margin: -22px 0 0 225px;
}
/* line 44, ../../sass/calacademy/admin-menu.scss */
#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
  background: #222;
  border: 1px solid #484848;
}
