/*
Error: File to import not found or unreadable: zen.
       Load paths:
         
        on line 6 of zen-float.scss

1: /**
2:  * @file
3:  * Test zen-float()
4:  *\/
5: 
6: @import "zen";
7: 
8: #test-zen-float {
9:   /* Test zen-float() *\/
10:   @include zen-float();
11: 

Backtrace:
zen-float.scss:6
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/import_node.rb:45:in `import'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:295:in `visit_import'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/stack.rb:115:in `with_frame'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/stack.rb:79:in `with_base'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:329:in `watch_or_update'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/exec/base.rb:40:in `parse'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/lib/sass/exec/base.rb:19:in `parse!'
/Users/irinaz/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.2/bin/scss:13:in `<top (required)>'
/Users/irinaz/.rvm/gems/ruby-2.1.2/bin/scss:23:in `load'
/Users/irinaz/.rvm/gems/ruby-2.1.2/bin/scss:23:in `<main>'
/Users/irinaz/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/irinaz/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: zen.\A        Load paths:\A          \A         on line 6 of zen-float.scss\A \A 1: /**\A 2:  * @file\A 3:  * Test zen-float()\A 4:  */\A 5: \A 6: @import \"zen\";\A 7: \A 8: #test-zen-float {\A 9:   /* Test zen-float() */\A 10:   @include zen-float();\A 11: "; }
