@import "global-variables";

/*

main / body backgrounds

*/

.wf-active {
	// top right
	.bg-fish.loaded {
		@include background-image-retina(bg-fish, jpg, 35%, 35%, null, true);
		background-repeat: no-repeat;
		background-position: right 80px;

		@include respond-to(smartphone) {
			#header {
				span {
					width: 75%;
				}
			}
		}
	}

	// top right father down
	.bg-frog.loaded {
		@include background-image-retina(bg-frog, jpg, 50%, 50%, null, true);
		background-repeat: no-repeat;
		background-position: 132% 300px;

		@include respond-to(tablet) {
			background-position: 136% 340px;
		}

		@include respond-to(smartphone) {
			background-image: none !important;
		}
	}

	.bg-fancy-fish.loaded {
		@include background-image-retina(bg-fancy-fish, jpg, 45%, 45%, null, true);
		background-repeat: no-repeat;
		background-position: 120% 150px;

		@include respond-to(tablet) {
			background-position: 120% 350px;
		}

		@include respond-to(smartphone) {
			background-image: none !important;
		}
	}

	// under right rail onload

	.secondary-bg {
		#page {
			background-repeat: no-repeat;

			@include respond-to(smartphone) {
				background-image: none !important;
			}
		}
	}

	.secondary-bg.section-events.loaded {
		@extend .secondary-bg;

		#page {
			@include background-image-retina(bg-frog, jpg, 918px, 1400px);
			@include background-image-retina(bg-frog, jpg, 459px, 600px, tablet);
		}
	}

	.secondary-bg.page-taxonomy-term-544.loaded {
		@extend .secondary-bg;

		#page {
			@include background-image-retina(bg-cuttle, jpg, 459px, 700px);
		}
	}
	.secondary-bg.page-taxonomy-term-545.loaded {
		@extend .secondary-bg;

		#page {
			@include background-image-retina(bg-hedgehog, jpg, 459px, 700px);
		}
	}
	.secondary-bg.page-taxonomy-term-547.loaded {
		@extend .secondary-bg;

		#page {
			@include background-image-retina(bg-starfish, jpg, 459px, 700px);
		}
	}
}
