@import "global-variables";

.item-list {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		position: relative;
		clear: both;
	}
}

// page titles / headers
header,
.page-header,
.page-header .pane-title,
.pane-title,
.creature-description,
#page-title {
	&, .field {
		color: $black;
	}

	h1, h2, p, div {
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}

	h1 {
		line-height: 1;
	}

	h1, h2 {
		font-weight: $semibold;
		font-size: $headerText;

		@include respond-to(smartphone) {
			font-size: $headerTextSmartphone;
		}

		span {
			display: block;
			width: $squareWidth * 3;

			@include respond-to(smartphone) {
				width: 100%;
			}
		}
	}

	.page-node & {
		h1, h2 {
			margin: 0 !important;
		}

		.subhead,
		.subhead .field {
			margin-top: $padding * 2;
			color: $black;
			margin-bottom: $padding / 2;

			font-weight: $semibold;
			font-size: $headerSubheadText;

			@include respond-to(smartphone) {
				font-size: $headerSubheadTextSmartphone;
			}
		}
	}

	p {
		margin-top: 14px;
		color: $text-grey;
		width: ($squareWidth * 3) - $padding;

		font-size: $biggerText;
		line-height: $biggerTextLineHeight;

		@include respond-to(smartphone) {
			font-size: $smartphoneText;
			line-height: $smartphoneLineHeight;
			width: 100%;
		}
	}

	.views-row p {
		font-size: $defaultText;
		line-height: $defaultLineHeight;

		@include respond-to(smartphone) {
			font-size: $smartphoneText;
			line-height: $smartphoneLineHeight;
		}
	}
}

.creature-description {
	p {
		&:last-child {
			margin-top: $padding / 2;
		}

		font-size: $biggerText;
		line-height: $biggerTextLineHeight;

		@include respond-to(smartphone) {
			font-size: $smartphoneText;
			line-height: $smartphoneLineHeight;
		}
	}
}

#header {
	padding-left: 0;
	padding-right: 0;
}

#page-title {
	max-width: $maxWidth;
	margin-left: auto !important;
	margin-right: auto !important;
	line-height: 1em;

	@include respond-to(tablet) {
		padding-left: $padding;
		padding-right: $padding;
	}

	@include respond-to(smartphone) {
		padding-left: $smartphonePadding;
		padding-right: $smartphonePadding;
	}

	#main & {
		@include respond-to(tablet) {
			padding-left: 0;
			padding-right: 0;
		}

		@include respond-to(smartphone) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.creature-description h2,
.page-header .pane-title,
.pane-title {
	font-weight: $medium;
	font-size: 48px;
	line-height: 52px;
	padding: 0;
	margin: 0;
	margin-bottom: $padding;

	@include respond-to(smartphone) {
		font-size: $sectionTitleSmartphone;
		line-height: $sectionTitleSmartphoneLineHeight;
	}
}

// title style for pages with fancy slideshows
.fancy-slideshow {
	#page-title {
		z-index: 1;
		position: relative;

		span {
			color: $white;
			background-color: rgba(0, 0, 0, .7);
			padding: $padding / 2;
			display: inline;
			width: inherit;
			max-width: $squareWidth * 3;
		}
	}
}

// sections
.section {
	&, p {
		color: $text-grey;
	}

	p:last-child {
		margin-bottom: 0;
	}

	border-bottom: 2px solid $line-grey-light;
	margin-bottom: $padding;
	padding-right: $padding * 2;
	padding-bottom: $padding;

	&.column-fields,
	&.image-top,
	&.image-top-three-columns,
	&.image-top-four-columns,
	&.skewed-tri-grid,
	&.skewed-four-col,
	&.tri-col-highlight,
	&.image-top-two-columns {
		padding-right: 0;
	}

	&:last-child {
		border: none;
	}

	@include respond-to(smartphone) {
		padding-right: 0;
		width: 100%;
		overflow: hidden; // "auto" creates a scrollbar??
	}

	h2,
	.field-name-field-subtitle,
	.pane-title {
		color: $black;
		font-size: $largeText;

		line-height: $largeText + 10;
		margin: 0;
		margin-bottom: $padding;
	}

	.pane-title {
		@include respond-to(smartphone) {
			margin-top: $padding;
			margin-bottom: $padding;
			font-size: $sectionTitleSmartphone;
			line-height: $sectionTitleSmartphoneLineHeight;
		}
	}
}

// field collections
.field-type-field-collection {
	.field-name-field-subtitle {
		h2 {
			font-weight: $medium;
			margin: 0;
			font-size: $largeText;
			line-height: $largeText + 10;
		}
	}
}

// testimonials
.testimonial,
.view-testimonials-related,
.view-testimonials-related .views-row {
	&, .views-field {
		font-weight: $light;
		color: $light-blue;
		font-size: $largeText;
		line-height: $largeTextLineHeight;

		@include respond-to(smartphone) {
			position: relative;
			top: inherit;
			float: none;
		}
	}

	p,
	.views-field-field-testimonial-summary .field-content {
		margin: 0;
		padding: 0;

		&:before {
			content: open-quote;
		}
		&:after {
			content: close-quote;
		}
	}

	.views-field-field-reviewer-name {
		.name,
		.source {
			margin: 0;
			padding: 0;
			font-weight: $light;
			font-size: $defaultText;
			line-height: $defaultText;
		}

		.name {
			font-size: $smartphoneText;
			line-height: $smartphoneText;
			margin-bottom: 5px;
		}

		.source {
			color: $text-grey;
		}

		margin-top: $padding;

		$iconSize: 40px;
		padding-left: $iconSize + 10;
		min-height: $iconSize;
		background-repeat: no-repeat;

		@include background-image-retina(testimonial-icons/default, png, $iconSize, $iconSize);

		&.source-twitter {
			@include background-image-retina(testimonial-icons/twitter, png, $iconSize, $iconSize);
		}

		&.source-facebook {
			@include background-image-retina(testimonial-icons/facebook, png, $iconSize, $iconSize);
		}
	}
}

// views pagination
@include pagination('.item-list .pager', '.pager-item', '.pager-current');

.item-list {
	.pager {
		.ajax-progress,
		.pager-first,
		.pager-last,
		.pager-ellipsis {
			display: none;
		}

		.pager-next,
		.pager-previous {
			font-weight: $semibold;
		}
	}
}

// Explore Science categories
// (little blue boxes with arrows)
.es-categories {
	.views-row {
		& > a {
			margin: 0 !important;
			position: absolute;
			z-index: 100;

			display: block;
			top: $padding / 2;
			left: $padding / 2;

			@include box-sizing(border-box);
			width: 100px;
			height: 100px;
			padding: $padding / 2;

			font-size: $slightlyLargerText;
			font-weight: $book;
			font-style: italic;
			color: $white;
			background-color: $esBlue;

			@include background-image-retina(arrow, png, 15px, 15px);
			background-repeat: no-repeat;
			background-position: 10px 70px;
		}
	}

	@include respond-to(smartphone) {
		.view-content {
			.views-row {
				display: block;
				width: 100% !important;
				padding: 0 !important;
				margin-right: 0 !important;

				// hide the body on smartphones
				.views-field-body {
					display: none;
				}

				.views-field-field-hero-region,
				.views-field-field-image-primary,
				.views-field-field-primary-image {
					.field-content {
						width: 50%;
						overflow: hidden;
					}

					margin-bottom: $smartphonePadding;
					background-color: $esBlue;

					// arrows only show on calc capable browsers
					.csscalc & {
						$arrowSize: 15px;
						@include background-image-retina(arrow, png, $arrowSize, $arrowSize);
						background-repeat: no-repeat;

						$left: $smartphonePadding + ($arrowSize / 2);
						background-position: calc(50% + #{$left}) calc(100% - #{$smartphonePadding});
					}

					// @see http://caniuse.com/calc
					.csscalc.lt-ie10 & {
						background-image: none !important;
						background-position: 0 0 !important;
					}
				}

				& > a {
					@include box-sizing(border-box);
					top: 0;
					width: 50%;
					left: 50%;
					height: 85%;

					.csscalc & {
						height: calc(100% - #{$padding * 2});
					}

					// arrow now handled by image field
					background-image: none !important;
					background-color: transparent;

					padding: $smartphonePadding;
					font-weight: $medium;
					font-size: $slightlyLargerHeaderText;
					line-height: $slightlyLargerHeaderTextLineHeight;
				}
			}
		}

		// complex selector because of nested rows
		& > .view > .view-content > .views-row {
			margin-bottom: $padding * 1.5 !important;
		}
	}
}

// standard hero image
.view-display-id-standard_hero_image_pane {
	position: relative !important;

	.views-row {
		.views-field {
			.image-field-caption,
			&.views-field-caption {
				@include slideshow-caption;
			}
		}
	}
}

// CTA Buttons (field collection)
.pane-node-field-cta-buttons {
	border-bottom: 2px solid $line-grey-light;
	padding-top: $padding;
	padding-bottom: $padding;

	& > .field > .field-items > .field-item {
		margin: 0;
	}

	.field-type-field-collection {
		.content {
			.field {
				margin: 0 !important;
				margin-bottom: $padding !important;

				@include box-sizing(border-box);
				width: percentage(1 / 3);
				padding-right: $padding / 2 !important;

				&:last-child,
				&.field-name-field-body {
					margin-bottom: 0 !important;
				}

				&.field-name-field-body {
					float: right;
					width: percentage(2 / 3);
					padding-right: 0 !important;
					padding-left: $padding / 2;
				}

				&.field-name-field-cta-link {
					.field-item {
						@include cta-button;

						a {
							margin: 0;
						}
					}
				}

				@include respond-to(smartphone) {
					&,
					&.field-name-field-body,
					&.field-name-field-cta-link {
						width: 100%;
						float: none;
						padding-right: 0 !important;
						padding-left: 0;
					}

					&.field-name-field-cta-link {
						margin-top: $padding !important;
					}
				}
			}
		}
	}
}

.zoom-lens {
	// disable js events
	pointer-events: none;

	// put it on top of everything
	z-index: 101010101010;

	// style
	background-color: $white;
	@include single-box-shadow(rgba(0, 0, 0, .1), -3px, 5px, 5px);

	// animation
	@include transition(
		transform 0.3s ease,
		opacity 0.15s ease
	);

	&.zoom-lens-show {
		@include opacity(1);
		@include transform(scale(1));
	}

	&.zoom-lens-hide {
		@include transition(
			transform 0.2s ease,
			opacity 0.1s ease
		);

		@include opacity(0);
		@include transform(scale(0));
	}
}

.zoom-wrapper {
	cursor: none;

	&, * {
		-webkit-touch-callout: none;
		@include user-select(none);
	}
}
