@import "global-variables";

.custom-translate-modal {
	position: absolute;
	z-index: 9999999999999;
	
	top: 50%;
	left: 50%;
	@include transform(translate3d(-50%, -50%, 0));
	
	width: 50%;
	padding: $padding;
	padding-bottom: $padding * 2;
	padding-top: $padding * 2;
	background-color: $white;
	@include single-box-shadow(rgba(0, 0, 0, .35), 0, 0, $padding * 2);

	h2 {
		padding: 0;
		margin: 0;
		margin-bottom: $padding;
		font-weight: $book;
		font-size: 2.3em;
		line-height: 1;
	}

	ul {
		margin: 0;
		margin-left: $padding * 2;
		padding: 0;

		li {
			float: left;
			width: 23%;
			margin: 0;
			padding: 0;
			list-style: none;
			padding-right: $padding / 2;

			a {
				font-size: 16px;
				display: block;
				width: 100%;
				padding: 3px;
			}

			&.selected {
				a {
					background-color: $text-link;
					color: $white;
					pointer-events: none;
				}
			}
		}
	}
}
