@import "global-variables";

.gigamacro-index {
	* {
		-webkit-touch-callout: none;
		@include user-select(none);
		cursor: default;
	}

	$easing: cubic-bezier(.215,.61,.355,1);

	#top-level-nav-wrapper,
	#page-title,
	#footer,
	header,
	nav {
		display: none;
	}

	#index-container {
		background-color: #e5f4f9;
		margin-left: auto;
		margin-right: auto;
		width: 1920px;
		height: 1080px;
		overflow: hidden;

		h1 {
			position: absolute;
			margin: 0;
			padding: 0;
			font-weight: $light;
			font-style: italic;

			margin: 110px;
			width: 350px;
			font-size: 53px;
			line-height: 60px;
			letter-spacing: -1px;
			color: $gigamacro-blue;
		}

		#gigamacro-menu {
			padding: 0;

			li {
				float: left;
				position: relative;
				width: 360px;
				height: 500px;
				margin: 0;
				padding: 0;
				list-style: none;
				// background-color: rgba(#000, .1);

				.circle,
				.name_container {
					@include hand-cursor;
				}

				img,
				.circle {
					@include transition(
						transform .5s $easing,
						border-color .3s $easing
					);
				}

				&.over {
					img {
						@include transform(scale(1.15));
					}

					.circle {
						@include transform(scale(1.1));
						border-color: $gigamacro-blue;
					}
				}

				img {
					pointer-events: none;
					max-width: inherit;
					position: relative;
					width: 360px;
					z-index: 3;
				}

				.circle {
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					
					@include box-sizing(border-box);
					background-color: $white;
					border: 8px solid #ebebeb;
					
					width: 360px;
					height: 360px;
					@include border-radius(180px);
				}

				.name_container {
					z-index: 1;
					position: relative;
					display: inline-block;

					svg, .common_name {
						float: left;
					}

					svg {
						@include calacademy-transform-origin(center, center);
						@include transform(rotate(-90deg));
						
						width: 28px;
						height: 28px;
					}

					div {
						margin-left: 10px;
						margin-top: 3px;
						font-weight: $medium;
						color: $gigamacro-blue;
						font-size: 20px;
					}
				}

				/* medium */
				&.urchin-grid,
				&.scarab-beetle,
				&.weevils {
					img {
						margin-left: 5px;
						margin-top: 5px;
						width: 275px;
					}

					.circle {
						width: 276px;
						height: 276px;
						@include border-radius(138px);	
					}
				}

				/* small */
				&.spur-flower,
				&.shell-grid,
				&.damselfly,
				&.egg-grid,
				&.grasshopper,
				&.sunset-moth {
					img {
						margin-left: -20px;
						margin-top: -25px;
						width: 240px;
					}

					.circle {
						width: 190px;
						height: 190px;
						@include border-radius(95px);	
					}
				}

				/* custom overrides */
				&.comet-moth {
					img {
						width: 500px;
						margin-left: -65px;
						margin-top: -50px;
					}

					svg {
						@include transform(rotate(90deg));
					}
				}
				&.damselfly {
					img {
						margin-left: -40px;
						margin-top: -40px;
						width: 280px;
					}
				}
				&.feather-grid {
					img {
						width: 420px;
						margin-left: -25px;
						margin-top: -32px;
					}

					svg {
						@include transform(rotate(90deg));
					}
				}
				&.glory-bush {
					img {
						width: 580px;
						margin-left: -160px;
						margin-top: -80px;
					}
				}
				&.grasshopper {
					img {
						margin-left: -10px;
						margin-top: -10px;
						width: 210px;
					}
				}
				&.shell-grid {
					img {
						margin-top: -10px;
						width: 230px;
					}

					svg {
						@include transform(rotate(0));
					}

					svg, .common_name {
						float: right;
					}

					.common_name {
						margin-left: 0;
						margin-right: 10px;
					}
				}
				&.spur-flower {
					img {
						margin-left: -50px;
						margin-top: -60px;
						width: 300px;
					}
				}
				&.urchin-grid {
					img {
						margin-left: -35px;
						margin-top: -35px;
						width: 350px;
					}

					svg {
						@include transform(rotate(-45deg));
					}
				}
				&.weevils {
					img {
						margin-left: 0;
						margin-top: 0;
					}
				}
			}
		}		
	}
}
