@import "global-variables";
@import "compass/css3/opacity";
@import "compass/css3/user-interface";

body {
	// hide doc until webfonts loaded
	.js & {
		@include transparent;
	}

	.js.wf-active &,
	.debug &,
	&.imce {
		@include opaque;
		filter: none !important;
	}

	// hide error messages for users that aren't logged in.
	// errors should not be displayed on prod, so this is for dev only.
	&.not-logged-in {
		.messages--error {
			display: none;
		}
	}

	// hide skip link. don't use display: none; or screen readers
	// won't be able to use.
	#skip-link {
		height: 0;
		overflow: hidden;
	}

	.unsupported-msg {
		padding: $padding / 2;
		color: $international-orange;
		font-weight: $semibold;

		p {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		font-size: $defaultText;
		line-height: $defaultLineHeight;

		@include respond-to(smartphone) {
			font-size: $smartphoneText;
			line-height: $smartphoneLineHeight;
		}
	}

	// hide call center link when closed
	.call-center-link {
		.call-center-closed & {
			display: none;
		}
	}

	&, input {
		font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
	}

	.link-block {
 		display: block;
	}

	.monospace {
		font-family: monospace !important;
	}

	.font-load-test {
		font-family: 'Whitney A', 'Whitney B', monospace;
		font-size: 250px;
		position: absolute;
		visibility: hidden;
		top: -9999px;
		left: -9999px;
		display: inline;
		top: 100px;
	}

	margin: 0;
	padding: 0;
	font-weight: $book;
	background-color: $white;
	color: $black;

  	// smooth out webfonts in chrome
  	// -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);

	// remove some default browser stuff
	*, *:focus {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		outline: none !important;
	}

	font-size: $defaultText;
	line-height: $defaultLineHeight;

	@include respond-to(smartphone) {
		font-size: $smartphoneText;
		line-height: $smartphoneLineHeight;
	}

	p, ul, ol {
		margin: 0;
		margin-bottom: $padding;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		padding-left: $padding;
		overflow: hidden;
		zoom: 1;
	}

	// hide alt text
	img {
		color: rgba(255, 255, 255, 0);
	}

	#admin-menu-wrapper {
		ul, ol {
			overflow: visible;
		}
	}

	.field {
		color: $body-copy;
	}

	a {
		color: $text-link;
		text-decoration: none;

		&.lozenge {
			display: block;
			@include border-radius(8px);
			background-color: $international-orange;
			padding: 8px;
			padding-left: 12px;
			padding-right: 12px;
			color: $white;
			font-size: 120%;

			@include background-image-retina(arrow, png, 15px, 15px);
			background-repeat: no-repeat;
			background-position: 94% center;
		}
	}

	.no-touch & a:hover,
	.touch & a:active {
		@include opacity(0.6);
	}

	// IE8 opacity cleartype antialiasing bug
	.no-touch.lt-ie9 & a:hover,
	.touch.lt-ie9 & a:active {
		@include opacity(1);

		img {
			@include opacity(0.6);
		}
	}

	strong {
		font-weight: $semibold;
	}

	#page,
	.region-bottom {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	#header {
		padding-top: $padding + $topLevelNavHeight;

		@include respond-to(smartphone) {
			padding-top: $smartphonePadding + $topLevelNavHeight;
		}
	}

	#main {
		z-index: 1;
		position: static;
		min-height: 150px;
	}

	#content {
		word-wrap: normal;

		margin-left: auto;
		margin-right: auto;
		padding: 0;

		padding-left: 0;
		padding-right: 0;
		max-width: $maxWidth;

		@include respond-to(tablet) {
			max-width: 100%;
			padding-left: $padding;
			padding-right: $padding;
		}

		@include respond-to(smartphone) {
			max-width: 100%;
			padding-left: $smartphonePadding;
			padding-right: $smartphonePadding;
		}
	}

	.subhead {
		@include subhead;
	}

	iframe.imce-frame {
		min-height: 1200px !important;
	}

	&.imce {
		#op-content-upload {
			.form-item-thumbnails {
				display: none;
			}
		}
	}

	.link-feed {
		@include box-sizing(border-box);
		font-size: 17px;
		font-weight: $semibold;

		@include background-image-retina('rss-icon', png, 20px, 20px);
		background-repeat: no-repeat;
		background-position: left center;

		// padding-top: 3px;
		padding-left: 25px;

		@include respond-to(smartphone) {
			font-size: $smartphoneText;
			line-height: $smartphoneLineHeight;
		}
	}

	// fix an issue with the Contextual module's css messing
	// up midfeature slideshow styles
	.contextual-links-region {
		position: static;
	}
}

@include selection {
	background: $yellow;
}

.not-logged-in {
	.tabs,
	.element-invisible {
		display: none;
	}
}
