@import "global-variables";

.pane-hero-media-standard-hero-image-pane,
.pane-hero-media-revision-standard-hero-image-pane,
.pane-hero-media-large-hero-image-pane,
.pane-hero-media-revision-large-hero-image-pane,
.pane-slideshows-large-hero-image-pane,
.pane-slideshows-standard-hero-image-pane {
	.views-row {
		.views-field-field-image-primary-large,
		.views-field-field-image-primary {
			.field-content {
				line-height: 0;
			}

			&, img {
				margin: 0;
				width: 100%;
				max-width: none;
				height: auto;
			}
		}
	}
}

.pane-hero-media-large-hero-image-pane,
.pane-hero-media-revision-large-hero-image-pane {
	.views-field {
		margin: 0 !important;
	}

	&, * {
		line-height: 0 !important;
	}
}
