@import "global-variables";

.clear-floats {
	width: 100%;
	overflow: hidden;
}

#top-level-nav-wrapper,
nav {
	width: 100%;
	margin: 0;
	padding: 0;

	@media print {
		display: none;
	}
}

#top-level-nav-wrapper {
	position: relative;

	.csspositionsticky .page-homepage & {
		@include position-sticky(0);
	}

	.csspositionsticky.fixfixed .page-homepage & {
		position: absolute;
	}

	z-index: 998;

	$magnifyingGlassWidth: 15px;

	@extend .clear-floats;
	@include box-sizing(border-box);
	background-color: $nav-bar-grey;

	#top-level-nav {
		@extend .clear-floats;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: $maxWidth;

		@include respond-to(tablet) {
			max-width: inherit;
			@include box-sizing(border-box);
			padding-left: $padding;

			.search-open & {
				#block-menu-menu-top-level,
				#block-menu-menu-menu-top-level {
					display: none;
				}
			}
		}

		.region-header {
			// reset some stuff
			* {
				margin: 0;
				padding: 0;
				list-style: none;
				@include appearance(none);
			}

			#block-menu-menu-top-level,
			#block-menu-menu-menu-top-level,
			#block-menu-menu-menu-menu-top-level,
			#block-search-form,
			.block-search-form {
				float: right;
			}

			.pad-me {
				@include box-sizing(border-box);
				padding: $topLevelNavPadding;
				padding-top: $topLevelNavPadding - 2;
				padding-bottom: 0;
			}

			.subsection-titles,
			#block-menu-menu-top-level,
			#block-menu-menu-menu-top-level,
			#block-menu-menu-menu-menu-top-level {
				font-size: $defaultText;
				line-height: $defaultText;

				@include respond-to(smartphone) {
					font-size: $defaultText;
					line-height: $defaultText;
				}

				ul {
					@extend .clear-floats;

					li {
						float: left;
						border-left: 1px solid $transparent-white;

						a {
							@extend .pad-me;
							display: block;
							height: $topLevelNavHeight;
							color: $white;
						}
					}

					li:last-child {
						border-right: 1px solid $transparent-white;
					}
				}
			}

			.subsection-titles {
				float: left;
				padding-left: 3px;
				font-size: $slightlyLargerText;

				// override per section
				&, ul li {
					display: none;
				}

				ul {
					li,
					li:last-child {
						border: 0;

						a {
							padding-left: 0;
							padding-right: 0;
						}
					}
				}
			}

			#block-search-form,
			.block-search-form {
				padding-left: 0;
				padding-right: 0;

				label {
					display: none;
				}

				* {
					float: left;
				}

				.form-type-textfield {
					@extend .pad-me;
					padding-top: $topLevelNavPadding - 5;
					padding-right: 0;

					.js & {
						display: none;
					}

					.js.search-open & {
						display: block;
					}

					input {
						@include box-sizing(border-box);
						@include border-radius(4px);

						font-size: $smallText;
						color: $nav-bar-grey;
						border: 0;
						padding: 3px;
						padding-left: 6px;
						padding-right: 6px;
						width: 116px;
					}
				}

				.form-submit {
					@include hide-text-calacademy;
					@include border-radius(0);
					background: none;
					border: none;

					width: $magnifyingGlassWidth + ($topLevelNavPadding * 2);
					height: $topLevelNavHeight;
					@include background-image-retina(magnifying-glass, png, $magnifyingGlassWidth, $magnifyingGlassWidth);
					background-repeat: no-repeat;
					background-position: $topLevelNavPadding ($topLevelNavPadding - 2);
				}
			}
		}

		@include respond-to(smartphone) {
			.region-header {
				.subsection-titles {
					display: none !important;
				}

				display: block;
				float: none;

				#block-menu-menu-top-level,
				#block-menu-menu-menu-top-level,
				#block-menu-menu-menu-menu-top-level {
					float: left;

					ul {
						li:first-child {
							border-left: 0;
						}
						li:last-child {
							border-right: 0;
						}
					}
				}

				#block-search-form,
				.block-search-form {
					float: right;

					// some extra space for the search field
					.js & {
						padding-bottom: 0;
					}

					&,
					.js.search-open & {
						padding-bottom: 90px;
					}

					* {
						display: block;
						float: none;
					}

					.form-actions {
						float: right;
						border-left: 1px solid $transparent-white;

						.form-submit {
							// widen the submit button a bit
							width: $magnifyingGlassWidth + ($topLevelNavPadding * 3);
							background-position: ($topLevelNavPadding * 1.5) ($topLevelNavPadding - 2);

							// highlight when open
							.search-open & {
								background-color: rgba(255, 255, 255, 0.05);
							}
						}
					}

					// shove the search field below everything
					// and bump up its dimensions
					.form-type-textfield {
						position: absolute;
						top: $topLevelNavHeight;
						left: 0;
						width: 100%;
						border-top: 1px solid $transparent-white;

						padding-top: $topLevelNavPadding * 2;
						padding-right: $topLevelNavPadding;

						input {
							width: 100%;
							font-size: $defaultText;
							padding: $topLevelNavPadding;
						}
					}
				}
			}
		}
	}
}

nav {
	.csspositionsticky & {
		@include position-sticky(0);
	}

	.csspositionsticky.fixfixed & {
		position: absolute;
	}

	z-index: 999;

	#nav-wrapper {
		// overriding global vars
		$squareWidth: 180px;

		// reset some stuff
		.block,
		.tb-block,
		.views-field,
		.mega-inner {
			margin: 0;
			padding: 0;
		}

		/*
		&:after {
			position: relative;
			content: "";
			height: 0;
			margin-top: -($padding * 2) + 3px;
			border-top: 1px solid rgba(255, 255, 255, 0.05);
			display: block;
			z-index: 9999999;
		}
		*/

		border-bottom: $nav-border;
		padding: 0;

		margin: 0;
		margin-left: auto;
		margin-right: auto;

		@include respond-to(smartphone) {
			height: $smartphoneNavHeight; // switching to "auto" pushes down page content
		}

		&, * {
			color: $white;
			background-color: $international-orange;
			background-image: none;
			filter: none;
		}

		// can't figure out how to disable this in drupal :sad face:
		.block-shortcut {
			display: none;
		}

		#main-nav {
			margin-left: auto;
			margin-right: auto;
			max-width: $maxWidth;

			@include respond-to(tablet) {
				max-width: inherit;
				padding-left: $padding;
				padding-right: $padding;
			}

			&, a {
				background-color: transparent;
				font-weight: $book;

				// make helvetica a bit smaller so the nav doesn't wrap
				// in case whitney fails to load
				@mixin smaller-nav-text {
					font-size: $largeText - 2;

					@include respond-to(smartphone) {
						font-size: $smartphoneText - 2;
					}

					@include respond-to(tablet) {
						font-size: $tabletNavText - 2;
					}
				}

				@include smaller-nav-text;

				.wf-active & {
					font-size: $largeText;

					@include respond-to(smartphone) {
						font-size: $smartphoneText;
					}

					@include respond-to(tablet) {
						font-size: $tabletNavText;
					}
				}

				.wf-active.wf-error & {
					@include smaller-nav-text;
				}
			}

			// smartphone logo
			// @todo
			// block ids generated by drupal don't match across environments
			& > a,
			#block-block-2 a,
			#block-block-3 a {
				display: none;

				@include respond-to(smartphone) {
					display: block;

					$logoWidth: 93px;
					$logoHeight: 36px;

					width: $logoWidth + ($smartphonePadding * 2);
					height: $logoHeight + ($smartphonePadding * 2);

					position: absolute;
					z-index: 2;
					@include hide-text-calacademy;

					// remove hover state
					.no-touch &:hover,
					.touch &:active {
						@include opacity(1);
					}

					// disable on homepage
					.page-homepage & {
						@include disable-link;
					}

					@include background-image-retina(logo-horiz-small, png, $logoWidth, $logoHeight);
					background-repeat: no-repeat;
					background-position: $smartphonePadding ($smartphonePadding - 1px);
				}
			}

			.tb-megamenu  {
				.nav-collapse {
					-webkit-transform: none !important; // the base megamenu styles mess up iOS
					position: relative;
					top: 0;
				}
			}

			// add a border to fill color gap (controlled via JS)
			.level-0 {
				@include box-sizing(border-box);
				background: none;

				&.last-over {
					@include background-image(linear-gradient(to left, $dark-orange 400px, transparent 401px));

					@include respond-to(smartphone) {
						@include background-image(none);
					}
				}
			}

			.row-fluid {
				border: 0;
				padding: 0;
			}

			// top level
			.level-0 > li > a {
				@include background-image-retina(arrow, png, 15px, 15px);
				background-repeat: no-repeat;
				background-position: $padding 55px;

				height: 52px;
				line-height: 1em;
				border: 0;
				border-right: $nav-border;

				padding: $padding;
				padding-right: 50px;

				.caret {
					display: none;
				}

				@include respond-to(tablet) {
					padding-left: 16px;
					padding-right: 16px;
					background-position: 16px 55px;
				}

				@include respond-to(smartphone) {
					padding: 0;
					padding-left: $smartphonePadding;
					padding-top: $padding;
					padding-bottom: $padding;
					border-top: $nav-border;

					background-image: none;
					color: $black;
					font-weight: $semibold;
					height: 0px;

					.smartphone-nav-open & {
						height: auto;
					}
				}
			}

			.page-homepage & .level-0 > li:first-child > a {
				border-right: 0;
			}

			.level-0 > li > a,
			.no-touch & .level-0 > li > a:hover,
			.touch & .level-0 > li > a:active {
				@include opacity(1);
			}

			// logo
			.level-0 > li:first-child {
				&, & > a {
					background-color: transparent;
				}
			}

			.level-0 > li:first-child {
				$logoWidth: 150px;

				width: $logoWidth + $padding;
				height: 10px;
				display: block;

				& > a {
					@include hide-text-calacademy;

					position: absolute;
					z-index: 2;

					border-right: 0;
					padding-right: $padding;
					width: $logoWidth - $padding;
					height: 130px;

					background-position: 0 ($padding - 5px);
					background-repeat: no-repeat;

					.page-homepage & {
						// disable link on homepage
						@include disable-link;
					}

					@include respond-to(smartphone) {
						display: none;
					}
				}
			}

			// last element
			.level-0 > li:last-child > a {
				border-right: none;
				overflow: hidden;
			}

			// homepage (no rollover)
			.page-homepage & .level-0 > li.active > a {
				background-color: inherit;
			}

			// rollover
			.level-0 > li.open > a,
			.level-0 > li.active > a,
			.page-homepage & .level-0 > li.open > a {
				background-color: $dark-orange;

				@include respond-to(smartphone) {
					background-color: inherit;
				}
			}

			// logo
			.level-0 > li.open:first-child > a {
				background-color: inherit;
			}

			// dropdown
			li {
				// lets us absolutely position the dropdown
				position: static;

				.dropdown-menu {
					position: absolute;
					top: $navHeight;

					@include box-shadow(none);
					@include box-sizing(border-box);
					width: 100%;
					border: none;
					border-top: $nav-border;

					@include respond-to(smartphone) {
						position: relative;
						top: 0;
						border-top: none;
					}

					&, * {
						background-color: $dark-orange;

						@include respond-to(smartphone) {
							background-color: inherit;
						}
					}

					padding: $padding;
					padding-bottom: $padding * 5;

					@include respond-to(tablet) {
						padding-bottom: $padding * 2;
					}

					@include respond-to(smartphone) {
						padding: $smartphonePadding;
						padding-bottom: $smartphonePadding * 2;
						padding-top: 0;
					}

					// subnav
					.mega-nav li {
						a {
							border: 0;
							outline: none;
							line-height: 120%;

							margin: 0;
							padding: 0;
							padding-bottom: 5px;

							&:after {
								content: "\203A";
							}
						}

						&:last-child {
							a {
								margin-bottom: 0;
							}
						}

						&.nav-section-break {
							margin-top: $padding;
						}
					}

					// featured content
					.tb-megamenu-column {
						@include box-sizing(border-box);
						width: 35%;
						margin: 0;
						float: left;

						blockquote {
							display: none;
						}

						* {
							white-space: normal;
						}

						@include respond-to(smartphone) {
							width: 100%;
							float: none;

							&.featured {
								display: none;
							}
						}

						&.featured {
							padding-right: 0;
							width: 65%;
							float: right;

							* {
								margin: 0;
								padding: 0;
							}

							.featured-item {
								float: right;
								margin-right: $padding;

								&:first-child {
									margin-right: 0;
								}

								width: $squareWidth;

								@include respond-to(tablet) {
									width: 22%;
								}

								.image-container {
									margin-bottom: $padding / 2;
									@include play-button(2);

									@include zoom-image(false);
								}

								.title,
								.title span,
								.subtitle {
									line-height: 20px;
									font-size: $slightlyLargerText;
									font-weight: $semibold;
									background-color: transparent;
								}

								.title {
									display: block;

									span {
										display: inline;
										font-weight: $medium;
										@include arrow('arrow');
									}
								}

								.subtitle {
									color: $black;
								}
							}
						}
					}
				}
			}
		}
	}
}

/**
* Logo swapping on homepage
*
*/
@mixin logo-horiz {
	@include background-image-retina(logo-horiz, png, 150px, 58px);
	height: 52px;
}

nav {
	#nav-wrapper {
		#main-nav {
			.level-0 > li:first-child > a {
				@include logo-horiz;

				.logo-swap .page-homepage & {
					@include background-image-retina(logo-vert-nav, png, 76px, 130px);
					height: 130px;
				}
			}
		}
	}
}

nav.scroll-to-fixed-fixed {
	#nav-wrapper {
		#main-nav {
			.level-0 > li:first-child > a {
				.page-homepage & {
					@include logo-horiz;
				}
			}
		}
	}
}

@include respond-to(smartphone) {
	body {
		nav {
			&, * {
				-webkit-touch-callout: none;
				@include user-select(none);
			}

			#nav-wrapper {
				// hamburger open
				button {
					@include box-sizing(border-box);
					float: right;
					margin: 0;
					border: 0;
					height: $smartphoneNavHeight;
					padding-left: 20px;
					padding-right: 20px;
					overflow: hidden;

					&, i {
						@include box-shadow(none);
						@include text-shadow(none);
						@include border-radius(0);
						line-height: 0;
					}

					i {
						@include hide-text-calacademy;
						@include background-image-retina(button-hamburger, png, 20px, 40px);
						background-repeat: no-repeat;
						background-position: 0 0;
						width: 20px;
						height: 20px;
						margin: 0;
						padding: 0;
						margin-top: 3px;
					}
				}
			}
		}

		// .smartphone-nav-open gets added to html tag via custom js
		.smartphone-nav-open & {
			overflow: hidden !important;

			nav {
				height: 100%;
				background-color: $international-orange;

				#nav-wrapper {
					// hamburger close
					button {
						i {
							background-position: 0 -20px;
						}
					}

					.tb-megamenu-nav {
						border-top: $nav-border;
						-webkit-overflow-scrolling: touch;
						overflow-y: scroll;
					}
				}
			}
		}
	}
}
