@import "global-variables";

.node-type-content-page {
	#content {
		padding-top: $padding + $topLevelNavHeight;

		@include respond-to(smartphone) {
			padding-top: $smartphonePadding + $topLevelNavHeight;
		}

		.panel-col-first {
			@include box-sizing(border-box);
			padding-right: $padding;
			width: 75%;

			@include respond-to(smartphone) {
				padding-right: 0;
				width: 100%;
			}

			.panel-pane {
				margin-bottom: $padding;
			}

			.pane-mixed-content-related-new-tagged-content-pane {
				margin-bottom: $padding * 3;
			}

			.pane-title,
			.pane-node-field-tertiary-subhead {
				&, * {
					color: $black;
					font-weight: $medium;
					font-size: $headerTextReduced;
					line-height: $headerTextReducedLineHeight;

					@include respond-to(smartphone) {
						font-size: $sectionTitleSmartphone;
						line-height: $sectionTitleSmartphoneLineHeight;
					}
				}
			}

			.pane-node-body {
				border-top: 2px solid $line-grey-light;
				border-bottom: 2px solid $line-grey-light;
				padding-top: $padding;
				padding-bottom: $padding;

				font-size: $biggerText;
				line-height: $biggerTextLineHeight;

				@include respond-to(smartphone) {
					font-size: $smartphoneText;
					line-height: $smartphoneLineHeight;	
				}
			}

			.field-name-field-cta-link {
				.field-item {
					margin-top: $padding;

					&:first-child {
						margin-top: 0;
					}

					a {
						font-size: 17px;
						font-weight: $semibold;
						@include arrow(arrow-blue);

						@include respond-to(smartphone) {
							font-size: $smartphoneText;
							line-height: $smartphoneLineHeight;
							margin-bottom: $smartphonePadding;
						}
					}	
				}
			}

			.pane-testimonials-related {
				padding-top: $padding;
				padding-bottom: $padding;

				.view-testimonials-related {
					.views-row {
						.views-field {
							color: $green;
						}
					}	
				}
			}
		}

		// stopgap?
		.right-rail {
			.panel-pane {
				padding-bottom: $padding;
			}
		}
	}
}
