@import "global-variables";

.node-type-press-release {
	#page-title {
		font-weight: $medium;

		span {
			width: 100%;
			font-size: $headerTextReduced;
			line-height: $headerTextReducedLineHeight;
		}
	}

	#content {
		.panel-col-top {
			margin-bottom: $padding;

			.pane-title {
				font-weight: $semibold;
			}

			.pane-node-field-subtitle {
				margin-top: $padding / 2;

				h2 {
					font-weight: $medium;
					font-size: $largeText;
					line-height: $largeTextLineHeight;
				}
			}
		}

		.panel-col-first {
			@include box-sizing(border-box);
			padding-right: $padding;
			width: 75%;

			@include respond-to(smartphone) {
				padding-right: 0;
				width: 100%;
			}

			.panel-pane {
				margin-bottom: $padding;
			}

			.pane-node-body {
				padding-bottom: $padding;
				font-size: $biggerText;
				line-height: $biggerTextLineHeight;

				@include respond-to(smartphone) {
					font-size: $smartphoneText;
					line-height: $smartphoneLineHeight;
				}
			}
		}

		// stopgap?
		.right-rail {
			.panel-pane {
				padding-bottom: $padding;
			}
		}
	}
}
