@import "global-variables";

.node-type-press-release {
	#content {
		padding-top: $padding + $topLevelNavHeight;

		@include respond-to(smartphone) {
			padding-top: $smartphonePadding + $topLevelNavHeight;
		}

		.panel-col-top {
			margin-bottom: $padding;
			
			.pane-title {
				font-weight: $semibold;
			}

			.pane-node-title {
				margin-top: $padding;

				h2 {
					font-weight: $medium;
					font-size: $headerTextReduced;
					line-height: $headerTextReducedLineHeight;

					@include respond-to(smartphone) {
						font-size: $headerTextSmartphone;
						line-height: $headerTextSmartphoneLineHeight;
					}
				}
			}

			.pane-node-field-subtitle {
				margin-top: $padding / 2;
				@include subhead(false);
			}
		}

		.panel-col-first {
			@include box-sizing(border-box);
			padding-right: $padding;
			width: 75%;

			@include respond-to(smartphone) {
				padding-right: 0;
				width: 100%;
			}

			.panel-pane {
				margin-bottom: $padding;
			}

			.pane-node-body {
				padding-bottom: $padding;
				font-size: $biggerText;
				line-height: $biggerTextLineHeight;

				@include respond-to(smartphone) {
					font-size: $smartphoneText;
					line-height: $smartphoneLineHeight;	
				}
			}
		}

		// stopgap?
		.right-rail {
			.panel-pane {
				padding-bottom: $padding;
			}
		}
	}
}
