@import "global-variables";

@include keyframes(border-highlight) {
	0% {
		border-color: $gigamacro-border-color;
		// border-width: 1px;
	}
	50% {
		border-color: $text-link;
		// border-width: 8px;
	}
	100% {
		border-color: $gigamacro-border-color;
		// border-width: 1px;
	}
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	position: relative;
}

.node-type-gigamacro-specimen {
	$easing: cubic-bezier(.215,.61,.355,1);

	background-repeat: no-repeat;
	background-position: center center;
	@include background-image-retina(loader/50, gif, 50px, 50px);

	#top-level-nav-wrapper,
	header,
	.tabs,
	footer,
	.leaflet-control-attribution,
	#content > article,
	#content > #main-content {
		display: none;
	}

	#content {
		padding: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		max-width: inherit;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    top: $navHeight;

	    @include respond-to(smartphone) {
	    	top: $smartphoneNavHeight;
	    }

	    #legend {
	    	@include border-top-right-radius(125px);
	    	@include border-bottom-left-radius(125px);
	    	padding-bottom: 80px;

	    	position: absolute;
	    	width: 300px;
	    	z-index: 2;
	    	background-color: rgba(#f9f9f9, .9);
	    	border: 1px solid $gigamacro-border-color;
	    	left: $padding;

	    	h1, h2, div {
	    		margin: 0;
	    		margin-left: $padding;
	    		margin-right: $padding;
	    	}

	    	.return {
	    		margin: 0;
	    		// border-bottom: 2px solid $gigamacro-border-color;
	    		// margin-bottom: $padding;
	    		padding: $padding;

	    		a {
	    			font-size: 1.2em;
	    			font-weight: $semibold;

	    			@include arrow(arrow-blue-left, false, false, true);
	    		}
	    	}

	    	& > *:empty,
	    	.commenter *:empty,
	    	.pin_stuff {
	    		display: none;
	    	} 

	    	&.pin-details {
	    		&.highlight {
	    			@include animation(border-highlight 1s);
	    		}

	    		.pin_stuff {
	    			display: block;

	    			&:empty,
	    			&.empty {
	    				display: none;
	    			}
	    		}
	    	}

	    	.common_name {
	    		font-weight: $medium;
	    	}

	    	.scientific_name {
	    		font-style: italic;
	    		font-weight: $book;
	    		font-size: 1em;
	    	}

	    	.details {
	    		margin-top: $padding;
	    		margin-bottom: $padding;
	    		font-size: 16px;
	    	}

	    	.pin_title {
	    		padding-top: $padding;
	    		padding-left: 42px + ($padding / 2);
	    		background-repeat: no-repeat;
	    		background-position: 0 $padding;
	    		min-height: 48px;
	    		background-size: 42px 48px;
	    		background-image: url($assetPath + '/gigamacro/pin.svg');

	    		border-top: 3px solid rgba($gigamacro-border-color, .5);
	    		margin-top: $padding;
	    		font-size: 1.5em;
	    		line-height: 1.2em;
	    		font-weight: $medium;
	    	}

	    	.commenter {
	    		margin-bottom: $padding;

	    		div {
	    			margin-left: 0;
	    		}

	    		.name {
	    			font-weight: $semibold;
	    		}
	    	}

	    	.common_name,
	    	.pin_title {
	    		color: $text-link;
	    	}
	    }

		.leaflet-container {
			z-index: 1;

			&, * {
	    		-webkit-touch-callout: none;
				@include user-select(none);
	    	}

			height: 100%;
			background-color: #ffffff !important;

			.leaflet-control-zoom {
				margin-right: 36px;
				margin-top: 36px;

				a {
					-webkit-font-smoothing: none;
					font-smoothing: none;
					font-smooth: never;

					@include box-sizing(border-box);
					width: 30px;
					height: 30px;
					@include border-radius(15px);
					overflow: hidden;
					padding-top: 2px;
					margin-left: auto;
					margin-right: auto;

					background-color: $text-link;
					color: $white;
					box-shadow: 0px 0px 0px 3px rgba(#6bb8ef, .8);

					&:last-child {
						margin-top: 14px;
					}

					&.control-refresh {
						margin-bottom: 30px;
						width: 40px;
						height: 40px;
						@include border-radius(20px);
						background-repeat: no-repeat;
						background-image: url($assetPath + '/gigamacro/refresh.svg');
						background-size: 15px 19px;
						background-position: center 9px;
						@include hide-text-calacademy;
					}
				}

				@include box-shadow(none);
			}

			.calacademy-pin {
				&, div {
					width: 42px;
					height: 48px;	
				}
				
				div {
					@include hide-text-calacademy;
					background-image: url($assetPath + '/gigamacro/pin.svg');

					@include transition(
						transform .3s $easing
					);

					@include calacademy-transform-origin(center, bottom);
					@include transform(scale(.6));
				}

				&.selected {
					div {
						@include transform(scale(1));
					}
				}
			}
		}
	}

	.floor & {
		nav {
			display: none;
		}

		#content {
			top: 0;
		}	
	}
}
