@import "global-variables";

@include keyframes(border-highlight) {
	0% {
		@include box-shadow(0 0 0 8px rgba($text-link, 0));
	    border: 1px solid $gigamacro-border-color;
	}
	50% {
		@include box-shadow(0 0 0 8px rgba($text-link, 1));
		border: 1px solid $gigamacro-legend-bg-color;
	}
	100% {
		@include box-shadow(0 0 0 8px rgba($text-link, 0));
		border: 1px solid $gigamacro-border-color;
	}
}

@include keyframes(fade-in) {
	0% {
		@include opacity(0);
	}
	100% {
		@include opacity(1);
	}
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	position: relative;
}

.node-type-gigamacro-specimen {
	$easing: cubic-bezier(.215,.61,.355,1);

	.no-animation {
		@include transition(none !important);
	}

	background-repeat: no-repeat;
	background-position: center center;
	@include background-image-retina(loader/50, gif, 50px, 50px);

	#top-level-nav-wrapper,
	header,
	.tabs,
	footer,
	.leaflet-control-attribution,
	#content > article,
	#content > #main-content {
		display: none;
	}

	#content {
		padding: 0;
		overflow: hidden;
		position: absolute;
		width: 100%;
		max-width: inherit;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    top: $navHeight;

	    @include respond-to(smartphone) {
	    	top: $smartphoneNavHeight;
	    }

	    #legend {
	    	@include border-top-right-radius(125px);
	    	@include border-bottom-left-radius(125px);
	    	padding-bottom: 80px;

	    	position: absolute;
	    	width: 300px;
	    	z-index: 2;
	    	background-color: $gigamacro-legend-bg-color;
	    	border: 1px solid $gigamacro-border-color;
	    	left: $padding;
	    	overflow-y: hidden;
	    	@include transform(translate3d(0, 0, 0));
	    	
			@include transition(
				height .6s $easing
			);

	    	.return {
	    		margin: 0;
	    		padding: $padding;

	    		a {
	    			font-size: 1.2em;
	    			font-weight: $medium;

	    			@include box-sizing(border-box);
					padding-top: 5px;
					height: 34px;
					display: block;
					background-repeat: no-repeat;
					background-position: 0 center;
					padding-left: 44px;
					@include background-image-retina(gigamacro/arrow-left, png, 34px, 34px);
	    		}
	    	}

	    	h1, h2, #dynamic {
	    		margin: 0;
	    		margin-left: $padding;
	    		margin-right: $padding;
	    	}

	    	& > *:empty,
	    	.empty,
	    	.commenter *:empty,
	    	.pin_stuff {
	    		display: none;
	    	} 

	    	&.pin-details {
	    		&.highlight {
	    			@include animation(border-highlight 1s $easing);
	    		}

	    		.pin_stuff {
	    			display: block;

	    			&:empty,
	    			&.empty {
	    				display: none;
	    			}
	    		}
	    	}

	    	.common_name {
	    		font-weight: $medium;
	    		color: $text-link;
	    	}

	    	.scientific_name {
	    		font-style: italic;
	    		font-weight: $book;
	    		font-size: 1em;
	    		margin-top: -5px;
	    	}

	    	#dynamic {
	    		@include transition(
	    			opacity 1.5s $easing .1s
	    		);

				.details {
		    		margin-top: $padding;
		    		margin-bottom: $padding;
		    		font-size: 16px;
		    	}

		    	.pin_title {
		    		color: $text-link;
		    		padding-top: $padding;
		    		padding-left: 42px + ($padding / 2);
		    		background-repeat: no-repeat;
		    		background-position: 0 $padding;
		    		min-height: 48px;
		    		background-size: 42px 48px;
		    		background-image: url($assetPath + '/gigamacro/pin.svg');

		    		border-top: 3px solid rgba($gigamacro-border-color, .5);
		    		margin-top: $padding;
		    		font-size: 1.5em;
		    		line-height: 1.2em;
		    		font-weight: $medium;
		    	}

		    	.commenter {
		    		margin-bottom: $padding;

		    		div {
		    			margin-left: 0;
		    		}

		    		.name {
		    			font-weight: $semibold;
		    		}
		    	}
	    	}
	    }

		.leaflet-container {
			z-index: 1;

			&, * {
	    		-webkit-touch-callout: none;
				@include user-select(none);
	    	}

			height: 100%;
			background-color: #ffffff !important;

			.leaflet-control-zoom {
				margin-right: 36px;
				margin-top: 36px;
				border: none !important;

				a {
					border: none;
					margin-left: auto;
					margin-right: auto;
					background-color: transparent;
					@include hide-text-calacademy;

					$zoomSize: 39px;
					
					width: $zoomSize;
					height: $zoomSize;
					@include background-image-retina(gigamacro/zoom-in, png, $zoomSize, $zoomSize);

					&.leaflet-control-zoom-out {
						@include background-image-retina(gigamacro/zoom-out, png, $zoomSize, $zoomSize);	
					}

					&:last-child {
						margin-top: 14px;
					}

					&.control-refresh {
						margin-bottom: 30px;
						width: 48px;
						height: 48px;
						@include background-image-retina(gigamacro/reset, png, 48px, 48px);
					}

					&.leaflet-disabled {
						@include opacity(0.6);
					}
				}

				@include box-shadow(none);
			}

			.calacademy-pin {
				// background-image: url('/sites/all/libraries/leaflet/images/marker-shadow.png');
				// background-repeat: no-repeat;
				// background-position: right bottom;
				// background: radial-gradient(rgba(#000000, .2), rgba(#fff, 0), rgba(#fff, 0));

				div {
					pointer-events: none;
					margin-left: auto;
					margin-right: auto;
					width: 42px;
					height: 48px;

					@include hide-text-calacademy;
					background-image: url($assetPath + '/gigamacro/pin.svg');

					@include transition(
						transform .3s $easing
					);

					@include calacademy-transform-origin(center, bottom);
					@include transform(scale(.6));
				}

				&.selected {
					div {
						@include transform(scale(1));
					}
				}
			}
		}
	}

	.floor & {
		nav {
			display: none;
		}

		#content {
			top: 0;
		}	
	}
}
