@import "global-variables";

.node-type-content-page,
.node-type-explore-science-article,
.node-type-ibss-project,
.node-type-blog,
.node-type-person {
	#content {
		.center-wrapper {
			padding-top: $padding + $topLevelNavHeight;

			@include respond-to(smartphone) {
				padding-top: $smartphonePadding + $topLevelNavHeight;
			}
		}

		@include two-column-layout;

		.panel-col-top {
			.pane-node-field-subtitle {
				@include subhead-mini;
			}
		}

		.panel-col-first {
			.panel-pane {
				margin-bottom: $padding;

				&.pane-views-panes {
					margin-bottom: $padding * 3;

					&:first-child {
						margin-bottom: $padding;
					}
				}

				&.pane-node-field-cta-buttons {
					padding-top: 0;
				}
			}

			.pane-mixed-content-related-new-tagged-content-pane {
				margin-bottom: $padding * 3;
			}

			.pane-title,
			.pane-node-field-related-content-title,
			.pane-node-field-related-content-subtitle,
			.pane-node-field-related-pages-subtitle,
			.pane-node-field-tertiary-subhead {
				&, * {
					@include subhead;
				}

				h2 {
					margin: 0;
				}
			}

			.pane-node-body,
			.pane-node-field-summary,
			.pane-node-field-related-pages-description {
				font-size: $biggerText;
				line-height: $biggerTextLineHeight;

				@include respond-to(smartphone) {
					font-size: $smartphoneText;
					line-height: $smartphoneLineHeight;
				}
			}

			.pane-node-body {
				padding-bottom: $padding;
			}

			.pane-node-field-article-section > .field > .field-items > .field-item,
			.pane-node-field-content-column > .field > .field-items > .field-item:last-child {
				margin-bottom: $padding * 3;
			}

			.field-name-field-cta-link {
				.field-item {
					margin-top: $padding;

					&:first-child {
						margin-top: 0;
					}

					a {
						font-size: 17px;

						@include respond-to(smartphone) {
							font-size: $smartphoneText;
							line-height: $smartphoneLineHeight;
						}
					}
				}
			}

			.pane-related-content-random-field-related-content-tags,
			.pane-node-field-google-map {
				margin-bottom: $padding * 2;
			}

			.pane-node-field-map,
			.pane-node-field-google-map {
				iframe {
					width: 100%;
					min-height: 390px;

					@include respond-to(smartphone) {
						min-height: 296px;
					}
				}
			}

			.pane-testimonials-related {
				padding-top: $padding;
				padding-bottom: $padding;

				.view-testimonials-related {
					.views-row {
						.views-field {
							color: $green;
						}
					}
				}
			}
		}

		// stopgap?
		.right-rail {
			.panel-pane {
				padding-bottom: $padding;
			}
		}
	}
}

.node-type-explore-science-article {
	#content {
		header {
			.field-name-field-subtitle {
				margin-top: $padding;
				@include title-link('blue');
			}
		}

		.panel-col-first {
			.pane-node-body {
				margin-bottom: $padding * 2;
			}
		}
	}
}

.node-type-ibss-project,
.node-type-blog {

	#content {
		.panel-col-first {
			.pane-hero-media-slideshow-standard {
				margin-bottom: $padding !important;
			}
		}
	}

	.view-display-id-panel_pane_ibss_project_article_section,
	.view-display-id-panel_pane_blog_article_section {
		.view-content {

			> div {
				margin-bottom: $padding * 2;
			}

			.views-field-field-subtitle {
				h2 {
					font-weight: $semibold;
					color: $black;
					margin: 0;
					font-size: $slightlyLargerText + 1;
					line-height: $slightlyLargerTextLineHeight;
				}
				margin-bottom: 4px;
			}
			
			.views-field-field-inline-image {
				img {
					float: left;
					margin-right: $padding;
					margin-bottom: $padding / 2;

					width: $squareWidth;
					height: $squareWidth;

					@include respond-to(tablet) {
						width: $squareWidthTablet;
						height: $squareWidthTablet;
					}

					@include respond-to(smartphone) {
						margin-right: 0;
						width: 100%;
						height: auto;
					}
				}
			}

			.slideshow-hero {
				margin-top: $padding;
				div {
					margin-bottom: 0 !important;
				}
			}

			.views-field-field-cta-link {
				margin-top: $padding;
				.field-content {
					margin-top: 0;
					&:first-child {
						margin-top: 0;
					}
					li.first {
						margin-bottom: $padding / 2;
					}
					a {
						font-size: 17px;
						font-weight: $semibold;
						@include arrow(arrow-blue);

						@include respond-to(smartphone) {
							font-size: $smartphoneText;
							line-height: $smartphoneLineHeight;
							margin-bottom: $smartphonePadding;
						}
					}
				}
			}

			.clear-floats {
				height: 0px;
			}

		}
	}

}

			