@import "global-variables";

.page-nightlife-landing {
	.panel-col-top {
		margin-top: $padding * 2;
		margin-bottom: $padding * 2;
	}

	// section headers
	.panel-col-first,
	.bottom-row-right-rail {
		.pane-title {
			font-size: $headerTextReduced;
			line-height: $headerTextReducedLineHeight;
		}

		@include respond-to(smartphone) {
			width: 100%;

			.pane-title {
				font-size: $headerTextSmartphone;
				line-height: $headerTextSmartphoneLineHeight;
			}
		}
	}

	// alter some cluster shapes
	.skewed-tri-grid {
		.views-row-2 {
			top: 0;
		}
	}

	#upcoming {
		max-width: ($squareWidth * 2) + $padding;

		.views-row {
			display: block;
		}

		.views-row:nth-child(3) {
			margin-top: -600px;
		}

		.views-row:nth-child(3),
		.views-row:nth-child(4) {
			margin-left: $squareWidth + $padding;
		}

		@include respond-to(tablet) {
			.views-row:nth-child(3) {
				margin-top: -550px;
			}

			.views-row:nth-child(3),
			.views-row:nth-child(4) {
				margin-left: $squareWidthTablet + $padding;
			}
		}

		@include respond-to(smartphone) {
			max-width: inherit;

			.views-row {
				display: inline-block;
				margin-top: 0;
				margin-left: 0;
			}
		}
	}

	.right-rail {
		width: 20%;
		margin-top: 55px;

		@include respond-to(smartphone) {
			width: 100%;
			margin-top: 0;
		}
	}

	@include respond-to(tablet) {
		.top-row-content {
			width: 77%;	
		}
		
		.right-rail {
			width: 23%;
		}
	}

	.bottom-row-content {
		margin-top: $padding;

		.view-testimonials-related {
			margin-top: $padding * 3;
			padding-right: $padding * 3;

			@include respond-to(smartphone) {
				margin-top: 0;
				margin-bottom: $padding * 2;
				padding-right: 0;
			}
		}
	}

	.bottom-row-right-rail {
		margin-top: $squareWidth * 2;
		
		.views-field-title {
			margin-bottom: 0;
		}

		@include respond-to(tablet) {
			margin-top: $squareWidthTablet * 2;	
		}

		@include respond-to(smartphone) {
			margin-top: 0;
		}

		.cta-block {
			@include cta-block($hot-pink);

			h3 {
				margin: 0;
			}

			margin-top: $padding;
			margin-left: $squareWidth + $padding;

			@include respond-to(tablet) {
				margin-left: $squareWidthTablet + $padding;
			}

			@include respond-to(smartphone) {
				margin-left: 0;
			}
		}
	}
}
