@import "global-variables";
@import "colors";

.page-taxonomy-term {
	#content {
		.panel-col-top {
			.panel-pane {
				margin-bottom: $padding;

				&:first-child {
					margin-bottom: $padding * 2;
				}
			}
		}

		.panel-col-first,
		.right-rail {
			@include box-sizing(border-box);
		}

		.panel-col-first {
			padding-right: $padding * 2;

			@include respond-to(smartphone) {
				margin-top: $padding;
				padding-right: 0;
			}

			width: 75%;
			clear: both;

			.view-content, .pager {
				z-index: 2;
				position: relative;
			}

			.views-field-field-category {
				a.active {
					display: none;
				}
			}
		}

		.right-rail {
			width: 22%;

			position: relative;
			z-index: 3;

			margin-top: 54px;
		}

		// pane title styles
		// (smaller than typical)
		.panel-col-top .pane-title,
		.panel-col-first .pane-title  {
			font-size: $headerTextReduced;
			line-height: $headerTextReducedLineHeight;

			@include respond-to(smartphone) {
				font-size: $sectionTitleSmartphone;
				line-height: $sectionTitleSmartphoneLineHeight;
			}
		}

		// this is a stopgap to remove an empty article tag
		// looks to be some kind of drupal admin thing?
		/*
		.right-rail .inside {
			.panel-pane:last-child {
				display: none;
			}
		}
		*/

		@include respond-to(smartphone) {
			.panel-col-first,
			.right-rail {
				width: 100%;
				float: none;
			}

			.right-rail {
				margin-top: $padding;
			}	
		}
	}
}
