@import "global-variables";

.page-exhibits-landing,
.node-type-entity-collections {
	// remove the pager since overriding views pager settings in
	// page manager doesn't work as expected
	.pager {
		display: none;
	}

	.pane-title  {
		@include subhead-mini;
	}

	.pane-node-body {
		margin-bottom: $padding * 2;
	}

	&.page-node {
		.page-header {
			h2 {
				margin-top: $padding !important;
				margin-bottom: $padding !important;

				@include respond-to(smartphone) {
					margin-bottom: $smartphonePadding !important;
				}	
			}	
		}
	}

	.view-simulator-hero-img * {
		margin: 0 !important;
	}

	.cta-block {
		@include cta-block($international-orange);

		@include respond-to(smartphone) {
			margin-bottom: $padding !important;
			padding: $padding !important;
			width: 100% !important;
		}
	}
}
