@import "global-variables";

.page-failover {
	#top-level-nav-wrapper {
		display: none;
	}

	nav {
		a {
			@include disable-link;
		}

		#block-views-menu-garnish-block {
			display: none;
		}

		#block-tb-megamenu-main-menu {
			button {
				display: none;
			}

			.level-0 {
				li {
					display: none;

					&:first-child {
						display: block;

						a {
							border: 0 !important;
						}
					}
				}
			}
		}
	}

	footer {
		.links {
			display: none;
		}

		.copyright {
			.year {
				display: none;
			}
		}
	}

	header {
		span {
			width: 100%;
		}
	}

	.page-header {
		.field {
			margin-top: $smartphonePadding;
			color: $body-copy;
			font-weight: $book;
			font-size: $biggerText;
			line-height: $biggerTextLineHeight;

			@include respond-to(smartphone) {
				font-size: $smartphoneText;
				line-height: $smartphoneLineHeight;	
			}

			@include respond-to(desktop) {
				width: 780px;
			}
		}
	}

	#content {
		.ctas {
			width: 100%;
			overflow: auto;

			// CTAs
			ul {
				&, li {
					margin: 0;
					padding: 0;
					list-style: none;
				}

				li {
					@include box-sizing(border-box);

					a {
						font-size: 17px;
						font-weight: $semibold;
						@include arrow(arrow-blue);

						@include respond-to(smartphone) {
							font-size: $smartphoneText;
							line-height: $smartphoneLineHeight;
						}
					}

					&.button {
						@include cta-button;
						margin-right: $padding;
						margin-bottom: $padding;
					}

					width: 250px;
					float: left;

					@include respond-to(smartphone) {
						width: 100%;
						float: none;
						margin-bottom: $smartphonePadding !important;

						&:last-child {
							margin-bottom: 0 !important;
						}
					}
				}
			}
		}

		.section {
			padding-top: $padding;
			border-top: 2px solid $line-grey-light;
			margin-bottom: $padding !important;
		}

		.pane-node-field-article-section {
			table {
				width: 100%;
				max-width: 250px;

				th {
					font-weight: $semibold;
				}

				td {
					@include box-sizing(border-box);
				}

				td:first-child {
					width: 70%;
					padding-right: $padding;
				}
			}
		}
	}
}
