@import "global-variables";

.page-lesson-plans-landing,
.page-press-releases-landing {
	.page-header {
		margin-bottom: $padding * 2;
	}

	.pane-title {
		@include subhead;
	}

	.panel-col-top {
		.pane-node-title {
			h1 {
				padding-left: 0 !important;
			}	
		}

		.pane-node-title, h2 {
			margin-top: $padding * 2 !important;
			margin-bottom: $padding !important;
		}

		.view-lesson-plan-content {
			.views-field-field-grades {
				margin-top: $padding;
			}

			.views-field-title {
				margin-top: 0;
			}
		}	
	}

	.panel-col-first {
		@include box-sizing(border-box);
		padding-right: $padding;
	}

	.exposed-filters {
		form {
			.views-exposed-widgets {
				@include exposed-filter-last-element(0);
			}
		}

		.view {
			.ajax-loading & {
				@include respond-to(smartphone) {
					background-position: center 250px;	
				}		
			}

			.pager {
				margin-top: $padding;
			}	
		}
	}

	.right-rail {
		margin-top: $padding * 3;
	}

	@include respond-to(smartphone) {
		.panel-col-first,
		.right-rail {
			padding-right: 0;
			width: 100%;
		}
	}		
}

.page-press-releases-landing {
	.views-exposed-widgets {
		.views-submit-button {
			display: none;
		}
	}	
}
