@import "global-variables";
@import "colors";

.page-taxonomy-term {
	#content {
		.center-wrapper {
			padding-top: $padding + $topLevelNavHeight;

			@include respond-to(smartphone) {
				padding-top: $smartphonePadding + $topLevelNavHeight;
			}
		}

		@include two-column-layout;

		// pane title styles
		// (smaller than typical)
		.panel-col-top .pane-title,
		.panel-col-first .pane-title,
		.panel-col-middle .pane-title  {
			@include subhead-mini;
		}

		.panel-col-top {
			.panel-pane {
				margin-bottom: $padding;

				&:first-child {
					margin-bottom: $padding * 2;
				}
			}
		}

		@include respond-to(smartphone) {
			.right-rail {
				margin-top: $padding * 2;
			}
		}
	}
}
