@import "global-variables";

.page-field-trips-landing {
	.panel-2col-stacked .panel-col-first { 
		@include box-sizing(border-box);
		width: 75%;
		padding-right: $padding;

		@include respond-to(smartphone) {
			width: 100%;
			padding-right: 0;
		}

		.pane-node-body {
			border-top: 0 !important;
			padding-top: 0 !important;
		}

		.section {
			padding-bottom: 0;
		}
	}

	.exposed-filters {
		form {
			#edit-field-field-trip-type-tid-wrapper {
				@include exposed-filter-last-element;
			}

			.views-submit-button {
				display: none;
			}
		}
	}
}
