@import "global-variables";

.section-press-center {
  @include background-image-retina(bg-fish, jpg, 560px, 560px);
    
  background-repeat: no-repeat;
  background-position: right -10px;

  @media screen and (max-width: 1400px) {
    @include background-size(35%);
    background-position: right 500px;
  }
  
  .page-header {
    
    h2 {
      font-size: 24px;
      font-weight: normal;
    }
  }
  
  #content .panel-col-first {
    clear: both;
    margin-right: 20px;
    width: 700px;
  }
  
  .panel-pane.image-top-four-columns {
    // width: ($squareWidth * 4) + ($padding * 2);
    width: 100%;
  }
  
  .pane-testimonials-related {
    float: left;
    margin-top: $padding * 2;
    width: ($squareWidth * 2) + $padding;
  }
  
  .image-floated {
    
    .field-name-field-inline-image {
      float: left;
      margin: 5px 20px 0 0;
    }
    
    .field-name-field-subtitle {
      float: left;
      font-size: 1.1em;
      margin-right: 0.2em;
    }
  }
}
