@import "global-variables";

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	position: relative;
}

.page-map {
	&, * {
		-webkit-touch-callout: none;
		@include user-select(none);
	}

	background-repeat: no-repeat;
	background-position: center center;
	background-color: $paler-grey;
	@include background-image-retina(loader/50grey, gif, 50px, 50px);

	#top-level-nav-wrapper,
	header,
	.tabs,
	footer {
		display: none;
	}

	#content {
		// SASS stuff
		$padding: 15px;
		$dockWidth: 300px;
		$menuHeight: 45px;
		$mapAssets: '/sites/all/modules/custom/calacademy_map/images/';

		@mixin title-style {
			font-weight: $medium;
    		font-size: $slightlyLargerText;
    		line-height: 1.2em;

    		a {
    			color: $international-orange;
    			@include arrow('arrow-orange');
    			padding-top: 2px;
    		}
		}

		@mixin color-fade {
			@include transition(
				background-color .3s ease
			);
		}

		// some basic resets
		& > article,
		& > #main-content {
			display: none;
		}

		overflow: hidden;
		position: absolute;
		width: 100%;
		max-width: inherit;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;

	    padding: 0;
	    padding-top: $navHeight;

		.map-ui ul,
		.map-zoom-controls {
			margin: 0;
	    	padding: 0;
	    	list-style-type: none;
		}

		// google map
	    .calacademy_geolocation_map {
			position: relative;
			overflow: hidden;
			height: 100%;
			float: left;

			.markerLabels {
				font-weight: $medium;
				@include single-text-shadow(0, 0, 3px, null, $white);

				text-align: center;
    			width: 100px;
    			font-size: 12px;
    			line-height: 14px;

    			color: $map-label-text;

    			.orange & {
    				color: $international-orange;
    			}
			}

			@include calc(width, (100% - #{$dockWidth}), 70%);
			@include transform(translate3d(0, 0, 0));

			&, .gm-style, select {
				font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif !important;
			}

			img {
				max-width: inherit !important;
			}

			.gm-style-cc,
			a[href^="http://maps.google.com/maps"],
			a[href^="https://maps.google.com/maps"] {
				display: none !important;
			}

			.gm-style {
				img {
					@include transition(
						transform .3s ease
					);

					@include calacademy-transform-origin(center, bottom);
					@include transform(scale(1));
				}

				img.marker-highlight {
					@include transform(scale(2));
				}
			}

			.map-zoom-controls {
				position: relative;
				z-index: 1;
				float: right;

				margin-top: $padding;
				margin-right: $padding;

				border: $map-border;

				li {
					border-bottom: $map-border;

					&:last-child {
						border-bottom: 0;
					}

					@include box-sizing(border-box);
					@include hand-cursor;

					width: 30px;
					height: 30px;
					padding: 5px;
					overflow: hidden;
					background-color: $white;
					font-weight: $semibold;
					text-align: center;
					font-size: $smartphoneText;
					line-height: 1;

					-webkit-font-smoothing: none;
					font-smoothing: none;
					font-smooth: never;

					color: #999999;

					.no-touch &:hover,
					.touch &:active {
						color: $international-orange;
					}
				}
			}
		}

		// item descriptions
		.map-dock,
	    .map-dock-smartphone {
			// workaround for disappearing element bug
			// @see https://github.com/scottjehl/Device-Bugs/issues/8
			* {
				@include transform(translate3d(0, 0, 0));
			}

			.map-item-container {
				@include box-sizing(border-box);
				padding: $padding;
				padding-top: $padding - 4px;
				padding-bottom: $padding - 2px;
				width: 100%;
				overflow: auto;

				$imgSize: 60px;

				.thumb-container {
					@include box-sizing(border-box);
					float: left;
					overflow: hidden;
					margin-top: 4px;
					margin-right: $padding;
					background-color: $map-grey;

					&, img {
						width: $imgSize;
						height: $imgSize;
					}
				}

				.text-container {
					width: auto;
					overflow: hidden;

					.title {
			    		margin: 0;
			    		padding: 0;
			    		@include title-style;
			    	}

					.details-desc {
						margin-top: $padding - 8px;
						line-height: 1.4em;

						p {
							margin-bottom: $padding;

							&:last-child {
								margin-bottom: 0;
							}
						}

						@include respond-to(smartphone) {
							font-size: $defaultText;
							line-height: $defaultLineHeight - 2px;
						}
					}
				}
			}

			.no-details {
				.map-item-container {
					padding: $padding;
				}
			}
		}

		// smartphone dock
		.map-dock-smartphone {
			@include box-sizing(border-box);

			@include transition(
				transform .4s ease,
				top .4s ease
			);

			border-top: $map-border;
			display: none;
			position: absolute;
			width: 100%;
			top: 0;

			&, .shim {
				background-color: $map-grey-pale;
			}

			.map-item-container {
				z-index: 2;
				position: relative;

				.thumb-container {
					img {
						@include transition(
							opacity 0.6s ease
						);

						@include opacity(0);

						&.loaded {
							@include opacity(1);
						}
					}
				}
			}

			.shim {
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 1000px;
			}
		}

		// menu
		.map-ui {
			float: left;
			@include calc(width, $dockWidth, 30%);
			background-color: $white;

			.map-menus {
				position: relative;
				z-index: 2;
				width: 100%;
				border-bottom: $map-border;

				.titles {
					position: relative;
					z-index: 1;
					width: 100%;
					overflow: auto;

					div {
						@include hand-cursor;

						span {
							@include box-sizing(border-box);
							@include title-style;
							display: block;
							padding: $padding;
							height: $menuHeight;
						}

						// Floor switcher
						&#title-floor {
							float: left;

				    		// down arrow
				    		span {
				    			$arrowWidth: 16px;
								padding-right: $arrowWidth + 10px;

								@include background-image-retina(drop-down-arrow, png, $arrowWidth, 9px);
								background-repeat: no-repeat;
								background-position: right 20px;
				    		}
				    	}

				    	&#title-filter,
				    	&#title-list-toggle {
				    		float: right;

				    		span {
				    			border-left: $map-border;
				    		}
				    	}

				    	// Type filter
				    	&#title-filter {
				    		// pin
				    		span {
				    			@include hide-text-calacademy;

				    			$w: 14px;
				    			$h: 20px;

				    			width: $w + ($padding * 2);
				    			background-image: url($mapAssets + 'icons/pin.svg');
				    			background-size: $w $h;
				    			background-position: center ($padding - 1px);
				    			background-repeat: no-repeat;

				    			// @include color-fade;
				    			background-color: $white;

				    			.filter-menu-open & {
				    				background-color: $map-grey;
				    			}
				    		}
				    	}

				    	// Map / List
					    &#title-list-toggle {
							display: none;

							overflow: hidden;
							width: 70px;
							text-align: center;
							color: $international-orange;
						}
					}
				}

				.options {
					ul {
		    			// fallback
		    			display: none;

		    			.floor-menu-open &#options-floor,
		    			.filter-menu-open &#options-filter {
		    				display: block;
		    			}

		    			// animate menus
		    			.csstransforms3d & {
		    				display: block;

		    				@include transition(
			    				transform .3s ease
			    			);

		    				@include calacademy-transform-origin(left, top, 0);
		    				@include transform(scale3d(1, 0, 1));
		    			}

		    			.csstransforms3d.floor-menu-open &#options-floor,
		    			.csstransforms3d.filter-menu-open &#options-filter {
		    				@include transform(scale3d(1, 1, 1));
		    			}

		    			// style
		    			@include box-sizing(border-box);
		    			position: absolute;
		    			border-top: $map-border;
		    			padding: $padding;
		    			background-color: $white;
		    			width: 100%;
		    			border-bottom: $map-border;

		    			li {
		    				margin-bottom: 5px;

		    				&:last-child {
		    					margin-bottom: 0;
		    				}

		    				a {
	    						@include transition(
	    							color .3s ease
	    						);

			    				color: $black;
			    				font-size: $scienceTodayMedium;
	    						line-height: $scienceTodayMediumLineHeight;

			    				&.selected {
			    					color: $international-orange;
			    				}
			    			}
		    			}

		    			&#options-filter {
			    			span {
		    					display: block;
		    					float: left;
		    					margin-right: 5px;
		    					margin-top: 3px;

		    					@include respond-to(smartphone) {
		    						margin-top: 1px;
		    					}

		    					&, svg {
		    						width: 11px;
		    						height: 17px;
		    					}

		    					svg {
		    						@include transition(
		    							fill .3s ease
		    						);

		    						fill: $map-dark-grey;
		    					}

		    					&.selected {
		    						svg {
		    							fill: $international-orange;
		    						}
		    					}
		    				}
			    		}
		    		}
				}
			}

			.map-dock {
				clear: both;
				background-color: $map-grey-light;
				overflow: scroll;
				-webkit-overflow-scrolling: touch;

				li {
					@include hand-cursor;
					@include color-fade;
					border-bottom: $map-border;

					&.selected {
						background-color: $map-grey;
					}
					&.not-in-filter-selection {
						display: none !important;
					}

					// hide item unless on selected floor
					display: none;
				}
				.map-floor-aq & li.aq {
					display: block;
				}
				.map-floor-main & li.main {
					display: block;
				}
				.map-floor-l2 & li.l2 {
					display: block;
				}
				.map-floor-l3 & li.l3 {
					display: block;
				}
				.map-floor-roof & li.roof {
					display: block;
				}
			}
		}

		@include respond-to(smartphone) {
			padding-top: $smartphoneNavHeight;

			// dock
			.map-dock-smartphone {
				display: block;
				z-index: 2;
			}

			.calacademy_geolocation_map,
			.map-ui {
				width: 100% !important;
				float: none;
			}

			.calacademy_geolocation_map,
			.map-ui .map-dock {
				@include transition(
					left .6s ease,
					transform .6s ease
				);

				position: absolute;
				width: 100%;
			}

			.calacademy_geolocation_map {
				position: absolute !important;
				top: $menuHeight + $smartphoneNavHeight !important;
				@include calc(height, (100% - #{($menuHeight + $smartphoneNavHeight)}), 100%);
				z-index: 1;

				.map-zoom-controls {
					display: none;
				}

				// animate left position
				.no-csstransforms3d & {
					left: 0;
				}

				.map-list-selected.no-csstransforms3d & {
					left: -45%;
				}

				// animate 3d
				.map-list-selected.csstransforms3d & {
					@include transform(translate3d(-45%, 0, 0));
				}
			}

			.map-ui {
				position: relative;
				z-index: 3;

				.map-menus {
					background-color: $white;

					.titles {
						// list toggle
						div#title-list-toggle {
							display: block;
						}
					}
				}

				.map-dock {
					// workaround for webkit bug that prevents scrolling
					-webkit-overflow-scrolling: auto;

					.map-list-selected & {
						-webkit-overflow-scrolling: touch;
					}

					// animate left position
					.no-csstransforms3d & {
						left: 100%;
					}

					.map-list-selected.no-csstransforms3d & {
						left: 0;
					}

					// animate 3d
					.csstransforms3d & {
						@include transform(translate3d(100%, 0, 0));
					}

					.map-list-selected.csstransforms3d & {
						@include transform(translate3d(0, 0, 0));
					}
				}
			}
		}
	}
}
