@import "global-variables";
@import "compass/css3/user-interface";

.page-daily-calendar {
	font-size: inherit;

	.right-rail {
		font-size: $defaultText;
		line-height: $defaultLineHeight;

		.field-name-field-right-rail-items {
			& > .field-items > .field-item:first-child {
				article {
					border: 0;
					padding-top: 0;
				}
			}
		}

		@include respond-to(smartphone) {
			font-size: $smartphoneText;
			line-height: $smartphoneLineHeight;
		}
	}

	.ajax-progress {
		display: none;
	}

	#html5-date-picker {
		display: none;

		@include respond-to(smartphone) {
			display: block;

			@include appearance(none);
			@include box-sizing(border-box);
			@include opacity(0);
			z-index: 1;

			position: absolute;
			float: none;
			width: 100%;
			margin: 0;
			padding: 0;
			height: 150px;
		}
	}

	#content {
		@include two-column-layout;


		.panel-col-top {
			margin-bottom: $padding * 2;
		}

		.right-rail {
			margin-top: 60px;
		}

		@include respond-to(smartphone) {
			.view {
				overflow: hidden;
			}

			padding-left: 0;
			padding-right: 0;

			.panel-col-first,
			.right-rail {
				float: none;
				position: relative;
				width: inherit !important;
				margin: 0;
			}

			.panel-col-first {
				padding: 0;
			}

			.panel-col-top,
			.right-rail {
				margin-bottom: 0;
				margin-top: $padding;
				margin-left: $smartphonePadding;
				margin-right: $smartphonePadding;
			}
		}

		@include respond-to(smartphone-landscape) {
			.panel-col-top {
				width: 80%;
			}
		}
	}

	.view-daily-calendar {
		$padding: 10px;

		.view-header {
			@include respond-to(smartphone) {
				float: none;
				position: relative;
				width: inherit;

				div {
					margin: 0;
					padding: 0;
				}

				margin-left: $smartphonePadding;
				margin-right: $smartphonePadding;
				margin-top: $padding * 2;
				margin-bottom: $padding * 3;
				padding: $smartphonePadding;
				padding-bottom: $smartphonePadding + 1px;

				@include border-radius(5px);
				@include user-select(none);
				@include hand-cursor;

				border: 2px solid $line-grey-light;

				.date-nav {
					min-height: inherit;
				}

				&.active {
					border: 2px solid $international-orange;
				}
			}

			$squareWidth: 20px;
			float: left;

			@mixin reset {
				position: relative;
				float: left;
				top: 0;
				left: 0;
				right: 0;
				margin: 0;
				padding: 0;
				background: none;
			}

			.date-nav {
				margin: 0;
			}

			h3 {
				@include reset;

				border-left: 1px solid $line-grey-light;
				margin-left: $padding * 2;
				padding-left: $padding * 2;

				@include respond-to(tablet) {
					margin-left: $padding;
					padding-left: $padding;
				}

				padding-bottom: 3px;
				color: $international-orange;
				font-weight: $semibold;
				font-size: $slightlyLargerHeaderText;
				// line-height: $slightlyLargerHeaderTextLineHeight;

				@include respond-to(smartphone) {
					float: none;
					position: relative;
					width: inherit;
					margin: 0;
					padding: 0;
					border: 0;
					color: $black;
					font-size: $biggerText;

					$arrowWidth: 16px;
					padding-right: $arrowWidth + $smartphonePadding;

					@include background-image-retina(drop-down-arrow, png, $arrowWidth, 9px);
					background-repeat: no-repeat;
					background-position: right center;

					@include box-sizing(border-box);
				}
			}

			#date-pager {
				&, li, a {
					@include reset;
				}

				li {
					padding-top: 5px;
				}

				.date-prev {
					margin-right: $padding;
				}

				a {
					@include hide-text-calacademy;
					@include no-focus-border;
					width: $squareWidth;
					height: $squareWidth;
				}

				.date-next a {
					@include background-image-retina(arrow-solid-orange-medium, png, $squareWidth, $squareWidth);
				}

				.date-prev a {
					@include background-image-retina(arrow-solid-orange-medium-left, png, $squareWidth, $squareWidth);
				}
			}
		}

		.view-filters {
			padding-right: 15px;
			background-repeat: no-repeat;
			background-position: -9999px -9999px;
			@include background-image-retina(loader/30, gif, 30px, 30px);

			.ajax-loading & {
				background-position: right top;
			}

			float: left;
			position: relative;
			margin-left: $padding;
			top: 2px;

			*:focus {
			    outline: 0;
			}

			label,
			.description {
				display: none;
			}

			input {
				$w: 20px;

				border: 0;
				margin: 0;
				padding: 0;
				width: $w;
				height: $w;
				@include border-radius(0);
				@include no-focus-border;
				@include hand-cursor;
				@include hide-text-calacademy;
				@include background-image-retina(icon-calendar, png, $w, $w);
				background-repeat: no-repeat;

				margin-top: -2px;
			}

			.no-touch & input:hover,
			.touch & input:active {
				@include opacity(0.6);
			}

			#edit-submit-daily-calendar {
				display: none;
			}
		}

		.view-content {
			position: relative;
			clear: both;
			width: 100%;
			overflow: visible;

			// screen back on desktop / tablet
			.ajax-loading & {
				@include opacity(.15);

				.events-container div {
					@include disable-link;
				}
			}

			// hide on smartphones
			@include respond-to(smartphone) {
				background-repeat: no-repeat;
				background-position: -9999px -9999px;
				@include background-image-retina(loader/50, gif, 50px, 50px);

				.ajax-loading & {
					@include opaque;

					overflow: hidden;
					background-position: center top;

					table,
					.empty-result {
						min-height: 70px;
						@include transparent;
					}
				}
			}

			&, * {
				margin: 0;
				padding: 0;
			}

			.empty-result {
				font-weight: $semibold;
				clear: both;

				@include respond-to(smartphone) {
					margin-left: $smartphonePadding;
					margin-right: $smartphonePadding;
				}
			}

			table {
				width: 100%;
				position: relative;
				float: left;
				z-index: 2;

				border-collapse: collapse;
				background-color: $extra-pale-grey-bg;

				th, td {
					padding: 15px;
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 5px;
					border-bottom: 3px solid $white;
					vertical-align: top;
				}

				th {
					color: $black;
					font-weight: $medium;
					line-height: 18px;
					width: 78px;
					padding-right: 0;
					text-align: left;
					white-space: nowrap;

					@include respond-to(smartphone) {
						padding-left: $smartphonePadding;
					}
				}

				// @warning
				// display / style hackery
				// this element is cloned via JS
				&.js-clone {
					position: absolute;
					z-index: 1;
					right: 100%;

					td *, th * {
						visibility: hidden;
					}
				}
			}

			.events-container {
				clear: both;

				& > div {
					@include top-aligned-rows;
					@include box-sizing(border-box);
					width: percentage(1 / 3);

					// removing this breaks FF / IE
					max-width: 206px;

					&.solo.no-image {
						width: 100%;
					}

					padding-right: $padding;
					margin-bottom: $padding;

					@include respond-to(smartphone) {
						width: 100%;
						max-width: inherit;
					}

					a {
						@include arrow('arrow-blue');
					}

					.info-box {
						position: relative;
						width: 100%;
						overflow: hidden;
						margin-bottom: $padding;
						@include play-button(2);

						// get rid of some weird padding
						font-size: 0;
						line-height: 0;

						&, img, .summary {
							padding: 0;
							@include box-sizing(border-box);
						}

						img {
							position: relative;
							z-index: 1;
							height: auto;
						}

						.summary {
							display: block;
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							z-index: 3;
							padding: $padding;
							-webkit-font-smoothing: subpixel-antialiased;

							font-size: $biggerText - 1;
							line-height: 1.25em;

							// for yucks, since touch devices will never see this
							@include respond-to(tablet) {
								font-size: $defaultText;
							}

							color: $white;
							background-color: $international-orange;
							background-color: rgba($international-orange, 0.88);
							background-image: none;

							@include user-select(none);
							@include initialize-fade(0);

							&:hover {
								@include opacity(1);
							}
						}
					}

					.event-title {
						font-weight: $medium;
						font-size: inherit;
						line-height: $defaultLineHeight;

						@include respond-to(smartphone) {
							font-weight: $semibold;

							font-size: $smartphoneText;
							line-height: $smartphoneLineHeight;
						}

						a {
							font-weight: $semibold;
						}
					}

					.location {
						font-size: $defaultText;
						line-height: $defaultLineHeight;
						color: $text-grey;
					}

					// hide info box for boring categories or events that have no images
					&.no-image,
					&.boring {
						.info-box {
							display: none;
						}
					}

					// hide location field for boring categories
					&.boring {
						.location {
							display: none;
						}
					}

					// show summary on hover
					.no-touch &:hover {
						a {
							color: $international-orange;
							@include arrow('arrow-orange');
						}

						.summary {
							@include opacity(1.0);
							color: $white;
							background-image: none;
							padding: $padding;
						}
					}
				}
			}
		}
	}

	@include respond-to(smartphone) {
		& {
			background-image: none !important;
		}

		#page-title {
			span {
				width: 100% !important;
			}
		}

		#date-pager,
		.view-filters,
		.js-clone,
		.events-container .info-box {
			display: none;
		}
	}
}
