@import "global-variables";

.right-rail {
	width: 25%;

	@include right-rail-border;
	.section-nightlife & {
		@include right-rail-border($line-grey-medium);
	}
	.page-nightlife-landing & {
		border-top: none;
		padding-top: 1px;
	}

	@include respond-to(smartphone) {
		margin-left: 0;
		width: 100% !important;
	}

	img {
		width: 100%;
		height: inherit;
	}

	h2,
	.pane-title,
	.field-name-field-blurb-title-link {
		margin: 0;
		margin-bottom: $padding / 2;

		font-size: 120%;
		line-height: 120%;
		font-weight: $semibold;
	}

	p {
		color: $text-grey;
	}

	&,
	.node {
		// these are empty??
		.links.inline {
			display: none;
		}

		.field {
			margin-bottom: $padding;
			margin-top: $padding;

			&:last-child {
				margin-bottom: 0;
			}

			&.field-type-link-field {
				.field-item {
					margin-bottom: $padding / 2;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a {
					font-size: 17px;
					font-weight: $semibold;
					@include arrow('arrow-blue');
					.page-nightlife-landing & {
						color: $white;
						@include arrow('arrow');
					}
				}

				&.field-name-field-cta-link {
					.field-item {
						@include cta-button;
					}
				}
			}
		}
	}

	.file {
		img {
			display: none;
		}

		a {
			background-repeat: no-repeat;
			background-position: 0 2px;
			padding-left: 20px;
			display: block;
		}
	}

	.inside > .panel-pane {
		padding-bottom: $padding;

		.section-nightlife & {
			@include right-rail-border($line-grey-dark);
			margin-top: $padding;
			&:first-child {
				margin-top: 0;
			}
			.node .field-collection-view {
				border-top: none !important;
				margin-top: 0 !important;
				padding-top: 0 !important;
			}
		}

		@include right-rail-border($line-grey-light);

		&:first-child {
			@include right-rail-border;
			padding-top: 0;
			border-top: 0;
		}

		.field:first-child {
			margin-top: 0;
		}

	}

	.node-right-rail-collection {
		.field {
			margin: 0;
			padding: 0;
			margin-bottom: $padding;
		}

		// remove node title from right rail collections
		& > header {
			display: none;
		}

		& > .field > .field-items > div {
			article {
				// disable item title links
				header {
					.node-title {
						a {
							@include disable-link;
							color: $black;
							.page-nightlife-landing & {
								color: $white;
							}
						}
					}

					margin-bottom: $padding;
				}

				margin-bottom: $padding;
				padding-bottom: $padding;
				border-bottom: 2px solid $line-grey-light;

				.field-type-field-collection {
					.field-item:last-child {
						margin-bottom: 0;
					}
				}
			}

			&:last-child {
				article {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	}

	.field-collection-container {
		border: 0;
		margin: 0;
	}

	.field-name-field-blurb-title-link {
		color: $black;
		margin-bottom: $padding / 2 !important;
	}

	.field-collection-view {
		margin: 0;
		padding: 0;
		margin-top: $padding;
		border: 0;
	}

	// remove borders and padding from nested nodes
	.view-content .node,
	.node-right-rail-collection.node {
		padding-top: 0;
		border-top: 0;
	}

	// add borders between related events
	.view-event-list {
		h3,
		.views-field {
			margin: 0;
		}
	}

	.view-press-release-content {
		.views-row {
			.views-field {
				margin: 0;
			}

			.views-field-title {
				color: $black;
			}

			margin-bottom: $padding;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.view-events-related,
	.view-nightlife-upcoming {
		.views-row {
			margin-top: $padding;
			padding-top: $padding;
			border-top: 2px solid $line-grey-medium;

			.section-nightlife & {
				// border-top: 2px solid $transparent-white; //https://www.pivotaltracker.com/story/show/75234970 
			}

			.views-field-title {
				margin-top: 0;
			}

			h3,
			.views-field-field-date,
			.views-field-field-date-unix {
				color: $black;
				font-weight: $semibold;
			}

			.views-field-field-featured-people {
				font-style: normal;

				.node-title {
					&, a {
						font-size: $defaultText;
						line-height: $defaultLineHeight;
						font-weight: $book;
						color: $text-grey;
						@include disable-link;

						@include respond-to(smartphone) {
							font-size: $smartphoneText;
							line-height: $smartphoneLineHeight;
						}
					}
				}
			}

			article {
				.field {
					margin-top: 0;
				}
			}
		}
	}
	
	.node-right-rail-list {
      & > .field-collection-container > .field > .field-items > .field-item > .field-collection-view,
      {
			padding-top: $padding;
			border-top: 2px solid $line-grey-light;
		}
	}
	
	.panel-pane.pane-node-field-right-rail-items  .node-right-rail-standard,
	.panel-pane.pane-node-field-right-rail-items  .node-right-rail-standard .field-item {
			padding-top: $padding;
			padding-bottom: $padding;
			border-top: 2px solid $line-grey-light;
	}

	.field-name-field-right-rail-items > .field-items > .field-item > .node-right-rail-list,
	.panel-pane.pane-node-field-right-rail-items  .node-right-rail-standard 
	 {
		& > header > h2 > a {
			@include disable-link;
			color: $black;
		}
	}
 
  .pane-staff-panel-pane-6  .views-field-view-user a { // https://www.pivotaltracker.com/story/show/76483934
    @include disable-link;
    background-image: none;
    color: $black;
    font-size: 90%;
    line-height: 120%;
    font-weight: $semibold;
  }
  
    .view-audience-pages.view-display-id-happening_today_pane .views-row  {
 		padding-top: $padding;
		border-top: 2px solid $line-grey-light;
 	}
	
	
	.section-audience .panel-panel.panel-col-last.right-rail{
	  	border-bottom: 2px solid $line-grey-dark;
 	}
  }
