@import "global-variables";

.section-educators {
	@include section-menus(
		(
			educators,
			foreducators,
			educator,
			education,
			teacher,
			teachers,
			forteachers,
			educatorcenter,
			educatorscenter
		)
	);

	nav {
		#nav-wrapper {
			#main-nav {
				.level-0 > li > a {
					padding-right: 30px;

					@include respond-to(tablet) {
						padding-left: 12px;
						padding-right: 12px;
						background-position: 12px 50px;
					}

					@include respond-to(smartphone) {
						padding-right: 0;
					}
				}

				// logo
				.level-0 > li:first-child > a {
					@include respond-to(tablet) {
						padding-left: 17px;
						padding-right: 17px;
						background-position: 0 ($padding - 5px);
					}
				}
			}
		}
	}
}
