@import "global-variables";

.section-audience {
	#content {
		.panel-col-top {
			margin-bottom: $padding + $topLevelNavHeight;

			@include respond-to(smartphone) {
				margin-bottom: $smartphonePadding + $topLevelNavHeight;
			}
		}

		.panel-col-middle {
			&,
			.pane-title {
				padding-top: $padding * 2;
			}
		}

		.bottom-row-content,
		.bottom-row-right-rail {
			margin-top: $padding * 3;
		}

		.right-rail {
			margin-top: 60px;

			@include respond-to(smartphone) {
				margin-top: 0;
			}
		}
	}
}
