@import "global-variables";

.section-audience {
	#content {
		.panel-col-middle {
			&,
			.pane-title {
				padding-top: $padding * 2;
			}
		}

		.bottom-row-content,
		.bottom-row-right-rail {
			margin-top: $padding * 3;
		}

		.right-rail {
			margin-top: 54px;

			@include respond-to(smartphone) {
				margin-top: $padding !important;
			}
		}
	}
}
