@import "global-variables";
@import "compass/css3/user-interface";

.flexslider {
	// fix flickering in chrome
	&, * {
		@include backface-visibility(hidden);
	}
}

.view-slideshows {
	.view-empty {
		display: none;
	}
}

.slideshow-hero-large,
.slideshow-hero {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $paler-grey;
	@include background-image-retina(loader/50grey, gif, 50px, 50px);
}

// a "full bleed" slideshow with nothing but a giant image
.slideshow-hero-large {
	width: 100%;
	@include box-sizing(border-box);
	overflow: hidden;

	height: 300px;

	@include respond-to(desktop) {
		height: 500px;
	}

	.loaded & {
		height: inherit;
	}
	// -webkit-font-smoothing: subpixel-antialiased;

	.view-content {
		margin-left: auto;
		margin-right: auto;

		.flexslider {
			// prevent weird text artifacts in other DOM elements in safari
			z-index: 10;
			position: relative;
			overflow: hidden;

			margin: 0;
			border: 0;

			// text overlays
			.slides > li {
				position: relative;

				.views-field-field-slideshow-frame-bg-image {
					z-index: 1;
				}

				.flex-caption {
					// only display on homepage
					display: none;

					.page-homepage.loaded & {
						display: block;
					}

					// fade in on slide load
					-webkit-transform: translateZ(0);
					@include transition(opacity 500ms ease-out 500ms);
					@include opacity(0);

					&.slide-loaded {
						@include opacity(1);
					}

					z-index: 2;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					background-color: rgba(0, 0, 0, .4);

					// prevent text blurriness
					@include transform-style(preserve-3d);

					& > div {
						@include box-sizing(border-box);
						width: 80%;
						max-width: $maxWidth;
						margin-left: auto;
						margin-right: auto;

						// vertical center
						position: absolute;
  						top: 48%;
  						@include transform(translateY(-50%));

  						// horizontal center
  						margin: 0 auto;
						left: 0;
						right: 0;

						font-weight: $book;
						font-size: 42px;
						line-height: 1;

						&, a {
  							color: $white;
  						}

						&.Blue {
							.field_link {
								&, a {
									color: $blue;
								}
							}
						}
						&.Orange {
							.field_link {
								&, a {
									color: $international-orange;
								}
							}
						}
						&.Green {
							.field_link {
								&, a {
									color: $green;
								}
							}
						}

						a {
							@include arrow('arrow-medium', false, true);
						}
						&.Blue a {
							@include arrow('arrow-blue-medium', false, true);
						}
						&.Orange a {
							@include arrow('arrow-orange-medium', false, true);
						}
						&.Green a {
							@include arrow('arrow-green-medium', false, true);
						}

						&.large {
							.field_slideshow_frame_title {
								font-size: 80px;
								font-weight: $medium;
								letter-spacing: -1px;

								@include respond-to(tablet) {
									font-size: 60px;
								}
							}
							.field_link {
								font-size: 24px;
								margin-top: 10px;
							}

							a {
								@include arrow('arrow-solid');
							}
							&.Blue a {
								@include arrow('arrow-solid-blue');
							}
							&.Orange a {
								@include arrow('arrow-solid-orange');
							}
							&.Green a {
								@include arrow('arrow-solid-green');
							}
						}

						.field_slideshow_large_text_displ {
							display: none;
						}

						@include respond-to(smartphone) {
							font-size: $largeText;
							line-height: $largeTextLineHeight - 3px;

							&.large {
								.field_slideshow_frame_title {
									font-size: 30px;
									line-height: 1;
								}
								.field_link {
									margin-top: 3px;
									font-size: $smartphoneText;
									line-height: $smartphoneLineHeight;
								}
							}
						}
					}
				}
			}

			@include border-radius(0);
			@include box-shadow(none);

			.flex-direction-nav a {
				$w: 30px;
				$h: 30px;

				width: $w;
				height: $h;
				border: 0;
				outline: none;

				@include hide-text-calacademy;
				@include background-image-retina(arrow-large, png, $w, $h);

				&.flex-prev {
					@include background-image-retina(arrow-large-left, png, $w, $h);
				}

				.touch & {
					display: none;
				}
			}

			&:hover .flex-prev {
				left: $padding;
			}

			&:hover .flex-next {
				right: $padding;
			}

			.flex-control-paging {
				display: none;
			}

			.flex-viewport {
				.slides > li {
					@include box-sizing(border-box);
					overflow: hidden;
				}
			}
		}
	}
}

// a smaller slideshow with just a caption and an image
.slideshow-hero {
	@extend .slideshow-hero-large;
	position: relative;
	z-index: 100;

	.view-content {
		.flexslider {
			.flex-viewport {
				z-index: 1;

				&, .touch & {
					margin-bottom: 0;
				}

				.slides > li {
					position: relative;

					// hide all fields with a few exceptions
					.field,
					.views-field {
						position: relative;
						display: none;
						z-index: 1;

						&.field-name-field-slideshow-frame-title,
						&.views-field-field-slideshow-frame-title,
						&.field-name-field-slideshow-frame-bg-image,
						&.views-field-field-slideshow-frame-bg-image {
							display: block;
						}

						&.views-field-field-slideshow-frame-title {
							@include slideshow-caption;

							.field-content,
							.field-item {
								width: 75%;
								overflow: hidden;
								color: $white;
							}

							// absolute positioning causes flickering in css3 transitions
							// we need to calculate and position with js :(
							// @see CalAcademy._setSlideshowLayout
							position: relative;
						}
					}
				}
			}

			.flex-control-paging {
				z-index: 2;

				&, .touch & {
					display: block;
					bottom: 0;
				}

				text-align: right;
				margin: 0;
				padding: 0;
				line-height: 0;
				padding-right: $padding / 2;
				padding-bottom: 15px;
				@include box-sizing(border-box);

				li {
					padding: 0;
					margin: 0;
					margin-right: 6px;

					&:last-child {
						margin-right: 0;
					}

					a {
						// fix for weird animation artifacts
						-webkit-perspective: 1000;
    					-webkit-backface-visibility: hidden;
    					-webkit-transform: translate3d(0, 0, 0);

						@include box-shadow(none);
						@include hide-text-calacademy;
						background: none;
						background-color: $white;

						// IE filters screw up border radius in IE9
						&, &:hover {
							filter: none !important;
						}

						&.flex-active {
							background-color: $international-orange;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

// contains lots of crazy stuff designed to be positioned absolutely with strict image requirements
.slideshow-midfeature {
	@extend .slideshow-hero-large;

	.view-content {
		.flexslider {
			.flex-control-paging {
				.touch & {
					display: block;
					bottom: -30px;
				}
			}

			.flex-viewport {
				.slides > li {
					padding-top: $padding * 2;
					padding-bottom: $padding * 2;
					background-repeat: no-repeat;

					.container {
						padding-left: $padding;
						padding-right: $padding;

						@include respond-to(smartphone) {
							padding-left: $smartphonePadding;
							padding-right: $smartphonePadding;
						}

						.field,
						.views-field {
							z-index: 2;
							position: relative;
							color: $white;
							max-width: $maxWidth;
							margin: 0;
							margin-left: auto;
							margin-right: auto;
							line-height: 1em;

							.field-item,
							.field-content {
								width: 50%;

								@include respond-to(smartphone) {
									width: 60%;
								}
							}
						}

						// these fields are only used by js
						.field-name-field-highlight-color,
						.field-name-field-bg-color,
						.field-name-field-slideshow-frame-bg-image,
						.field-name-field-horizontal-offset-percenta,
						.views-field-field-highlight-color,
						.views-field-field-bg-color,
						.views-field-field-slideshow-frame-bg-image,
						.views-field-field-horizontal-offset-percenta {
							display: none;
						}

						.field-name-field-slideshow-frame-sup-title,
						.views-field-field-slideshow-frame-sup-title {
							font-weight: $light;
							font-size: $headerSubheadText;
							margin-bottom: 5px;
						}

						.field-name-field-link,
						.views-field-field-link,
						.field-name-field-slideshow-frame-title,
						.views-field-field-slideshow-frame-title {
							&, a {
								color: $white;
								font-weight: $light;
								font-size: $headerText;
								letter-spacing: -1px;

								@include respond-to(smartphone) {
									font-size: $headerTextSmartphone - 6;
								}
							}

							a {
								@include arrow(arrow-large, true);

								@include respond-to(smartphone) {
									@include arrow(arrow);
								}
							}
						}

						.field-name-field-body,
						.views-field-field-body {
							margin-top: $padding;
							margin-bottom: $padding * 2;

							@include respond-to(smartphone) {
								margin-bottom: 0;
							}

							font-size: $biggerText;
							line-height: $biggerTextLineHeight;

							p {
								margin: 0;
								padding: 0;
							}

							a {
								color: $white;
								text-decoration: underline;
							}
						}

						.field-name-field-slideshow-frame-link-thumb,
						.field-name-field-subtitle,
						.field-name-field-thumbnail-title,
						.field-name-field-slideshow-frame-link-desc,
						.views-field-field-slideshow-frame-link-thumb,
						.views-field-field-subtitle,
						.views-field-field-thumbnail-title,
						.views-field-field-slideshow-frame-link-desc {
							.field-item,
							.field-content {
								width: 260px;
							}

							@include respond-to(smartphone) {
								display: none;
							}
						}

						.field-name-field-slideshow-frame-link-thumb,
						.views-field-field-slideshow-frame-link-thumb {
							margin-bottom: $padding / 2;

							.field-item,
							.field-content {
								height: 150px;
								overflow: hidden;
							}
						}

						.field-name-field-subtitle,
						.field-name-field-thumbnail-title,
						.views-field-field-subtitle,
						.views-field-field-thumbnail-title {
							color: $white;
							font-weight: $semibold;
							font-size: $biggerText - 2px;
							line-height: $biggerTextLineHeight;
						}

						.field-name-field-slideshow-frame-link-desc,
						.views-field-field-slideshow-frame-link-desc {
							color: rgba(255, 255, 255, .4);
							font-size: $defaultText;
							line-height: $defaultLineHeight;
						}
					}
				}

				.slides > li.highlight-orange {
					.container {
						.field-name-field-link,
						.views-field-field-link {
							&, a {
								color: $rust;
							}
							a {
								@include arrow(arrow-rust-large, true);

								@include respond-to(smartphone) {
									@include arrow(arrow-rust);
								}
							}
						}
					}
				}
				.slides > li.highlight-green {
					.container {
						.field-name-field-link,
						.views-field-field-link {
							&, a {
								color: $forest-green;
							}
							a {
								@include arrow(arrow-green-large, true);

								@include respond-to(smartphone) {
									@include arrow(arrow-green);
								}
							}
						}
					}
				}
				.slides > li.highlight-blue {
					.container {
						.field-name-field-link,
						.views-field-field-link {
							&, a {
								color: $text-link;
							}
							a {
								@include arrow(arrow-blue-large, true);

								@include respond-to(smartphone) {
									@include arrow(arrow-blue);
								}
							}
						}
					}
				}
			}
		}
	}
}

.slideshow-midfeature-container {
	position: absolute;
	width: 100%;
	max-width: inherit;
	left: 0;
	overflow: hidden;
}
