@import "global-variables";

.exposed-filters {
	.view {
		.view-empty {
			font-weight: $semibold;
			font-size: $slightlyLargerHeaderText;
			line-height: $slightlyLargerHeaderTextLineHeight;
			margin-bottom: $padding * 2;
		}

		// preloader
		.ajax-progress {
			display: none;
		}

		// smartphone preloader
		background-repeat: no-repeat;
		background-position: -9999px -9999px;
		@include background-image-retina(loader/50, gif, 50px, 50px, smartphone);

		.ajax-loading & {
			.view-content,
			.view-empty {
				min-height: 70px;
				@include opacity(.15);
			}

			@include respond-to(smartphone) {
				background-position: center 130px;

				.view-content,
				.view-empty {
					@include transparent;
				}
			}
		}

		margin-top: $padding;

		form {
			margin-bottom: $padding * 2;

			label {
				display: none;
			}

			select {
				font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
				padding: 8px;
				border: 1px solid $line-grey-light;

				@include select-styles;
			}

			input[type="text"],
			input[type="password"],
			input[type="email"] {
				@include box-sizing(border-box);
				@include appearance(none);
				@include border-radius(3px);
				width: 150px;

				border: 1px solid $line-grey-light;
				background-color: transparent;

				color: $black;
				font-weight: $book;
				resize: none;

				font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
				line-height: 1;
				padding: 8px;

				&:focus {
					border: 1px solid $text-link;
					@include box-shadow(rgba($text-link, 0.6) 0 0 5px);
				}
			}

			.views-submit-button {
				@include submit-button-container;
				min-width: 100px;

				padding-top: 5px;
				padding-bottom: 5px;
				margin-top: 6px;
			}

			@include respond-to(smartphone) {
				.views-exposed-widget {
					float: none;
					margin: 0;
					padding: 0;

					&.views-submit-button,
					input[type="text"],
					input[type="password"],
					input[type="email"],
					select {
						width: 100%;
						margin-top: $smartphonePadding;
					}
				}
			}
		}
	}
}
