@import "global-variables";
@import "compass/css3/user-interface";
@import "compass/css3/box-shadow";

.webform-client-form {
	// hide form on response
	.webform-response & {
		display: none;
	}

	clear: both;
	overflow: auto;

	width: 80%;

	.grippie {
		display: none;
	}

	.form-item, label, input, textarea, select, div.error {
		@include box-sizing(border-box);
		width: 100%;
		margin: 0;
		padding: 0;

		color: $black;
		font-size: $slightlyLargerText;
		line-height: $slightlyLargerTextLineHeight;
		font-weight: $book;
		resize: none;
	}

	input, textarea, select, div.error {
		width: 92%;

		@include respond-to(smartphone) {
			width: 90%;
		}
	}

	.form-item,
	.form-actions {
		margin-bottom: $padding / 2;

		background-repeat: no-repeat;
		background-position: right 35px;
		$iconSize: 26px;

		&.calacademy-error {
			@include background-image-retina(x-orange, png, $iconSize, $iconSize);
		}
		&.calacademy-valid {
			@include background-image-retina(check-blue, png, $iconSize, $iconSize);
		}
		&.form-type-checkbox {
			// @todo
			// what if we need this?
			background-image: none;
		}

		div.error {
			background-image: none;
			background-color: transparent;
			border: 0;

			margin-top: 5px;
			color: $international-orange;
			font-size: $defaultText;
			line-height: $defaultLineHeight;
		}

		label {
			margin-bottom: 5px;

			.form-required {
				color: $text-link;
				font-size: $largeText;
				font-weight: $medium;

				display: block;
				float: right;
				margin-top: 40px;
				margin-right: 8px;
			}
		}

		&.calacademy-valid,
		&.calacademy-error {
			label {
				.form-required {
					display: none;
				}
			}
		}

		input,
		textarea,
		select {
			@include appearance(none);

			&[type="checkbox"] {
				@include appearance(checkbox);
			}

			&[type="radio"] {
				@include appearance(radio);
			}

			@include border-radius(3px);
			font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
			padding: 8px;

			border: 1px solid $line-grey-light;
			background-color: transparent;
			color: $body-copy;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		textarea {
			line-height: 1;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		select {
			@include select-styles;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"],
		textarea,
		select {
			&:focus {
				border: 1px solid $text-link;
				@include box-shadow(rgba($text-link, 0.6) 0 0 5px);
			}
		}

		.form-checkboxes {
			.form-type-checkbox {
				width: 100%;
				overflow: auto;

				input {
					float: left;
					margin-top: 4px;
					width: 30px;
				}

				label {
					color: $text-grey;

					p {
						margin-left: 30px;
						font-style: italic;
						font-size: $defaultText;
						line-height: $defaultLineHeight;
					}
				}
			}
		}
	}

	#edit-actions {
		@include submit-button-container;

		float: right;
		width: 20%;
		margin-right: 8%;

		@include respond-to(tablet) {
			width: 25%;
		}

		@include respond-to(smartphone) {
			width: 90%;
			margin: 0;
			margin-top: $padding;
			float: none;
		}
	}
}
