$base_button  {
  cursor: pointer;
  
  margin-bottom: 1em;
  margin-right: 1em;/* LTR */ 
  padding: 5px 10px;
    
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande",Verdana,sans-serif;
}