// active button 

$active-background: #333; 
 
/* Green Button */

$green: #4d8f46;
$green-rollover: #0a6700;
 
/* Red Button */

$red: #b73939;  /* red  */
$red-rollover: #990000;  /* darker red on rollover */
  
/* Blue Button */

$blue: #0074BD; 
$blue-rollover: #004c99;
 
/* Light Blue Button */
$light-blue: #38a;
  
/* Orange Button */
$orange: #f69231;
$orange-rollover: #ef6114;