.field-name-field-building-floor,
#edit-field-icon,
#edit-field-show-label {
	display: none;
}

.calacademy_geolocation_map {
	position: relative;
	width: calc(100% - 20px);
	height: 500px;
	margin: 10px;
}

.calacademy_geolocation_map img {
	max-width: inherit !important;
}

.calacademy_geolocation_map .floor-switcher {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	background-color: #ffffff;
}
